Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Add notes about mass editing werks
  doc/documentation/arch-werk.rst
Due: none

Step away from deprecated ssl.wrap_socket
  cmk/special_agents/v0_unstable/request_helper.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Provide static_variables.bzl during build build images
  buildscripts/scripts/build-build-images.groovy
Due: none

Make protobuf 3.20.0 python 3.12 compatible
  omd/packages/protobuf/patches/04-remove-distutils-and-pkg_resources.dif
Due: none

16163 SEC jar_signature: Prevent priviledge escalation
  .werks/16163
  agents/plugins/jar_signature
Due: none

Robotmk: Resurrect HTML log icons
  web/htdocs/themes/facelift/images/icon_robotmk_suite_error_log.svg
  web/htdocs/themes/facelift/images/icon_robotmk_suite_ok_log.svg
Due: none

16273 SEC Local privilege escalation in agent plugin 'mk_tsm'
  .werks/16273
  agents/plugins/mk_tsm
  tests/unit-shell/agents/plugins/test_mk_tsm.sh
Due: none

16227 SEC Disabled automation users could still authenticate
  .werks/16227
  cmk/gui/auth.py
  cmk/update_config/plugins/actions/automation_user_secrets.py
  cmk/utils/crypto/password_hashing.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15838 Limit the service description length to 250
  .werks/15838.md
  cmk/base/core_nagios.py
  cmk/utils/servicename.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Make CrashReport a simple struct.
  packages/livestatus/include/livestatus/CrashReport.h
  packages/livestatus/src/CrashReport.cc
  packages/livestatus/src/TableCrashReports.cc
  packages/neb/test/test_CrashReport.cc
Due: none

Repin IMAGE_TESTING to official master image
  buildscripts/docker_image_aliases/IMAGE_TESTING/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_TESTING/meta.yml
Due: none

Add python 3.12 version to agent plugin tests
  defines.make
Due: none

Bump openapi-spec-validator after py3.12 bump
  Pipfile
  Pipfile.lock
Due: none

make a few private methods private
  cmk/gui/prediction.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

agent based v2: add rendering function for negative times
  packages/cmk-agent-based/cmk/agent_based/v2/__init__.py
  packages/cmk-agent-based/cmk/agent_based/v2/render.py
  packages/cmk-agent-based/tests/cmk/agent_based/test_v2_namespace.py
  packages/cmk-agent-based/tests/cmk/agent_based/v2/test_render_api.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

kube: add `OpenShift` to cse and cee editions
  cmk/gui/plugins/wato/special_agents/kube.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

fix section separator
  packages/check-sql/src/config/section.rs
  packages/check-sql/src/emit.rs
  packages/check-sql/src/ms_sql/instance.rs
  packages/check-sql/src/ms_sql/section.rs
  packages/check-sql/tests/files/test-mini-two-sections.yml
Due: none

check-sql: add version API to instances
  packages/check-sql/src/ms_sql/instance.rs
  packages/check-sql/tests/test_ms_sql.rs
Due: none

mkp-tool: always call callbacks
  bin/mkp
  cmk/gui/watolib/activate_changes.py
  cmk/update_config/plugins/pre_actions/utils.py
  packages/cmk-mkp-tool/cmk/mkp_tool/_unsorted.py
  packages/cmk-mkp-tool/tests/test_unsorted.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Update base version of checkmk-raw for docker test update
  tests/docker/test_docker.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16227 SEC Disabled automation users could still authenticate
  .werks/16227
  cmk/gui/login.py
  cmk/update_config.py
  cmk/utils/crypto/password_hashing.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix logging of password hash failures
  cmk/utils/crypto/password_hashing.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16037 FIX folder_config/host_config: No longer accept non-existent site
  .werks/16037.md
  cmk/gui/fields/definitions.py
  cmk/gui/watolib/builtin_attributes.py
  tests/unit/cmk/gui/openapi/test_openapi_folder_config.py
  tests/unit/cmk/gui/openapi/test_openapi_host_config.py
  tests/unit/cmk/gui/openapi/test_openapi_host_internal.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixup another python version site
  agents/modules/windows/tests/integration/conftest.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Update comment only
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Isolate windows modules python version from omd python version
  agents/modules/windows/Makefile
  agents/modules/windows/tests/Makefile
  agents/modules/windows/tests/integration/conftest.py
  defines.make
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
