Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

bandit:
  name: Run bandit
  entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

sphinx:
  name: Sphinx Documentation
  entry: scripts/run-pipenv run make -C doc/documentation html
  pass_filenames: false
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

test-update: Fix test
  tests/update/test_update.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16565 Introduce distributed tracing of Checkmk
  .werks/16565.md
Due: none

ignore opentelemetry pkg-resource warning
  pyproject.toml
Due: none

prepare for narrower types
  cmk/base/config.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix key decryption exceptions and error messages
  cmk/gui/backup/handler.py
  cmk/gui/key_mgmt.py
  cmk/utils/crypto/keys.py
  tests/gui_e2e/test_signature_keys_for_signing_agents.py
  tests/unit/cmk/utils/crypto/test_keys.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Run gitleaks as a pre-commit hook
  .pre-commit-config.yaml
Due: none

Fix GUI-Crawler: don't replicate dashboard when editing built-in dashboard
  cmk/gui/dashboard/store.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "test-plugin: Remove '--enable-piggyback' flag"
  tests/Makefile
  tests/plugins_integration/checks.py
  tests/plugins_integration/conftest.py
  tests/plugins_integration/test_plugin_piggyback.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix writing "ps -ef" on failed site startup
  tests/testlib/site.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Terminate with an error in case the test is forcefully stopped
  tests/testlib/site.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix bazel dependencies for cmk.agent-receiver
  omd/packages/python3-modules/BUILD
  packages/BUILD
  packages/cmk-agent-receiver/BUILD
Due: omd-python-modules

Fixup
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/ja/LC_MESSAGES/multisite.po
Due: none

Implement 24-hour check for apt cache updates to reduce network-load and improve running times
  agents/plugins/mk_apt
Due: none

fix missing variable FILE
  agents/plugins/mk_apt
Due: none

quick_setup: remove stage_id
  cmk/gui/openapi/endpoints/quick_setup/__init__.py
  cmk/gui/openapi/endpoints/quick_setup/request_schemas.py
  cmk/gui/openapi/endpoints/quick_setup/response_schemas.py
  cmk/gui/quick_setup/config_setups/aws.py
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/definitions.py
  cmk/gui/quick_setup/v0_unstable/setups.py
  cmk/gui/quick_setup/v0_unstable/type_defs.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17175 FIX slack: Enforce HTTPS URLs
  .werks/17175.md
  cmk/gui/valuespec/definitions.py
  cmk/gui/wato/_notification_parameter/_slack.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Source code clean-up based on Weblate
  cmk/gui/bi/_config.py
  cmk/gui/plugins/wato/active_checks/form_submit.py
  cmk/gui/plugins/wato/active_checks/mailbox.py
  cmk/gui/plugins/wato/check_parameters/azure.py
  cmk/gui/plugins/wato/check_parameters/cpu_utilization.py
  cmk/gui/plugins/wato/check_parameters/interfaces.py
  cmk/gui/plugins/wato/check_parameters/ps.py
  cmk/gui/userdb/ldap_connector.py
  cmk/gui/wato/_notification_parameter/_opsgenie_issues.py
  cmk/plugins/omd/graphing/omd_apache.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Source code clean-up based on Weblate
  cmk/gui/plugins/wato/active_checks/form_submit.py
  cmk/gui/plugins/wato/active_checks/mailbox.py
  cmk/gui/plugins/wato/bi_config.py
  cmk/gui/plugins/wato/check_parameters/azure.py
  cmk/gui/plugins/wato/check_parameters/cpu_utilization.py
  cmk/gui/plugins/wato/check_parameters/interfaces.py
  cmk/gui/plugins/wato/check_parameters/ps.py
  cmk/gui/plugins/wato/notifications.py
  cmk/gui/userdb/ldap_connector.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Source code clean-up based on Weblate
  cmk/gui/wato/_notification_parameter/_jira_issues.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Porting cmk-agent-based tests to bazel
  MODULE.bazel
  packages/cmk-agent-based/.gitignore
  packages/cmk-agent-based/BUILD
  packages/cmk-agent-based/pyproject.toml
  packages/cmk-agent-based/requirements_lock.txt
  packages/cmk-agent-based/run
Due: none

Use bazel remote for cmk-agent-based unit tests
  buildscripts/scripts/utils/gerrit_stages.groovy
  packages/cmk-agent-based/run
Due: none

Source code clean-up based on Weblate
  cmk/gui/bi/_config.py
  cmk/gui/openapi/endpoints/ldap_connection/response_schemas.py
  cmk/gui/plugins/wato/active_checks/form_submit.py
  cmk/gui/plugins/wato/check_parameters/azure.py
  cmk/gui/plugins/wato/check_parameters/cpu_utilization.py
  cmk/gui/plugins/wato/check_parameters/interfaces.py
  cmk/gui/plugins/wato/check_parameters/ps.py
  cmk/gui/plugins/wato/check_parameters/systemd_services.py
  cmk/gui/userdb/ldap_connector.py
  cmk/gui/wato/_notification_parameter/_opsgenie_issues.py
  cmk/plugins/emailchecks/rulesets/active_check_mail.py
  cmk/plugins/emailchecks/rulesets/active_check_mail_loop.py
  cmk/plugins/omd/graphing/omd_apache_cmk_http_pagetimes.py
  cmk/plugins/omd/graphing/omd_apache_cmk_http_traffic.py
  cmk/plugins/omd/graphing/omd_apache_handled_requests.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Source code clean-up based on Weblate
  cmk/gui/dashboard/page_edit_dashlet.py
  cmk/gui/mkeventd/wato.py
  cmk/gui/plugins/wato/check_parameters/mssql_datafiles.py
  cmk/gui/plugins/wato/check_parameters/mssql_transactionlogs.py
  cmk/gui/wato/_check_mk_configuration.py
  cmk/gui/wato/_notification_parameter/_opsgenie_issues.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Source code clean-up based on Weblate
  cmk/gui/dashboard/page_edit_dashlet.py
  cmk/gui/mkeventd/wato.py
  cmk/gui/plugins/wato/check_mk_configuration.py
  cmk/gui/plugins/wato/check_parameters/mssql_datafiles.py
  cmk/gui/plugins/wato/check_parameters/mssql_file_sizes.py
  cmk/gui/plugins/wato/check_parameters/mssql_transactionlogs.py
  cmk/gui/plugins/wato/notifications.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove stage_id from API calls
  packages/cmk-frontend-vue/src/components/quick-setup/rest_api.ts
  packages/cmk-frontend-vue/src/components/quick-setup/rest_api_types.ts
Due: none

quick_setup: rename validators to custom_validators
  cmk/gui/quick_setup/config_setups/aws.py
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/setups.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
  tests/unit/cmk/gui/quick_setup/factories.py
  tests/unit/cmk/gui/quick_setup/test_quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add CIPARAM_OVERRIDE_DOCKER_TAG_BUILD and VERSION parameter to test-update
  buildscripts/scripts/test-update.groovy
Due: none

Use cmk_version over cmk_version_rc_aware in nightly jobs
  buildscripts/scripts/test-composition.groovy
  buildscripts/scripts/test-integration-docker.groovy
  buildscripts/scripts/test-integration-packages.groovy
  buildscripts/scripts/test-update.groovy
Due: none

Source code clean-up based on Weblate
  cmk/gui/mkeventd/wato.py
  cmk/gui/openapi/endpoints/notification_rules/request_schemas.py
  cmk/gui/openapi/endpoints/notification_rules/response_schemas.py
  cmk/gui/plugins/wato/check_parameters/mssql_datafiles.py
  cmk/gui/plugins/wato/check_parameters/mssql_transactionlogs.py
  cmk/gui/wato/_notification_parameter/_jira_issues.py
  cmk/gui/wato/_notification_parameter/_opsgenie_issues.py
  cmk/plugins/collection/graphing/fireeye_standalone.py
  cmk/plugins/collection/graphing/fireeye_stat_attachment.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17160 FIX Opsgenie: Better error handling
  .werks/17160.md
  cmk/notification_plugins/opsgenie_issues.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17160 FIX Opsgenie: Better error handling
  .werks/17160
  cmk/notification_plugins/opsgenie_issues.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
