Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Pages: migrate ajax_graph to Page class
  cmk/gui/graphing/_html_render.py
  cmk/gui/raw/registration.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Pages: migrate host_service_graph_popup to Page class
  cmk/gui/metrics.py
  cmk/gui/raw/registration.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix min, max values for numbers < 0
  cmk/gui/graphing/_artwork.py
  tests/unit/cmk/gui/graphing/test_artwork.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

gui-crawl: extend mechanism to search for limited URLs only.
  tests/testlib/crawler.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Cleanup GeneratedSchemas
  cmk/gui/openapi/restful_objects/api_error.py
  cmk/gui/openapi/spec_generator.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16484 FIX Crash when creating combined graphs with empty time filter
  .werks/16484
  cmk/gui/query_filters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16484 FIX Crash when creating combined graphs with empty time filter
  .werks/16484.md
  cmk/gui/query_filters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

kube: add missing title to URL field
  cmk/gui/plugins/wato/special_agents/kube.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

UnDOSified Rust sources.
  packages/cmk-agent-ctl/tests/common/agent/mod.rs
Due: none

16455 FIX Fix metric scaling of 'rta' for Nagios plugin integration 'check_ping'
  .werks/16455
  cmk/gui/plugins/metrics/utils.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move test
  tests/unit/cmk/gui/plugins/metrics/test_metrics_utils.py
  tests/unit/cmk/gui/plugins/metrics/test_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixed unused import warnings for Rust 1.75.
  packages/cmk-agent-ctl/tests/common/agent/linux.rs
  packages/cmk-agent-ctl/tests/common/agent/mod.rs
  packages/cmk-agent-ctl/tests/common/agent/win.rs
Due: none

16174 FIX mongodb_replica_set: Fix replication lag and last replication timestamp
  .werks/16174.md
  cmk/base/legacy_checks/mongodb_replica_set.py
  tests/unit/checks/test_mongodb_replica_set.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

agent_based.v1: drop TODO
  packages/cmk-agent-based/cmk/agent_based/v1/_value_store_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move imports from v2.typed_defs to v2
  doc/treasures/migration_helpers/agent_based_v1_v2.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Make finding the new classes possible
  packages/cmk-agent-based/cmk/agent_based/v2/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Update Pipfile.lock
  packages/cmk-agent-receiver/Pipfile.lock
Due: none

Regen Pipfile.lock
  Pipfile.lock
Due: none

Update pymssql
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/github-com.pem
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Update cargo mio
  packages/cmk-agent-ctl/Cargo.lock
Due: none

Add folder for local packages to site skel
  omd/packages/check_mk/skel/var/check_mk/packages_local/.gitignore
Due: none

16589 Monitor Redfish compatible management boards / BMCs via optional MKP
  .werks/16589.md
  WORKSPACE
  omd/Makefile
  omd/packages/packages.make
  omd/packages/redfish_mkp/BUILD
  omd/packages/redfish_mkp/redfish_mkp.make
  omd/packages/redfish_mkp/redfish_mkp_http.bzl
  package_versions.bzl
  tests/integration/mkp/__init__.py
  tests/integration/mkp/test_shipped_mkp.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "16404 FIX omd cp: Fix etc/ssl/agents/legacy_ca.pem Points to Source of Copy""
  .werks/16404
  omd/packages/omd/omdlib/main.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Make clippy 1.75 happy.
  packages/mk-sql/src/config/ms_sql.rs
  packages/mk-sql/src/config/system.rs
  packages/mk-sql/src/ms_sql/instance.rs
  packages/mk-sql/src/setup.rs
Due: none

wa: update run script #2
  agents/wnx/run.ps1
Due: none

test_update: Improve error message
  tests/update/test_update.py
  tests/update/test_update_from_backup.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16408 FIX omd update: Allow Aborting Before "Completed verifying site configuration."
  .werks/16408.md
  omd/packages/omd/omdlib/main.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16406 FIX cmk-update-config: Don't Prompt User if Using conflictmode `install` or `keepold`
  .werks/16406.md
Due: none

cmk update: better error messages
  cmk/update_config/main.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16407 FIX omd update: Don't Delete `config.pb` During Pre-Update
  .werks/16407.md
Due: none
