Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

reduce calls to config_cache.default_address_family VII
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/config.py
  cmk/base/core_nagios/_create_config.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  cmk/base/sources/_builder.py
  cmk/base/sources/_sources.py
  cmk/plugins/checkmk/libinventory/check_cmk_inv.py
  cmk/utils/ip_lookup.py
  tests/unit/cmk/base/server_side_calls/test_macro_support_doc.py
  tests/unit/cmk/base/sources/test_data_sources.py
  tests/unit/cmk/base/test_config.py
  tests/unit/cmk/base/test_core_config.py
  tests/unit/cmk/base/test_core_nagios.py
  tests/unit/cmk/base/test_discovery.py
  tests/unit/cmk/base/test_mgmt_board.py
  tests/unit/cmk/snmplib/test_table.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add label to doc heading
  doc/plugin-api/source/index.rst
Due: none

test(e2e) adjust activate changes on new changes menu item
  tests/gui_e2e/testlib/playwright/pom/page.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Do not remove the artifacts_base_dir in a parallel step
  buildscripts/scripts/build-cmk-distro-package.groovy
Due: none

wa: temporary skip the flaky ApplyGroupUser_Component test to unblock CI
  agents/wnx/watest/test-plugin.cpp
Due: none

add relay protocols to stages
  buildscripts/scripts/stages.yml
Due: none

Split FrontendModel from InvalidValue model
  cmk/gui/form_specs/vue/form_spec_visitor.py
  cmk/gui/form_specs/vue/visitors/_base.py
  cmk/gui/form_specs/vue/visitors/_type_defs.py
  cmk/gui/form_specs/vue/visitors/_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Replace flags in files via bazel
  bazel/rules/file_from_flag.bzl
Due: none

mk-oracle: add CI_ORA2_DB_TEST to CI
  buildscripts/scripts/stages.yml
  buildscripts/scripts/winagt-build.groovy
  buildscripts/scripts/winagt-test-build.groovy
  packages/mk-oracle/BUILD
  packages/mk-oracle/ci.json
  scripts/run-in-docker.sh
Due: none

17933 FIX Make sorter for "Docker node" available for initial view sorting
  .werks/17933.md
  cmk/gui/views/sorter/sorters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move docstring to repository_rule
  bazel/rules/repo_license.bzl
Due: none

Purge unused rule
  bazel/rules/repo_license.bzl
Due: none

Remove OMD_SERIAL as it is not used anymore
  omd/Makefile
  omd/debian/postinst.in
  omd/debian/rules
  omd/omd.make
Due: none

Avoid empty glob after bazel 8 migration
  tests/unit/BUILD
Due: none

update rust openssl
  packages/host/Cargo.lock
  packages/host/Cargo.lock.bazel
  packages/host/mk-sql/Cargo.toml
  packages/site/Cargo.lock
  packages/site/Cargo.lock.bazel
Due: none

Do no longer copy artifacts but keep empty stage to prevent job failure
  buildscripts/scripts/trigger-build-upload-cmk-distro-package.groovy
Due: none

Do no longer copy artifacts around in build and upload trigger job
  buildscripts/scripts/trigger-build-upload-cmk-distro-package.groovy
Due: none

fix(nav) fix nav-vue-app container for proper backdrop
  packages/cmk-frontend/src/themes/facelift/scss/_main_menu.scss
Due: none

check_mk_agent.hpux: Update shebang to use /usr/bin/sh for compatibility
  agents/check_mk_agent.hpux
Due: none

18216 FIX Cached plugins did not recover from reboot or agent service restart
  .werks/18216.md
  agents/check_mk_agent.aix
  agents/check_mk_agent.freebsd
  agents/check_mk_agent.linux
  agents/check_mk_agent.openwrt
  agents/check_mk_agent.solaris
Due: none

Revert "Remove OMD_SERIAL as it is not used anymore"
  omd/Makefile
  omd/debian/postinst.in
  omd/debian/rules
  omd/omd.make
Due: none

17771 FIX esx_vsphere_datastore_io: Handle negative values in the metrics
  .werks/17771.md
  cmk/plugins/vsphere/agent_based/esx_vsphere_datastore_io.py
  tests/unit/cmk/plugins/vsphere/agent_based/test_esx_vsphere_datastore_io.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

changes popout: check if user has permission to activate the changes
  cmk/gui/activate_menu.py
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

main menu: added new ajax call to request the number of pending changes
  cmk/gui/sidebar/__init__.py
  cmk/gui/sidebar/main_menu.py
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
  packages/cmk-frontend/src/js/modules/sidebar.ts
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

changes popout: add scroll bars to sites & changes lists
  packages/cmk-frontend-vue/src/components/CmkScrollContainer.vue
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
Due: none

Enable passing multiple secrects in generic package jobs
  buildscripts/scripts/generic-package-job.groovy
Due: none

Add libaio1 to reference image
  defines/dev-images/reference/Dockerfile
Due: none

Pin checkmk-dev-tools version after fixing path hashes extraction
  buildscripts/scripts/Dockerfile
Due: none

Remove ancient apache 2.2 compatibility
  omd/packages/apache-omd/BUILD
  omd/packages/apache-omd/skel/etc/apache/apache.conf
Due: none

remove setuptools constraint
  constraints.txt
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

17547 FIX Fix Clean Installation in Windows Agent
  .werks/17547.md
  agents/wnx/src/engine/on_start.cpp
  agents/wnx/src/engine/service_processor.cpp
Due: none

17547 FIX Fix Clean Installation in Windows Agent
  .werks/17547.md
  agents/wnx/src/engine/on_start.cpp
Due: none

mk-oracle: test linux against FREE endpoint
  packages/mk-oracle/run
  packages/mk-oracle/run.ps1
  packages/mk-oracle/tests/common/tools.rs
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

Make use of passed config #1
  cmk/gui/inventory/_webapi.py
  cmk/gui/login.py
  cmk/gui/main.py
  cmk/gui/nodevis/aggregation.py
  cmk/gui/wato/page_handler.py
  tests/unit/cmk/gui/test_index.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17997 FIX Fix automation user losing password hash
  .werks/17997.md
  cmk/gui/wato/pages/users.py
  tests/unit/cmk/gui/wato/pages/test_users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
