Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
#         - id: check-docstring-first
          - id: check-yaml
          - id: end-of-file-fixer
#    - repo: https://github.com/pre-commit/mirrors-scss-lint
#      rev: v0.59.0
#      hooks:
#          - id: scss-lint
#            files: \.scss$
    - repo: local
      hooks:
          - id: yapf
            name: Check yapf
            entry: scripts/check-yapf -i
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
            #          - id: unit-tests
            #name: Check affected unit tests
            #entry: scripts/check-pytest-testmon 127
            #language: script
            #types: [file, python]
            #verbose: true

Add option to set the Start URL in dashoards
  cmk/gui/config.py
  cmk/gui/dashboard.py
  cmk/gui/main.py
  cmk/gui/sidebar.py
  cmk/gui/userdb.py
  cmk/gui/wato/user_profile.py
  cmk/gui/watolib/users.py
  tests/unit/cmk/gui/test_index.py
  tests/unit/cmk/gui/test_pages.py
  web/htdocs/js/modules/dashboard.js
  web/htdocs/js/modules/forms.js
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

12072 FIX Fix show mode always displaying show more
  .werks/12072
  cmk/gui/plugins/wato/utils/__init__.py
  cmk/gui/valuespec.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Scatterplot update plot definition spec to identify metric info
  cmk/gui/plugins/dashboard/average_scatterplot_dashlet.py
  cmk/gui/plugins/dashboard/single_metric.py
  cmk/gui/plugins/dashboard/utils.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Improve rendering y-labels in timeseries graphs
  web/htdocs/js/modules/figures/cmk_barplot.js
  web/htdocs/js/modules/figures/cmk_timeseries.js
Due: none

Make sure all graph templates have a title and add corresponding test
  cmk/gui/plugins/metrics/application.py
  cmk/gui/plugins/metrics/checkmk.py
  cmk/gui/plugins/metrics/cpu.py
  cmk/gui/plugins/metrics/environment.py
  cmk/gui/plugins/metrics/fs.py
  cmk/gui/plugins/metrics/network.py
  cmk/gui/plugins/metrics/printer.py
  cmk/gui/plugins/metrics/storage.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_graph_template.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_utils.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Move unit tests for utils of metrics plugin to correct location
  tests/unit/cmk/gui/plugins/metrics/test_metrics_utils.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Re-add setup target to locale/Makefile
  locale/Makefile
Due: none

Remove python package polib
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Update Pipfile.lock (no new packages)
  Pipfile.lock
Due: none

Activate changes selection finally fixed
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/watolib/changes.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix typing issues after mypy update
  cmk/base/plugins/agent_based/utils/ps.py
  tests/unit/checks/test_check_temperature.py
  tests/unit/checks/test_win_license.py
  tests/unit/cmk/base/checkers/test_host_sections.py
  tests/unit/cmk/base/plugins/agent_based/test_ps_check.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

REST API: add content-type checking
  cmk/gui/plugins/openapi/restful_objects/decorators.py
  cmk/gui/plugins/openapi/restful_objects/parameters.py
  cmk/gui/plugins/openapi/restful_objects/type_defs.py
  tests/unit/cmk/gui/plugins/openapi/test_openapi_activate_changes.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix doctest after fixing typing issue due to mypy update
  cmk/base/plugins/agent_based/ps_section.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Validate regexes in BI rules during config update
  .werks/11975
  cmk/update_config.py
  cmk/utils/bi/bi_legacy_config_converter.py
  tests/unit/cmk/utils/bi/test_bi_legacy_config_converter.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Linux agent: Replace pushd/popd with portable subshelling
  agents/check_mk_agent.linux
Due: none

Check API: improve doc
  cmk/base/api/agent_based/checking_classes.py
  cmk/base/api/agent_based/clusterize.py
  cmk/base/api/agent_based/utils.py
  cmk/base/plugins/agent_based/agent_based_api/v1/clusterize.py
  cmk/base/plugins/agent_based/agent_based_api/v1/register.py
  cmk/base/plugins/agent_based/agent_based_api/v1/render.py
  cmk/base/plugins/agent_based/agent_based_api/v1/type_defs.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11974 Validate item spec regexes during config update
  .werks/11974
  cmk/update_config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

License usage: Add information about Ntop
  cmk/base/license_usage.py
  cmk/gui/watolib/activate_changes.py
  cmk/utils/license_usage.py
  cmk/utils/paths.py
  tests/unit/cmk/base/test_license_usage_base.py
  tests/unit/cmk/utils/test_license_usage_utils.py
  tests/unit/cmk/utils/test_paths.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

inventory: docker_node_info: fix swarm regression
  inventory/docker_node_info
  tests/unit/cmk/base/plugins/agent_based/test_inv_docker_node_info.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Single metric dashlet: Show title by default
  cmk/gui/plugins/dashboard/single_metric.py
  tests/unit/cmk/gui/plugins/dashboard/test_single_metric.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Checkmk server dashboard: Show dashlet titles
  cmk/gui/plugins/dashboard/builtin.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

12135 More detailed audit logging
  .werks/12135
Due: none

12073 FIX Fix exception on editing users if rulebased notifications are disabled
  .werks/12073
  cmk/gui/wato/pages/users.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Update main dashboard styling
  cmk/gui/dashboard.py
  cmk/gui/plugins/dashboard/site_overview.py
  tests/unit/cmk/gui/test_gui_config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Site overview dashlet: Set host overview title when showing hosts
  cmk/gui/plugins/dashboard/site_overview.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Update styling of "alert statistics" problem painter
  cmk/gui/plugins/views/painters.py
  web/htdocs/themes/facelift/scss/_pages.scss
  web/htdocs/themes/facelift/scss/_status.scss
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8
