Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

19882: FIX REST API rule move to bottom of folder
  .werks/19882.md
  cmk/gui/openapi/endpoints/rule/__init__.py
  cmk/gui/watolib/rulesets.py
  tests/unit/cmk/gui/openapi/test_openapi_rules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adapt expectations after 06e94e2fd869b6
  agents/wnx/tests/integration/test_check_mk_run.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk_podman: Update documentation to clarify connection method configuration
  .werks/19458.md
Due: none

cmk-frontend-vue: expose focus() and isOpen() on CmkDropdown
  packages/cmk-frontend-vue/src/components/CmkDropdown/CmkDropdown.vue
Due: none

cmk-frontend-vue: expose focus() on CmkIconButton
  packages/cmk-frontend-vue/src/components/CmkIconButton.vue
Due: none

feat(mon-pages): add indeterminate state to CmkCheckbox
  packages/cmk-frontend-vue/src/components/user-input/CmkCheckbox.vue
  packages/cmk-frontend-vue/tests/components/user-input/CmkCheckbox.test.ts
  packages/cmk-frontend-vue/ui-component-library/components/form-elements/CmkCheckbox/UclCmkCheckbox.vue
  packages/cmk-frontend-vue/ui-component-library/components/form-elements/CmkCheckbox/UclCmkCheckboxDev.vue
Due: none

Reserved 10 Werk IDS
  .werks/first_free
Due: none

mk-sql: fix flaky test blocking session
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

19458 mk_podman: Add connection method configuration (API vs CLI)
  .werks/19458.md
Due: none

cmk-graphing-engine: Dissolve container-valued type aliases
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_explicit.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_fetch.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_template.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_translate.py
  packages/cmk-graphing-engine/tests/test_explicit.py
  packages/cmk-graphing-engine/tests/test_fetch.py
  packages/cmk-graphing-engine/tests/test_template.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Order functions by definition before usage
  packages/cmk-graphing-engine/cmk/graphing_engine/_translate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

update uuid node package
  omd/dependency_management/automatically_researched_licenses.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

dashboard: fix link to user guide
  cmk/gui/dashboard/page_show_dashboard.py
  cmk/gui/utils/urls.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adapt .site after 06e94e2fd869
  .site
Due: none

gui-e2e: deflake 'test_license_verification_distributed_mixed_editions'
  tests/gui_e2e/testlib/playwright/pom/setup/distributed_monitoring.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move exitspec to package
  cmk/base/BUILD
  cmk/base/config.py
  cmk/base/default_config/BUILD
  cmk/base/default_config/base.py
  cmk/base/errorhandling/BUILD
  cmk/base/errorhandling/_handler.py
  cmk/checkengine/checking/_checking.py
  cmk/checkengine/summarize.py
  packages/cmk-check-engine/cmk/checkengine/specs/exitspec.py
  tests/plugins_siteless/test_plugins.py
  tests/unit/cmk/base/test_error_handling.py
  tests/unit/cmk/checkengine/test_checking.py
  tests/unit/cmk/checkengine/test_summarizers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move fetcher protocol
  cmk/checkengine/BUILD
  cmk/checkengine/inventory.py
  packages/cmk-check-engine/BUILD
  packages/cmk-check-engine/cmk/checkengine/fetcher.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move HostKey type
  cmk/base/checkers.py
  cmk/checkengine/checkerplugin.py
  cmk/checkengine/checking/_checking.py
  cmk/checkengine/discovery/_autodiscovery.py
  cmk/checkengine/discovery/_discover/host_labels.py
  cmk/checkengine/discovery/_discover/services.py
  cmk/checkengine/discovery/_entrypoints/active_check.py
  cmk/checkengine/discovery/_entrypoints/commandline.py
  cmk/checkengine/discovery/_entrypoints/preview.py
  cmk/checkengine/fetcher.py
  cmk/checkengine/inventory.py
  cmk/checkengine/parser/_utils.py
  cmk/checkengine/sectionparser.py
  cmk/checkengine/sectionparserutils.py
  packages/cmk-check-engine/cmk/checkengine/helper_interface/__init__.py
  packages/cmk-check-engine/cmk/checkengine/helper_interface/_source_info.py
  tests/unit/cmk/base/test_checkers.py
  tests/unit/cmk/base/test_discovery.py
  tests/unit/cmk/checkengine/test_host_sections.py
  tests/unit/cmk/checkengine/test_sectionparser.py
  tests/unit/cmk/checkengine/test_sectionparserutils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move definition of ParametersTypeAlias
  cmk/automations/results/analysis.py
  cmk/base/checkers.py
  cmk/checkengine/discovery/_utils/params.py
  cmk/checkengine/parameters.py
  cmk/utils/check_utils.py
  tests/unit/cmk/plugins/systemd/agent_based/test_systemd_units.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move parameters to package
  cmk/automations/BUILD
  cmk/automations/results/analysis.py
  cmk/base/BUILD
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/config.py
  cmk/base/dump_host.py
  cmk/checkengine/BUILD
  cmk/checkengine/checkerplugin.py
  cmk/checkengine/checking/_plugin.py
  cmk/checkengine/discovery/_discover/host_labels.py
  cmk/checkengine/discovery/_entrypoints/preview.py
  cmk/checkengine/discovery/_utils/params.py
  cmk/checkengine/plugin_backend/check_plugins_legacy.py
  cmk/checkengine/plugins/_discovery.py
  packages/cmk-check-engine/BUILD
  packages/cmk-check-engine/cmk/checkengine/specs/__init__.py
  packages/cmk-check-engine/cmk/checkengine/specs/parameters.py
  packages/cmk-check-engine/cmk/checkengine/specs/py.typed
  packages/cmk-check-engine/tests/cmk/checkengine/specs/test_parameters.py
  tests/plugins_siteless/helpers.py
  tests/unit/cmk/base/test_check_table.py
  tests/unit/cmk/base/test_checkers.py
  tests/unit/cmk/base/test_config.py
  tests/unit/cmk/checkengine/test_checking.py
  tests/unit/cmk/plugins/domino/agent_based/test_domino_tasks.py
  tests/unit/cmk/plugins/postfix/agent_based/test_postfix_mailq.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

update python urllib3 to 2.7.0
  MODULE.bazel.lock
  cmk/requirements.txt
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

Fix werk version
  .werks/20090.md
Due: none

feat(mon-hosts): sticky table header
  cmk/gui/monitor/hosts/_pages/_monitor_all_hosts.py
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTable.vue
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTableHeader.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Drop the write-only RRDMetricData.name
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_translate.py
  packages/cmk-graphing-engine/tests/test_explicit.py
  packages/cmk-graphing-engine/tests/test_template.py
  packages/cmk-graphing-engine/tests/test_translate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Extract title evaluation into _title
  packages/cmk-graphing-engine/BUILD
  packages/cmk-graphing-engine/cmk/graphing_engine/_explicit.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_from_api.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_template.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_title.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Factor out _parse_title_expression
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Move fetch_translated_metrics into _fetch
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_explicit.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_fetch.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_template.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_translate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: Remove orphaned MetricTranslations comment
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-frontend-vue: hide attribute-filter type dropdown until a key is set
  packages/cmk-frontend-vue/src/metric-backend/attribute-filter/AttributeFilterPill.vue
  packages/cmk-frontend-vue/tests/metric-backend/attribute-filter/FormAttributeFilter.test.ts
Due: none

Make FormAttributeFilter hover highlights consistent
  packages/cmk-frontend-vue/src/metric-backend/attribute-filter/AttributeFilterPill.vue
  packages/cmk-frontend-vue/src/metric-backend/attribute-filter/FormAttributeFilter.vue
Due: none

20029 FIX dell_idrac_power: Support redefined value scope of powerUnitRedundancyStatus
  .werks/20029.md
  cmk/plugins/collection/agent_based/dell_idrac_power.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19983 FIX Redfish: do not drop sections on partial fetch failure
  .werks/19983.md
  packages/cmk-plugins/cmk/plugins/redfish/special_agents/agent_redfish.py
  packages/cmk-plugins/tests/cmk/plugins/redfish/special_agents/test_agent_redfish.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19983 FIX Redfish: do not drop sections on partial fetch failure
  .werks/19983.md
  cmk/plugins/redfish/special_agents/agent_redfish.py
  tests/unit/cmk/plugins/redfish/special_agents/test_agent_redfish.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Switch werks 19733 and 19983 to 3.0.0b1
  .werks/19733.md
  .werks/19983.md
Due: none

gui/logwatch: move logwatch_rules/logwatch_groups rulespecs out of mkeventd
  .werks/19733.md
  cmk/gui/logwatch.py
  cmk/gui/mkeventd/_rulespecs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

pending_changes: Migrate user management to new API
  cmk/gui/openapi/endpoints/user_config/__init__.py
  cmk/gui/wato/pages/users.py
  cmk/gui/watolib/users.py
  tests/openapi/test_openapi_user.py
  tests/unit/cmk/gui/ldap/openapi/test_user.py
  tests/unit/cmk/gui/watolib/test_users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
