Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

distro package builds: exclude BUILD and OWNERS files from packaging
  omd/packages/check_mk/check_mk.make
Due: none

Revert^2 "OTel Agent: Add metric backend support"
  cmk/base/config.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

hyper-v: Updated ram plugin to have more metrics and graphing
  agents/windows/plugins/hyperv_host.ps1
  agents/windows/unit_tests_ps1/hyperv_host.Tests.ps1
  cmk/plugins/hyperv_cluster/agent_based/hyperv_vm_ram.py
  cmk/plugins/hyperv_cluster/checkman/hyperv_vm_ram
  cmk/plugins/hyperv_cluster/graphing/hyperv_vm_ram.py
  cmk/plugins/hyperv_cluster/rulesets/hyperv_vm_ram.py
  tests/unit/cmk/plugins/hyperv_cluster/agent_based/test_hyperv_vm_ram.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add unit suffix to SNAT usage level spec
  cmk/gui/plugins/wato/check_parameters/network.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure Load Balancers: New defaults for SNAT ports
  cmk/plugins/azure_v2/agent_based/azure_load_balancer.py
  tests/unit/cmk/plugins/azure_v2/agent_based/test_azure_load_balancer.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(nav) added vue SidebarApp
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/lib/api-client.ts
  packages/cmk-frontend-vue/src/lib/sidebar/sidebar-api-cleint.ts
  packages/cmk-frontend-vue/src/lib/sidebar/sidebar.ts
  packages/cmk-frontend-vue/src/lib/sidebar/type-defs.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/sidebar/SidebarApp.vue
  packages/cmk-frontend-vue/src/sidebar/components/snapin/SidebarSnapin.vue
  packages/cmk-frontend-vue/src/sidebar/provider/sidebar.ts
Due: none

17998 SEC Add option to configure trust between central and remote site
  .werks/17998.md
  cmk/gui/bi/foldable_tree_renderer.py
  cmk/gui/config.py
  cmk/gui/openapi/endpoints/site_management/common.py
  cmk/gui/openapi/endpoints/site_management/request_schemas.py
  cmk/gui/openapi/endpoints/site_management/response_schemas.py
  cmk/gui/painter/v0/helpers.py
  cmk/gui/painter/v0/painters.py
  cmk/gui/rest_api_types/site_connection.py
  cmk/gui/view_utils.py
  cmk/gui/wato/pages/notifications/modes.py
  cmk/gui/wato/pages/services.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/watolib/site_management.py
  cmk/update_config/plugins/actions/update_site_configurations.py
  packages/cmk-livestatus-client/cmk/livestatus_client/__init__.py
  tests/unit/cmk/gui/openapi/test_site_management.py
  tests/unit/cmk/gui/test_view_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17998 SEC Add option to configure trust between central and remote site
  .werks/17998.md
  cmk/gui/bi/foldable_tree_renderer.py
  cmk/gui/config.py
  cmk/gui/openapi/endpoints/site_management/common.py
  cmk/gui/openapi/endpoints/site_management/request_schemas.py
  cmk/gui/openapi/endpoints/site_management/response_schemas.py
  cmk/gui/painter/v0/helpers.py
  cmk/gui/painter/v0/painters.py
  cmk/gui/rest_api_types/site_connection.py
  cmk/gui/view_utils.py
  cmk/gui/wato/pages/notifications.py
  cmk/gui/wato/pages/services.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/watolib/site_management.py
  cmk/update_config/plugins/actions/update_site_configurations.py
  packages/cmk-livestatus-client/cmk/livestatus_client/__init__.py
  tests/unit/cmk/gui/openapi/test_site_management.py
  tests/unit/cmk/gui/test_view_utils.py
  tests/unit/cmk/gui/wato/pages/test_bulk_import.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Improve robustness of Proxmox special agent by handling broken task logs gracefully
  cmk/plugins/proxmox_ve/special_agent/agent_proxmox_ve.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bring in osslsigncode via bazel_env
  .envrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/tools/BUILD
  bazel/tools/BUILD.osslsigncode.bazel
  buildscripts/scripts/build-cmk-source_tgz.groovy
  buildscripts/scripts/sign-cmk-distro-package.groovy
  tests/Makefile
  tests/packaging/test_files.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18359 OTel: Split OpenTelemetry collector configuration into Receivers and Prometheus scraping
  .werks/18359.md
  cmk/gui/openapi/restful_objects/type_defs.py
  tests/integration/otel/test_otel_integration.py
  tests/testlib/openapi_session.py
  tests/testlib/unit/rest_api_client.py
  tests/unit/cmk/gui/wato/test_menu.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure virtual network GWs: New default levels
  cmk/plugins/azure_v2/agent_based/azure_virtual_network_gateways.py
  tests/unit/cmk/plugins/azure_v2/agent_based/test_azure_virtual_network_gateways.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move remaining files from enterprise to dedicated packages
  bazel_variables.bzl
  tests/code_quality/file_content/test_permissions.py
  tests/code_quality/test_license_headers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move legal docs to dedicated package
  bazel_variables.bzl
Due: none

Add osslsigncode to reference image
  buildscripts/infrastructure/build-nodes/scripts/install-osslsigncode.sh
  defines/dev-images/populate-build-context.sh
  defines/dev-images/reference/Dockerfile
Due: none

Test signatures of windows binaries
  tests/packaging/test_files.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18098 FIX Agent baking when upgrading from Raw Edition
  .werks/18098.md
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

fix proxy password lookup
  cmk/base/config.py
  cmk/utils/password_store/__init__.py
  cmk/utils/password_store/_pwstore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

DashboardApp: do not show cards after dashboard creation if leaving context
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/composables/useDashboardsManager.ts
Due: none

drop more dead code
  cmk/special_agents/v0_unstable/misc.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move some non-shared code III
  cmk/plugins/proxmox_ve/special_agent/libbackups.py
  cmk/special_agents/v0_unstable/misc.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move some non-shared code IV
  cmk/plugins/aws/special_agent/agent_aws.py
  cmk/special_agents/v0_unstable/misc.py
  tests/unit/cmk/plugins/aws/special_agent/test_agent_aws_sections.py
  tests/unit/cmk/special_agents/v0_unstable/test_misc_datacache.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(nav) trigger user message popup
  packages/cmk-frontend-vue/src/lib/main-menu/service/main-menu.ts
  packages/cmk-frontend-vue/src/lib/main-menu/service/type-defs.ts
  packages/cmk-frontend-vue/src/main-menu/MainMenuApp.vue
Due: none

feat(nav) add sidebar toggle
  packages/cmk-frontend-vue/src/assets/icons/icon-sidebar.svg
  packages/cmk-frontend-vue/src/components/CmkIcon/icons.constants.ts
  packages/cmk-frontend-vue/src/lib/keyShortcuts.ts
  packages/cmk-frontend-vue/src/lib/main-menu/service/main-menu.ts
  packages/cmk-frontend-vue/src/lib/sidebar/sidebar.ts
  packages/cmk-frontend-vue/src/main-menu/MainMenuApp.vue
  packages/cmk-frontend-vue/src/main-menu/components/SidebarToggle.vue
  packages/cmk-frontend/src/themes/facelift/scss/_main_navigation.scss
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

gui(page): rename _from_vars method
  cmk/gui/crash_reporting/pages.py
  cmk/gui/dashboard/page_edit_dashlet.py
  cmk/gui/notifications.py
  cmk/gui/pages.py
  cmk/gui/wato/pages/automation.py
  cmk/gui/wato/pages/fetch_agent_output.py
  cmk/gui/wato/pages/folders.py
  cmk/gui/wato/pages/services.py
  tests/unit/cmk/gui/wato/pages/test_automation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui(page): move global access out of init
  cmk/gui/crash_reporting/pages.py
  cmk/gui/dashboard/page_edit_dashlet.py
  cmk/gui/notifications.py
  cmk/gui/pages.py
  cmk/gui/wato/pages/fetch_agent_output.py
  tests/integration/cmk/gui/test_crash_handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui(ajax): move global access out of init
  cmk/gui/pages.py
  cmk/gui/wato/pages/automation.py
  cmk/gui/wato/pages/folders.py
  tests/unit/cmk/gui/wato/pages/test_automation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui(page): add explicit overrides to children
  cmk/gui/backup/pages.py
  cmk/gui/bi/_config.py
  cmk/gui/crash_reporting/pages.py
  cmk/gui/dashboard/dashlet/dashlets/view.py
  cmk/gui/dashboard/dashlet/figure_dashlet.py
  cmk/gui/dashboard/page_edit_dashlet.py
  cmk/gui/dashboard/page_figure_widget.py
  cmk/gui/graphing/_graph_images.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/graphing/_valuespecs.py
  cmk/gui/mobile/pages.py
  cmk/gui/nodevis/aggregation.py
  cmk/gui/nodevis/topology.py
  cmk/gui/notifications.py
  cmk/gui/sidebar/__init__.py
  cmk/gui/sidebar/main_menu.py
  cmk/gui/valuespec/pages.py
  cmk/gui/views/page_ajax_filters.py
  cmk/gui/views/page_ajax_reschedule.py
  cmk/gui/views/page_edit_view.py
  cmk/gui/visuals/_filters.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/wato/pages/automation.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/gui/wato/pages/fetch_agent_output.py
  cmk/gui/wato/pages/gui_timings.py
  cmk/gui/wato/pages/host_diagnose.py
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/services.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/wato/pages/user_profile/async_replication.py
  cmk/gui/wato/pages/user_profile/change_password.py
  cmk/gui/wato/pages/user_profile/edit_profile.py
  cmk/gui/wato/pages/user_profile/main_menu.py
  cmk/gui/wato/pages/user_profile/replicate.py
  cmk/gui/wato/pages/user_profile/two_factor.py
  tests/unit/cmk/gui/test_gui_hooks.py
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass evaluated parts
  cmk/gui/graphing/_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Compute graph recipe from evaluated graph template
  cmk/gui/graphing/_graph_templates.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify creation of graph recipe from metric name
  cmk/gui/graphing/_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify computation of recipes
  cmk/gui/graphing/_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move evaluation of metrics
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/graphing/_graph_templates.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18537 Open Hardware Monitor is removed from Distro
  .werks/18537.md
  agents/windows/.gitignore
  agents/wnx/tests/regression/test_section_openhardwaremonitor.py
  artifacts.make
  buildscripts/scripts/utils/package_helper.groovy
  buildscripts/scripts/utils/windows.groovy
  omd/packages/check_mk/check_mk.make
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

improve openapi user auth unit test
  cmk/gui/openapi/api_endpoints/password/utils.py
  cmk/gui/openapi/endpoints/utils.py
  tests/unit/cmk/gui/openapi/test_openapi_user.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Rename file
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/route_classes.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_apps.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Initialize app once in fixture
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
