Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

11538 FIX job: treat killed jobs as a non-running job
  .werks/11538
  cmk/base/plugins/agent_based/job.py
  tests/unit/cmk/base/plugins/agent_based/test_job.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11543 FIX Wrong handling of 'None' values in bonding checks
  .werks/11543
  checks/bonding.include
Due: none

Support Diagnostics: Prepare for component 'notifications'
  cmk/base/diagnostics.py
  cmk/base/modes/check_mk.py
  cmk/utils/diagnostics.py
  tests/unit/cmk/base/test_diagnostics.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Don't remove downloaded JARs during 'mrclean'.
  Makefile
Due: none

Minor UX improvements
  cmk/gui/wato/user_profile.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11687 FIX mk_postgres supports CentOS7
  .werks/11687
  agents/plugins/mk_postgres.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Nuke some CSS variables
  web/htdocs/themes/facelift/scss/_main.scss
  web/htdocs/themes/facelift/scss/_pages.scss
  web/htdocs/themes/facelift/scss/_variables.scss
  web/htdocs/themes/modern-dark/scss/_variables.scss
Due: none

Revert "Revert "11653 FIX Fix site reload in case of user profile changes""
  .werks/11653
  cmk/gui/htmllib.py
  cmk/gui/wato/user_profile.py
  tests/testlib/web_session.py
  web/htdocs/js/modules/sidebar.js
  web/htdocs/js/modules/utils.js
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

deduplicate services
  checks/bintec_cpu
  checks/cisco_nexus_cpu
  checks/docker_container_cpu
  checks/hr_cpu
  checks/lxc_container_cpu
  checks/tplink_cpu
  checks/winperf_processor
  cmk/base/plugins/agent_based/lnx_if.py
  cmk/base/plugins/agent_based/mem_section.py
  cmk/base/plugins/agent_based/winperf_if.py
  cmk/base/plugins/agent_based/winperf_processor.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix broken upload
  buildscripts/scripts/build-cmk-version.jenkins
Due: none

Re-add accidentally removed package: click
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/click-7.1.2.tar.gz
Due: omd-python-modules

[CMK-6335] - fix name of the Updater plugin: cmk_update_agent.checkmk.py
  agents/wnx/src/engine/cfg.h
  agents/wnx/src/engine/cma_core.cpp
  agents/wnx/src/engine/windows_service_api.cpp
  agents/wnx/watest/test-plugin.cpp
Due: none

Windows Agent fix execution of files from the batch file(without extension)
  agents/wnx/src/engine/cfg.cpp
  agents/wnx/src/engine/cfg_details.h
  agents/wnx/watest/test-cfg.cpp
Due: none

Add some debug output
  tests/testlib/site.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Register right site after creation
  tests/testlib/site.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Increase attempt count to start site for integration tests from 2 seconds to 5 seconds. Will be reverted.
  tests/testlib/site.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Revert "Increase attempt count to start site for integration tests from 2 seconds to 5 seconds."
  tests/testlib/site.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

infoblox_dns_stats copy and paste error
  checks/infoblox_dns_stats
Due: none

fetcher logging: Use a consistent, dedicated logger
  cmk/fetchers/_base.py
  cmk/fetchers/controller.py
  cmk/fetchers/ipmi.py
  cmk/fetchers/piggyback.py
  cmk/fetchers/program.py
  cmk/fetchers/snmp.py
  cmk/fetchers/tcp.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

fetcher logging: Remove default python/CMC mapping
  cmk/fetchers/protocol.py
  tests/unit/cmk/fetchers/test_protocol.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11659 FIX Fixed broken mobile gui
  .werks/11659
  cmk/gui/mobile.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11671 FIX Fix crash in check previews during discovery
  .werks/11671
  cmk/base/checking.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

[CMK-6132] - implement unit tests
  buildscripts/scripts/lib/versioning.groovy
Due: none

11656 FIX Add title to icon choices of global setting "Builtin icon visibility"
  .werks/11656
  cmk/gui/plugins/views/icons/builtin.py
  cmk/gui/plugins/views/icons/inventory.py
  cmk/gui/plugins/views/icons/mkeventd.py
  cmk/gui/plugins/views/icons/topology.py
  cmk/gui/plugins/views/icons/utils.py
  cmk/gui/plugins/views/icons/wato.py
  cmk/gui/plugins/wato/check_mk_configuration.py
  cmk/gui/views.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Enable CMC debug logging during integration tests
  tests/testlib/site.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

10609 Simplified display of pending changes in setup
  .werks/10609
  cmk/gui/htmllib.py
  cmk/gui/page_state.py
  cmk/gui/plugins/wato/utils/html_elements.py
  cmk/gui/table.py
  cmk/gui/views.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/wato/pages/folders.py
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/wato/pages/services.py
  tests/unit/cmk/gui/test_table.py
  web/htdocs/js/modules/selection.js
  web/htdocs/js/modules/utils.js
  web/htdocs/themes/facelift/images/icon_pending_changes.svg
  web/htdocs/themes/facelift/scss/_main.scss
  web/htdocs/themes/facelift/scss/_page_menu.scss
  web/htdocs/themes/facelift/scss/_wato.scss
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Added tooltip to pending changes info (CMK-5583)
  cmk/gui/page_state.py
  cmk/gui/plugins/wato/utils/html_elements.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Temporarily add debug output to RPM spec file.
  omd/omd.spec.in
Due: none

Service Discovery for clusters: no longer removes services on nodes
  .werks/11429
  cmk_base/autochecks.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

fetcher logging: Clearly separate CMC/Python levels
  cmk/fetchers/controller.py
  tests/unit/cmk/fetchers/test_controller.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Support Diagnostics: Add component 'Notifications'
  cmk/gui/wato/pages/diagnostics.py
  cmk/utils/diagnostics.py
  tests/unit/cmk/utils/test_diagnostics_utils.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Create a ntop mkp from the current repo
  Makefile
  buildscripts/scripts/lib/ntop_rules.json
  buildscripts/scripts/lib/versioning.groovy
  cmk/utils/packaging.py
  scripts/create-ntop-mkp.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11408 Monitoring of total traffic for network interface checks
  .werks/11408
  cmk/base/plugins/agent_based/aix_if.py
  cmk/base/plugins/agent_based/emc_vplex_if.py
  cmk/base/plugins/agent_based/esx_vsphere_counters.py
  cmk/base/plugins/agent_based/fritz.py
  cmk/base/plugins/agent_based/hitachi_hnas_fc_if.py
  cmk/base/plugins/agent_based/hp_msa_if.py
  cmk/base/plugins/agent_based/hpux_if.py
  cmk/base/plugins/agent_based/huawei_osn_if.py
  cmk/base/plugins/agent_based/if32.py
  cmk/base/plugins/agent_based/if64_tplink.py
  cmk/base/plugins/agent_based/if_brocade_lancom.py
  cmk/base/plugins/agent_based/mcdata_fcport.py
  cmk/base/plugins/agent_based/statgrab_net.py
  cmk/base/plugins/agent_based/ucs_bladecenter_if.py
  cmk/base/plugins/agent_based/utils/if64.py
  cmk/base/plugins/agent_based/utils/interfaces.py
  cmk/base/plugins/agent_based/vms_if.py
  cmk/gui/plugins/metrics/if.py
  cmk/gui/plugins/metrics/translation.py
  cmk/gui/plugins/wato/check_parameters/if.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_interfaces.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Reserved 10 Werk IDS
  .werks/first_free
Due: none

Dashlet editor: Added new icons (CMK-6251)
  web/htdocs/js/modules/dashboard.js
  web/htdocs/themes/facelift/images/dashlet_arrow_l.png
  web/htdocs/themes/facelift/images/dashlet_clone.svg
  web/htdocs/themes/facelift/images/dashlet_clone_hi.png
  web/htdocs/themes/facelift/images/dashlet_clone_lo.png
  web/htdocs/themes/facelift/images/dashlet_del_hi.png
  web/htdocs/themes/facelift/images/dashlet_del_lo.png
  web/htdocs/themes/facelift/images/dashlet_delete.svg
  web/htdocs/themes/facelift/images/dashlet_drag.svg
  web/htdocs/themes/facelift/images/dashlet_edit.svg
  web/htdocs/themes/facelift/images/dashlet_edit_hi.png
  web/htdocs/themes/facelift/images/dashlet_edit_lo.png
  web/htdocs/themes/facelift/images/dashlet_resize.svg
  web/htdocs/themes/facelift/scss/_dashboard.scss
  web/htdocs/themes/facelift/scss/_variables.scss
  web/htdocs/themes/modern-dark/scss/_variables.scss
Due: none

Cleanup object focus logic; Fix focus of object by form/name
  cmk/gui/htmllib.py
  cmk/gui/plugins/views/availability.py
  cmk/gui/plugins/wato/utils/html_elements.py
  cmk/gui/views.py
  cmk/gui/wato/page_handler.py
  web/htdocs/js/modules/utils.js
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Add title to custom icon class
  cmk/gui/plugins/views/icons/utils.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Performance graph title format transformation
  cmk/gui/plugins/metrics/valuespecs.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_valuespecs.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Use global config in SNMP Fetcher
  cmk/base/checkers/snmp.py
  cmk/fetchers/controller.py
  cmk/fetchers/snmp.py
  tests/unit/cmk/fetchers/test_fetchers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
