Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

test: conversation content tests
  packages/cmk-frontend-vue/tests/ai/components/conversation/content/AlertContent.test.ts
  packages/cmk-frontend-vue/tests/ai/components/conversation/content/DialogContent.test.ts
  packages/cmk-frontend-vue/tests/ai/components/conversation/content/TextContent.test.ts
Due: none

refactor(notifications): replace blocking sync dialog with background job
  cmk/gui/notifications.py
  cmk/gui/wato/pages/notifications/modes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor(user_replication): remove dead async replication infrastructure
  cmk/gui/dashboard/api/_utils.py
  cmk/gui/user_async_replication.py
  cmk/gui/wato/pages/user_profile/__init__.py
  cmk/gui/wato/pages/user_profile/async_replication.py
  packages/cmk-frontend/src/js/index.ts
  packages/cmk-frontend/src/js/modules/profile_replication.ts
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(user_profile): add ProfileReplicationBackgroundJob for async site sync
  cmk/gui/wato/pages/__init__.py
  cmk/gui/wato/pages/user_profile/__init__.py
  cmk/gui/watolib/profile_replication.py
  tests/unit/cmk/gui/test_background_job.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor(visuals): replace blocking sync dialog with background job
  cmk/gui/dashboard/store.py
  cmk/gui/visuals/_page_edit_visual.py
  cmk/gui/visuals/_page_list.py
  cmk/gui/wato/pages/user_profile/replicate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dockerized_execution: Display meaningful error message for failed docker login
  tests/testlib/script_helpers/dockerized_execution.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

piggyback-hub: test different remote customers setup - I
  tests/composition/cmk/piggyback/test_piggyback.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

piggyback-hub: test different remote customers setup - II
  tests/composition/cmk/piggyback/test_piggyback.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19740 Ship process discovery rule for the OTel Collector
  .werks/19740.md
  cmk/gui/watolib/sample_config/_constants.py
  cmk/update_config/plugins/actions/rulesets_add_ps_discovery.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets_add_ps_discovery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

ownership: fix rrd
  component_owners/microcore_and_livestatus/OWNERS_DEFINITION
Due: none

CMK-32623: fix crash handler crashing on objects with broken __repr__
  packages/cmk-ccc/cmk/ccc/crash_reporting.py
  packages/cmk-ccc/tests/test_crash_reporting.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add missing definition of force_build in test-composition
  buildscripts/scripts/test-composition.groovy
Due: none

CMK-32623: fix crash handler crashing on objects with broken __repr__
  packages/cmk-ccc/cmk/ccc/crash_reporting.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bazelize werks test
  BUILD
  buildscripts/scripts/stages.yml
  tests/Makefile
  tests/code_quality/BUILD
  tests/code_quality/werks/BUILD
  tests/code_quality/werks/test_werks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Removed 10 second interval from event console rules
  .werks/19567.md
  cmk/gui/mkeventd/wato.py
  cmk/update_config/plugins/actions/ec_rule_expect_interval.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(vscode): switch vsix build to bazel aspects v0.1.57 CMK-33447
  .ide/vscode/BUILD
  .ide/vscode/CLAUDE.md
Due: none

test: ai user action tests
  packages/cmk-frontend-vue/tests/ai/lib/user-actions.test.ts
Due: none

Improve the Summary of the Podman container status check
  cmk/plugins/podman/agent_based/lib.py
  cmk/plugins/podman/agent_based/podman_container_status.py
  tests/unit/cmk/plugins/podman/agent_based/lib.py
  tests/unit/cmk/plugins/podman/agent_based/test_podman_container_health.py
  tests/unit/cmk/plugins/podman/agent_based/test_podman_container_inspect.py
  tests/unit/cmk/plugins/podman/agent_based/test_podman_container_status.py
  tests/unit/cmk/plugins/podman/agent_based/test_podman_container_uptime.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "Deploy cmk to site-packages"
  cmk/BUILD
  omd/packages/check_mk/skel/etc/check_mk/apache.conf
  omd/packages/omd/omdlib/contexts.py
  omd/packages/omd/omdlib/main.py
  tests/integration/omd/test_python.py
  tests/unit/omdlib/test_site_context.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19583 fixup for 19033
  .werks/19583.md
  cmk/gui/dashboard/api/model/widget.py
  tests/unit/cmk/gui/dashboard/test_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Improve package_manager to print info message if no matching package found
  tests/testlib/package_manager.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19680 FIX omd rm/mv: Prevent broken state when site home is mounted
  .werks/19680.md
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Service discovery: Run parser only once
  cmk/checkengine/discovery/_preview.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19069 FIX Make piggyback datasource always transparent
  .werks/19069.md
  cmk/checkengine/parser/_agent.py
  tests/unit/cmk/checkengine/test_parsers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

graphing: introduce GraphExportRequest for typed graph export pipeline
  cmk/gui/dashboard/visual_type.py
  cmk/gui/graphing/__init__.py
  cmk/gui/graphing/_graph_images.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/openapi/endpoints/metric/__init__.py
  cmk/gui/openapi/endpoints/metric/common.py
  packages/cmk-frontend/src/js/modules/graphs.ts
  packages/cmk-frontend/src/js/modules/popup_menu.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

graphing: introduce specific add_type per graph type in add-to-visual popup
  cmk/gui/dashboard/visual_type.py
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/graphing/_graph_templates.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/visuals/_add_to_visual.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

wa: fix logging of signing dir
  agents/wnx/run.ps1
Due: none

19810 redfish: support Redfish Sensor resource model
  .werks/19810.md
  packages/cmk-plugins/cmk/plugins/redfish/lib.py
  packages/cmk-plugins/cmk/plugins/redfish/special_agents/agent_redfish.py
  packages/cmk-plugins/tests/cmk/plugins/redfish/agent_based/test_redfish_sensors.py
  packages/cmk-plugins/tests/cmk/plugins/redfish/rulesets/test_datasource_program.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

doc: Add metric backend instant and range query documentation
  doc/documentation/arch-comp-metric-backend-instant-query.rst
  doc/documentation/arch-comp-metric-backend-range-query.rst
Due: sphinx

doc: Update metric backend architecture doc to reflect current implementation
  doc/documentation/arch-comp-metric-backend.rst
Due: sphinx

doc: Add metric backend internal components documentation
  doc/documentation/arch-comp-metric-backend-instant-query.rst
  doc/documentation/arch-comp-metric-backend-internals.rst
  doc/documentation/arch-comp-metric-backend-range-query.rst
  doc/documentation/arch-comp-metric-backend-table-layout.rst
  doc/documentation/arch-comp-metric-backend.rst
Due: sphinx

doc: Add metric backend ClickHouse table layout documentation
  doc/documentation/arch-comp-metric-backend-table-layout.rst
Due: sphinx

Force rpath on xmlsec1
  bazel/rules/patchelf.bzl
  omd/packages/xmlsec1/BUILD
Due: none
