Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Update certifiate overview
  doc/documentation/cert-overview.svg
  doc/documentation/sec-certificates.rst
Due: sphinx

DashboardMenuHeader: Filter settings option should be available under Settings button
  packages/cmk-frontend-vue/src/dashboard/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardFilterSettings/FilterSettings.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardFilterSettings/runtime-filter/RuntimeFilterConfiguration.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardFilterSettings/types.ts
  packages/cmk-frontend-vue/src/dashboard/components/DashboardMenuHeader/DashboardMenuHeader.vue
Due: none

Fixup cross edition update tests base version
  buildscripts/scripts/test-update-single-f12less.groovy
Due: none

Fix ping test on IPv4 and IPv6
  packages/cmk-frontend-vue/src/mode-host/ping-host/PingHost.vue
Due: none

Fix siemens_plc special agent connection error service status
  cmk/plugins/siemens_plc/special_agent/agent_siemens_plc.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

SNMPv3 connection test: Handle unconfigured credentials
  cmk/base/automations/check_mk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix e2e test selectors
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_prometheus_scraping.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_receiver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add relay debug helper
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Use bazel to run test_license_headers.py
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/run
  packages/cmk-frontend-vue/scripts/test_license_headers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19086 FIX Parent scan: Show helpful error message on error
  .werks/19086.md
  cmk/gui/wato/pages/parentscan.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19270 Add support for Gude 8311 PDUs
  .werks/19270.md
  cmk/plugins/collection/agent_based/pdu_gude.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18330 FIX Fix offset within graphs
  .werks/18330.md
  cmk/gui/graphing/_artwork.py
  tests/unit/cmk/gui/graphing/test_artwork.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18331 FIX Compute value between two timestamps when hovering over graphs
  .werks/18331.md
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_perfometer.py
  cmk/gui/graphing/_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "Update `rules_mypy` to latest"
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Revert "Build cma package via make"
  buildscripts/scripts/build-cmk-distro-package.groovy
Due: none

Build appliance packages with Bazel
  bazel/rules/pkg_cma_from_tar.bzl
  omd/BUILD
  omd/packages/appliance/BUILD
Due: none

Change binreplace to accept an arbitrary template
  bazel/rules/binreplace_version_from_flag.bzl
  buildscripts/scripts/build-cmk-relay-image.groovy
  buildscripts/scripts/stages.yml
  omd/BUILD
  omd/packages/openssl/BUILD
Due: none

Remove CMA from makefiles
  Makefile
  omd/Makefile
  omd/omd.make
  omd/packages/appliance/appliance.make
  omd/packages/packages.make
Due: none

Update error message handling in combined graph widgets
  cmk/gui/dashboard/dashlet/dashlets/graph.py
  cmk/gui/dashboard/dashlet/dashlets/status_helpers.py
  cmk/gui/dashboard/page_graph_widget.py
  cmk/gui/graphing/__init__.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/graphing/_utils.py
  cmk/gui/graphing_main.py
  tests/unit/cmk/gui/dashboard/test_graph_widget_errors.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reserved 10 Werk IDS
  .werks/first_free
Due: none

GraphDesigner: increase size of custom title input
  packages/cmk-frontend-vue/src/graph-designer/private/FormTitle.vue
  packages/cmk-frontend-vue/src/graph-designer/private/specs.ts
Due: none

Remove outdated page endpoint "graph_dashlet". Replacement: widget_graph
  cmk/gui/community_registration.py
  cmk/gui/graphing_main.py
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Skip restoring All unit tests in CV due to too high disk IO for 27GB
  buildscripts/scripts/utils/upload_artifacts.groovy
Due: none

Remove directory listing of network volume with hot cache
  buildscripts/scripts/utils/upload_artifacts.groovy
Due: none

Revert "Fixup cross edition update tests base version"
  buildscripts/scripts/test-update-single-f12less.groovy
Due: none

Reenabled cppcoreguidelines-pro-bounds-pointer-arithmetic
  .clang-tidy
  packages/livestatus/src/LogEntry.cc
  packages/livestatus/src/POSIXUtils.cc
  packages/livestatus/src/RRDFetch.cc
  packages/unixcat/src/unixcat.cc
Due: none

Fixes for readability-math-missing-parentheses
  .clang-tidy
  packages/livestatus/src/Average.cc
Due: none

automation-helper: Adapt ps dicsovery rule during update to reflect new process
  cmk/update_config/plugins/actions/rulesets_add_ps_discovery.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets_add_ps_discovery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Generalize overwriting default ps discovery rules during update
  cmk/update_config/plugins/actions/rulesets_add_ps_discovery.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets_add_ps_discovery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Welcome page: Fix step completion in slideout
  cmk/gui/welcome/pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
