Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

bandit:
  name: Run bandit
  entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

sphinx:
  name: Sphinx Documentation
  entry: scripts/run-pipenv run make -C doc/documentation html
  pass_filenames: false
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

vue: Enforce casing and import style
  packages/cmk-frontend-vue/.eslintrc.cjs
  packages/cmk-frontend-vue/src/components/cmk-form/CmkForm.vue
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormReadonly.vue
  packages/cmk-frontend-vue/src/components/cmk-form/CmkRuleset.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormDictionary.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormList.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormFloat.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormInteger.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormLegacyValueSpec.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormSingleChoice.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormString.vue
  packages/cmk-frontend-vue/src/components/quick-setup/QuickSetupStep.vue
  packages/cmk-frontend-vue/src/components/quick-setup/widgets/CompositeWidget.vue
  packages/cmk-frontend-vue/src/components/quick-setup/widgets/ListWidget.vue
  packages/cmk-frontend-vue/src/components/ui/collapsible/UiCollapsible.vue
  packages/cmk-frontend-vue/src/lib/validation.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/views/CmkTable.vue
  packages/cmk-frontend-vue/src/views/D3Table.vue
  packages/cmk-frontend-vue/tests/components/cmk-form/CmkFormReadonly.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/container/CmkFormCascadingSingleChoice.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/container/CmkFormDictionary.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/container/CmkFormList.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/element/CmkFormFloat.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/element/CmkFormInteger.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/element/CmkFormSingleChoice.test.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/element/CmkFormString.test.ts
Due: none

Some renamings
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_color.py
  cmk/gui/graphing/_formatter.py
  cmk/gui/graphing/_graph_templates_from_plugins.py
  cmk/gui/graphing/_loader.py
  cmk/gui/graphing/_perfometer.py
  cmk/gui/graphing/_rrd_fetch.py
  cmk/gui/graphing/_utils.py
  tests/unit/cmk/gui/graphing/test_evaluate.py
  tests/unit/cmk/gui/graphing/test_formatter.py
  tests/unit/cmk/gui/graphing/test_loader.py
  tests/unit/cmk/gui/graphing/test_perfometer.py
  tests/unit/cmk/gui/graphing/test_utils.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix graphing migration script, show translations
  doc/treasures/migration_helpers/graphing_v0_v1.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove obsolete comment
  .bazelrc
Due: none

Remove explicit --config=ci already set in ci.bazelrc
  scripts/run-bazel.sh
Due: none

17121 FIX users: allow user edit saving when 'authorized_sites' attribute is locked
  .werks/17121
  cmk/gui/wato/pages/users.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup: move utils to gui
  cmk/gui/openapi/endpoints/quick_setup/__init__.py
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/quick_setup/config_setups/__init__.py
  cmk/gui/quick_setup/config_setups/aws_stages.py
  cmk/gui/quick_setup/predefined.py
  cmk/gui/quick_setup/registration.py
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/__init__.py
  cmk/gui/quick_setup/v0_unstable/definitions.py
  cmk/gui/quick_setup/v0_unstable/widgets.py
  cmk/utils/quick_setup/__init__.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_to_frontend.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup: move QuickSetup and QuickSetupStage to their own module
  cmk/gui/openapi/endpoints/quick_setup/__init__.py
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/quick_setup/config_setups/aws_stages.py
  cmk/gui/quick_setup/registration.py
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/_registry.py
  cmk/gui/quick_setup/v0_unstable/definitions.py
  cmk/gui/quick_setup/v0_unstable/setups.py
  cmk/gui/quick_setup/v0_unstable/type_defs.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup/to_frontend: change validators to only return GeneralStageErrors
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/definitions.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup: change to frozen dataclasses
  cmk/gui/quick_setup/v0_unstable/setups.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix werk versions
  .werks/15220
  .werks/15313
  .werks/15373
  .werks/15714
  .werks/16434.md
  .werks/16589.md
  .werks/16682.md
  .werks/16794.md
  .werks/16809.md
  .werks/17010.md
  .werks/17074.md
  .werks/17081.md
Due: none

17121 FIX users: allow user edit saving when 'authorized_sites' attribute is locked
  .werks/17121.md
  cmk/gui/wato/pages/users.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix missing package
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

removed to_formspec.py + tests. dead code
  cmk/gui/valuespec/to_formspec.py
  tests/unit/cmk/gui/test_valuespec_to_formspec.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup: move to_frontend specific definitions to module
  cmk/gui/openapi/endpoints/quick_setup/__init__.py
  cmk/gui/quick_setup/to_frontend.py
  cmk/gui/quick_setup/v0_unstable/definitions.py
  cmk/gui/quick_setup/v0_unstable/setups.py
  cmk/gui/quick_setup/v0_unstable/type_defs.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_quick_setup.py
  tests/unit/cmk/gui/quick_setup/test_to_frontend.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "removed to_formspec.py + tests. dead code"
  cmk/gui/valuespec/to_formspec.py
  tests/unit/cmk/gui/test_valuespec_to_formspec.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

reverts to fix build
  omd/packages/omd/omdlib/main.py
  omd/packages/python3-modules/BUILD
  packages/cmk-messaging/cmk/messaging/__init__.py
  packages/cmk-messaging/cmk/messaging/_config.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17151 Make MS IIS monitoring locale independent
  .werks/17151.md
  agents/windows/plugins/iis_app_pool_state.ps1
Due: none

Remove code dup in vue visitor _to_disk
  cmk/gui/form_specs/vue/registries.py
  cmk/gui/form_specs/vue/visitors/cascading_single_choice.py
  cmk/gui/form_specs/vue/visitors/dictionary.py
  cmk/gui/form_specs/vue/visitors/float.py
  cmk/gui/form_specs/vue/visitors/integer.py
  cmk/gui/form_specs/vue/visitors/legacy_valuespec.py
  cmk/gui/form_specs/vue/visitors/list.py
  cmk/gui/form_specs/vue/visitors/single_choice.py
  cmk/gui/form_specs/vue/visitors/string.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

vue: Make ts complain about missing components
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormDispatcher.vue
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormReadonly.vue
Due: none

removed to_formspec. moved maybe_lazy to marshmallow
  cmk/gui/openapi/marshmallow_converter/internal_to_marshmallow.py
  cmk/gui/openapi/marshmallow_converter/type_defs.py
  cmk/gui/openapi/marshmallow_converter/valuespec_to_marshmallow.py
  cmk/gui/valuespec/to_formspec.py
  tests/unit/cmk/gui/test_valuespec_to_formspec.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

vue: fixed typo
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

vue: nuked form_spec_recomposer registry
  cmk/gui/form_specs/vue/form_spec_visitor.py
  cmk/gui/form_specs/vue/registries.py
  cmk/gui/form_specs/vue/utils.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove symlink groovy files
  buildscripts/scripts/test-agent-controller.groovy
  buildscripts/scripts/test-cmc.groovy
  buildscripts/scripts/test-livestatus.groovy
  buildscripts/scripts/test-mk-sql.groovy
  buildscripts/scripts/test-neb.groovy
  buildscripts/scripts/test-unixcat.groovy
  buildscripts/scripts/test-werks-package.groovy
Due: none

test_pipfile: Skip *all* "bazel-*" folders
  tests/code_quality/test_pipfile.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Unify groovy file naming
  buildscripts/scripts/test-package-cmk-agent-ctl.groovy
  buildscripts/scripts/test-package-cmk-werks.groovy
  buildscripts/scripts/test-package-livestatus.groovy
Due: none

Put all legacy objects into an own module
  cmk/gui/graphing/__init__.py
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_expression.py
  cmk/gui/graphing/_graph_templates_from_plugins.py
  cmk/gui/graphing/_legacy.py
  cmk/gui/graphing/_loader.py
  cmk/gui/graphing/_perfometer.py
  cmk/gui/graphing/_rrd_fetch.py
  cmk/gui/graphing/_type_defs.py
  cmk/gui/graphing/_unit_info.py
  cmk/gui/graphing/_utils.py
  cmk/gui/metrics.py
  cmk/gui/plugins/metrics/translation.py
  cmk/gui/plugins/metrics/unit.py
  tests/integration/cmk/gui/plugins/metrics/helper_test_load_metrics_plugin.py
  tests/integration/cmk/gui/plugins/metrics/metric_info_plugin.py
  tests/unit/cmk/gui/graphing/test_evaluate.py
  tests/unit/cmk/gui/graphing/test_expression.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
  tests/unit/cmk/gui/graphing/test_loader.py
  tests/unit/cmk/gui/graphing/test_perfometer.py
  tests/unit/cmk/gui/graphing/test_rrd_fetch.py
  tests/unit/cmk/gui/graphing/test_utils.py
  tests/unit/cmk/gui/plugins/metrics/test_translations.py
  tests/unit/cmk/gui/plugins/metrics/test_unit.py
  tests/unit/cmk/gui/test_metrics.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix Perl module XML-Parser URL, version and SHA256 in Bazel HTTP module
  omd/packages/perl-modules/perl-modules_http.bzl
Due: none

remove emit, defineModel can be written directly
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormFloat.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormInteger.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormLegacyValueSpec.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormSingleChoice.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormString.vue
Due: none

needs more camelCase
  packages/cmk-frontend-vue/.eslintrc.cjs
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormReadonly.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormDictionary.vue
  packages/cmk-frontend-vue/src/components/cmk-form/container/CmkFormList.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormLegacyValueSpec.vue
  packages/cmk-frontend-vue/src/components/cmk-form/utils/validation.ts
  packages/cmk-frontend-vue/src/components/quick-setup/widgets/utils.ts
  packages/cmk-frontend-vue/src/lib/validation.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/CmkFormReadonly.test.ts
Due: none

fix werk versions
  .werks/14588
  .werks/14875
  .werks/15194
  .werks/15711
  .werks/15714
  .werks/16009
  .werks/16228
  .werks/16431
  .werks/16453
  .werks/17074
Due: none

fix werk versions
  .werks/13900
  .werks/14049
  .werks/14101
  .werks/14111
  .werks/16299
Due: none

Remove hardcoded branch name in groovy files
  buildscripts/scripts/build-cmk-distro-package.groovy
  buildscripts/scripts/build-linux-agent-updater.groovy
  buildscripts/scripts/test-gui-crawl-f12less.groovy
  buildscripts/scripts/test-gui-e2e-f12less.groovy
  buildscripts/scripts/test-integration-single-f12less.groovy
  buildscripts/scripts/test-plugins-piggyback.groovy
  buildscripts/scripts/test-plugins.groovy
  buildscripts/scripts/test-schemathesis-openapi-f12less.groovy
  buildscripts/scripts/test-xss-crawl.groovy
Due: none

Fix safe branch name groovy function
  buildscripts/scripts/utils/versioning.groovy
  defines.make
Due: none

Add missing 2.3.0 in registry script
  buildscripts/docker_image_aliases/register.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Use aligned docker_tag for test-update with safe_branch_name
  buildscripts/scripts/test-composition.groovy
  buildscripts/scripts/test-update.groovy
Due: none

Set explicit git root dir for branch_name_is_branch_version
  buildscripts/scripts/utils/versioning.groovy
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

vue: added formspec FixedValue
  cmk/gui/form_specs/vue/autogen_type_defs/vue_formspec_components.py
  cmk/gui/form_specs/vue/form_spec_visitor.py
  cmk/gui/form_specs/vue/visitors/fixed_value.py
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormDispatcher.vue
  packages/cmk-frontend-vue/src/components/cmk-form/CmkFormReadonly.vue
  packages/cmk-frontend-vue/src/components/cmk-form/element/CmkFormFixedValue.vue
  packages/cmk-frontend-vue/src/vue_formspec_components.ts
  packages/cmk-frontend-vue/tests/components/cmk-form/element/CmkFormFixedValue.test.ts
  packages/cmk-shared-typing/source/vue_formspec/components.json
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
