Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, futurize, mypy, shebang, licence, absolute-imports

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

futurize:
  name: Check futurize
  entry: scripts/check-futurize
  language: script

mypy:
  name: Check types with mypy
  entry: scripts/check-mypy
  language: script

shebang:
  name: Check shebang lines
  entry: scripts/check-shebang
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

Reserved 5 Werk IDS
  .werks/first_free
Due: none

Added QNAP devices
  checkman/qnap_fans
  checkman/qnap_hdd_temp
  checkman/qnap_info
  checks/qnap_fans
  checks/qnap_hdd_temp
  checks/qnap_info
  tests/unit/checks/generictests/datasets/qnap_info.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Add 'ARG ARTIFACT_STORAGE' to Centos 6 Docker
  buildscripts/infrastructure/build-nodes/centos-6/Dockerfile
Due: none

Avoid the annobin chaos on CentOS 8.
  omd/omd.spec.in
Due: none

Avoid the annobin chaos on CentOS 8, part 2.
  omd/omd.spec.in
Due: none

10787 FIX Fix missing new line in ESX agent which may break various sections and services may go UNKNOWN
  .werks/10787
  agents/special/agent_vsphere
Due: none

solaris_mem: add initial test
  tests/unit/checks/generictests/datasets/solaris_mem.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

10787 FIX Fix missing new line in ESX agent which may break various sections and services may go UNKNOWN
  .werks/10787
  cmk/special_agents/agent_vsphere.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Improve dashlet error handling
  cmk/gui/crash_reporting.py
  cmk/gui/dashboard.py
  cmk/gui/wsgi/applications/checkmk.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix bug cloning an existing view to a dashlet
  cmk/gui/dashboard.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Make get_context_from_uri_vars work like _get_singlecontext_html_vars
  cmk/gui/visuals.py
  tests/unit/cmk/gui/test_visuals.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Remove redundant logic
  cmk/gui/dashboard.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Addition to #10547: Improve existing view link dashlet creation
  cmk/gui/dashboard.py
  cmk/gui/plugins/dashboard/stats.py
  cmk/gui/plugins/dashboard/utils.py
  cmk/gui/plugins/dashboard/view.py
  tests/unit/cmk/gui/test_dashboard.py
  tests/unit/cmk/gui/test_pages.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Make arguments of some utility function explicit
  cmk/gui/dashboard.py
  cmk/gui/plugins/dashboard/utils.py
  cmk/gui/plugins/dashboard/view.py
  cmk/gui/plugins/views/utils.py
  cmk/gui/plugins/visuals/utils.py
  cmk/gui/plugins/webapi/grafana.py
  cmk/gui/views.py
  cmk/gui/visuals.py
  tests/unit/cmk/gui/test_visuals.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

[CMK-3590] - windows agent systemtime section generates '\n' too
  agents/wnx/src/engine/providers/system_time.cpp
  agents/wnx/watest/test-section_providers.cpp
Due: none

[CMK-3575] - race condition when touch/delete file is removed
  agents/wnx/msb.ps1
  agents/wnx/wamain_build.sln
  agents/wnx/watest/watest.vcxproj
  agents/wnx/windows_setup.cmd
Due: none

Pipfiles: fix transitive dependencies
  virtual-envs/2.7/Pipfile
  virtual-envs/2.7/Pipfile.lock
  virtual-envs/3.7/Pipfile.lock
Due: none

10680 FIX Windows Agent section systemtime adds '\n\ at the end of the output
  .werks/10680
Due: none

10680 FIX Windows Agent section systemtime adds '\n' at the end of the output
  .werks/10680
Due: none

Suppress some wrong pylint warnings in python 2 code
  bin/update_rrd_fs_names.py
  cmk/__init__.py
  cmk/base/localize.py
  cmk/gui/i18n.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix master build: restored accidentally removed solution file
  agents/wnx/wamain.sln
Due: none

Python 2: downgrade more-itertools to compatible version
  omd/packages/python-modules/python-modules.make
  omd/packages/python-modules/src/more-itertools-5.0.0.tar.gz
  omd/packages/python-modules/src/more-itertools-8.0.1.tar.gz
Due: omd-python-modules

tests: blacklist freezegun 0.3.13 which breaks tests
  virtual-envs/2.7/Pipfile
  virtual-envs/2.7/Pipfile.lock
Due: none

CMK-3565: cmk-update-agent.exe: Update to PyInstaller 3.6 to fix vulnerability
  agents/windows/frozen_binaries/pyinstaller-deps.make
  agents/windows/frozen_binaries/src/pip/PyInstaller-3.3.1.tar.gz
  agents/windows/frozen_binaries/src/pip/PyInstaller-3.6.tar.gz
  agents/windows/frozen_binaries/src/pip/pywin32_ctypes-0.2.0-py2.py3-none-any.whl
Due: none

Fix the annobin fix.
  omd/omd.spec.in
Due: none

10633 FIX skype: fixed magnitude of latency value
  .werks/10633
  checks/wmi.include
  tests/unit/checks/generictests/datasets/skype_skype_1_regression.py
  tests/unit/checks/generictests/datasets/skype_skype_2_regression.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

wmi.include: remove unused parameter
  checks/wmi.include
Due: none

Use Tag for docker container
  buildscripts/scripts/test-composition.jenkins
Due: none

10619 FIX Improve error-handling in poller
  .werks/10619
  livestatus/src/InputBuffer.cc
  livestatus/src/OutputBuffer.cc
  livestatus/src/Poller.h
  livestatus/src/module.cc
  livestatus/src/unixcat.cc
Due: none

Automatically fix missing mypy in Python 3 venv
  scripts/run-mypy
Due: none

Base: Add type hints to prediction code
  cmk/base/prediction.py
  cmk/base/utils.py
  cmk/utils/misc.py
  cmk/utils/prediction.py
  cmk/utils/type_defs.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Base: More type hinting
  cmk/base/cleanup.py
  cmk/base/compress_history.py
  cmk/base/config.py
  cmk/base/console.py
  cmk/base/dump_host.py
  cmk/base/export.py
  cmk/base/parent_scan.py
  cmk/base/profiling.py
  cmk/base/snmp_scan.py
  cmk/base/snmp_utils.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Add more type hints
  cmk/base/agent_simulator.py
  cmk/base/check_utils.py
  cmk/base/data_sources/__init__.py
  cmk/base/data_sources/abstract.py
  cmk/base/data_sources/host_sections.py
  cmk/base/data_sources/snmp.py
  cmk/base/inventory.py
  cmk/base/modes/check_mk.py
  cmk/base/snmp.py
  cmk/base/snmp_scan.py
  cmk/base/snmp_utils.py
  cmk/base/utils.py
  tests/unit/cmk/base/test_host_sections.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fixed types. Simplify Query class hierarchy a bit.
  cmk/ec/query.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Crawl: Ignore crash report archives
  tests/integration/cmk/gui/test_crawl.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix crash when opening ec_events_of_host without host parameter
  cmk/gui/views.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Crawl: Skip "missing context information" error
  tests/integration/cmk/gui/test_crawl.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Update missing call sites of changed function
  tests/integration/cmk/base/snmp/test_snmp.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  futurize: any of: \.py$
  mypy: any of: \.py$
  shebang: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
