Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

check-cert: Fix tests
  packages/site/check-cert/assets/README.md
  packages/site/check-cert/assets/cert.der
  packages/site/check-cert/assets/root-ca.der
  packages/site/check-cert/tests/certificate.rs
  packages/site/check-cert/tests/verify.rs
Due: none

packaging: verify all signed binaries inside the agent MSI
  tests/packaging/test_files.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): source string fixes (event_console)
  cmk/gui/mkeventd/defines.py
  cmk/gui/mkeventd/icon.py
  cmk/gui/mkeventd/views.py
  cmk/gui/mkeventd/wato.py
  tests/unit/cmk/gui/mkeventd/test_icon_mkeventd.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): source string fixes (podman)
  cmk/plugins/podman/rulesets/podman_container_health.py
  cmk/plugins/podman/rulesets/podman_container_restarts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): source string fixes (proxmox_ve)
  packages/cmk-plugins/cmk/plugins/proxmox_ve/rulesets/proxmox_ve_cpu_util_params.py
  packages/cmk-plugins/cmk/plugins/proxmox_ve/rulesets/proxmox_ve_node_info_params.py
  packages/cmk-plugins/cmk/plugins/proxmox_ve/rulesets/proxmox_ve_snapshot_age_params.py
  packages/cmk-plugins/cmk/plugins/proxmox_ve/rulesets/proxmox_ve_vm_backup_status_params.py
  packages/cmk-plugins/cmk/plugins/proxmox_ve/rulesets/proxmox_ve_vm_info_params.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor(frontend): remove dead JS
  cmk/gui/sidebar/__init__.py
  packages/cmk-frontend/src/js/index.ts
  packages/cmk-frontend/src/js/modules/dashboard.ts
  packages/cmk-frontend/src/js/modules/figures/cmk_figures.ts
  packages/cmk-frontend/src/js/modules/figures/cmk_figures_plugins_cee.ts
  packages/cmk-frontend/src/js/modules/figures/cmk_figures_utils.ts
  packages/cmk-frontend/src/js/modules/graphs_cee.ts
  packages/cmk-frontend/src/js/modules/nodevis/type_defs.ts
  packages/cmk-frontend/src/js/modules/ntop/ntop_utils.ts
  packages/cmk-frontend/src/js/modules/page_menu.ts
  packages/cmk-frontend/src/js/modules/popup_menu.ts
  packages/cmk-frontend/src/js/modules/sidebar.ts
  packages/cmk-frontend/src/js/modules/types.ts
  packages/cmk-frontend/src/js/modules/valuespecs.ts
  packages/cmk-frontend/src/js/modules/wato.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

build(frontend): enable noUnusedLocals
  packages/cmk-frontend/src/js/modules/figures/cmk_horizontal_bar.ts
  packages/cmk-frontend/src/js/modules/figures/cmk_state.ts
  packages/cmk-frontend/src/js/modules/figures/cmk_table.ts
  packages/cmk-frontend/src/js/modules/figures/figure_types.ts
  packages/cmk-frontend/src/js/modules/graphs.ts
  packages/cmk-frontend/src/js/modules/nodevis/main.ts
  packages/cmk-frontend/src/js/modules/nodevis/node_types.ts
  packages/cmk-frontend/src/js/modules/ntop/ntop_alerts.ts
  packages/cmk-frontend/src/js/modules/sidebar.ts
  packages/cmk-frontend/tsconfig.json
Due: none

Reapply "22143 FIX omd backup: Fix corrupted Event Console history in the archive"
  .werks/22143.md
  omd/packages/omd/omdlib/backup.py
  tests/system/singlesite/omd/test_omd.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

tests: gate authentication_connections on the central site version
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Type mk_docker's time_it decorator and keep the plug-in on Python 3.4
  agents/plugins/mk_docker.py
  tests/agent-plugin-unit/sources-list.txt
  tests/agent-plugin-unit/test_mk_docker.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Use only one global suppression per line
  cmk/gui/openapi/utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(mon-hosts): seed MonitoringService from an initial table state
  packages/cmk-frontend-vue/src/monitoring/shared/services/MonitoringService.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/services/MonitoringService.test.ts
Due: none

feat(mon-hosts): make the all hosts table bookmarkable and shareable
  packages/cmk-frontend-vue/src/monitoring/all-hosts/AllHostsApp.vue
  packages/cmk-frontend-vue/src/monitoring/shared/browserUrlSync.ts
  packages/cmk-frontend-vue/src/monitoring/shared/tableState/useUrlTableState.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/browserUrlSync.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/tableState/useUrlTableState.test.ts
  tests/unit/cmk/gui/visuals/filter/test_reserved_htmlvars.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(mon-hosts): add the tableState URL persistence module
  packages/cmk-frontend-vue/src/monitoring/all-hosts/columns.ts
  packages/cmk-frontend-vue/src/monitoring/shared/api/MonitoringApi.ts
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringLimitSelector.vue
  packages/cmk-frontend-vue/src/monitoring/shared/services/MonitoringService.ts
  packages/cmk-frontend-vue/src/monitoring/shared/tableState/codec.ts
  packages/cmk-frontend-vue/src/monitoring/shared/tableState/reconcile.ts
  packages/cmk-frontend-vue/src/monitoring/shared/tableState/schema.ts
  packages/cmk-frontend-vue/src/monitoring/shared/tableState/types.ts
  packages/cmk-frontend-vue/src/monitoring/shared/types.ts
  packages/cmk-frontend-vue/src/monitoring/shared/urlQuery.ts
  packages/cmk-frontend-vue/src/network-flow/flow-explorer/columns.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/columns.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/components/ColumnPicker.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/components/MonitoringLimitSelector.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/tableState/codec.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/tableState/reconcile.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/tableState/schema.test.ts
  packages/cmk-frontend-vue/tests/monitoring/shared/urlQuery.test.ts
  packages/cmk-frontend-vue/ui-component-library/monitoring/UclColumnPicker.vue
Due: none

chore(i18n): source string fixes (user_mgmt_auth)
  cmk/gui/ldap_integration/_ac_tests.py
  cmk/gui/ldap_integration/ldap.py
  cmk/gui/ldap_integration/ldap_connector.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): source string fixes (kubernetes)
  cmk/gui/plugins/wato/check_parameters/kube_pod_restarts.py
  cmk/gui/plugins/wato/check_parameters/kube_resources.py
  packages/cmk-plugins/cmk/plugins/kube/rulesets/kube_collector_info.py
  packages/cmk-plugins/cmk/plugins/kube/rulesets/special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Support FormSpec-native host attributes
  cmk/gui/wato/pages/_host_attributes.py
  cmk/gui/watolib/form_spec_generators.py
  cmk/gui/watolib/host_attributes.py
  tests/testlib/unit/BUILD
  tests/testlib/unit/gui/host_attributes_test_helper.py
  tests/unit/cmk/gui/watolib/test_host_attribute_form_specs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add fs version of hostname translation elements
  cmk/gui/watolib/translation.py
  tests/unit/cmk/gui/watolib/test_translation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate the IPv4 address host attribute native FS
  cmk/gui/form_specs/generators/host_address.py
  cmk/gui/watolib/builtin_attributes.py
  tests/testlib/unit/gui/host_attributes_test_helper.py
  tests/unit/cmk/gui/wato/pages/test_bulk_import.py
  tests/unit/cmk/gui/watolib/test_host_attribute_valuespec_values.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Wrap the valuespec attribute in the base class
  cmk/gui/watolib/form_spec_generators.py
  cmk/gui/watolib/host_attributes.py
  tests/unit/cmk/gui/watolib/test_host_attribute_form_specs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Replace ibm_db with regex in pip source build test
  tests/system/singlesite/omd/test_python.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bump checkmk-dev-tools to 2.4.3
  buildscripts/scripts/Dockerfile
Due: none

remove unused deps 15: cmk-events
  packages/cmk-events/BUILD
  packages/cmk-events/dev-requirements.in
  requirements.txt
Due: requirements-locking

feat(mon-services): act on a service in-panel
  packages/cmk-frontend-vue/src/monitoring/all-hosts/AllHostsApp.vue
  packages/cmk-frontend-vue/src/monitoring/all-hosts/components/HostSlideIn.vue
  packages/cmk-frontend-vue/src/monitoring/all-hosts/components/slide-in/HostSlideInActions.vue
  packages/cmk-frontend-vue/src/monitoring/host-services/HostServicesApp.vue
  packages/cmk-frontend-vue/src/monitoring/host-services/components/ServiceSlideIn.vue
  packages/cmk-frontend-vue/src/monitoring/shared/components/slide-in/SlideInActions.vue
  packages/cmk-frontend-vue/src/monitoring/shared/services/useSlideInActions.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/components/HostSlideIn.test.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/components/slide-in/HostSlideInActions.test.ts
  packages/cmk-frontend-vue/tests/monitoring/host-services/components/ServiceSlideIn.test.ts
Due: none

feat(ui-library): CmkIconButton multitone icons
  packages/cmk-frontend-vue/ui-component-library/_ucl/lib/icon.ts
  packages/cmk-frontend-vue/ui-component-library/components/basic-elements/CmkIconButton/UclCmkIconButton.vue
  packages/cmk-frontend-vue/ui-component-library/components/basic-elements/CmkIconButton/UclCmkIconButtonCodeExample.vue
  packages/cmk-frontend-vue/ui-component-library/components/basic-elements/CmkIconButton/UclCmkIconButtonDev.vue
  packages/cmk-ui-library/components/CmkIconButton.vue
  packages/cmk-ui-library/tests/components/CmkIconButton.test.ts
Due: none

feat(mon-services): overview panel icon buttons
  packages/cmk-frontend-vue/src/monitoring/shared/components/action/MonitoringActionBar.vue
  packages/cmk-frontend-vue/src/monitoring/shared/components/cell/ActionButtons.vue
  packages/cmk-frontend-vue/src/monitoring/shared/components/cell/ActionIcon.vue
Due: none

20186 Synthetic Monitoring: Bypass option to allow root agent deployment on Linux in combination with RCC
  .werks/20186.md
Due: none

mk-oracle: Remove extra sections from perf test that were doubling rust work
  packages/mk-oracle/tests/perf/measure.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-oracle: Fix charbench not being closed properly
  packages/mk-oracle/tests/perf/bench-phases.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16929 FIX Solaris memory monitoring: fix crash and incorrect swap values with top
  .werks/16929.md
  cmk/plugins/collection/agent_based/mem_used_sections.py
  tests/unit/cmk/plugins/collection/agent_based/test_mem_used_sections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

igloo: keep peak value zooming post pan
  packages/cmk-frontend-vue/src/graphing/GlobalTimePicker/GlobalTimePickerApp.vue
  packages/cmk-frontend-vue/src/graphing/GlobalTimePicker/useGlobalTimeRange.ts
  packages/cmk-frontend-vue/src/graphing/components/GraphFigure/GraphFigure.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphGroup.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphPanel.vue
  packages/cmk-frontend-vue/src/graphing/composables/useGraphInteraction.ts
  packages/cmk-frontend-vue/src/graphing/composables/useGraphView.ts
  packages/cmk-frontend-vue/src/graphing/composables/useRequestedTimeRange.ts
  packages/cmk-frontend-vue/src/graphing/designer/CustomGraphDesignerApp.vue
  packages/cmk-frontend-vue/src/graphing/designer/components/DesignerBody.vue
  packages/cmk-frontend-vue/src/graphing/designer/components/DesignerHeader.vue
  packages/cmk-frontend-vue/src/graphing/types.ts
  packages/cmk-frontend-vue/src/graphing/utils/timeRange.ts
  packages/cmk-frontend-vue/tests/graphing/GlobalTimePicker/GlobalTimePickerApp.test.ts
  packages/cmk-frontend-vue/tests/graphing/GlobalTimePicker/useGlobalTimeRange.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphFigure/GraphFigure.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphGroup.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphPanel.test.ts
  packages/cmk-frontend-vue/tests/graphing/composables/useGraphInteraction.test.ts
  packages/cmk-frontend-vue/tests/graphing/composables/useGraphView.test.ts
  packages/cmk-frontend-vue/tests/graphing/composables/useRequestedTimeRange.test.ts
  packages/cmk-frontend-vue/tests/graphing/composables/zoomSync.test.ts
Due: none

graphing: Expose the raw to canonical metric name mapping
  cmk/gui/graphing/_translated_metrics.py
  tests/unit/cmk/gui/graphing/test_translated_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

graphing: Add a fetcher for a service's metric name mapping
  cmk/gui/graphing/_rrd.py
  tests/unit/cmk/gui/graphing/test_rrd.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest api: Add the internal translate_metric_names action
  cmk/gui/openapi/api_endpoints/graph/__init__.py
  cmk/gui/openapi/api_endpoints/graph/endpoint_family.py
  cmk/gui/openapi/api_endpoints/graph/models/__init__.py
  cmk/gui/openapi/api_endpoints/graph/models/response_models.py
  cmk/gui/openapi/api_endpoints/graph/registration.py
  cmk/gui/openapi/api_endpoints/graph/translate_metric_names.py
  cmk/gui/openapi/framework/model/converter.py
  cmk/gui/openapi/registration.py
  cmk/gui/openapi/restful_objects/type_defs.py
  tests/testlib/unit/rest_api_client.py
  tests/unit/cmk/gui/openapi/framework/model/test_converter.py
  tests/unit/cmk/gui/openapi/test_openapi_translate_metric_names.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16929 FIX Solaris memory monitoring: fix crash and incorrect swap values with top
  .werks/16929.md
  cmk/plugins/memory/agent_based/mem_used_sections.py
  tests/unit/cmk/plugins/memory/agent_based/test_mem_used_sections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor(dashboards): move CmkKpiStatCard out of the network flow package
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/CmkKpiStatCard.vue
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/KpiSparkLine.vue
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/index.ts
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/types.ts
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/NetworkFlow/DashboardContentNetworkFlowKpiStatCard.vue
  packages/cmk-frontend-vue/src/network-flow/slide-ins/AutonomousSystemSlideIn/AutonomousSystemSlideInOverview.vue
  packages/cmk-frontend-vue/src/network-flow/slide-ins/HostSlideIn/HostSlideInOverview.vue
  packages/cmk-frontend-vue/tests/dashboard/components/CmkKpiStatCard.test.ts
  packages/cmk-frontend-vue/ui-component-library/dashboard/CmkKpiStatCard/UclCmkKpiStatCard.vue
  packages/cmk-frontend-vue/ui-component-library/dashboard/CmkKpiStatCard/UclCmkKpiStatCardCodeExample.vue
  packages/cmk-frontend-vue/ui-component-library/dashboard/index.ts
  packages/cmk-frontend-vue/ui-component-library/network-flow/index.ts
Due: none
