Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

fix typo in check-sql
  packages/check-sql/tests/test_ms_sql.rs
Due: none

split instances query into two parts
  packages/check-sql/src/ms_sql/api.rs
  packages/check-sql/src/ms_sql/queries.rs
  packages/check-sql/tests/test_ms_sql.rs
Due: none

remove layered graph
  cmk/gui/plugins/metrics/kube.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove layered graph
  cmk/gui/plugins/metrics/docker.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15302 dell_poweredge_status: crash on unknown state
  .werks/15302
  cmk/base/check_legacy_includes/dell_poweredge.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix tag definition
  buildscripts/scripts/build-cmk-container.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix removing of saved docker image
  buildscripts/scripts/build-cmk-container.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Introduce MetricName, quantities; add perfometer.py
  packages/cmk-graphing/cmk/graphing/v1/metric.py
  packages/cmk-graphing/cmk/graphing/v1/perfometer.py
  packages/cmk-graphing/tests/test_metric.py
  packages/cmk-graphing/tests/test_perfometer.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove layered graph
  cmk/gui/plugins/metrics/jenkins.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Ruleset API: Add TextInput
  cmk/gui/utils/rulespecs/legacy_converter.py
  cmk/rulesets/v1/_valuespec.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Ruleset API: Add conversion for valuespec validation
  cmk/gui/utils/rulespecs/legacy_converter.py
  cmk/rulesets/v1/__init__.py
  cmk/rulesets/v1/_valuespec.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Remove CheckResult.details for now
  packages/check-http/src/checking.rs
  packages/check-http/src/lib.rs
  packages/check-http/tests/test_http.rs
Due: none

check_http: Make summary mandatory
  packages/check-http/src/checking.rs
  packages/check-http/src/lib.rs
  packages/check-http/tests/test_http.rs
Due: none

check_http: Move test cases
  packages/check-http/src/checking.rs
  packages/check-http/src/lib.rs
Due: none

check_http: Refactoring VIII
  packages/check-http/src/checking.rs
Due: none

check_http: Refactoring VI
  packages/check-http/src/checking.rs
  packages/check-http/src/lib.rs
  packages/check-http/tests/test_http.rs
Due: none

check_http: Refactoring V
  packages/check-http/src/lib.rs
Due: none

check_http: Refactoring VII
  packages/check-http/src/lib.rs
Due: none

agent_based: introduce package
  Pipfile
  Pipfile.lock
  buildscripts/scripts/stages.yml
  buildscripts/scripts/test-package-cmk-agent-based.groovy
  omd/packages/python3-modules/BUILD
  packages/BUILD
  packages/cmk-agent-based/.f12
  packages/cmk-agent-based/.gitignore
  packages/cmk-agent-based/Pipfile
  packages/cmk-agent-based/Pipfile.lock
  packages/cmk-agent-based/cmk/agent_based/py.typed
  packages/cmk-agent-based/cmk/agent_based/v1/__init__.py
  packages/cmk-agent-based/cmk/agent_based/v1/_regex.py
  packages/cmk-agent-based/pyproject.toml
  packages/cmk-agent-based/run
  packages/cmk-agent-based/setup.cfg
  packages/cmk-agent-based/tests/cmk/agent_based/v1/test_regex.py
  tests/Makefile
  tests/code_quality/test_pipfile.py
  tests/testlib/site.py
Due: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Refactoring IX
  packages/check-http/src/checking.rs
  packages/check-http/src/lib.rs
  packages/check-http/src/main.rs
  packages/check-http/tests/test_http.rs
Due: none

check_http: Handle empty Output
  packages/check-http/src/checking.rs
Due: none

Remove useless update config actions
  cmk/update_config/plugins/actions/background_jobs.py
  cmk/update_config/plugins/actions/backup.py
  cmk/update_config/plugins/actions/ldap_connection_ids.py
  cmk/update_config/plugins/actions/old_custom_logos.py
  cmk/update_config/plugins/actions/persisted_sections.py
  cmk/update_config/plugins/actions/remote_site_cas.py
  cmk/update_config/plugins/actions/replaced_check_plugins.py
  cmk/update_config/plugins/actions/rulesets.py
  cmk/update_config/plugins/actions/user_attributes.py
  cmk/update_config/plugins/actions/visuals_utils.py
  tests/unit/cmk/update_config/plugins/actions/test_background_jobs.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets.py
  tests/unit/cmk/update_config/plugins/actions/test_update_backup.py
  tests/unit/cmk/update_config/plugins/actions/test_user_attributes.py
  tests/unit/cmk/update_config/plugins/actions/test_visuals_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add missing packages
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

SimpleLevels: allow for lower levels
  cmk/gui/plugins/wato/utils/simple_levels.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove layered graph
  cmk/gui/plugins/metrics/checkmk.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

blank_tapes: make params a dict
  cmk/base/legacy_checks/oracle_diva_csm.py
  cmk/gui/plugins/wato/check_parameters/blank_tapes.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_plugin_vs_wato.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

implement logic to get all instances params
  packages/check-sql/src/ms_sql/api.rs
  packages/check-sql/src/ms_sql/queries.rs
  packages/check-sql/tests/test_ms_sql.rs
Due: none

Remove fetcher information from error message
  cmk/fetchers/_api.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

reduce warnings
  cmk/base/plugins/agent_based/aws_status.py
  cmk/base/plugins/agent_based/elasticsearch_indices.py
  cmk/base/plugins/agent_based/esx_vsphere_vm.py
  cmk/base/plugins/agent_based/graylog_failures.py
  cmk/base/plugins/agent_based/oracle_instance_section.py
  cmk/base/plugins/agent_based/pure_storage_fa_alerts.py
  cmk/base/plugins/agent_based/pure_storage_fa_hardware.py
  cmk/base/plugins/agent_based/pure_storage_fa_volumes.py
  cmk/base/plugins/agent_based/threepar_cpgs.py
  cmk/base/plugins/agent_based/utils/checkmk.py
  cmk/base/plugins/agent_based/utils/interfaces.py
  cmk/gui/background_job/_store.py
  cmk/gui/config.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/wato/pages/fetch_agent_output.py
  cmk/gui/watolib/activate_changes.py
  cmk/gui/watolib/automations.py
  cmk/special_agents/agent_aws_status.py
  cmk/special_agents/agent_elasticsearch.py
  cmk/special_agents/agent_gcp_status.py
  cmk/special_agents/utils/node_exporter.py
  cmk/special_agents/utils_kubernetes/transform_any.py
  cmk/special_agents/utils_kubernetes/transform_json.py
  packages/cmk-agent-receiver/cmk/agent_receiver/checkmk_rest_api.py
  tests/extension_compatibility/output_extensions_sorted_by_downloads.py
  tests/unit/cmk/special_agents/agent_kubernetes/test_agent_kube_statefulsets.py
  tests/unit/cmk/special_agents/test_agent_aws_status.py
  tests/unit/cmk/special_agents/test_agent_gcp_status.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add get_computer_name API
  packages/check-sql/src/ms_sql/api.rs
  packages/check-sql/src/ms_sql/queries.rs
  packages/check-sql/tests/test_ms_sql.rs
Due: none

FIX for Victoria Metrics
  cmk/special_agents/agent_prometheus.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

schemathesis tests: Cleanup after openapi fixes
  tests/schemathesis_openapi/hooks.py
  tests/schemathesis_openapi/settings.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

agent_based api: untangle api and backend
  cmk/base/api/agent_based/inventory_classes.py
  cmk/checkengine/inventory.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

bossock_fibers: make params a dict
  cmk/base/legacy_checks/hitachi_hnas_bossock.py
  cmk/gui/plugins/wato/check_parameters/bossock_fibers.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_plugin_vs_wato.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove layered graph
  cmk/gui/plugins/metrics/network.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix extension compat test
  tests/extension_compatibility/current_extensions_under_test.txt
Due: none

Path conditions:
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
