Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Endpoint to access autocomplete funcionality (Internal)
  cmk/gui/openapi/endpoints/autocomplete/__init__.py
  cmk/gui/openapi/endpoints/autocomplete/request_schemas.py
  cmk/gui/openapi/endpoints/autocomplete/response_schemas.py
  cmk/gui/openapi/registration.py
  cmk/gui/openapi/restful_objects/type_defs.py
  cmk/utils/livestatus_helpers/testing.py
  tests/testlib/rest_api_client.py
  tests/unit/cmk/gui/openapi/test_openapi_autocompleters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Endpoint to access autocomplete funcionality (Internal)
  cmk/gui/plugins/openapi/endpoints/autocomplete/__init__.py
  cmk/gui/plugins/openapi/endpoints/autocomplete/request_schemas.py
  cmk/gui/plugins/openapi/endpoints/autocomplete/response_schemas.py
  cmk/gui/plugins/openapi/restful_objects/type_defs.py
  cmk/utils/livestatus_helpers/testing.py
  tests/testlib/rest_api_client.py
  tests/unit/cmk/gui/plugins/openapi/test_openapi_autocompleters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16327 FIX netapp_ontap_environment: show unit of measurement in summary
  .werks/16327.md
  cmk/plugins/netapp/agent_based/netapp_ontap_environment.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Use 2.3 specific research/cache for bom creation
  buildscripts/scripts/build-cmk-packages.groovy
Due: none

remove unnecessary parameter
  packages/mk-sql/src/ms_sql/client.rs
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

update migration helper
  doc/treasures/migration_helpers/agent_based_v1_v2.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

openapi/service_discovery: use job snapshot for state information
  cmk/gui/plugins/openapi/endpoints/service_discovery/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

services: introduce automation call to fetch service discovery job snapshot
  cmk/gui/wato/pages/services.py
  cmk/gui/watolib/automations.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16465 FIX service discovery: introduce functionality to fetch job status from remote sites
  .werks/16465
  cmk/gui/plugins/openapi/endpoints/service_discovery/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix typing of LegacyCheckDefinition
  cmk/base/api/agent_based/register/utils_legacy.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mk-sql: add sql browser fallback if main instance absent
  packages/mk-sql/src/ms_sql/client.rs
  packages/mk-sql/src/ms_sql/instance.rs
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

fix version of packaged Windows agent
  cmk/utils/msi_engine.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix python-gssapi compilation on SLES12SP5
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Fix python-gssapi compilation on SLES12SP5 #2
  scripts/run-pipenv
Due: none

drop obsolete namespace separation
  cmk/base/check_legacy_includes/temperature.py
  cmk/base/legacy_checks/hp_msa_disk.py
  cmk/base/legacy_checks/intel_true_scale_sensors_temp.py
  cmk/base/legacy_checks/netapp_api_temp.py
  cmk/base/legacy_checks/ucs_bladecenter_fans.py
  cmk/base/legacy_checks/ucs_bladecenter_psu.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_temperature_list: add typing
  cmk/base/check_legacy_includes/temperature.py
  cmk/base/legacy_checks/hp_msa_disk.py
  cmk/base/legacy_checks/netapp_api_temp.py
  cmk/base/legacy_checks/ucs_bladecenter_fans.py
  cmk/base/legacy_checks/ucs_bladecenter_psu.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

temperature: remove obsolete migration
  cmk/base/check_legacy_includes/temperature.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix some unit names
  cmk/gui/graphing/_parser.py
  cmk/gui/utils/rule_specs/legacy_converter.py
  cmk/plugins/aws/graphing/metrics.py
  cmk/plugins/cisco/rulesets/prime_wlan_controller.py
  cmk/plugins/collection/graphing/mqtt.py
  packages/cmk-graphing/cmk/graphing/v1/_unit.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/basic.py
  tests/unit/cmk/gui/graphing/test_parser.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

robotmk_suite: migrate to RuleSpec API
  cmk/gui/plugins/wato/check_parameters/robotmk_suite.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

robotmk: migrate to RuleSpec API
  cmk/gui/plugins/wato/check_parameters/robotmk.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

rmk: remove test exceptions
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_plugin_vs_wato.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16048 Import Azure tags as service labels and provide regex matching
  .werks/16048.md
  cmk/gui/plugins/wato/special_agents/azure.py
  cmk/plugins/collection/server_side_calls/azure.py
  cmk/special_agents/agent_azure.py
  tests/unit/cmk/plugins/collection/server_side_calls/test_azure.py
  tests/unit/cmk/special_agents/agent_azure/test_agent_azure_config.py
  tests/unit/cmk/special_agents/agent_azure/test_agent_azure_process.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16047 Changed host labels for Azure Resource Groups and Virutal Machines
  .werks/16047.md
  cmk/plugins/azure/agent_based/azure_section_labels.py
  cmk/special_agents/agent_azure.py
  tests/unit/cmk/base/plugins/agent_based/test_section_host_label_doc.py
  tests/unit/cmk/base/plugins/agent_based/test_section_properties.py
  tests/unit/cmk/special_agents/agent_azure/test_agent_azure_process.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Azure: import tags as host/service labels
  cmk/base/check_legacy_includes/azure.py
  cmk/base/legacy_checks/azure_databases.py
  cmk/base/legacy_checks/azure_sites.py
  cmk/base/legacy_checks/azure_storageaccounts.py
  cmk/plugins/azure/agent_based/azure_load_balancer.py
  cmk/plugins/azure/agent_based/azure_virtual_machine.py
  cmk/plugins/azure/agent_based/azure_virtual_network_gateways.py
  cmk/plugins/lib/azure.py
  cmk/special_agents/agent_azure.py
  tests/unit/cmk/plugins/lib/test_azure.py
  tests/unit/cmk/special_agents/agent_azure/test_agent_azure_process.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Azure: validate label keys and values
  cmk/plugins/lib/azure.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

unbreak nagios core config generation
  cmk/base/config.py
  cmk/base/core_nagios.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

dns: fix service description and host argument
  cmk/plugins/dns/server_side_calls/active_check.py
  tests/unit/cmk/plugins/dns/server_side_calls/test_active_check.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

form_submit: fix service description
  cmk/plugins/collection/server_side_calls/check_form_submit.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

server side calls: Add new macros to HostConfig
  cmk/base/automations/check_mk.py
  cmk/base/config.py
  cmk/base/core_nagios.py
  cmk/base/server_side_calls/_active_checks.py
  cmk/base/server_side_calls/_special_agents.py
  cmk/base/sources/_builder.py
  packages/cmk-server-side-calls/cmk/server_side_calls/v1/_utils.py
  tests/unit/cmk/base/test_server_side_calls.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix crash on editing attributes in host search
  cmk/gui/wato/pages/_host_attributes.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16401 FIX omd start mkeventd: Error Code of Event Daemon
  .werks/16401
  omd/packages/check_mk/skel/etc/init.d/mkeventd
Due: none

automate generation of Windows agent product in bakery
  cmk/utils/msi_engine.py
  tests/unit/cmk/utils/test_msi_engine.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16401 FIX omd start mkeventd: Error Code of Event Daemon
  .werks/16401.md
  omd/packages/check_mk/skel/etc/init.d/mkeventd
Due: none

16471 FIX Hide private topics in dropdowns
  .werks/16471.md
Due: none
