Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

Tiny restructuring in check_mk_configuration.py
  cmk/gui/plugins/wato/check_mk_configuration.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Show rulesets for assigning hosts and services to groups under "Various"
  cmk/gui/plugins/wato/check_mk_configuration.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11720 FIX Cleanup graphs and check output for network interface checks
  .werks/11720
Due: none

11719 FIX Levels for packet rates for network interface checks
  .werks/11719
Due: none

CMK-6472: Rework utils.interfaces
  cmk/base/plugins/agent_based/cadvisor_if.py
  cmk/base/plugins/agent_based/utils/interfaces.py
  cmk/gui/plugins/wato/check_parameters/interfaces.py
  tests/unit/cmk/base/plugins/agent_based/test_aws_ec2.py
  tests/unit/cmk/base/plugins/agent_based/test_aws_rds.py
  tests/unit/cmk/base/plugins/agent_based/test_cadvisor_if.py
  tests/unit/cmk/base/plugins/agent_based/test_lnx_if.py
  tests/unit/cmk/base/plugins/agent_based/test_netapp_api_if.py
  tests/unit/cmk/base/plugins/agent_based/test_winperf_if.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_interfaces.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_if_parameters.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Update signl4.py
  cmk/notification_plugins/signl4.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix Werk #11720
  .werks/11720
Due: none

Revert "Disable ntop's TopTalkers Dashboard for b2"
  cmk/gui/dashboard.py
  tests/unit/cmk/gui/test_dashboard.py
  tests/unit/cmk/gui/test_gui_config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Rename file extenstions
  doc/sw-architecture/checkmk-processes.puml
  doc/sw-architecture/top-level-blackbox.puml
  doc/sw-architecture/uml-to-png.sh
Due: none

SW-Arch proceedings
  doc/sw-architecture/Dockerfile
  doc/sw-architecture/checkmk-processes.puml
  doc/sw-architecture/globals.iuml
  doc/sw-architecture/top-level-blackbox.puml
  doc/sw-architecture/top-level-white-box.puml
  doc/sw-architecture/uml-to-png.sh
Due: none

Use redis 6.2-rc1 to fix SLES12 compilation
  omd/packages/redis/redis-6.0.9.tar.gz
  omd/packages/redis/redis-6.2-rc1.tar.gz
  omd/packages/redis/redis.make
Due: none

Add python redis client library
  Pipfile
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/redis-3.5.3.tar.gz
Due: omd-python-modules

Remove wrong license header from new file
  omd/packages/redis/skel/etc/init.d/redis
Due: none

Introduce redis for in memory caching
  omd/Makefile
  omd/packages/packages.make
  omd/packages/redis/redis-6.0.9.tar.gz
  omd/packages/redis/redis.make
  omd/packages/redis/skel.permissions
  omd/packages/redis/skel/etc/init.d/redis
  omd/packages/redis/skel/etc/logrotate.d/redis
  omd/packages/redis/skel/etc/rc.d/85-redis
  omd/packages/redis/skel/etc/redis/redis.conf
Due: none

Updated pipfile lock
  Pipfile.lock
Due: none

Temporarily pin pytest to 6.1.2 to fix unit test with coverage issue
  Pipfile
  Pipfile.lock
Due: none

Fix GUI crawl by replacing links to removed pages
  cmk/gui/wato/pages/users.py
  cmk/gui/watolib/groups.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Javascript render numbers with scale prefix
  web/htdocs/js/index.js
  web/htdocs/js/modules/number_format.js
Due: none

Migrate percent and scientific unit rendering to JS
  cmk/utils/render.py
  tests/unit/cmk/utils/test_render.py
  web/htdocs/js/modules/number_format.js
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Migrate physical precision unit render to JS
  web/htdocs/js/modules/number_format.js
Due: none

Migrate Approximated age unit renderer to JS
  cmk/utils/render.py
  web/htdocs/js/modules/number_format.js
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

fix removal of snmp_cache files
  cmk/update_config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Improve unit-tests if legacy agent is absent
  agents/wnx/watest/test-upgrade.cpp
Due: none

[CMK-6766] - imporve source code quality
  agents/wnx/src/common/cfg_info.h
  agents/wnx/src/common/wtools.h
  agents/wnx/src/engine/cap.cpp
  agents/wnx/src/engine/cap.h
  agents/wnx/src/engine/cfg.cpp
  agents/wnx/src/engine/cfg.h
  agents/wnx/src/engine/cfg_details.h
  agents/wnx/src/engine/on_start.cpp
  agents/wnx/src/main/check_mk_service.cpp
  agents/wnx/watest/test-cfg.cpp
  agents/wnx/watest/test-winperf.cpp
  agents/wnx/watest/test-wtools.cpp
Due: none

[CMK-6766] - improve source code quality
  agents/wnx/src/engine/.clang-tidy
  agents/wnx/src/engine/cfg.cpp
  agents/wnx/src/engine/cfg_details.h
Due: none

Reserved 20 Werk IDS
  .werks/first_free
Due: none

REST API: fix documentation
  cmk/gui/plugins/openapi/restful_objects/decorators.py
  cmk/gui/plugins/openapi/restful_objects/specification.py
  cmk/gui/wsgi/applications/rest_api.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11879 ntp: Parametrize discovery via WATO
  .werks/11879
  checkman/ntp
  checkman/ntp_time
  checks/ntp
  cmk/gui/plugins/wato/check_parameters/ntp.py
  tests/unit/checks/test_generic_legacy_conversion.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Layering: Move tests as well
  tests/unit/cmk/base/sources/test_snmp.py
  tests/unit/cmk/core_helpers/test_cache.py
  tests/unit/cmk/core_helpers/test_classic_snmp.py
  tests/unit/cmk/core_helpers/test_controller.py
  tests/unit/cmk/core_helpers/test_factory.py
  tests/unit/cmk/core_helpers/test_fetchers.py
  tests/unit/cmk/core_helpers/test_host_sections.py
  tests/unit/cmk/core_helpers/test_parsers.py
  tests/unit/cmk/core_helpers/test_protocol.py
  tests/unit/cmk/core_helpers/test_snmp_backend.py
  tests/unit/cmk/core_helpers/test_summarizers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
