Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

Revert "Python3-modules are needed for other packages like protobuf and need to be visible"
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

Revert "If building from source, copy sources first for out of source build"
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Remove livestatus section from openwrt agent
  agents/check_mk_agent.openwrt
Due: none

16272 FIX rabbitmq_cluster_messages: Most of the configrable parametes have not been considered
  .werks/16272
  cmk/base/legacy_checks/rabbitmq_cluster.py
  cmk/gui/plugins/wato/check_parameters/rabbitmq_cluster_messages.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Migrate metrics/aws.py
  cmk/gui/plugins/metrics/aws.py
  cmk/plugins/aws/graphing/graphs.py
  cmk/plugins/aws/graphing/metrics.py
  cmk/plugins/aws/graphing/perfometers.py
  cmk/plugins/aws/graphing/translations.py
  tests/unit/cmk/gui/graphing/test_metric_info.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Build python modules more hermetically
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

mkp-tool: simplify packaging outside site context
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

hotfix red integration test
  packages/check-sql/tests/test_ms_sql.rs
Due: none

more consts in windows agent
  agents/wnx/src/engine/onlyfrom.cpp
Due: none

Revert "Fix clang package for version 17 on Ubuntu-20.04"
  buildscripts/infrastructure/build-nodes/scripts/install-clang.sh
Due: none

change timeout to slightly larger and spotable value
  tests/testlib/playwright/plugin.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16162 FIX discovery: better message in case of failing data sources
  .werks/16162
Due: none

fixes conflicting container names in package build
  buildscripts/scripts/build-cmk-distro-package.groovy
Due: none

mkp-tool: drop deprecated command
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16271 FIX logwatch_ec: Duplicate messages forwarded to event console
  .werks/16271
  cmk/base/plugins/agent_based/logwatch.py
  cmk/base/plugins/agent_based/logwatch_ec.py
  cmk/base/plugins/agent_based/utils/logwatch.py
  tests/unit/cmk/base/plugins/agent_based/test_logwatch_ec.py
  tests/unit/cmk/base/plugins/agent_based/test_logwatch_section_batches.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16159 linux-bonding: introduce check for expected bonding mode
  .werks/16159
  cmk/base/plugins/agent_based/bonding.py
  cmk/base/plugins/agent_based/lnx_bonding.py
  cmk/gui/plugins/wato/check_parameters/bonding.py
  cmk/plugins/collection/checkman/bonding
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix EXT_DEPS_PATH
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

16033 FIX Unable to create crash report
  .werks/16033
  cmk/utils/crash_reporting.py
  tests/unit/cmk/utils/test_crash_reporting.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mkp-tool: reclassify commands
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Simplify computing (default) graph range
  cmk/gui/graphing/_artwork.py
  tests/unit/cmk/gui/graphing/test_artwork.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Update filenames and remote URLs of some bazel artifacts
  omd/packages/heirloom-mailx/heirloom-mailx_http.bzl
  omd/packages/mod_wsgi/mod_wsgi_http.bzl
  omd/packages/msitools/msitools_http.bzl
  package_versions.bzl
Due: none

Add test
  cmk/gui/graphing/_artwork.py
  tests/unit/cmk/gui/graphing/test_artwork.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

server-side calls: disable macro replacement is special agents in the new API
  cmk/base/server_side_calls.py
  cmk/base/sources/_builder.py
  cmk/base/sources/_sources.py
  tests/unit/cmk/base/test_server_side_calls.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "16033 FIX Unable to create crash report"
  .werks/16033
  cmk/utils/crash_reporting.py
  tests/unit/cmk/utils/test_crash_reporting.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cert: More readable substr assertions
  packages/check-cert/Cargo.lock
  packages/check-cert/Cargo.toml
  packages/check-cert/tests/badssl.rs
Due: none

check-cert: Test truststore loading
  packages/check-cert/Cargo.lock
  packages/check-cert/Cargo.toml
  packages/check-cert/tests/truststore.rs
Due: none

Make python3-modules visible to other packages
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

test_plugins_update: Avoid saving test-site logs during teardown
  tests/plugins_integration/conftest.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Refactor repo_path(s): str to pathlib.Path
  tests/agent-integration/test_plugin_version_compatibility.py
  tests/code_quality/file_content/test_find_debug_code_web.py
  tests/code_quality/file_content/test_find_debug_print.py
  tests/code_quality/file_content/test_permissions.py
  tests/code_quality/file_content/test_scss_variables.py
  tests/code_quality/test_license_headers.py
  tests/code_quality/test_werks.py
  tests/docker/test_docker.py
  tests/testlib/__init__.py
  tests/testlib/pylint_checker_cmk_module_layers.py
  tests/testlib/site.py
  tests/testlib/utils.py
  tests/unit/cmk/base/plugins/agent_based/test_cisco_mem.py
  tests/unit/cmk/base/plugins/agent_based/test_hr_mem.py
  tests/unit/cmk/base/plugins/agent_based/test_if_brocade_lancom.py
  tests/unit/cmk/base/plugins/agent_based/test_local.py
  tests/unit/cmk/base/plugins/agent_based/test_netapp_api_if.py
  tests/unit/cmk/base/plugins/agent_based/test_proxmox_ve_backup_status.py
  tests/unit/cmk/base/plugins/agent_based/test_proxmox_ve_disk_usage.py
  tests/unit/cmk/base/plugins/agent_based/test_proxmox_ve_node_info.py
  tests/unit/cmk/gui/test_i18n.py
  tests/unit/cmk/plugins_consistency/test_special_agent_args.py
  tests/unit/cmk/special_agents/test_agent_proxmox_ve.py
  tests/unit/cmk/utils/structured_data/test_structured_data.py
  tests/unit/cmk/utils/test_man_pages.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add test; minor cleanup
  cmk/utils/structured_data.py
  tests/unit/cmk/utils/structured_data/test_structured_data.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mkp-tool: separate creation and writing
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix host_checks for nagios
  cmk/base/core_nagios.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mkp-tool: refactor files reporting
  packages/cmk-mkp-tool/cmk/mkp_tool/_reporter.py
  packages/cmk-mkp-tool/cmk/mkp_tool/_unsorted.py
  packages/cmk-mkp-tool/tests/test_reporter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

test_plugins_integration: Avoid saving test-site logs during teardown
  tests/plugins_integration/conftest.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

robotmk_test: Make test go to stale if it has robot:exit tag
  cmk/base/plugins/agent_based/robotmk_test.py
  tests/unit/cmk/base/plugins/agent_based/test_robotmk_test.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

minor improvements/fixes
  packages/cmk-mkp-tool/cmk/mkp_tool/_reporter.py
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

ucd_mem: drop duplicate/dead code
  cmk/base/legacy_checks/ucd_mem.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16226 SEC Privilege escalation in Agent
  .werks/16226
  agents/check_mk_agent.linux
  agents/plugins/mk_site_object_counts
Due: none

change list to Iterable in Plugin param
  cmk/base/api/bakery/artifact_types.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
