Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Reland 18254 FIX Service discovery preview: Do not use cached agent data when rescanning
  .werks/18254.md
  cmk/base/automations/check_mk.py
  cmk/base/sources/_sources.py
  cmk/gui/watolib/services.py
  tests/unit/cmk/gui/openapi/test_openapi_service_discovery.py
  tests/unit/cmk/gui/watolib/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

otel: Ignore resource attribute used for host computation in hash computation
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18174 FIX otel: Return status unknown if metric contains value NaN
  .werks/18174.md
Due: none

Fixed some unformatted files
  packages/cmk-plugin-apis/cmk/inventory_ui/v1_alpha/_node.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixed BUILD file. Added missing headers. Fixed findings.
  packages/cmk-relay-protocols/BUILD
  packages/cmk-relay-protocols/cmk/relay_protocols/monitoring_data.py
  packages/cmk-relay-protocols/cmk/relay_protocols/tasks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix ups checks with Python ValueError exceptions
  cmk/base/legacy_checks/ups_in_voltage.py
  cmk/base/legacy_checks/ups_out_voltage.py
  cmk/plugins/collection/agent_based/ups_out_load.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Special Agent Prometheus: fix authentication error. Parameter is parsed as reference not as value
  cmk/plugins/prometheus/server_side_calls/special_agent.py
  tests/unit/cmk/plugins/prometheus/server_side_calls/test_special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rabbitmq_queues: Move after migration to new APIs
  cmk/checkengine/plugin_backend/_discover.py
  cmk/gui/utils/rule_specs/loader.py
  cmk/plugins/rabbitmq/agent_based/queues.py
  cmk/plugins/rabbitmq/rulesets/queues.py
  tests/unit/cmk/plugins/rabbitmq/agent_based/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18256 FIX rabbitmq_queues: Apply levels on published messages
  .werks/18256.md
  cmk/base/legacy_checks/rabbitmq_queues.py
  tests/unit/cmk/base/legacy_checks/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rabbitmq_queues: Add tests for API v2 migration
  tests/unit/checks/generictests/datasets/rabbitmq_queues.py
  tests/unit/cmk/base/legacy_checks/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rabbitmq_queues: Migrate to Check API v2, ruleset API v1
  cmk/base/legacy_checks/rabbitmq_queues.py
  cmk/checkengine/plugin_backend/_discover.py
  cmk/gui/plugins/wato/check_parameters/rabbitmq_queues.py
  cmk/gui/utils/rule_specs/loader.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/legacy_checks/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18257 FIX rabbitmq_queues: Differentiate between queues on different vhosts
  .werks/18257.md
  cmk/plugins/rabbitmq/agent_based/queues.py
  cmk/plugins/rabbitmq/special_agent/agent_rabbitmq.py
  tests/unit/cmk/plugins/rabbitmq/agent_based/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-oracle: add config processing in command line
  packages/mk-oracle/cargo_run
  packages/mk-oracle/src/config/authentication.rs
  packages/mk-oracle/src/emit.rs
  packages/mk-oracle/src/ora_sql/backend.rs
  packages/mk-oracle/src/ora_sql/instance.rs
  packages/mk-oracle/src/ora_sql/section.rs
  packages/mk-oracle/src/ora_sql/system.rs
  packages/mk-oracle/src/ora_sql/types.rs
  packages/mk-oracle/tests/files/test-mini.yml
Due: none

Add icons to AgentSlideout buttons
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
Due: none

Adapt Agent install slidein to design
  packages/cmk-frontend-vue/src/components/CmkCode.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentInstallSlideOutContent.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
Due: none

unit tests: add test to validate form size limits.
  tests/unit/cmk/gui/test_http.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rabbitmq_queues: Migrate to Check API v2, ruleset API v1
  cmk/base/legacy_checks/rabbitmq_queues.py
  cmk/gui/plugins/wato/check_parameters/rabbitmq_queues.py
  cmk/plugins/rabbitmq/agent_based/queues.py
  cmk/plugins/rabbitmq/rulesets/queues.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/legacy_checks/test_rabbitmq_queues.py
  tests/unit/cmk/plugins/rabbitmq/agent_based/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18257 FIX rabbitmq_queues: Differentiate between queues on different vhosts
  .werks/18257.md
  cmk/plugins/rabbitmq/agent_based/queues.py
  cmk/special_agents/agent_rabbitmq.py
  tests/unit/cmk/plugins/rabbitmq/agent_based/test_rabbitmq_queues.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

fix(unified-search) adjust unique filter for recent searches
  packages/cmk-frontend-vue/src/lib/unified-search/searchHistory.ts
Due: none

fix(unified-search) force only lowercase search queries
  packages/cmk-frontend-vue/src/lib/unified-search/providers/unified.ts
Due: none

Add content to service discovery agent download slideout
  cmk/gui/wato/pages/services.py
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/AgentConnectionTest.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentInstallSlideOutContent.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentRegisterSlideOutContent.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadApp.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
  packages/cmk-shared-typing/source/setup.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18277 FIX Agent controller communication
  .werks/18277.md
  packages/cmk-agent-receiver/cmk/agent_receiver/checkmk_rest_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix mode_host shared typing required fields
  packages/cmk-shared-typing/source/mode_host.json
Due: none

Add job to update python deps regularly
  buildscripts/scripts/create-dependency-update-changeset.groovy
  scripts/update_python_libs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix e2e test
  tests/gui_e2e/testlib/playwright/pom/page.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_prism: Fix regression in HA monitoring of KVM based AHV hypervisor setups
  .werks/18096.md
  cmk/special_agents/agent_prism.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

local: fix typo in checkman documentation
  cmk/plugins/collection/checkman/local
Due: none

Better func name
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move static method out of class
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix alignment
  cmk/gui/views/inventory/_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'alignment_class' -> 'css_class'
  cmk/gui/views/inventory/_tree_renderer.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
