Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Revert "metric-backend: add internal names_with_types API endpoint"
  tests/testlib/rest_api_client.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

first step: capture stderr of sendmail and encode it into the Exception message.
  cmk/utils/mail.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

update rust bytes to 1.12.0
  packages/check-http/Cargo.lock
  packages/cmk-agent-ctl/Cargo.lock
Due: none

test(CMK-34188): verify relay MSI is served by the site
  omd/packages/check_mk/skel/etc/check_mk/apache.conf
  tests/integration/omd/test_web_access.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Refactor detection logic for Vutlan EMS
  cmk/plugins/vutlan/lib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrations: bin/BUILD
  doc/documentation/arch-migrations.rst
Due: sphinx

graphing: add the stacked-area renderer
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/render/stacked.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/render/stacked.test.ts
Due: none

graphing: add M4 decimation for time-series data
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/decimation/decimate.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/decimation/decimate.test.ts
Due: none

graphing: add the horizontal-lines renderer
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/render/horizontalLines.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/render/horizontalLines.test.ts
Due: none

graphing: add the per-metric draw dispatcher
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/render/index.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/render/index.test.ts
Due: none

graphing: add the axis and grid rendering composable
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/useAxes.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/useAxes.test.ts
Due: none

cmk-frontend: note number_format helpers re-implemented in the Vue graph
  packages/cmk-frontend/src/js/modules/number_format.ts
Due: none

graphing: add the M4 line renderer
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/render/line.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/render/line.test.ts
Due: none

graphing: add M4 bucket render transforms (consolidation, inversion)
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/render/bucket.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/render/bucket.test.ts
Due: none

graphing: add nice-number value-axis domain helpers
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/axes/tickStepping.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/axes/tickStepping.test.ts
Due: none

graphing: add x/y scales and value-axis domain computation
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/axes/valueAxis.ts
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/scales.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/axes/valueAxis.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/scales.test.ts
Due: none

mk-oracle: always run instance discovery regardless of hostname
  packages/mk-oracle/src/config/ora_sql.rs
  packages/mk-oracle/tests/common/tools.rs
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

composition tests: deflake 'test_config_sync_source_remote_diff_customer'
  tests/composition/cmk/piggyback/test_piggyback.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: drop unresolved curves by presence
  packages/cmk-graphing-engine/cmk/graphing_engine/_evaluate.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/tests/test_protocol.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: trim unused public exports
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: simplify evaluate_title
  packages/cmk-graphing-engine/cmk/graphing_engine/_evaluate.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_title.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: source curve display from the definition
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_evaluate.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_fetch.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_from_api.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_template.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_translate.py
  packages/cmk-graphing-engine/tests/test_evaluate.py
  packages/cmk-graphing-engine/tests/test_fetch.py
  packages/cmk-graphing-engine/tests/test_from_api.py
  packages/cmk-graphing-engine/tests/test_lifecycle.py
  packages/cmk-graphing-engine/tests/test_protocol.py
  packages/cmk-graphing-engine/tests/test_template.py
  packages/cmk-graphing-engine/tests/test_translate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

forti*: add baseline regression tests for cpu util
  tests/unit/cmk/legacy_checks/test_fortigate_cpu.py
  tests/unit/cmk/legacy_checks/test_fortisandbox_cpu_util.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: Fix false error reports during site creation
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Revert "Reapply "Adapt update compatibility after bump to 3.0.0""
  packages/cmk-ccc/cmk/ccc/version.py
  tests/testlib/version.py
  tests/update/base_versions_previous_branch.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: collapse the evaluated vertical range behind a discriminator
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_evaluate.py
  packages/cmk-graphing-engine/tests/test_evaluate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-graphing-engine: split discovery from the time-series fetch
  packages/cmk-graphing-engine/cmk/graphing_engine/__init__.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_evaluate.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_fetch.py
  packages/cmk-graphing-engine/cmk/graphing_engine/_objects.py
  packages/cmk-graphing-engine/tests/test_evaluate.py
  packages/cmk-graphing-engine/tests/test_lifecycle.py
  packages/cmk-graphing-engine/tests/test_protocol.py
  packages/cmk-graphing-engine/tests/test_template.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(mon-pages): fix CmkSearchInput styling
  packages/cmk-frontend-vue/src/components/CmkSearchInput.vue
  packages/cmk-frontend-vue/tests/components/CmkSearchInput.test.ts
Due: none

fix(mon-pages): skip loading skeleton in ucl app
  packages/cmk-frontend-vue/ui-component-library/monitoring/UclColumnPinning.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/UclTableColumnFilters.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/cell/UclBaseCell.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/cell/UclCheckboxCell.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/cell/UclNumberCell.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/cell/UclStateCell.vue
  packages/cmk-frontend-vue/ui-component-library/monitoring/cell/UclStringCell.vue
Due: none

style(mon-pages): fix app padding
  packages/cmk-frontend-vue/src/monitoring/all-hosts/AllHostsApp.vue
Due: none

fix(mon-pages): fix 1px scroll of pinned th and cols
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTable.vue
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTableContext.ts
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTableHeader.vue
Due: none

fix(mon-pages): fix width calculation of mon tables
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTable.vue
Due: none

fix(mon-pages): rename FilterDorpdown Cancle button to Close
  packages/cmk-frontend-vue/src/monitoring/shared/components/filter/FilterDropdown.vue
  packages/cmk-frontend-vue/tests/monitoring/shared/components/filter/FilterDropdown.test.ts
Due: none

fix(mon-pages): flip filterdropdown left as default
  packages/cmk-frontend-vue/src/monitoring/shared/components/filter/FilterDropdown.vue
Due: none

style(mon-pages): adjust sort icon behavior
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTableHeader.vue
Due: none

style(mon-pages): align table header according column def
  packages/cmk-frontend-vue/src/monitoring/shared/components/MonitoringTableHeader.vue
Due: none
