Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Add load method to SiteBrokerCertificate
  cmk/utils/certs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add update action for Broker Certificates
  cmk/update_config/plugins/actions/update_broker_certs.py
  packages/cmk-messaging/cmk/messaging/_config.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

check_httpv2: Reword check output of regex searches
  packages/check-http/src/checks.rs
Due: none

check_httpv2: Change all failing text/regex matchers to CRIT
  packages/check-http/src/checks.rs
Due: none

check_httpv2: Fix Check output
  packages/check-http/src/checks.rs
Due: none

check_httpv2: Add test case
  packages/check-http/src/checks.rs
Due: none

check_httpv2: Ruleset: Switch to CRITICAL for all failing string searches
  cmk/plugins/collection/rulesets/httpv2.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

check_httpv2: Fix header matching
  packages/check-http/src/checks.rs
Due: none

pom.setup.distributed_monitoring: Turn warning into info
  tests/gui_e2e/testlib/playwright/pom/setup/distributed_monitoring.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "OTel: Cleanup host name computation from OTel collector configurations"
  tests/unit/cmk/gui/test_autocompleters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: add missing checkman documentation
  cmk/plugins/cisco_meraki/checkman/cisco_meraki_org_appliance_performance
  cmk/plugins/cisco_meraki/checkman/cisco_meraki_org_appliance_uplinks
  cmk/plugins/cisco_meraki/checkman/cisco_meraki_org_appliance_vpns
Due: none

age form spec generator now supports help_text
  cmk/gui/form_specs/generators/age.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

add missing dependencies
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

groovy-lint: trigger stage on changed rc file
  buildscripts/scripts/stages.yml
Due: none

groovy-lint: enable FieldTypeRequired
  bazel/tools/.groovylintrc.json
Due: none

groovy-lint: enable IfStatementCouldBeTernary
  bazel/tools/.groovylintrc.json
Due: none

[OTel-QA] Cleanup host name computation from OTel collector
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_prometheus_scraping.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_receiver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test: make test registration use the certs
  tests/pylint/checker_cmk_module_layers.py
  tests/testlib/openapi_session.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "gui-e2e: update skip messages."
  tests/gui_e2e/test_analyze_configuration.py
  tests/gui_e2e/test_rules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix rebase mistake
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIcon.vue
Due: none

FormTimeSpan missed label
  packages/cmk-frontend-vue/src/form/private/forms/FormTimeSpan/FormTimeSpan.vue
Due: none

18729 Add cipher suite ID support for IPMI special agent
  .werks/18729.md
  cmk/plugins/ipmi/rulesets/special_agent.py
  cmk/plugins/ipmi/server_side_calls/special_agent.py
  cmk/plugins/ipmi/special_agent/agent_ipmi_sensors.py
  tests/unit/cmk/plugins/ipmi/rulesets/test_special_agent.py
  tests/unit/cmk/plugins/ipmi/server_side_calls/test_special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

confg generation: fix password_store file creation
  cmk/base/core/interface/_control.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "18986 Update OpenSSL to version 3.5.4 (LTS)"
  .werks/18986.md
  MODULE.bazel
  bazel/thirdparty/modules/openssl/3.0.16.cmk.1/MODULE.bazel
  bazel/thirdparty/modules/openssl/3.0.16.cmk.1/overlay/BUILD.bazel
  bazel/thirdparty/modules/openssl/3.0.16.cmk.1/overlay/MODULE.bazel
  bazel/thirdparty/modules/openssl/3.0.16.cmk.1/source.json
  bazel/thirdparty/modules/openssl/3.5.4.cmk.1/source.json
  bazel/thirdparty/modules/openssl/metadata.json
  bazel/thirdparty/modules/openssl_static/3.0.16.cmk.1/MODULE.bazel
  bazel/thirdparty/modules/openssl_static/3.0.16.cmk.1/overlay/BUILD.bazel
  bazel/thirdparty/modules/openssl_static/3.0.16.cmk.1/overlay/MODULE.bazel
  bazel/thirdparty/modules/openssl_static/3.0.16.cmk.1/source.json
  bazel/thirdparty/modules/openssl_static/3.5.4.cmk.1/source.json
  bazel/thirdparty/modules/openssl_static/metadata.json
  buildscripts/infrastructure/build-nodes/scripts/install-openssl.sh
  buildscripts/infrastructure/build-nodes/scripts/install-python.sh
Due: none

Move 'plugins_consistency' tests
  tests/Makefile
  tests/plugins_siteless/conftest.py
  tests/plugins_siteless/plugins_consistency/conftest.py
  tests/plugins_siteless/plugins_consistency/test_active_checks.py
  tests/plugins_siteless/plugins_consistency/test_builtin_dashboards_integrity.py
  tests/plugins_siteless/plugins_consistency/test_graphing_plugins.py
  tests/plugins_siteless/plugins_consistency/test_man_pages.py
  tests/plugins_siteless/plugins_consistency/test_plugin_vs_wato.py
  tests/plugins_siteless/plugins_consistency/test_section_host_label_doc.py
  tests/plugins_siteless/plugins_consistency/test_section_properties.py
  tests/plugins_siteless/plugins_consistency/test_special_agents.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Implement UI for delegated OAuth2 flow with MS Graph API
  cmk/gui/common_registration.py
  cmk/gui/oauth2/__init__.py
  cmk/gui/oauth2/registration.py
  cmk/gui/oauth2/wato/__init__.py
  cmk/gui/oauth2/wato/_modes.py
  cmk/gui/oauth2/wato/_pages.py
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/package.json
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/mode-oauth2-connection/ModeCreateOAuth2ConnectionApp.vue
  packages/cmk-frontend-vue/src/mode-oauth2-connection/ModeRedirectOAuth2ConnectionApp.vue
  packages/cmk-frontend-vue/src/mode-oauth2-connection/lib/service/oauth2-connection-api.ts
  packages/cmk-frontend-vue/src/mode-oauth2-connection/lib/waitForRedirect.ts
  packages/cmk-frontend-vue/src/mode-oauth2-connection/steps/AuthorizeApplication.vue
  packages/cmk-frontend-vue/src/mode-oauth2-connection/steps/DefineParams.vue
  packages/cmk-shared-typing/BUILD
  packages/cmk-shared-typing/source/mode_oauth2_connection.json
  pnpm-lock.yaml
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

CmkInput: add type password
  packages/cmk-frontend-vue/demo/components/user-input/DemoCmkInput.vue
  packages/cmk-frontend-vue/src/components/user-input/CmkInput.vue
Due: none

Pass consolidation function I
  cmk/gui/dashboard/dashlet/dashlets/graph.py
  cmk/gui/graphing/_explicit_graphs.py
  cmk/gui/graphing/_graph_images.py
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/graphing/_graph_templates.py
  cmk/gui/graphing/_html_render.py
  tests/testlib/unit/rest_api_client.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
  tests/unit/cmk/gui/openapi/test_openapi_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix consolidation via REST-API
  cmk/gui/graphing/_rrd.py
  tests/unit/cmk/gui/openapi/test_openapi_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "18984 Allow configuration of site certificate subject alternative names"
  .werks/18984.md
  cmk/gui/cmkcert.py
  cmk/gui/plugins/config/base.py
  cmk/gui/wato/_check_mk_configuration.py
  cmk/gui/wato/pages/certificate_rotation.py
  cmk/gui/watolib/config_domain_name.py
  cmk/gui/watolib/config_domains.py
  cmk/gui/watolib/registration.py
  cmk/utils/certs.py
  omd/packages/omd/omdlib/finalize.py
  tests/unit/cmk/gui/test_gui_config.py
  tests/unit/cmk/gui/watolib/test_watolib.py
  tests/unit/cmk/utils/test_certs.py
  tests/unit/omdlib/test_certs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update the breadcrumb padding
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardBreadcrumb/DashboardBreadcrumb.vue
  packages/cmk-frontend/src/themes/facelift/scss/_page_menu.scss
  packages/cmk-frontend/src/themes/facelift/scss/_variables_common.scss
Due: none

19025 FIX infoblox_service: Fix support for NIOS 9.X
  .werks/19025.md
  cmk/plugins/collection/agent_based/infoblox_services.py
  tests/unit/cmk/plugins/collection/agent_based/test_infobox_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

dashboard: save dashboard & mandatory runtime filters
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
Due: none

dashboard: hide filter button in edit mode
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/DashboardMenuHeader.vue
Due: none

Reapply "22725 implemented CheckmkTarArchive to securely handle tarfile extractions""
  buildscripts/scripts/build-cmk-container.py
  cmk/BUILD
  cmk/gui/openapi/restful_objects/content_decoder.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/gui/watolib/activate_changes.py
  cmk/gui/watolib/backup_snapshots.py
  omd/packages/omd/omdlib/backup.py
  omd/packages/omd/omdlib/main.py
  omd/packages/omd/omdlib/tmpfs.py
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/archive.py
  packages/cmk-ccc/tests/test_archive.py
  tests/pylint/checker_cmk_module_layers.py
  tests/unit/cmk/gui/watolib/test_backup_snapshots.py
  tests/unit/omdlib/test_omdlib_backup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refac(ai-button): restruct fo explicit typing of template data
  packages/cmk-frontend-vue/src/ai/lib/ai-api-client.ts
  packages/cmk-frontend-vue/src/ai/lib/service/ai-template.ts
  packages/cmk-shared-typing/source/ai_button.json
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
