Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, futurize, mypy, shebang, licence, absolute-imports

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-docstring-first
          - id: check-yaml
          - id: end-of-file-fixer
#    - repo: https://github.com/pre-commit/mirrors-scss-lint
#      rev: v0.59.0
#      hooks:
#          - id: scss-lint
#            files: \.scss$
    - repo: local
      hooks:
          - id: yapf
            name: Check yapf
            entry: scripts/check-yapf -i
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: futurize
            name: Check futurize
            entry: scripts/check-futurize
            language: script
            types: [file, python]
          - id: mypy
            name: Check types with mypy
            entry: scripts/check-mypy
            language: script
            types: [file, python]
          - id: shebang
            name: Check shebang lines
            entry: scripts/check-shebang
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports
            language: script
            types: [file, python]

11146 mkp_prometheus: addition of mkp version 1.1
  .werks/11146
  omd/packages/check_mk/optional_packages/prometheus-1.0.mkp
  omd/packages/check_mk/optional_packages/prometheus-1.1.mkp
Due: none

Notify via Mail
  buildscripts/scripts/lib/notify.groovy
Due: none

Remove obsolete suppressions
  cmk/base/data_sources/ipmi.py
  cmk/base/data_sources/piggyback.py
  cmk/base/data_sources/programs.py
  cmk/base/data_sources/snmp.py
  cmk/base/data_sources/tcp.py
  cmk/base/modes/check_mk.py
  cmk/base/snmp.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Remove one dependency on config from base.snmp
  cmk/base/modes/check_mk.py
  cmk/base/snmp.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Synched Pipfile template.
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

10992 FIX Check_MK Service: Fix "'ascii' codec can't decode byte" while collecting service results
  .werks/10992
  cmk_base/data_sources/tcp.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

10992 FIX Check_MK Service: Fix "'ascii' codec can't decode byte" while collecting service results
  .werks/10992
Due: none

Fix broken netapp / vsphere special agent config since Py3 migration
  cmk/gui/plugins/wato/datasource_programs.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

We use a Python 3.8 YAPF even for Python 2 code.
  .travis.yml
Due: none

Update PyYAML 5.3 => 5.3.1 because of CVE-2020-1747.
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/PyYAML-5.3.1.tar.gz
  omd/packages/python3-modules/src/PyYAML-5.3.tar.gz
  virtual-envs/3.8/Pipfile
  virtual-envs/3.8/Pipfile.lock
Due: omd-python-modules

Updated binutil 2.33.1 => 2.34.
  buildscripts/infrastructure/build-nodes/scripts/install-gnu-toolchain.sh
Due: none

services: refactoring of services.py extracting logic from gui code
  cmk/gui/wato/pages/services.py
  cmk/gui/watolib/services.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11032 FIX Fixed consideration of local 'old style' perfometer customizations
  .werks/11032
  cmk/gui/plugins/views/perfometers/__init__.py
  cmk/gui/views.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

bugfix Werk 7966: allow rule hosttag operators or and nor, too.
  cmk/gui/plugins/webapi/webapi.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Some simplification of recent patch
  cmk/gui/plugins/webapi/webapi.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11077 FIX Web API: Fix set_hosttags call when any rule uses "one of" or "none of" tag conditions
  .werks/11077
Due: none

Revert "Revert "Make write(2) non-blocking""
  livestatus/src/Makefile.am
  livestatus/src/OutputBuffer.cc
  livestatus/src/SocketUtils.cc
  livestatus/src/SocketUtils.h
Due: none

Re-enable Python Module build(instead of re-use)
  agents/modules/windows/build_the_cached.cmd
Due: none

Fix exception when trying to edit rules with folder, host, service context
  cmk/gui/wato/pages/rulesets.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

mk_mongodb: Allow specification of host parameter for MongoClient
  agents/cfg_examples/mk_mongodb.cfg
  agents/plugins/mk_mongodb
  agents/plugins/mk_mongodb.py2
Due: none

Regenerated Pipfile.lock, which bumps mypy 0.770 => 0.780.
  virtual-envs/3.8/Pipfile.lock
Due: none

Fixes for mypy 0.780.
  active_checks/check_bi_aggr
  cmk/base/notify.py
  cmk/gui/bi.py
  cmk/gui/plugins/views/availability.py
  cmk/gui/valuespec.py
  cmk/notification_plugins/asciimail.py
  omd/packages/omd/omdlib/config_hooks.py
  tests-py3/integration/cmk/base/snmp/test_snmp.py
  tests-py3/integration/cmk/utils/test_snmp_table.py
  tests-py3/unit/cmk/gui/test_htmllib_html_cls.py
  tests-py3/unit/cmk/gui/utils/test_transaction_manager.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Add Cython package for numpy's sake...
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/Cython-0.29.19.tar.gz
  virtual-envs/3.8/Pipfile
  virtual-envs/3.8/Pipfile.lock
Due: omd-python-modules

checking/discovery: prepare code deduplication I
  cmk/base/checking.py
  cmk/base/discovery.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

checking/discovery: prepare code deduplication III
  cmk/base/discovery.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

checking/discovery: prepare code deduplication II
  cmk/base/checking.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: fall back to str() when resolving legacy name
  cmk/base/api/agent_based/register/check_plugins_legacy.py
  cmk/base/config.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

[checkpoint_vsx] Fix: discovers no virtual systems
  checks/checkpoint_vsx
  cmk/base/plugins/agent_based/checkpoint_vsx.py
  tests-py3/unit/checks/generictests/datasets/checkpoint_vsx.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

adds snmp_info dummy back to pass python3 unit tests
  checks/checkpoint_vsx
Due: none

Invalidate existing mod_wsgi cache after Python update
  omd/packages/python3-mod_wsgi/python3-mod_wsgi.make
Due: none

CMK-4022: Migrate cmk_update_agent.py to Python3
  tests-py3/composition/conftest.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Diagnostics: Separate title and infos
  cmk/base/diagnostics.py
  tests-py3/unit/cmk/base/test_diagnostics.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Added WK10538: Improved livestatus query performance on some gui pages/features
  .werks/10538
  livestatus/api/python/livestatus.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Removed superfluous Python 2 compatibility.
  cmk/special_agents/utils.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports
