Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

agent receiver: inject ConfigTaskFactory in GetTasksHandler
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/get_tasks.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixup werks version after 2.3.0p38+security release
  .werks/18184.md
  .werks/18364.md
Due: none

Fixup werks version after 2.4.0p13+security release
  .werks/18358.md
  .werks/18526.md
  .werks/18592.md
  .werks/18655.md
Due: none

Include 2.2.0p46 in base-versions list for update-test
  tests/update/base_versions_previous_branch.json
Due: none

Revert "18098 FIX Agent baking is now triggered when upgrading from Raw to Enterprise Edition"
  .werks/18098.md
Due: none

Include 2.2.0p46 in base-versions list for update-test
  tests/update/base_versions_current_branch.json
Due: none

Disable RHEL-10
  editions.yml
Due: none

Revert "Get rid of ReportStore"
  cmk/gui/dashboard/visual_type.py
  cmk/gui/views/visual_type.py
  cmk/gui/visuals/_add_to_visual.py
  cmk/gui/visuals/_store.py
  cmk/gui/visuals/type/_base.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify mypy config a bit
  cmk/bi/actions.py
  cmk/bi/aggregation_functions.py
  cmk/bi/node_vis.py
  cmk/bi/search.py
  cmk/bi/trees.py
  cmk/gui/fields/attributes.py
  cmk/gui/fields/definitions.py
  cmk/gui/ldap/_openapi/request_schemas.py
  cmk/gui/ldap/_openapi/response_schemas.py
  cmk/gui/mkeventd/_openapi/request_schemas.py
  cmk/gui/openapi/endpoints/acknowledgement/request_schemas.py
  cmk/gui/openapi/endpoints/comment/request_schemas.py
  cmk/gui/openapi/endpoints/contact_group_config/common.py
  cmk/gui/openapi/endpoints/downtime/request_schemas.py
  cmk/gui/openapi/endpoints/downtime/response_schemas.py
  cmk/gui/openapi/endpoints/global_settings/schemas.py
  cmk/gui/openapi/endpoints/metric/request_schemas.py
  cmk/gui/openapi/endpoints/notification_rules/request_schemas.py
  cmk/gui/openapi/endpoints/notification_rules/response_schemas.py
  cmk/gui/openapi/endpoints/parent_scan/request_schemas.py
  cmk/gui/openapi/endpoints/quick_setup/response_schemas.py
  cmk/gui/openapi/endpoints/rule/fields.py
  cmk/gui/openapi/endpoints/user_config/request_schemas.py
  cmk/gui/openapi/marshmallow_converter/type_defs.py
  cmk/gui/openapi/restful_objects/response_schemas.py
  cmk/gui/openapi/spec/spec_generator/_core.py
  cmk/notification_plugins/opsgenie_issues.py
  cmk/plugins/aws/agent_based/aws_status.py
  cmk/plugins/azure_deprecated/special_agent/agent_azure.py
  cmk/plugins/azure_status/special_agent/agent_azure_status.py
  cmk/plugins/azure_v2/special_agent/azure_api_client.py
  cmk/plugins/storeonce4x/special_agent/agent_storeonce4x.py
  cmk/special_agents/v0_unstable/misc.py
  packages/cmk-werks/tests/vcr_injector/sitecustomize.py
  pyproject.toml
  tests/unit/cmk/gui/openapi/test_openapi_global_settings.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Radically simplify mypy config
  bin/cmk-piggyback
  bin/mkbackup
  cmk/ec/actions.py
  cmk/ec/main.py
  cmk/ec/rule_packs.py
  cmk/ec/snmp.py
  cmk/gui/availability.py
  cmk/gui/background_job/_interface.py
  cmk/gui/config.py
  cmk/gui/fields/base.py
  cmk/gui/fields/definitions.py
  cmk/gui/ldap/_openapi/request_schemas.py
  cmk/gui/ldap/_openapi/response_schemas.py
  cmk/gui/notifications.py
  cmk/gui/session.py
  cmk/gui/sites.py
  cmk/gui/type_defs.py
  cmk/gui/visual_link.py
  cmk/gui/weblib.py
  cmk/notification_plugins/opsgenie_issues.py
  cmk/plugins/emailchecks/lib/check_mail.py
  cmk/update_config/https/commands.py
  packages/cmk-mkp-tool/cmk/mkp_tool/cli.py
  packages/cmk-plugin-apis/cmk/agent_based/legacy/_loading.py
  packages/cmk-plugin-apis/cmk/agent_based/legacy/v0_unstable.py
  packages/cmk-plugin-apis/cmk/agent_based/v1/_check_levels.py
  packages/cmk-plugin-apis/cmk/agent_based/v1/_checking_classes.py
  packages/cmk-plugin-apis/cmk/agent_based/v1/_value_store_utils.py
  packages/cmk-plugin-apis/cmk/agent_based/v1/value_store.py
  packages/cmk-plugin-apis/cmk/agent_based/v2/_plugins.py
  packages/cmk-plugin-apis/cmk/inventory_ui/v1_alpha/_types.py
  packages/cmk-plugin-apis/cmk/rulesets/v1/form_specs/_composed.py
  packages/cmk-plugin-apis/cmk/rulesets/v1/form_specs/_migrations.py
  pyproject.toml
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

timeperiods: pass down evaluator
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/config.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  cmk/base/notify.py
  cmk/checkengine/discovery/_preview.py
  cmk/checkengine/parameters.py
  tests/plugins_siteless/test_plugins.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

adjust layer checker
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reapply "Get rid of ReportStore"
  cmk/gui/dashboard/visual_type.py
  cmk/gui/views/visual_type.py
  cmk/gui/visuals/_add_to_visual.py
  cmk/gui/visuals/_store.py
  cmk/gui/visuals/type/_base.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18136 Show all disabled services in discovery
  .werks/18136.md
  cmk/gui/watolib/services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: connect edit dashboard settings
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/DashboardSettingsWizard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/dashboard-settings/DashboardSettingsWizard.vue
Due: none

18158 FIX cmk-migrate-http: Handle virtual host without host correctly
  .werks/18158.md
  cmk/update_config/https/conflicts.py
  cmk/update_config/https/migrate.py
  tests/unit/cmk/update_config/https/test_migrate.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix e2e tests
  tests/gui_e2e/test_asvs.py
  tests/gui_e2e/test_change_password.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-update: Fix tests
  tests/update/helpers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix flakiness on e2e test_hosts.py::test_bulk_csv_upload_form test
  tests/gui_e2e/test_hosts.py
  tests/gui_e2e/testlib/playwright/pom/setup/hosts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

migrate systemtime (1/2)
  cmk/base/legacy_checks/systemtime.py
  cmk/checkengine/plugin_backend/_discover.py
  tests/unit/cmk/base/legacy_checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/legacy_checks/test_systemtime.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Re: ppa:ubuntu-toolchain-r/test
  .github/workflows/pr.yaml
Due: none

dashboard: services overview title fix
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/ServicesOverviewWizard.vue
Due: none

migrate systemtime (2/2)
  cmk/base/legacy_checks/systemtime.py
  cmk/checkengine/plugin_backend/_discover.py
  cmk/plugins/collection/agent_based/systemtime.py
  tests/unit/cmk/base/legacy_checks/test_systemtime.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: align widget selection in service overview
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/components/WidgetSelection.vue
Due: none

18665 FIX Servicenow: Fix handling of "Use site ID prefix" option
  .werks/18665.md
Due: none

added form spec version for filesystem_utils
  cmk/gui/plugins/wato/check_parameters/filesystem_utils_form_spec.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent receiver: ConfigTaskFactory can create task for chosen relay
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/activate_config.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/config_task_factory.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_config_task_factory.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

services: improve typing of discovery params
  cmk/plugins/collection/agent_based/services.py
  tests/unit/cmk/plugins/collection/agent_based/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

services: fix service discovery matching
  cmk/plugins/collection/agent_based/services.py
  tests/unit/cmk/plugins/collection/agent_based/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test(services): improve coverage and add xfails
  tests/unit/cmk/plugins/collection/agent_based/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

services: move settings check to helper
  cmk/plugins/collection/agent_based/services.py
  tests/unit/cmk/plugins/collection/agent_based/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test(services): add desc to discovery cases
  tests/unit/cmk/plugins/collection/agent_based/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix: don't show full user object in added change
  cmk/gui/watolib/users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent receiver: creating relay config tasks when relay sends stale serial
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/get_tasks.py
  packages/cmk-agent-receiver/tests/component/test_activate_config.py
  packages/cmk-agent-receiver/tests/component/test_max_number_of_tasks_per_relay.py
  packages/cmk-agent-receiver/tests/component/test_registration.py
  packages/cmk-agent-receiver/tests/component/test_store_fetching_tasks.py
  packages/cmk-agent-receiver/tests/component/test_task_expires_in_agent_receiver.py
  packages/cmk-agent-receiver/tests/component/test_update_config_outdated_serial.py
  packages/cmk-agent-receiver/tests/component/test_update_task.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
