Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Update tracing-subscriber
  packages/site/Cargo.lock
Due: none

update actions: remove cleanup duplicate notifcation parameters
  cmk/update_config/plugins/actions/cleanup_duplicate_notification_parameters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

FIX page_show_dashboard: add missing attributes part 2
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

metric_backend special_agent query clickhouse database
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18710 FIX saml: editing existing configuration
  .werks/18710.md
Due: none

proxmox_ve: Move Proxmox rulesets from Virtualization to Cloud Topic
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_disk_throughput_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_disk_usage_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_ha_manager_status.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_mem_usage_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_network_throughput_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_node_cpu_allocation.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_node_info_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_node_mem_allocation.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_replication.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_snapshot_age_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_vm_backup_status_params.py
  cmk/plugins/proxmox_ve/rulesets/proxmox_ve_vm_info_params.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui-e2e: update skip messages.
  tests/gui_e2e/test_analyze_configuration.py
  tests/gui_e2e/test_rules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Purge superfluous signing check script
  scripts/check-msi-signing
Due: none

Run typing in stages dependent on shared typing
  buildscripts/scripts/stages.yml
Due: none

testlib.version: Fix installation of old non-cee packages
  tests/testlib/version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Extract setup of CA certs for tests
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Remove unused variable
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move middleware to lib
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/middleware.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/app.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/test_middleware.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move log to lib
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/log.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/cmk/agent_receiver/middleware.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/create_task.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/config_task_factory.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/retrieve_config_serial.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/tasks_repository.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/app.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/test_log.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Extract sub-app creation
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/app.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Extract credentials
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/auth.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/lib/site_auth.py
  packages/cmk-agent-receiver/cmk/agent_receiver/utils.py
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/site_mock.py
  packages/cmk-agent-receiver/tests/component/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move cert utilities for tests
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_models.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/test_certs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move file to submodule
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/models.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/utils.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_models.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_receiver_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move file to submodule
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move config to lib
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/certs.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/config.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/dependencies/relays_repository.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/config_task_factory.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/retrieve_config_serial.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/app.py
  packages/cmk-agent-receiver/cmk/agent_receiver/utils.py
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/config.py
  packages/cmk-agent-receiver/tests/component/conftest.py
  packages/cmk-agent-receiver/tests/component/test_activate_config.py
  packages/cmk-agent-receiver/tests/component/test_create_task_unknown_relay.py
  packages/cmk-agent-receiver/tests/component/test_forward_monitoring_data.py
  packages/cmk-agent-receiver/tests/component/test_get_tasks_no_serial.py
  packages/cmk-agent-receiver/tests/component/test_get_tasks_should_not_fail.py
  packages/cmk-agent-receiver/tests/component/test_logging_integration.py
  packages/cmk-agent-receiver/tests/component/test_max_number_of_tasks_per_relay.py
  packages/cmk-agent-receiver/tests/component/test_registration.py
  packages/cmk-agent-receiver/tests/component/test_startup.py
  packages/cmk-agent-receiver/tests/component/test_store_fetching_tasks.py
  packages/cmk-agent-receiver/tests/component/test_task_expires_in_agent_receiver.py
  packages/cmk-agent-receiver/tests/component/test_update_config_outdated_serial.py
  packages/cmk-agent-receiver/tests/component/test_update_task.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/conftest.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_config_task_factory.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_get_task_handler.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_site_auth.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_receiver_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move file to submodule
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/utils.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_utils.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_endpoints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move test to submodule
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_tar_with_structure.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move file to submodule
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/decompression.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move route_class to lib
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/route_classes.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_apps.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Rename function
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/test_certs.py
  tests/integration/agent_receiver/test_agent_receiver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Remove code duplication in utils
  packages/cmk-agent-receiver/cmk/agent_receiver/utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move file to submodule
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_checkmk_rest_api.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_endpoints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_receiver: Move certs to lib
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/__init__.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/certs.py
  packages/cmk-agent-receiver/cmk/agent_receiver/models.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/__init__.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/lib/test_certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_models.py
  tests/integration/agent_receiver/test_agent_receiver.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Skip SNMP integration tests
  tests/integration/cmk/snmplib/test_snmp_modes.py
  tests/integration/cmk/snmplib/test_snmp_table.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib.openapi_session: Extend LicenseAPI class
  tests/testlib/openapi_session.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib.site: Fix condition for message_broker_port definition
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib.site: Add connected_remote_site() helper
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib.version: Improve fallback logic in edition_from_env
  tests/testlib/version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Skip version compat with unreleased version
  packages/cmk-ccc/cmk/ccc/version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(openapi spec): Update after edition renaming
  packages/cmk-shared-typing/source/openapi_spec_internal.yaml
Due: none

Remove ancient APIs for registration of custom global settings
  cmk/gui/wato/_pre_21_plugin_api.py
  cmk/gui/watolib/config_domain_name.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Add iproute2 package to Ubuntu 24.04 image and use in ClickHouse int. test
  buildscripts/infrastructure/build-nodes/ubuntu-24.04/Dockerfile
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking
