Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

fix cluster discovery: fix 17714
  cmk/gui/watolib/services.py
  tests/unit/cmk/gui/watolib/test_services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrate oracle plugins
  cmk/base/check_legacy_includes/oracle.py
  cmk/base/legacy_checks/oracle_crs_version.py
  cmk/base/legacy_checks/oracle_crs_voting.py
  cmk/base/legacy_checks/oracle_dataguard_stats.py
  cmk/base/legacy_checks/oracle_diva_csm.py
  cmk/base/legacy_checks/oracle_jobs.py
  cmk/base/legacy_checks/oracle_locks.py
  cmk/base/legacy_checks/oracle_logswitches.py
  cmk/base/legacy_checks/oracle_longactivesessions.py
  cmk/base/legacy_checks/oracle_recovery_area.py
  cmk/base/legacy_checks/oracle_recovery_status.py
  cmk/base/legacy_checks/oracle_sessions.py
  cmk/base/legacy_checks/oracle_undostat.py
  cmk/base/legacy_checks/oracle_version.py
  cmk/checkengine/plugin_backend/_discover.py
  tests/unit/checks/generictests/datasets/oracle_jobs.py
  tests/unit/checks/generictests/datasets/oracle_jobs_regression.py
  tests/unit/checks/generictests/datasets/oracle_longactivesessions.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/checks/test_oracle_jobs.py
  tests/unit/checks/test_oracle_recovery_status.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_locks.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_longactivesessions.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_sessions.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move migrated oracle plugins
  cmk/base/check_legacy_includes/oracle.py
  cmk/base/legacy_checks/oracle_dataguard_stats.py
  cmk/base/legacy_checks/oracle_recovery_area.py
  cmk/checkengine/plugin_backend/_discover.py
  cmk/plugins/oracle/agent_based/liboracle.py
  cmk/plugins/oracle/agent_based/oracle_crs_version.py
  cmk/plugins/oracle/agent_based/oracle_crs_voting.py
  cmk/plugins/oracle/agent_based/oracle_dataguard_stats.py
  cmk/plugins/oracle/agent_based/oracle_diva_csm.py
  cmk/plugins/oracle/agent_based/oracle_jobs.py
  cmk/plugins/oracle/agent_based/oracle_locks.py
  cmk/plugins/oracle/agent_based/oracle_logswitches.py
  cmk/plugins/oracle/agent_based/oracle_longactivesessions.py
  cmk/plugins/oracle/agent_based/oracle_recovery_area.py
  cmk/plugins/oracle/agent_based/oracle_recovery_status.py
  cmk/plugins/oracle/agent_based/oracle_sessions.py
  cmk/plugins/oracle/agent_based/oracle_undostat.py
  cmk/plugins/oracle/agent_based/oracle_version.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_dataguard_stats.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_instance_uptime.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_jobs.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_locks.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_longactivesessions.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_recovery_area.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_recovery_status.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_sessions.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17820 FIX user menu: remove user profile options when the user doesn't have the permission to access them
  .werks/17820.md
Due: none

mega_menu: remove user profile options when the user doesn't have permission
  cmk/gui/wato/pages/user_profile/mega_menu.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Job scheduler: Remove background job context
  cmk/gui/job_scheduler/_background_jobs/__init__.py
  cmk/gui/job_scheduler/_background_jobs/_config.py
  cmk/gui/job_scheduler/_fast_api_app.py
  cmk/gui/job_scheduler/_server.py
  cmk/gui/job_scheduler/main.py
  tests/unit/cmk/gui/job_scheduler/test_fast_api_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Job scheduler: Move client out of JobSchedulerExecutor
  cmk/gui/background_job/__init__.py
  cmk/gui/background_job/_base.py
  cmk/gui/background_job/_executor.py
  cmk/gui/background_job/_job_scheduler_executor.py
  cmk/gui/job_scheduler_client.py
  cmk/gui/watolib/bulk_discovery.py
  cmk/gui/watolib/parent_scan.py
  tests/unit/cmk/gui/job_scheduler/test_fast_api_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

runas: Enable runas ruleset for non-root agent
  agents/check_mk_agent.linux
Due: none

Added WK14245: Improved performance of ineffective rule search
  .werks/14245.md
  cmk/gui/watolib/rulesets.py
  cmk/utils/rulesets/ruleset_matcher.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17667 FIX zpool_status: Fixed crash in case of an error while using dedup
  .werks/17667.md
  cmk/plugins/collection/agent_based/zpool_status.py
  tests/unit/cmk/plugins/collection/agent_based/test_zpool_status.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

siemens_plc special agent rule: Set default value of "Datenbaustein" field to 1
  cmk/plugins/siemens_plc/rulesets/special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Unconditional execute buildifier
  buildscripts/scripts/stages.yml
Due: none

17849 FIX Don't remove all message hints on confirming a popup message
  .werks/17849.md
  cmk/gui/message.py
  packages/cmk-frontend/src/js/modules/sidebar.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

openapi password: rename endpoint title for show password
  cmk/gui/openapi/endpoints/password/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17847 FIX Jira: Use correct operator for different field types
  .werks/17847.md
Due: none

17892 FIX Avoid error in "Siemens PLC (SPS)" rule when updating to Checkmk 2.4
  .werks/17892.md
  cmk/plugins/siemens_plc/rulesets/special_agent.py
  tests/unit/cmk/plugins/siemens_plc/rulesets/test_special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make unit tests independent from global conftest
  tests/conftest.py
  tests/unit/BUILD
  tests/unit/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Set file permissions of unix socket of automation helper to 0600
  cmk/base/automation_helper/_config.py
  cmk/base/automation_helper/_server.py
  tests/integration/cmk/base/automation_helper/test_automation_helper.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Deploy automation helper with uvicorn instead of gunicorn
  MODULE.bazel.lock
  cmk/BUILD
  cmk/base/automation_helper/__init__.py
  cmk/base/automation_helper/_app.py
  cmk/base/automation_helper/_config.py
  cmk/base/automation_helper/_server.py
  cmk/gui/watolib/sample_config/_constants.py
  cmk/requirements.in
  omd/packages/check_mk/skel/etc/init.d/automation-helper
  requirements.txt
  runtime-requirements.txt
  tests/code_quality/test_requirements.py
  tests/integration/cmk/base/_helper_connect_to_automation_helper_socket.py
  tests/integration/cmk/base/automation_helper/test_automation_helper.py
  tests/integration/cmk/base/test_discovery_parameters.py
  tests/unit/cmk/base/automation_helper/test_main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Remove superfluous make file
  omd/packages/stunnel/stunnel.make
Due: none

Remove superfluous comment
  omd/packages/Python/BUILD
Due: none

Pass endpoint to JobSchedulerClient.{get,post}
  cmk/gui/background_job/_job_scheduler_executor.py
  cmk/gui/job_scheduler_client.py
  tests/unit/cmk/gui/job_scheduler/test_fast_api_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17667 FIX zpool_status: Fixed crash in case of an error while using dedup
  .werks/17667.md
  cmk/base/plugins/agent_based/zpool_status.py
  tests/unit/cmk/base/plugins/agent_based/test_zpool_status.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17389 FIX runas: Concretize ruleset
  .werks/17389.md
Due: none

Job scheduler: Add 'Reset scheduling'
  cmk/gui/deprecations.py
  cmk/gui/job_scheduler/__init__.py
  cmk/gui/job_scheduler/_fast_api_app.py
  cmk/gui/job_scheduler/_scheduler.py
  cmk/gui/wato/pages/rulesets.py
  cmk/update_config/plugins/actions/deprecations.py
  tests/unit/cmk/gui/job_scheduler/test_fast_api_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrate mongodb_connections
  cmk/base/legacy_checks/mongodb_connections.py
  cmk/checkengine/plugin_backend/_discover.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/checks/test_mongodb_connections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move mongodb_connections
  cmk/checkengine/plugin_backend/_discover.py
  cmk/plugins/mongodb/agent_based/connections.py
  cmk/plugins/mongodb/checkman/mongodb_connections
  tests/unit/cmk/plugins/mongodb/agent_based/test_connections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

httpv2: Change help text
  cmk/plugins/collection/rulesets/httpv2.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
