Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

14644 FIX Missing services in "State of Multipathing on Linux"
  .werks/14644
  checks/multipath
  cmk/base/plugins/agent_based/diskstat.py
  cmk/base/plugins/agent_based/utils/multipath.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14644 FIX Missing services in "State of Multipathing on Linux"
  .werks/14644
  cmk/base/plugins/agent_based/diskstat.py
  cmk/base/plugins/agent_based/multipath.py
  cmk/base/plugins/agent_based/utils/multipath.py
  tests/unit/cmk/base/plugins/agent_based/test_diskstat.py
  tests/unit/cmk/base/plugins/agent_based/test_multipath.py
  tests/unit/cmk/base/plugins/agent_based/test_multipath_section.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

clean up type hints and formatting
  cmk/base/plugins/agent_based/diskstat.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Break import cycle with cmk.cee.reporting
  cmk/gui/pagetypes.py
  tests/Makefile
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

agent-ctl: refactoring according to the clippy
  agents/cmk-agent-ctl/src/mailslot_transport.rs
Due: none

migrate etherbox check
  cmk/base/plugins/agent_based/etherbox.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/plugins/agent_based/test_etherbox.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_plugin_vs_wato.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

try to convice gerrit of the move later
  checks/etherbox
  tests/unit/cmk/base/plugins/agent_based/test_etherbox.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

More test typing.
  cmk/utils/python_printer.py
  tests/testlib/__init__.py
  tests/testlib/compare_html.py
  tests/testlib/event_console.py
  tests/testlib/openapi_session.py
  tests/testlib/site.py
  tests/testlib/version.py
  tests/testlib/web_session.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Small cleanup
  cmk/gui/login.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "14147 FIX Disappearing sections in "Edit role" view"
  .werks/14147
  cmk/gui/pagetypes.py
  cmk/gui/plugins/sidebar/bookmarks.py
  tests/unit/cmk/gui/test_gui_config.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Mount reference repo during run-in-docker
  scripts/run-in-docker.sh
Due: none

Fixed escaping.
  cmk/base/plugins/agent_based/mssql_availability_groups.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14503 FIX ups_test: crash with KeyError (0)
  .werks/14503
  checks/ups_test
  tests/unit/checks/test_ups_test.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

ups_test: simplify state and test result text mapping
  checks/ups_test
Due: none

Attempt to fix pillow builds #4
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Revert "Attempt to fix pillow builds #4"
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Suppress a few warnings from 3rd party packages.
  pytest.ini
Due: none

Suppress an intended warning.
  pytest.ini
Due: none

CronJobs: Added piggyback hosts for cronjobs
  checkman/kube_cronjob_info
  cmk/base/plugins/agent_based/kube_cronjob_info.py
  cmk/base/plugins/agent_based/utils/kube.py
  cmk/base/plugins/agent_based/utils/kube_info.py
  cmk/special_agents/agent_kube.py
  cmk/special_agents/utils_kubernetes/schemata/api.py
  cmk/special_agents/utils_kubernetes/schemata/section.py
  cmk/special_agents/utils_kubernetes/transform.py
  tests/unit/cmk/base/plugins/agent_based/test_kube_cronjob_info.py
  tests/unit/cmk/base/plugins/agent_based/test_section_host_label_doc.py
  tests/unit/cmk/special_agents/agent_kube/test_agent_kube_api.py
  tests/unit/cmk/special_agents/agent_kubernetes/test_agent_kube_api_cronjobs.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14503 FIX ups_test: crash with KeyError (0)
  .werks/14503
  checks/ups_test
  tests/unit/cmk/base/plugins/agent_based/test_ups_test.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14359 FIX Windows agent correctly determines max size of the log file
  .werks/14359
  agents/wnx/src/engine/logger.cpp
Due: none

Do not update Pipfile.lock in case defines.make changes
  Makefile
Due: none

etherbox error handling without exceptions
  cmk/base/plugins/agent_based/etherbox.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Don't use deprecated __implements__, subclassing is enough.
  tests/testlib/pylint_checker_forbidden_objects.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Attempt to fix pillow builds #3"
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Revert "Attempt to fix pillow builds #2"
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

14548 FIX <tt>mk_logwatch</tt>: Make agent plugin executable under Python 2
  .werks/14548
  agents/plugins/mk_logwatch.py
  tests/agent-plugin-unit/test_mk_logwatch.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mk_logwatch: improve typing
  agents/plugins/mk_logwatch.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extract pagetype instances
  cmk/gui/pagetypes.py
  cmk/gui/plugins/sidebar/bookmarks.py
  cmk/gui/sidebar/__init__.py
  cmk/update_config.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove useless helper get_permitted_instances
  cmk/gui/pagetypes.py
  cmk/gui/plugins/sidebar/utils.py
  cmk/gui/views/__init__.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Bumped passlib 1.7.2 => 1.7.4.
  Pipfile
  Pipfile.lock
Due: none

Regenerated Pipfile.lock.
  Pipfile.lock
Due: none

13914 FIX Escape semicolon in log entries
  .werks/13914
  cmk/utils/notify.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

win-agent: fileinfo doesn't send 'missing' if no file found with glob
  .werks/14357
  agents/wnx/src/engine/providers/fileinfo.cpp
  agents/wnx/watest/test-section_fileinfo.cpp
Due: none

migrated palo_alto check plugin
  checks/palo_alto
  cmk/base/plugins/agent_based/palo_alto.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/plugins/agent_based/test_palo_alto.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13991 Palo Alto: Check mode and local and peer state
  .werks/13991
  cmk/base/plugins/agent_based/palo_alto.py
  cmk/gui/plugins/wato/check_parameters/palo_alto.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
