Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

rest-api-migration: update_password endpoint
  cmk/gui/openapi/api_endpoints/password/models/request_models.py
  cmk/gui/openapi/api_endpoints/password/registration.py
  cmk/gui/openapi/api_endpoints/password/update_password.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api-migration: create_password endpoint
  cmk/gui/openapi/api_endpoints/password/create_password.py
  cmk/gui/openapi/api_endpoints/password/models/request_models.py
  cmk/gui/openapi/api_endpoints/password/registration.py
  cmk/gui/openapi/framework/model/converter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

update requests
  MODULE.bazel.lock
  agents/modules/windows/pipfiles/3/Pipfile
  cmk/requirements.txt
  packages/cmk-agent-receiver/requirements.txt
  requirements_all_lock.txt
  requirements_dev.txt
  requirements_runtime_lock.txt
Due: requirements-locking

Move title to table (with view)
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move root node to DisplayHints
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify register funcs #3
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_sorter.py
  tests/unit/cmk/gui/views/inventory/test_sorter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify register funcs #2
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_painters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'ident' -> 'name'
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_display_hints.py
  cmk/gui/views/inventory/_painters.py
  cmk/gui/views/page_edit_view.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_sorter.py
  tests/unit/cmk/gui/views/inventory/test_tree_renderer.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Simplify register funcs #1
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_painters.py
  cmk/gui/views/inventory/_sorter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move path and icon to TableWithView
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17375 Support monitoring for postgres 15
  .werks/17375.md
  agents/plugins/mk_postgres.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reorder
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix up werks after p35 release
  .werks/18079.md
  .werks/18171.md
  .werks/18351.md
Due: none

removed update action: user_attributes
  cmk/update_config/plugins/actions/user_attributes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix getting parent title
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass site_id and config to _get_effective_global_setting
  cmk/gui/wato/_ac_tests.py
  cmk/gui/watolib/analyze_configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass site_id and config to ACTest.execute
  cmk/gui/deprecations.py
  cmk/gui/ldap/_ac_tests.py
  cmk/gui/wato/_ac_tests.py
  cmk/gui/wato/pages/analyze_configuration.py
  cmk/gui/watolib/analyze_configuration.py
  cmk/gui/watolib/sites.py
  tests/unit/cmk/gui/wato/test_ac_test.py
  tests/unit/cmk/gui/watolib/test_analyze_configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-plugin-update: Update comment regarding 'Proxmox' service state.
  tests/plugins_integration/test_plugin_update.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
Due: none

cmk-crypto: include py.typed in whl package
  packages/cmk-crypto/BUILD
  packages/cmk-crypto/pyproject.toml
Due: none

metric-backend: initial package
  packages/metric-backend/BUILD
  packages/metric-backend/ci.json
  packages/metric-backend/cmk/metric_backend/__init__.py
  packages/metric-backend/cmk/metric_backend/monitoring_data.py
  packages/metric-backend/cmk/metric_backend/py.typed
  packages/metric-backend/pyproject.toml
  packages/metric-backend/requirements.in
  packages/metric-backend/run
  packages/metric-backend/setup.cfg
  packages/metric-backend/tests/.gitignore
  packages/metric-backend/tests/__init__.py
  packages/metric-backend/tests/test_dummy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Drop dead code
  cmk/gui/watolib/_sync_remote_sites.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18080 FIX Fix translation of event host names
  .werks/18080.md
  cmk/gui/mkeventd/views.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18080 FIX Fix translation of event host names
  .werks/18080
  cmk/gui/mkeventd/views.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reserved 50 Werk IDS
  .werks/first_free
Due: none

Enable vite hot reload in ibazel
  packages/cmk-frontend-vue/BUILD
Due: none

Get theme.css for demo app directly via bazel
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/_demo/DemoApp.vue
  packages/cmk-frontend-vue/vite.config.demo.ts
  packages/cmk-frontend-vue/vite.config.ts
  packages/cmk-frontend/BUILD
Due: none

Add demo build step to CI
  packages/cmk-frontend-vue/run
Due: none

Fix th child of thead warning in badge demo
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkBadge.vue
Due: none

rest-api-migration: passwords remove registration of old endpoints
  cmk/gui/openapi/api_endpoints/password/create_password.py
  cmk/gui/openapi/api_endpoints/password/delete_password.py
  cmk/gui/openapi/api_endpoints/password/list_passwords.py
  cmk/gui/openapi/api_endpoints/password/show_password.py
  cmk/gui/openapi/api_endpoints/password/update_password.py
  cmk/gui/openapi/endpoints/password/__init__.py
  cmk/gui/openapi/endpoints/password/request_schemas.py
  cmk/gui/openapi/endpoints/password/response_schemas.py
  cmk/gui/openapi/registration.py
  tests/unit/cmk/gui/openapi/test_openapi_password.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adapt unfinished steps badge design to Figma
  packages/cmk-frontend-vue/src/components/CmkAccordionStepPanel/CmkAccordionStepPanelItem.vue
  packages/cmk-frontend-vue/src/components/CmkBadge.vue
Due: none

Adapt Welcome step badge details to design
  packages/cmk-frontend-vue/src/components/CmkAccordionStepPanel/CmkAccordionStepPanelItem.vue
Due: none

Adapt Welcome Page step content margins to Figma design
  packages/cmk-frontend-vue/src/components/CmkAccordion/CmkAccordionItem.vue
  packages/cmk-frontend-vue/src/components/CmkLinkCard.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/StepFive.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/StepFour.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/StepThree.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/StepTwo.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/components/StepCardsRow.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/components/StepHeading.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/components/StepParagraph.vue
Due: none

add int test for openapi saml2 routes
  tests/testlib/openapi_session.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(unified-search) adjust tabs to ux design
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
Due: none

style(tabs) adjust CkmTabs to ux design
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkTabs/CmkTab.vue
  packages/cmk-frontend-vue/src/components/CmkTabs/CmkTabContent.vue
  packages/cmk-frontend-vue/src/components/CmkTabs/CmkTabs.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkTabs.vue
Due: none

18194 FIX Host check command: crash when using "Use a custom check plug-in" option
  .werks/18194.md
  cmk/gui/wato/_check_mk_configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
