Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

bandit:
  name: Run bandit
  entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

sphinx:
  name: Sphinx Documentation
  entry: scripts/run-pipenv run make -C doc/documentation html
  pass_filenames: false
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

kube_pod_conditions: remove summary
  cmk/plugins/collection/agent_based/kube_pod_conditions.py
  tests/unit/cmk/plugins/collection/agent_based/test_kube_pod_conditions.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

kube_pod_conditions: pass name explicitely
  cmk/plugins/collection/agent_based/kube_pod_conditions.py
  tests/unit/cmk/plugins/collection/agent_based/test_kube_pod_conditions.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

kube_pod_conditions: factor function out
  cmk/plugins/collection/agent_based/kube_pod_conditions.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16436 kube_pod_conditions: Support PodReadyToStartContainers Condition
  .werks/16436.md
  cmk/gui/plugins/wato/check_parameters/kube_pod_conditions.py
  cmk/plugins/collection/agent_based/kube_pod_conditions.py
  cmk/plugins/kube/schemata/section.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_kube_pod_conditions.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17119 FIX parent_scan: resolve failing parent scan background job
  .werks/17119.md
Due: none

REST API: Fix AttributeError when starting parent scan
  cmk/gui/openapi/endpoints/parent_scan/__init__.py
  tests/unit/cmk/gui/openapi/test_openapi_parent_scan.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix SNMPHostConfig serialization
  cmk/snmplib/_typedefs.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

gui-e2e: make `test_werks_available` predictable.
  tests/gui_e2e/test_werks.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fix typo
  .werks/16431.md
Due: none

fix typo
  .werks/16431
Due: none

Sync groovy and bash regarding mkdirs for binds
  buildscripts/scripts/utils/docker_image_aliases_helper.groovy
  scripts/run-in-docker.sh
Due: none

Separate docker workspaces per distro
  buildscripts/scripts/build-cmk-packages.groovy
  buildscripts/scripts/utils/docker_image_aliases_helper.groovy
  scripts/run-in-docker.sh
Due: none

Use .venv and checkout/.cache from shadow_workspace
  Makefile
  buildscripts/scripts/utils/docker_image_aliases_helper.groovy
  scripts/run-in-docker.sh
Due: none

Re "Switch base-image for reference-image to ubuntu 22.04"
  .github/workflows/pr.yaml
  buildscripts/infrastructure/build-nodes/scripts/install-buildifier.sh
  buildscripts/infrastructure/build-nodes/scripts/install-docker.sh
  buildscripts/infrastructure/build-nodes/scripts/install-musl-tools.sh
  buildscripts/scripts/sign-packages.sh
  buildscripts/scripts/utils/integration.groovy
  defines/dev-images/Readme.md
  defines/dev-images/reference-image-id
  defines/dev-images/reference/Dockerfile
  scripts/run-in-docker.sh
  tests/scripts/run-dockerized.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Don't clean container shadow directory anymore
  buildscripts/scripts/utils/docker_image_aliases_helper.groovy
  scripts/run-in-docker.sh
Due: none

16243 FIX Cease to provide builds for ubuntu-20.04, Debian-10 and SLES12sp5
  .werks/16243.md
  buildscripts/docker_image_aliases/IMAGE_DEBIAN_10/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_DEBIAN_10/meta.yml
  buildscripts/docker_image_aliases/IMAGE_SLES_12SP5/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_SLES_12SP5/meta.yml
  buildscripts/docker_image_aliases/IMAGE_TESTING/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_TESTING/meta.yml
  buildscripts/docker_image_aliases/IMAGE_UBUNTU_20_04/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_UBUNTU_20_04/meta.yml
  buildscripts/infrastructure/build-nodes/debian-10/Dockerfile
  buildscripts/infrastructure/build-nodes/scripts/install-buildifier.sh
  buildscripts/infrastructure/build-nodes/scripts/install-clang.sh
  buildscripts/infrastructure/build-nodes/scripts/install-gnu-toolchain.sh
  buildscripts/infrastructure/build-nodes/scripts/install-python.sh
  buildscripts/infrastructure/build-nodes/sles-12sp5/Dockerfile
  buildscripts/scripts/get_distros.py
  editions.yml
  omd/distros/SLES_12SP5.mk
  omd/packages/Python/BUILD.Python.bazel
  omd/packages/python3-modules/build-python3-modules.bzl
  tests/testlib/containers.py
  tests/testlib/version.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

visitors: set defaults for dictionary keys
  cmk/gui/form_specs/vue/visitors/dictionary.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

EC: add docstring and tests to the function to avoid further confusion
  cmk/ec/rule_matcher.py
  tests/unit/cmk/ec/test_rule_matching.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove dep on cmk.utils.exception from site
  cmk/utils/site.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick setup: implement get quick setup overview
  cmk/gui/openapi/endpoints/quick_setup/__init__.py
  cmk/gui/openapi/endpoints/quick_setup/response_schemas.py
  cmk/gui/openapi/registration.py
  cmk/gui/openapi/restful_objects/type_defs.py
  cmk/gui/quick_setup/aws_stages.py
  cmk/gui/quick_setup/definitions.py
  tests/testlib/rest_api_client.py
  tests/unit/cmk/gui/openapi/test_openapi_quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Don't format bazel files from shadow workspace
  scripts/run-buildifier
Due: none

kube_pod_conditions: update doc string
  cmk/plugins/collection/agent_based/kube_pod_conditions.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Nutanix fix for wrong section name from special agent.
  cmk/plugins/prism/agent_based/prism_info.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17092 FIX Fix missing CSRF token issues
  .werks/17092.md
  cmk/gui/utils/urls.py
  cmk/gui/watolib/hosts_and_folders.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17092 FIX Fix missing CSRF token issues
  .werks/17092
  cmk/gui/utils/urls.py
  cmk/gui/watolib/hosts_and_folders.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

gui-e2e: Add PoM for Setup > Global settings
  tests/gui_e2e/test_change_password.py
  tests/testlib/playwright/pom/setup/global_settings.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix AttributeError: "Can't pickle..."
  cmk/gui/watolib/services.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Improve background job exception handling
  cmk/gui/background_job/_base.py
  cmk/gui/crash_handler.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix rename host background job
  cmk/gui/background_job/_process.py
  cmk/gui/wato/pages/host_rename.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Purge now superfluous cma-3 references
  buildscripts/infrastructure/build-nodes/cma-3
  buildscripts/infrastructure/build-nodes/scripts/install-cmk-dependencies.sh
  buildscripts/scripts/get_distros.py
  editions.yml
  tests/testlib/version.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

git ignore docker-build.log
  .gitignore
Due: none

Fixup werks versions to 2.2.0p31
  .werks/16533
  .werks/16753
  .werks/16863
  .werks/16999
Due: none

17081 FIX Reduce risk of hanging processes
  .werks/17081.md
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
