Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

feat: adapt ResetLicenseVerificationFiles to CEE enforcement
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18863 FIX HTML email: Improve responsiveness
  .werks/18863.md
  cmk/notification_plugins/mail.py
  cmk/notification_plugins/utils.py
  notifications/templates/mail/additional.html.jinja
  notifications/templates/mail/base.html.jinja
  notifications/templates/mail/bulk.html.jinja
  notifications/templates/mail/contact_groups.html.jinja
  notifications/templates/mail/event_overview.html.jinja
  notifications/templates/mail/graph.html.jinja
  notifications/templates/mail/host_labels.html.jinja
  notifications/templates/mail/host_tags.html.jinja
  notifications/templates/mail/macros.html.jinja
  notifications/templates/mail/matching_rule.html.jinja
  notifications/templates/mail/service_labels.html.jinja
  notifications/templates/mail/summary.html.jinja
  notifications/templates/mail/summary_commands.html.jinja
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bump gdb version in build images
  buildscripts/infrastructure/build-nodes/almalinux-9/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-10/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-11/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-12/Dockerfile
  buildscripts/infrastructure/build-nodes/scripts/install-gnu-toolchain.sh
  buildscripts/infrastructure/build-nodes/sles-12sp5/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15sp3/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15sp4/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15sp5/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15sp6/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-20.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-22.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-24.04/Dockerfile
Due: none

17377 Add support for Debian 13 (trixie)
  .werks/17377.md
  buildscripts/docker_image_aliases/IMAGE_DEBIAN_13/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_DEBIAN_13/meta.yml
  buildscripts/infrastructure/build-nodes/debian-13/Dockerfile
  buildscripts/scripts/get_distros.py
  editions.yml
  omd/distros/DEBIAN_13.mk
  omd/packages/omd/omd.make
  tests/testlib/containers.py
  tests/testlib/package_manager.py
  tests/testlib/version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix werk text
  .werks/18863.md
Due: none

Update Python libraries
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Rule properties -> vuejs
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Review unannotated bandit markers
  cmk/ec/history_sqlite.py
  tests/bandit-nosec-markers/bandit-exclusions.md
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Show transition when loading activate changes page
  packages/cmk-frontend-vue/src/main-menu/changes/ChangesApp.vue
Due: none

Show transition when clicking on host in folder
  cmk/gui/wato/pages/folders.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Show title on page transition
  cmk/gui/page_menu.py
  cmk/gui/sidebar/main_menu.py
  cmk/gui/utils/loading_transition.py
  cmk/gui/wato/pages/folders.py
  packages/cmk-frontend-vue/src/loading-transition/LoadingTransition.vue
  packages/cmk-frontend-vue/src/loading-transition/loadingTransition.ts
  packages/cmk-frontend-vue/src/main-menu/changes/ChangesApp.vue
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItem.vue
  packages/cmk-frontend/src/js/modules/utils.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add loading transitions to unified search
  cmk/gui/search/engines/customize.py
  cmk/gui/search/engines/monitoring.py
  cmk/gui/search/engines/setup.py
  cmk/gui/search/legacy_helpers.py
  cmk/gui/search/type_defs.py
  cmk/gui/type_defs.py
  cmk/gui/wato/_snapins.py
  packages/cmk-frontend-vue/src/loading-transition/loadingTransition.ts
  packages/cmk-frontend-vue/src/unified-search/components/header/UnifiedSearchHeader.vue
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItem.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchRecentlyViewed.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchTabResults.vue
  packages/cmk-frontend-vue/src/unified-search/lib/providers/history.ts
  packages/cmk-frontend-vue/src/unified-search/lib/providers/unified.ts
  packages/cmk-frontend-vue/src/unified-search/lib/searchHistory.ts
  packages/cmk-frontend-vue/tests/lib/unified-search/searchHistory.test.ts
  tests/unit/cmk/gui/search/sorting/test_get_sorter.py
  tests/unit/cmk/gui/search/sorting/test_weighted_index__notifications.py
  tests/unit/cmk/gui/search/sorting/test_weighted_index__view.py
  tests/unit/cmk/gui/search/test_legacy_helpers.py
  tests/unit/cmk/gui/search/test_unified.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Show transition when clicking on effective params
  cmk/gui/page_menu.py
  cmk/gui/page_menu_utils.py
  cmk/gui/utils/loading_transition.py
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/services.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18345 FIX net-snmp: Prevent segfault due to null pointer
  .werks/18345.md
  omd/packages/net-snmp/net-snmp_http.bzl
  omd/packages/net-snmp/patches/0019-Fix-NULL-varbind-in-get-getnext.dif
Due: none

Show pulse animation when logging in
  cmk/gui/login.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard/rest-api: fix saving for incorrect user
  cmk/gui/dashboard/api/__init__.py
  cmk/gui/dashboard/api/_utils.py
  cmk/gui/dashboard/api/clone_relative_dashboard.py
  cmk/gui/dashboard/api/create_relative_grid_dashboard.py
  cmk/gui/dashboard/api/delete_dashboard.py
  cmk/gui/dashboard/api/edit_relative_grid_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refac(vue-nav) move lib files into domain folder
  packages/cmk-frontend-vue/src/main-menu/components/SidebarToggle.vue
  packages/cmk-frontend-vue/src/sidebar/SidebarApp.vue
  packages/cmk-frontend-vue/src/sidebar/components/AddSnapinSlideout.vue
  packages/cmk-frontend-vue/src/sidebar/components/snapin/AddSidebarSnapin.vue
  packages/cmk-frontend-vue/src/sidebar/components/snapin/SidebarSnapin.vue
  packages/cmk-frontend-vue/src/sidebar/lib/sidebar-api-client.ts
  packages/cmk-frontend-vue/src/sidebar/lib/sidebar.ts
  packages/cmk-frontend-vue/src/sidebar/lib/type-defs.ts
  packages/cmk-frontend-vue/src/sidebar/provider/sidebar.ts
Due: none

refac(vue-nav) move lib files to domain folder
  packages/cmk-frontend-vue/src/main-menu/MainMenuApp.vue
  packages/cmk-frontend-vue/src/main-menu/components/NavItem.vue
  packages/cmk-frontend-vue/src/main-menu/components/SidebarToggle.vue
  packages/cmk-frontend-vue/src/main-menu/components/popup/ItemPopup.vue
  packages/cmk-frontend-vue/src/main-menu/components/popup/NavItemTopic.vue
  packages/cmk-frontend-vue/src/main-menu/components/popup/NavItemTopicEntry.vue
  packages/cmk-frontend-vue/src/main-menu/components/popup/PopupBackdrop.vue
  packages/cmk-frontend-vue/src/main-menu/lib/main-menu-api-client.ts
  packages/cmk-frontend-vue/src/main-menu/lib/main-menu-service.ts
  packages/cmk-frontend-vue/src/main-menu/lib/type-defs.ts
  packages/cmk-frontend-vue/src/main-menu/provider/main-menu.ts
  packages/cmk-frontend-vue/src/sidebar/lib/sidebar-api-client.ts
Due: none

Skip one more snmp test
  tests/integration/cmk/snmplib/test_snmp_table.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

ToggleButtonGroup name change to fit building block standard
  packages/cmk-frontend-vue/demo/_demo/DemoApp.vue
  packages/cmk-frontend-vue/demo/components/DemoCmkToggleButtonGroup.vue
  packages/cmk-frontend-vue/demo/components/index.ts
  packages/cmk-frontend-vue/src/components/CmkToggleButtonGroup.vue
  packages/cmk-frontend-vue/src/components/CmkWizard/CmkWizardModeToggle.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/filter/SingleMultiWidgetObjectFilterConfiguration.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/create-dashboard/components/DashboardTypeSelector.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/dashboard-settings/components/AccessSettings.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage1/MetricSelector/MetricSelector.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/view/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/form/private/forms/FormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/form/private/forms/FormRegex/FormToggleButton.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
  packages/cmk-frontend-vue/src/quick-setup/QuickSetupAsync.vue
Due: none

18933 Add support for Almalinux 10
  .werks/18933.md
  buildscripts/docker_image_aliases/IMAGE_ALMALINUX_10/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_ALMALINUX_10/meta.yml
  buildscripts/infrastructure/build-nodes/almalinux-10/Dockerfile
  buildscripts/scripts/get_distros.py
  editions.yml
  omd/distro
  omd/distros/ALMALINUX_10.mk
  omd/packages/omd/omd.make
  omd/packages/xinetd/xinetd.make
  tests/testlib/package_manager.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Refactor VM lock handling to use LockState enum in vm_info and agent_proxmox_ve
  cmk/plugins/proxmox_ve/lib/vm_info.py
  cmk/plugins/proxmox_ve/special_agent/agent_proxmox_ve.py
  tests/unit/cmk/plugins/proxmox_ve/agent_based/test_proxmox_ve_vm_info.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add Werk 18919
  .werks/18919.md
Due: none

improve CmkIconWithEmblem
  packages/cmk-frontend-vue/demo/components/CmkIcon/DemoCmkIconWithEmblem.vue
  packages/cmk-frontend-vue/demo/components/CmkIcon/index.ts
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIconWithEmblem.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/icons.constants.ts
  packages/cmk-frontend-vue/src/components/CmkIcon/index.ts
  packages/cmk-frontend-vue/src/components/CmkIcon/types.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/WidgetWorkflow/StarterDialog/WorkflowListItem.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/WidgetWorkflow/StarterPage/WorkflowCard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/WidgetWorkflow/WidgetWorkflowTypes.ts
Due: none

move IconWithEmblem to general building blocks
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIconWithEmblem.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/WidgetWorkflow/StarterDialog/WorkflowListItem.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/WidgetWorkflow/StarterPage/WorkflowCard.vue
Due: none

demo: create folder for CmkIcon
  packages/cmk-frontend-vue/demo/components/CmkIcon/DemoCmkIcon.vue
  packages/cmk-frontend-vue/demo/components/CmkIcon/DemoCmkMultitoneIcon.vue
  packages/cmk-frontend-vue/demo/components/CmkIcon/index.ts
  packages/cmk-frontend-vue/demo/components/index.ts
Due: none

17758 FIX Fixed dumping of CMC state and config
  .werks/17758.md
Due: none

Switch expectations to `ss`
  tests/unit-shell/agents/plugins/test_netstat.linux.sh
Due: none

Update README for plugin-api
  doc/plugin-api/README
  doc/plugin-api/README.md
Due: none

owners definitions for AI tools
  OWNERS
  component_owners/ai_tools/OWNERS_DEFINITION
Due: none

Move rule value into own catalog
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add iproute2 package to more build images and use in ClickHouse int. test
  buildscripts/infrastructure/build-nodes/debian-12/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-13/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-22.04/Dockerfile
Due: none

Trigger next stages of nigthly chain only if previous stages passed
  buildscripts/scripts/trigger-cmk-build-chain.groovy
Due: none

18345 FIX net-snmp: Prevent segfault due to null pointer
  .werks/18345.md
  MODULE.bazel
  omd/packages/net-snmp/patches/0019-Fix-NULL-varbind-in-get-getnext.dif
Due: none

bi: use search results type from type_def module
  cmk/bi/actions.py
  cmk/bi/lib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bi: don't use magic numbers for state
  cmk/bi/trees.py
  cmk/gui/availability.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bi: group shared types by domain
  cmk/bi/type_defs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bi: use singular case for enum name
  cmk/bi/aggregation_functions.py
  cmk/bi/lib.py
  cmk/bi/trees.py
  cmk/gui/availability.py
  cmk/gui/bi/_openapi/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
