Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

add some configs for manual testing
  packages/mk-sql/tests/files/test-for-configs-no-detection.yml
Due: none

openapi/host_tag_group: resolve conflict for HostTag
  cmk/gui/openapi/endpoints/host_tag_group/response_schemas.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16315 FIX Respect sort index for listed dashboards in page menu
  .werks/16315.md
  cmk/gui/dashboard/page_show_dashboard.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

openapi/user_config: resolve schema conflict
  cmk/gui/openapi/endpoints/user_config/request_schemas.py
  cmk/gui/openapi/endpoints/user_config/response_schemas.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

report current dir building rust project on Windows
  scripts/windows/shorten_dir_and_call.ps1
Due: none

adal -> msal: replace deprecated authentication library for Azure
  Pipfile
  Pipfile.lock
  cmk/special_agents/agent_azure.py
  omd/Licenses.csv
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Deprecated in Pydantic 2.0: clean up warnings
  tests/unit/cmk/base/plugins/agent_based/test_kube_resource_quota_cpu.py
  tests/unit/cmk/plugins/aws/agent_based/test_aws_status.py
  tests/unit/cmk/plugins/gcp/agent_based/test_gcp_status.py
  tests/unit/cmk/special_agents/agent_kube/test_agent_kube_performance.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Relocked Pipfile
  Pipfile.lock
Due: none

openapi/rule: resolve schema conflict
  cmk/gui/openapi/endpoints/rule/fields.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

set mibdirs during build
  omd/packages/net-snmp/BUILD.net-snmp.bazel
  omd/packages/net-snmp/net-snmp.make
Due: none

Revert "python3-modules: Write pip install output to a log"
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Add OSType variable to MacOS agent
  agents/check_mk_agent.macosx
Due: none

perfometers: Move parsing out of init
  cmk/gui/graphing/_perfometer.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15326 FIX oracle_instance: Fix ValidationError
  .werks/15326.md
  cmk/plugins/lib/oracle_instance.py
  tests/unit/cmk/base/plugins/agent_based/test_oracle_instance.py
  tests/unit/cmk/plugins/lib/test_oracle_instance.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix event console forwarding checkbox
  cmk/gui/mkeventd/_rulespecs.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add test to demonstrate problem
  tests/unit/cmk/base/plugins/agent_based/test_local.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16490 NetApp: new addition of datasource program and check plugins for NetApp ONTAP
  .werks/16490.md
Due: none

Fix SHA256 of net-snmp-5.9.1 archive
  package_versions.bzl
Due: none

check_http: Fix wrong type
  cmk/plugins/collection/server_side_calls/httpv2.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixup typo in werk 16149
  .werks/16149.md
Due: none

mk-sql: use cross-platform code to get the computer name
  packages/mk-sql/src/ms_sql/sqls.rs
Due: none

wa: improve protection of safe temp dir
  agents/wnx/include/common/wtools.h
  agents/wnx/src/common/wtools.cpp
  agents/wnx/src/engine/service_processor.cpp
  agents/wnx/watest/test-wtools.cpp
Due: none

Update werk 16324
  .werks/16324.md
Due: none

rework prefill values
  cmk/gui/utils/rule_specs/legacy_converter.py
  cmk/gui/validation/visitors/vue_formspec_visitor.py
  cmk/plugins/cisco/rulesets/prime_wlan_controller.py
  cmk/plugins/collection/rulesets/alertmanager.py
  cmk/plugins/collection/rulesets/cert.py
  cmk/plugins/collection/rulesets/httpv2.py
  cmk/plugins/collection/rulesets/rmon.py
  cmk/plugins/collection/rulesets/sql.py
  cmk/plugins/collection/rulesets/zypper.py
  cmk/plugins/esx_vsphere/rulesets/objects_count.py
  cmk/plugins/mssql/rulesets/instance.py
  cmk/plugins/mssql/rulesets/utils.py
  cmk/plugins/prism/rulesets/protection_domains.py
  cmk/plugins/prism/rulesets/vm_tools.py
  cmk/plugins/pure_storage_fa/rulesets/pure_storage_fa.py
  cmk/plugins/rabbitmq/rulesets/nodes_gc.py
  cmk/plugins/rabbitmq/rulesets/nodes_proc.py
  cmk/plugins/sap/rulesets/values.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/__init__.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/_base.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/basic.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/composed.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/levels.py
  packages/cmk-rulesets/tests/test_form_spec.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

netapp_ontap_fcp: fix average metric names
  cmk/plugins/netapp/agent_based/netapp_ontap_fcp.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extend exception output to understand a flake better
  tests/testlib/agent.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add builtin validator for number of regex groups
  packages/cmk-rulesets/cmk/rulesets/v1/validators.py
  packages/cmk-rulesets/tests/test_validators.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

netapp_ontap_fcp: enrich details results
  cmk/plugins/netapp/agent_based/netapp_ontap_fcp.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Merge standard and individual settings of endpoints
  cmk/plugins/collection/server_side_calls/httpv2.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix typo
  cmk/gui/graphing/_perfometer.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix missing translation of predictive metrics
  cmk/gui/graphing/_utils.py
  cmk/gui/type_defs.py
  cmk/gui/views/perfometer/legacy_perfometers/active_checks.py
  cmk/gui/views/perfometer/legacy_perfometers/check_mk.py
  tests/unit/cmk/gui/graphing/test_expression.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
  tests/unit/cmk/gui/graphing/test_utils.py
  tests/unit/cmk/gui/views/perfometer/legacy_perfometers/test_perfometer_fileinfo.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

core nagios: skip migrated main checks
  cmk/base/core_nagios.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Reland "python3-modules: Write pip install output to a log"
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Migrate Linux agent os-based labels to new mechanism
  agents/check_mk_agent.linux
  tests/unit-shell/agents/test_section_checkmk_linux.sh
  tests/unit-shell/agents/test_section_labels_linux.sh
Due: none

mk-sql: add state-dir
  packages/mk-sql/src/args.rs
  packages/mk-sql/src/config/ms_sql.rs
  packages/mk-sql/src/constants.rs
  packages/mk-sql/src/ms_sql/instance.rs
  packages/mk-sql/src/setup.rs
Due: none

Revert "set mibdirs during build"
  omd/packages/net-snmp/BUILD.net-snmp.bazel
  omd/packages/net-snmp/net-snmp.make
Due: none

server side calls: adjust helper functions docs
  packages/cmk-server-side-calls/cmk/server_side_calls/v1/_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

wa: get rid of bool as a status
  agents/wnx/include/common/wtools.h
  agents/wnx/src/common/wtools.cpp
  agents/wnx/src/engine/service_processor.cpp
  agents/wnx/watest/test-ohm.cpp
  agents/wnx/watest/test-wtools.cpp
  packages/mk-sql/tests/files/test-mini-piggyback.yml
Due: none

Add unloadable/unregisterable API v1 rulespecs to failed plugins
  cmk/gui/rulespec.py
  cmk/gui/utils/rule_specs/loader.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16465 FIX service discovery: introduce functionality to fetch job status from remote sites
  .werks/16465.md
  cmk/gui/openapi/endpoints/service_discovery/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
