Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/*
    - repo: local
      hooks:
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Fix up Debian 12 distro
  buildscripts/infrastructure/build-nodes/debian-12/Dockerfile
Due: none

Deprecate utcfromtimestamp
  cmk/gui/fields/definitions.py
  tests/testlib/__init__.py
  tests/unit/cmk/base/plugins/agent_based/test_aws_status.py
  tests/unit/cmk/gui/mkeventd/test_wato.py
  tests/unit/cmk/utils/test_piggyback.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Deprecate utcnow method
  agent-receiver/agent_receiver/certs.py
  cmk/base/plugins/agent_based/azure_app_registration.py
  cmk/base/plugins/agent_based/docker_container_status.py
  cmk/base/plugins/agent_based/esx_vsphere_snapshot.py
  cmk/base/plugins/agent_based/sap_hana_backup.py
  cmk/special_agents/agent_azure.py
  cmk/special_agents/agent_smb_share.py
  cmk/utils/certs.py
  cmk/utils/crypto/certificate.py
  cmk/utils/livestatus_helpers/testing.py
  tests/testlib/certs.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

Move sync_remote_sites registrations to function
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/plugins/wato/sync_remote_sites.py
  cmk/gui/wato/__init__.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extract non watolib registrations
  cmk/gui/inventory.py
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/userdb/__init__.py
  cmk/gui/userdb/registration.py
  cmk/gui/userdb/user_attributes.py
  cmk/gui/watolib/__init__.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move watolib registrations to dedicated function
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/watolib/__init__.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16014 emc_datadomain_disks: addition of "System" DataDomain status
  .werks/16014
Due: none

simplify omd_diskusage
  cmk/base/plugins/agent_based/omd_diskusage.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15866 FIX omd_diskusage: Seemingly random crashes
  .werks/15866
  cmk/base/plugins/agent_based/omd_diskusage.py
  tests/unit/cmk/base/plugins/agent_based/test_omd_diskusage.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15710 FIX NagVis: Updated to 1.9.36
  .werks/15710
  omd/packages/nagvis/nagvis-1.9.35.tar.gz
  omd/packages/nagvis/nagvis-1.9.36.tar.gz
  omd/packages/nagvis/nagvis.make
Due: none

Improve temporary pymssql build hack
  omd/packages/python3-modules/github-com.pem
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Use custom fix of Cython in PyMSSql package
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Add sources to compile mibs
  cmk/ec/snmp.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15888 FIX folder_config: update endpoint now only allows one of replace, update or delete attributes
  .werks/15888
  cmk/bi/schema.py
  cmk/gui/fields/base.py
  cmk/gui/plugins/openapi/endpoints/folder_config/__init__.py
  cmk/gui/plugins/openapi/endpoints/folder_config/request_schemas.py
  cmk/gui/plugins/openapi/restful_objects/code_examples.py
  tests/unit/cmk/gui/plugins/openapi/test_openapi_folder_config.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16014 emc_datadomain_disks: addition of "System" DataDomain status
  .werks/16014
  checks/emc_datadomain_disks
Due: none

15080 FIX Fix the dataset for specific "Site/Host overview" dashlets
  .werks/15080
Due: none

omd cleanup: Use package manager search without path
  .werks/13510
  omd/packages/omd/omdlib/main.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15867 FIX df: No longer crash if volume name is shown on a cluster
  .werks/15867
  checks/df
Due: none

15867 FIX df: No longer crash if volume name is shown on a cluster
  .werks/15867
  cmk/base/plugins/agent_based/df.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extended doc of image registration script
  buildscripts/docker_image_aliases/README.md
  buildscripts/docker_image_aliases/register.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add Ubuntu 23.04 Lunar Lobster distribution configuration
  buildscripts/docker_image_aliases/IMAGE_UBUNTU_23_04/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_UBUNTU_23_04/meta.yml
  buildscripts/infrastructure/build-nodes/ubuntu-23.04/Dockerfile
  editions.yml
  omd/distros/UBUNTU_23.04.mk
Due: none

snmp_modes: inline users
  cmk/base/automations/check_mk.py
  cmk/base/modes/check_mk.py
  cmk/snmplib/snmp_modes.py
  tests/integration/cmk/lib/snmplib/helper_walk_for_export.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Split and rename `snmp_modes`
  cmk/base/automations/check_mk.py
  cmk/base/modes/check_mk.py
  cmk/fetchers/_snmpscan.py
  cmk/snmplib/__init__.py
  cmk/snmplib/_getoid.py
  cmk/snmplib/_walk.py
  tests/integration/cmk/lib/snmplib/helper_get_single_oid.py
  tests/integration/cmk/lib/snmplib/helper_walk_for_export.py
  tests/integration/cmk/lib/snmplib/test_snmp_modes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove autotools stuff, part 1.
  configure.ac
  omd/packages/openssl/openssl.make
  omd/packages/protobuf/README.md
  omd/packages/rrdtool/rrdtool.make
Due: none

add types to ntop_alerts.ts
  tsconfig.strict.json
Due: none

Set HTTP Cache-Control
  cmk/gui/http.py
  cmk/gui/wsgi/applications/checkmk.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

WK14205: Legacy check_bi_aggr check: Improved performance
  .werks/14205
  active_checks/check_bi_aggr
Due: none

14207 FIX BI state computation: Removed superfluous and expensive livestatus queries
  .werks/14207
  cmk/utils/bi/bi_data_fetcher.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove accidentaly added folder
  foreign_cc_shell_toolchain/BUILD
Due: none

modify linux_commands to not destroy symlinks after build
  foreign_cc_adapted/private/framework/toolchains/linux_commands.bzl
  omd/packages/Python/BUILD.Python.bazel
  omd/packages/Python/Python.make
  omd/packages/libgsf/BUILD.libgsf.bazel
  omd/packages/libgsf/libgsf.make
  omd/packages/msitools/BUILD.msitools.bazel
  omd/packages/msitools/msitools.make
  omd/packages/openssl/openssl.make
Due: none

14204 FIX Fixed "PosixPath error" exception on activate changes
  .werks/14204
  cmk/gui/watolib/config_domains.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14207 FIX BI state computation: Removed superfluous and expensive livestatus queries
  .werks/14207
  cmk/bi/data_fetcher.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

UNIX agents/mk_oracle: Monitor timed out cached plugins
  .werks/15702
  agents/check_mk_agent.aix
  agents/check_mk_agent.freebsd
  agents/check_mk_agent.linux
  agents/check_mk_agent.openwrt
  agents/check_mk_agent.solaris
  agents/plugins/mk_oracle
  cmk/base/plugins/agent_based/checkmk_agent.py
  cmk/base/plugins/agent_based/checkmk_cached_plugins.py
  cmk/base/plugins/agent_based/utils/checkmk.py
  tests/unit/cmk/base/plugins/agent_based/test_checkmk_agent.py
  tests/unit/cmk/base/plugins/agent_based/test_checkmk_cached_plugins.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15163 Add REMOVE_ACKNOWLEDGEMENT_BY_ID livestatus command
  .werks/15163
Due: none
