Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

update cryptography/pyopenssl
  Pipfile
  Pipfile.lock
Due: none

resolve conflicts after change of lnx_distro.py in master
  cmk/base/plugins/agent_based/lnx_distro.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

formating
  cmk/base/plugins/agent_based/lnx_distro.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "update cryptography/pyopenssl"
  Pipfile
  Pipfile.lock
Due: none

16042 Change default number of host/service columns to 1
  .werks/16042
  cmk/gui/painter_options.py
  cmk/gui/views/builtin_views.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add number of results to inpage search
  cmk/gui/table.py
  web/htdocs/js/modules/utils.ts
  web/htdocs/themes/facelift/scss/_page_menu.scss
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Rework inpage search look
  cmk/gui/page_menu.py
  web/htdocs/js/modules/page_menu.ts
  web/htdocs/themes/facelift/images/icon_search_action.svg
  web/htdocs/themes/facelift/scss/_page_menu.scss
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove extra handling of opennsl on el8 > > This is not needded anymore since we upgraded to openssl3
  omd/packages/Python/BUILD.Python.bazel
  omd/packages/Python/Python.make
  omd/packages/monitoring-plugins/BUILD.monitoring-plugins.bazel
  omd/packages/monitoring-plugins/monitoring-plugins.make
  omd/packages/openssl/openssl.make
  omd/packages/perl-modules/BUILD
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/python3-modules.make
  omd/packages/stunnel/BUILD.stunnel.bazel
  omd/packages/xmlsec1/BUILD.xmlsec1
  omd/packages/xmlsec1/xmlsec1.make
Due: omd-python-modules

Compile all werks: cosmetics
  buildscripts/scripts/compile-all-werks.groovy
Due: none

Add two more deploy targets
  buildscripts/scripts/compile-all-werks.groovy
Due: none

Decrease duplications
  buildscripts/scripts/compile-all-werks.groovy
Due: none

Adds 'cmk_dev_tools' pip module
  Pipfile
  Pipfile.lock
Due: none

Make f12 remove old files
  cmk/.f12
Due: none

Fix-up loop variable in groovy
  buildscripts/scripts/compile-all-werks.groovy
Due: none

16141 FIX Do not notify in alert handler when notifications are disabled
  .werks/16141
Due: none

15645 FIX postgres: Fix Internal error: 'NoneType' object has no attribute 'value_to_json_safe'
  .werks/15645
Due: none

15644 FIX postgres_processes: Restore Monitoring if Instance Name is Missing
  .werks/15644
  checkman/postgres_processes
  cmk/base/plugins/agent_based/postgres_instances.py
  tests/unit/cmk/base/plugins/agent_based/test_postgres_instances.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

postgres: make old config format available again
  agents/plugins/mk_postgres.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add pyproject.toml, Pipfile and some scripts
  packages/cmk-metrics/Pipfile
  packages/cmk-metrics/Pipfile.lock
  packages/cmk-metrics/cmk_metrics/__init__.py
  packages/cmk-metrics/pyproject.toml
  packages/cmk-metrics/run
  packages/cmk-metrics/tests/unit/test_dummy.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move all_werks_v2.json to werks folder
  buildscripts/scripts/compile-all-werks.groovy
Due: none

Add test to ensure we don't loose endpoints during refactoring
  tests/unit/cmk/gui/openapi/restful_objects/test_endpoint_registry.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Improve typing and simplify add_endpoint
  cmk/gui/plugins/openapi/restful_objects/decorators.py
  cmk/gui/plugins/openapi/restful_objects/endpoint_registry.py
  cmk/gui/plugins/openapi/restful_objects/type_defs.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add instance filter parser for config
  packages/check-sql/src/config.rs
  packages/check-sql/src/config/ms_sql.rs
  packages/check-sql/src/config/yaml.rs
Due: none

add sqls parser for config
  packages/check-sql/src/config/ms_sql.rs
Due: none

refactoring check-sql #2
  packages/check-sql/src/config/ms_sql.rs
Due: none

Remove unused get_config_cache() calls
  tests/unit/cmk/base/test_command_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove single dash from grep command
  buildscripts/scripts/stages.yml
Due: none

Extend base-versions list in update-test
  tests/update/conftest.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Order check-results alphabetically in plugins-test
  tests/plugins_integration/checks.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix Fido2 error messages
  cmk/gui/wato/pages/user_profile/two_factor.py
  web/htdocs/js/modules/webauthn.ts
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

postgres: fix missing instance_name
  agents/plugins/mk_postgres.py
  tests/agent-plugin-unit/test_mk_postgres.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Add test to ensure we don't loose endpoints during refactoring"
  tests/unit/cmk/gui/openapi/restful_objects/test_endpoint_registry.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixup call-stack ruleset matcher/translation options
  cmk/base/automations/check_mk.py
  cmk/base/command_config.py
  cmk/base/config.py
  cmk/base/core_nagios.py
  tests/unit/cmk/base/test_command_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16112 FIX Refer to a time period by its name instead of its alias in the REST API
  .werks/16112
  cmk/gui/plugins/openapi/endpoints/time_periods/__init__.py
  cmk/gui/plugins/openapi/endpoints/time_periods/request_schemas.py
  cmk/gui/plugins/openapi/endpoints/time_periods/response_schemas.py
  tests/unit/cmk/gui/plugins/openapi/test_openapi_time_period.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16139 FIX notifications: adjust regex pattern
  .werks/16139
  cmk/gui/plugins/openapi/endpoints/notification_rules/common_schemas.py
  cmk/gui/plugins/wato/notifications.py
  tests/unit/cmk/gui/plugins/openapi/test_notification_rules.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16152 FIX host_config: bulk delete hosts requires at least 1 entry
  .werks/16152
  cmk/gui/plugins/openapi/endpoints/host_config/request_schemas.py
  tests/unit/cmk/gui/plugins/openapi/test_openapi_host_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
