Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

filters: prevent crash when all sites are offline
  cmk/gui/visuals/_site_filters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Xfail flaky broker tests for easier investigation with less noise
  tests/composition/message_broker/test_message_broker.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix KeyError 'hidebutton' in dashboard metadata API
  cmk/gui/dashboard/metadata.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

plugins/aws: added plugin name to ec2 resource type title
  .werks/19177.md
Due: none

Fix hot cache verification function
  buildscripts/scripts/utils/upload_artifacts.groovy
Due: none

Refactor filter components: conditional styling and simplified layout
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/components/filter/ObjectTypeFilterConfiguration/MultiFilter.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/components/filter/ObjectTypeFilterConfiguration/RestrictedToSingleFilter.vue
Due: none

plugins/aws: Added graphing for various new ec2 metrics
  .werks/19179.md
  cmk/plugins/aws/graphing/ec2_running_ondemand_instances_r6a.py
  cmk/plugins/aws/graphing/ec2_running_ondemand_instances_r6i.py
  cmk/plugins/aws/graphing/ec2_running_ondemand_instances_r6id.py
  cmk/plugins/aws/graphing/ec2_running_ondemand_instances_r8g.py
  cmk/plugins/aws/graphing/ec2_running_ondemand_instances_r8gd.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixup #2
  buildscripts/scripts/trigger-build-upload-cmk-distro-package.groovy
Due: none

Agent connection test: Use IP on edit host if set
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/AgentConnectionTest.vue
Due: none

Linux agent: Prevent mislabelled omd site
  agents/check_mk_agent.linux
  agents/check_mk_agent.openwrt
Due: none

fix(act): switch to CmkCollapsible and fix user setting url
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/services.py
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/steps/RegisterAgent.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix: address.split with maxsplit
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/models.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19302 kube_replicas: Terminating replicas for Deployments are now tracked
  .werks/19302.md
  cmk/gui/graphing/_graphs_order.py
  cmk/gui/plugins/wato/check_parameters/kube_replicas.py
  packages/cmk-plugins/cmk/plugins/kube/agent_based/kube_replicas.py
  packages/cmk-plugins/cmk/plugins/kube/agent_handlers/deployment_handler.py
  packages/cmk-plugins/cmk/plugins/kube/graphing/replica.py
  packages/cmk-plugins/cmk/plugins/kube/schemata/api.py
  packages/cmk-plugins/cmk/plugins/kube/schemata/section.py
  packages/cmk-plugins/cmk/plugins/kube/transform.py
  packages/cmk-plugins/tests/cmk/plugins/kube/agent_based/test_kube_replicas.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19302 kube_replicas: Terminating replicas for Deployments are now tracked
  .werks/19302.md
  cmk/gui/graphing/_graphs_order.py
  cmk/gui/plugins/wato/check_parameters/kube_replicas.py
  cmk/plugins/collection/agent_based/kube_replicas.py
  cmk/plugins/kube/agent_handlers/deployment_handler.py
  cmk/plugins/kube/graphing/replica.py
  cmk/plugins/kube/schemata/api.py
  cmk/plugins/kube/schemata/section.py
  cmk/plugins/kube/transform.py
  tests/unit/cmk/plugins/collection/agent_based/test_kube_replicas.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix: mk_mysql ACLs check in windows
  agents/windows/plugins/mk_mysql.ps1
Due: none

Hopefully the last fix for trigger-build-upload
  buildscripts/scripts/trigger-build-upload-cmk-distro-package.groovy
Due: none

fix(oauth2): properly handle shared_with and editable_by
  cmk/gui/oauth2_connections/wato/_modes.py
  cmk/gui/oauth2_connections/wato/_pages.py
  cmk/gui/oauth2_connections/watolib/store.py
  cmk/gui/watolib/configuration_entity/_oauth2_connections.py
  packages/cmk-frontend-vue/src/mode-oauth2-connection/steps/SaveConnection.vue
  tests/unit/cmk/gui/openapi/configuration_entity/test_openapi_configuration_entity_oauth2_connection.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(oauth2): properly display backend validation in last stage
  packages/cmk-frontend-vue/src/mode-oauth2-connection/ModeCreateOAuth2ConnectionApp.vue
Due: none

18706 Fix host_label parsing to handle ":" in label value
  .werks/18706.md
  cmk/gui/sidebar/_snapin/_search.py
  cmk/gui/utils/labels.py
  cmk/gui/view_utils.py
  cmk/utils/labels.py
  cmk/utils/rulesets/ruleset_matcher.py
  tests/unit/cmk/base/test_discovered_labels.py
  tests/unit/cmk/gui/utils/test_utils_labels.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(unified-search): rm recently viewed from no results view
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchEmptyResults.vue
Due: none

feat(changes-app): Add icons next to sites
  packages/cmk-frontend-vue/src/main-menu/changes/ChangesApp.vue
  packages/cmk-frontend-vue/src/main-menu/changes/ChangesInterfaces.ts
  packages/cmk-frontend-vue/src/main-menu/changes/components/sites/SiteStatusIcons.vue
  packages/cmk-frontend-vue/src/main-menu/changes/components/sites/SiteStatusItem.vue
  packages/cmk-frontend-vue/src/main-menu/changes/components/sites/SiteStatusList.vue
  tests/gui_e2e/testlib/playwright/pom/changes/activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

autodiscovery: Delete marker only when discovery wasn't skipped
  cmk/base/automations/check_mk.py
  cmk/checkengine/discovery/_autodiscovery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19182 activemq: add macro support in special agent
  .werks/19182.md
  cmk/plugins/activemq/server_side_calls/special_agent.py
  tests/unit/cmk/plugins/activemq/server_side_calls/test_special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(product-analytics): add warning for multi-tenancy
  cmk/gui/product_usage_analytics/global_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent-receiver: return "forbidden" only for {relay_id} paths
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/mtls_auth_validator.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/test_apps.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Dashboards: fix scatterplot tooltip hidden behind other dashboard widgets
  packages/cmk-frontend/src/js/modules/figures/cmk_figure_tooltip.ts
  packages/cmk-frontend/src/themes/facelift/scss/_cmk_figures.scss
Due: none

rrd: attach suffix correctly
  cmk/rrd/_fs.py
  cmk/rrd/rrd.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Minor cleanup
  cmk/gui/graphing/_artwork.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix: make relay installation script handle volumes with SELINUX
  tests/unit-shell/relay/test_call_order.sh
  tests/unit-shell/relay/test_registration.sh
  tests/unit-shell/relay/test_systemd_files.sh
Due: none

dashboard: HW/SW inventory string change
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/hw_sw_inventory/stage1/StageContents.vue
Due: none

Pin setuptools to 81.0.0 for building
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Do not sync auth secret
  cmk/gui/watolib/activate_changes.py
  tests/unit/cmk/gui/watolib/test_activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add ignore button to agent tooltip in service discovery
  cmk/gui/wato/pages/services.py
  packages/cmk-frontend-vue/src/setup/AgentDownloadApp.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
  packages/cmk-shared-typing/source/setup.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Show agent download dialog where it is needed
  cmk/gui/wato/pages/services.py
  packages/cmk-frontend-vue/src/components/CmkTooltip/CmkTooltipContent.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adjust agent tooltip text in service discovery
  packages/cmk-frontend-vue/src/setup/AgentDownloadApp.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
Due: none

fetch_agent_output: Fix timeout message
  cmk/gui/wato/pages/fetch_agent_output.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Dashboards: fix burger menu is hidden behind other dashboard elements
  packages/cmk-frontend/src/js/modules/popup_menu.ts
  packages/cmk-frontend/src/themes/facelift/scss/_pages.scss
Due: none
