Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

`single_tests.groovy`: Don't forward `OTEL_EXPORTER_OTLP_ENDPOINT` env. var.
  buildscripts/scripts/utils/single_tests.groovy
Due: none

Another one for werk #17709
  cmk/gui/wato/pages/notifications/modes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix werks version after release of 2.4.0b2
  .werks/17726.md
Due: none

Relocked python dependencies
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

Relocked Pipfile
  Pipfile.lock
Due: none

Update jinja2
  Pipfile
  Pipfile.lock
Due: none

Fix werks version after release of 2.4.0b2
  .werks/17008.md
  .werks/17372.md
  .werks/17530.md
  .werks/17531.md
  .werks/17589.md
  .werks/17631.md
  .werks/17632.md
  .werks/17714.md
  .werks/17726.md
  .werks/17808.md
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
Due: none

17841 FIX Effective parameters of logwatch_ec_single can not be shown
  .werks/17841.md
  cmk/gui/wato/pages/object_parameters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reapply "Don't create crash reports for user errors during activate changes"
  cmk/gui/watolib/activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

multiple_choice visitor: fix _parse_value when using DefaultValue
  cmk/gui/form_specs/vue/visitors/multiple_choice.py
  tests/unit/cmk/gui/form_specs/vue/visitors/test_multiple_choice.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

e2e: update aws quick setup test
  tests/gui_e2e/quick_setups/test_aws.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

e2e: fix activate changes with 10+ changes
  tests/gui_e2e/testlib/playwright/pom/page.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

e2e: gcp quick setup
  tests/gui_e2e/quick_setups/fake_agent_gcp.py
  tests/gui_e2e/quick_setups/test_gcp.py
  tests/gui_e2e/testlib/playwright/pom/setup/cloud_quick_setups.py
  tests/gui_e2e/testlib/playwright/pom/setup/dcd.py
  tests/gui_e2e/testlib/playwright/pom/setup/passwords.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

e2e: split aws page into abstract class
  tests/gui_e2e/quick_setups/test_aws.py
  tests/gui_e2e/testlib/playwright/pom/setup/cloud_quick_setups.py
  tests/gui_e2e/testlib/playwright/pom/setup/hosts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

index.ts: move callable functions to own module
  packages/cmk-frontend/src/js/index.ts
  packages/cmk-frontend/src/js/modules/callable_functions.ts
Due: none

Fix scrolling after clicking links on discovery page
  cmk/gui/htmllib/generator.py
  cmk/gui/wato/pages/services.py
  packages/cmk-frontend/src/js/modules/callable_functions.ts
  packages/cmk-frontend/src/js/modules/service_discovery.ts
  packages/cmk-frontend/src/js/modules/utils.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

(reland) stderr of config hooks is not logged
  omd/packages/omd/omdlib/config_hooks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixup werk version after pick to release branch
  .werks/16575.md
Due: none

17654 FIX Agent registration: Fix TLS registration removal
  .werks/17654.md
  cmk/gui/watolib/agent_registration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix werk ref
  .werks/16737.md
Due: none

17553 FIX Fix: Removed password change notification wehn creating users
  .werks/17553.md
  cmk/gui/wato/pages/users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

plesk plugins: Update man page and error message
  agents/plugins/plesk_backups.py
  agents/plugins/plesk_domains.py
  cmk/plugins/collection/checkman/plesk_backups
  cmk/plugins/collection/checkman/plesk_domains
  tests/agent-plugin-unit/test_plesk_backups.py
  tests/agent-plugin-unit/test_plesk_domains.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update singlechoiceeditable choices on mount
  cmk/gui/form_specs/vue/visitors/recomposers/folder.py
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoiceEditable.vue
  packages/cmk-frontend-vue/src/form/components/utils/configuration_entity.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make conf entity endpoints easily extensible
  cmk/gui/openapi/endpoints/configuration_entity/__init__.py
  cmk/gui/openapi/endpoints/configuration_entity/_common.py
  cmk/gui/openapi/endpoints/configuration_entity/notification_parameter/__init__.py
  tests/testlib/unit/rest_api_client.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add list folder conf entity endpoint
  cmk/gui/openapi/endpoints/configuration_entity/__init__.py
  cmk/gui/openapi/endpoints/configuration_entity/_common.py
  cmk/gui/openapi/endpoints/configuration_entity/folder/__init__.py
  cmk/gui/openapi/restful_objects/type_defs.py
  tests/unit/cmk/gui/openapi/configuration_entity/__init__.py
  tests/unit/cmk/gui/openapi/configuration_entity/test_openapi_configuration_entity.py
  tests/unit/cmk/gui/openapi/configuration_entity/test_openapi_configuration_entity_folder.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reserved 10 Werk IDS
  .werks/first_free
Due: none

17655 FIX Fix inventory of docker node networks
  .werks/17655.md
  cmk/base/plugins/agent_based/inventory_docker_node_network.py
  cmk/gui/views/inventory/builtin_display_hints.py
  tests/unit/cmk/base/plugins/agent_based/test_inv_docker_node_network.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
  tests/unit/cmk/gui/views/test_views.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17655 FIX Fix inventory of docker node networks
  .werks/17655.md
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/agent_based/inventory_docker_node_network.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
  tests/unit/cmk/gui/views/test_views.py
  tests/unit/cmk/plugins/collection/agent_based/test_inv_docker_node_network.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
