Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

12698 FIX CMC would eat flapping notifications
  .werks/12698
Due: none

Update kaspersky_av_client.vbs
  agents/windows/plugins/kaspersky_av_client.vbs
Due: none

Minor cleanup
  cmk/gui/inventory.py
  cmk/gui/plugins/views/inventory.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Add validation
  cmk/utils/structured_data.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Cleanup six.{remove_str, remove_binary} part9.1
  cmk/gui/plugins/views/crash_reporting.py
  cmk/gui/plugins/watolib/utils.py
  cmk/gui/valuespec.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/wato/pages/users.py
  cmk/gui/watolib/automations.py
  cmk/gui/watolib/config_domains.py
  cmk/gui/watolib/sites.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Cleanup six.{remove_str, remove_binary} part12
  cmk/gui/plugins/userdb/ldap_connector.py
  cmk/gui/table.py
  cmk/gui/watolib/activate_changes.py
  cmk/utils/crash_reporting.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

AMI: remove IP address from motd
  buildscripts/infrastructure/build-nodes/aws/roles/change-motd/files/motd.j2
Due: none

Use packages from shared storage on jenkins for testing
  buildscripts/scripts/lib/integration.groovy
  buildscripts/scripts/lib/upload_artifacts.groovy
  buildscripts/scripts/test-docker-integration.jenkins
  tests/docker/test_docker.py
  tests/scripts/install-cmk.py
  tests/testlib/containers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

publish only enterprise edition to website
  buildscripts/scripts/build-cmk-version.jenkins
  buildscripts/scripts/nightly-trigger.jenkins
Due: none

Do not build cmk container for CFE
  buildscripts/scripts/nightly-trigger.jenkins
Due: none

Cleanup of pylint warnings and errors for tests directory; part1
  tests/unit/checks/generictests/datasets/k8s_daemon_pods.py
  tests/unit/checks/generictests/datasets/k8s_ingress_infos.py
  tests/unit/checks/generictests/datasets/k8s_job_info.py
  tests/unit/checks/generictests/datasets/k8s_pod_container_regression.py
  tests/unit/checks/generictests/regression.py
  tests/unit/checks/generictests/run.py
  tests/unit/checks/test_diskstat_include.py
  tests/unit/checks/test_jolokia_include.py
  tests/unit/cmk/base/plugins/agent_based/test_diskstat.py
  tests/unit/cmk/base/plugins/agent_based/test_esx_vsphere_snapshots.py
  tests/unit/cmk/base/plugins/agent_based/test_fileinfo_check.py
  tests/unit/cmk/base/plugins/agent_based/test_inv_perle_chassis.py
  tests/unit/cmk/base/plugins/agent_based/test_inv_prtconf.py
  tests/unit/cmk/base/plugins/agent_based/test_inv_solaris_pkginfo.py
  tests/unit/cmk/base/plugins/agent_based/test_sap_hana_data_volume.py
  tests/unit/cmk/base/plugins/agent_based/test_sap_hana_license.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_diskstat_utils.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_fileinfo_utils.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_postgres.py
  tests/unit/cmk/base/test_checks.py
  tests/unit/cmk/base/test_ip_lookup.py
  tests/unit/cmk/gui/conftest.py
  tests/unit/cmk/special_agents/test_agent_salesforce_output.py
  tests/unit/cmk/utils/test_type_defs_result.py
  tests/unit/test_plugin_vs_wato.py
  tests/unit/test_pylint_checker_cmk_module_layers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

autochecks test: split up test cases
  tests/unit/cmk/base/test_autochecks.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Introduce AutocheckService
  cmk/base/agent_based/discovery/__init__.py
  cmk/base/agent_based/discovery/_discovered_services.py
  cmk/base/autochecks.py
  cmk/base/automations/check_mk.py
  cmk/base/check_utils.py
  cmk/base/config.py
  cmk/update_config.py
  tests/unit/cmk/base/agent_based/discovery/test_discovered_services.py
  tests/unit/cmk/base/agent_based/discovery/test_discovery.py
  tests/unit/cmk/base/test_autochecks.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

13167 agent_aws: added optional parameter "--vcrtrace"
  .werks/13167
  cmk/special_agents/agent_aws.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

minor refactoring
  cmk/base/plugins/agent_based/services.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Port ServiceGroupMembersColumn to new column API
  livestatus/src/ServiceGroupMembersColumn.cc
  livestatus/src/ServiceGroupMembersColumn.h
  livestatus/src/TableServiceGroups.cc
Due: none

RESTAPI: fix missing "405" in status codes
  cmk/gui/plugins/openapi/restful_objects/type_defs.py
  tests/unit/cmk/gui/plugins/openapi/test_restful_objects.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix IWYU error
  livestatus/src/ServiceGroupMembersColumn.h
Due: none

13048 RESTAPI: evaluate accept header
  .werks/13048
  cmk/gui/plugins/openapi/restful_objects/decorators.py
  cmk/gui/plugins/openapi/restful_objects/type_defs.py
  tests/unit/cmk/gui/plugins/openapi/test_endpoint.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

fix integration tests when running on latest version
  buildscripts/scripts/lib/integration.groovy
  buildscripts/scripts/lib/versioning.groovy
Due: none

apply python packages fix and increase a magic number to be sure, they're built
  buildscripts/infrastructure/build-nodes/sles-15sp3/Dockerfile
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

detect new unconfigured nightly build trigger
  buildscripts/scripts/nightly-trigger.jenkins
Due: none

disable nightly builds in Testing folder
  buildscripts/scripts/nightly-trigger.jenkins
Due: none

checking: minor cleanup
  cmk/base/agent_based/checking/__init__.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fixup typo atttibutes -> attributes
  livestatus/src/AttributeListAsIntColumn.cc
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

snmp_table: renamings
  cmk/snmplib/snmp_table.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

13370 FIX Fix LDAP synchronisation of customer attribute
  .werks/13370
  cmk/gui/plugins/userdb/ldap_connector.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

sles-15sp3: adapt msi build configuration
  omd/packages/msitools/msitools.make
Due: none

Trigger ami image build in CFE path
  buildscripts/scripts/nightly-trigger.jenkins
Due: none

config: drop unused args
  cmk/base/config.py
  tests/unit/cmk/base/test_check_table.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

config: do not overwrite param variable
  cmk/base/config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Deactivate outdated certificated
  buildscripts/infrastructure/os-nodes/ubuntu-18.04/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-18.10/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-19.04/Dockerfile
Due: none

NewStorageFormat: Added extend(..) to automatic host_path detection
  cmk/base/config.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix cerificate error for the installation of nodejs - aply to ubuntu 19.10
  buildscripts/infrastructure/os-nodes/ubuntu-19.10/Dockerfile
Due: none

13087 FIX Remove ad hoc restrictions in the generic check helper protocol.
  .werks/13087
Due: none

13226 FIX SNMP caching bug leading to UNKNOWN services
  .werks/13226
  cmk/fetchers/snmp.py
  cmk/snmplib/snmp_table.py
  tests/unit/cmk/fetchers/test_fetchers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
