Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

agent_download_token: forward token creation to remote sites
  cmk/gui/openapi/api_endpoints/agent_download/create_agent_download_token.py
  cmk/gui/openapi/api_endpoints/agent_download/models/token.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19759 FIX Test agent connection: token-based agent download and registration on remote-site hosts
  .werks/19759.md
Due: none

agent_registration_token: forward token creation to remote sites
  cmk/gui/agent_registration/api/model/token.py
  cmk/gui/agent_registration/api/token_create.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

tests: cover agent token-create endpoint forwarding
  tests/testlib/rest_api_client.py
  tests/unit/cmk/gui/openapi/test_openapi_agent_download_token.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

watolib: add agent download/registration token-create automations
  cmk/gui/watolib/BUILD
  cmk/gui/watolib/agent_token_automations.py
  cmk/gui/watolib/registration.py
  tests/unit/cmk/gui/watolib/test_agent_token_automations.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api: add allow_empty flag to query_expression_validator
  cmk/gui/openapi/framework/model/common_fields.py
  tests/unit/cmk/gui/openapi/framework/model/test_common_fields.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api/host: migrate to new framework
  cmk/gui/openapi/api_endpoints/host/__init__.py
  cmk/gui/openapi/api_endpoints/host/_family.py
  cmk/gui/openapi/api_endpoints/host/_registration.py
  cmk/gui/openapi/api_endpoints/host/_utils.py
  cmk/gui/openapi/api_endpoints/host/list_hosts.py
  cmk/gui/openapi/api_endpoints/host/models/__init__.py
  cmk/gui/openapi/api_endpoints/host/models/request_models.py
  cmk/gui/openapi/api_endpoints/host/models/response_models.py
  cmk/gui/openapi/api_endpoints/host/show_host.py
  cmk/gui/openapi/endpoints/host/__init__.py
  cmk/gui/openapi/registration.py
  tests/openapi/test_openapi_host.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api: add BinaryBase64 and LivestatusValue helper
  cmk/gui/openapi/framework/model/common_fields.py
  tests/unit/cmk/gui/openapi/framework/model/test_common_fields.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api: support optional list query parameters
  cmk/gui/openapi/framework/_validation.py
  tests/unit/cmk/gui/openapi/framework/test_endpoint_model.py
  tests/unit/cmk/gui/openapi/framework/test_validation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api: add columns_validator
  cmk/gui/openapi/framework/model/common_fields.py
  tests/unit/cmk/gui/openapi/framework/model/test_common_fields.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

debian-12 build image: install systemd
  buildscripts/infrastructure/build-nodes/debian-12/Dockerfile
Due: none

Migrate jvm_requests ruleset to the latest ruleset API
  cmk/gui/plugins/wato/check_parameters/jvm_requests.py
  cmk/legacy_checks/jolokia_metrics.py
  cmk/plugins/jolokia/rulesets/jvm_requests.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

install-cmk: drop unnecessary sys.path patching
  tests/scripts/install-cmk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "cmc host check: fall back to Check_MK service for push agents"
  .werks/19538.md
Due: none

Revert "Migrate jvm_requests ruleset to the latest ruleset API"
  cmk/gui/plugins/wato/check_parameters/jvm_requests.py
  cmk/legacy_checks/jolokia_metrics.py
  cmk/plugins/jolokia/rulesets/jvm_requests.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

drop unused import
  cmk/legacy_checks/jolokia_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "drop unused import"
  cmk/legacy_checks/jolokia_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19419 FIX OTel collector: Reject invalid password IDs in basic-auth configuration
  .werks/19419.md
Due: none

OTel quicksetup: OTel specific password ID validation
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/CollectorAuthConfig.vue
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/ConfigureCollector.vue
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/validation.ts
  packages/cmk-frontend-vue/tests/mode-otel/ConfigureCollector.test.ts
  packages/cmk-frontend-vue/tests/mode-otel/validation.test.ts
Due: none

Update aiohttp to 3.13.5
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Add GUI e2e for prometheus QuickSetup
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add POM for prometheus QuickSetup
  tests/gui_e2e/testlib/playwright/pom/setup/otel/prometheus_quick_setup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Thread metric-backend flag through
  cmk/base/diagnostics.py
  cmk/diagnostics/__init__.py
  cmk/diagnostics/_unsorted.py
  cmk/gui/wato/pages/diagnostics.py
  tests/unit/cmk/diagnostics/test__unsorted.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reserved 10 Werk IDS
  .werks/first_free
Due: none

search_menu: fix typo in main menu registry
  cmk/gui/search_menu.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass edition down where needed, part 47...
  cmk/base/diagnostics.py
  tests/unit/cmk/base/test_diagnostics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Patched resolve_secret_option API function to handle multiword arguments properly
  packages/cmk-plugin-apis/cmk/password_store/v1_unstable/_convenience.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: move jar_signature rulespec to cmk/plugins/jar_signature
  cmk/plugins/jar_signature/rulesets/bakery.py
  tests/unit/cmk/plugins/jar_signature/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: move arcserve_backup rulespec to cmk/plugins/collection
  cmk/plugins/collection/rulesets/arcserve_backup.py
  tests/unit/cmk/plugins/collection/rulesets/test_arcserve_backup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: migrate jar_signature rulespec to v1 API
  cmk/base/plugins/bakery/jar_signature.py
  cmk/gui/plugins/legacy_bakery_rulesets/jar_signature.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: migrate arcserve_backup rulespec to v1 API
  cmk/gui/plugins/legacy_bakery_rulesets/arcserve_backup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

ucd_mem: improve section
  cmk/legacy_checks/ucd_mem.py
  cmk/plugins/collection/agent_based/ucd_mem.py
  tests/unit/cmk/legacy_checks/test_ucd_mem_1.py
  tests/unit/cmk/legacy_checks/test_ucd_mem_2.py
  tests/unit/cmk/legacy_checks/test_ucd_mem_3.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19583 FIX Fix LDAPS connections failing due to inherited CRL check settings
  .werks/19584.md
  cmk/gui/ldap_integration/ldap_connector.py
  tests/unit/cmk/gui/ldap/test_ldap_golden.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reapply "Prepare cmk-web BUILD file split"
  packages/cmk-web/BUILD
  packages/cmk-web/cmk/web/utils/BUILD
Due: none

Reapply "Move static html generation to cmk-web"
  cmk/gui/htmllib/BUILD
  cmk/gui/htmllib/generator.py
  cmk/gui/htmllib/tag_rendering.py
  module_layers.toml
  packages/cmk-web/BUILD
  packages/cmk-web/cmk/web/htmllib/BUILD
  packages/cmk-web/cmk/web/htmllib/__init__.py
  packages/cmk-web/cmk/web/htmllib/builder.py
  packages/cmk-web/cmk/web/htmllib/tag_rendering.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reapply "Move escaping to cmk-web"
  cmk/gui/utils/escaping.py
  cmk/utils/escaping.py
  module_layers.toml
  packages/cmk-web/BUILD
  packages/cmk-web/cmk/web/utils/escaping.py
  packages/cmk-web/tests/test_escaping.py
  tests/unit/cmk/utils/test_escaping.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Split cmk-web tests per module
  packages/cmk-web/BUILD
  packages/cmk-web/tests/utils/BUILD
  packages/cmk-web/tests/utils/test_escaping.py
  packages/cmk-web/tests/utils/test_urls.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
