Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

18326 FIX Dashboard graphs: Fix position of indicator line
  .werks/18326.md
  packages/cmk-frontend/src/js/modules/graphs.ts
Due: none

DashboardApp: show filter configuration after dashboard creation
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
Due: none

Vue-CmkSlideIn: hide scrollbar without break radix
  packages/cmk-frontend-vue/src/components/CmkSlideIn.vue
  packages/cmk-frontend-vue/tests/components/CmkSlideInDialog.test.ts
Due: none

18887 mk_tsm: Failed to transform rule
  .werks/18887.md
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

Remove dead code
  .layering.yaml
  .pylintrc
  tests/pylint/checker_layering_violation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

emc_datadomain_fans: Migrate to new API
  cmk/base/legacy_checks/emc_datadomain_fans.py
  cmk/checkengine/plugin_backend/_discover.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

emc_datadomain_fans: Move to emc plugin family
  cmk/checkengine/plugin_backend/_discover.py
  cmk/legacy_checks_list.bzl
  cmk/plugins/emc/agent_based/emc_datadomain_fans.py
  cmk/plugins/emc/checkman/emc_datadomain_fans
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix missing manpages
  cmk/BUILD
Due: none

18874 FIX HTTP proxy IDs with hyphens work consistently across the GUI
  .werks/18874.md
  cmk/gui/form_specs/vue/visitors/recomposers/proxy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18874 FIX HTTP proxy IDs with hyphens work consistently across the GUI
  .werks/18874.md
  cmk/gui/form_specs/visitors/recomposers/proxy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(nav): add backdrop blur
  packages/cmk-frontend/src/themes/facelift/scss/_main_menu.scss
Due: none

Move emc_datadomain_nvbat plugin to final location
  cmk/checkengine/plugin_backend/_discover.py
  cmk/legacy_checks_list.bzl
  cmk/plugins/emc/agent_based/emc_datadomain_nvbat.py
  cmk/plugins/emc/checkman/emc_datadomain_nvbat
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate emc_datadomain_nvbat check plugin to new API (in-place)
  cmk/base/legacy_checks/emc_datadomain_nvbat.py
  cmk/checkengine/plugin_backend/_discover.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(agent-receiver): use correct REST API endpoint for token auth
  packages/cmk-agent-receiver/cmk/agent_receiver/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/lib/config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

18731 Proxmox VE: Extended monitoring and inventory
  .werks/18731.md
Due: none

Use itertools.chain to simplify log error handling in BackupTask
  packages/cmk-plugins/cmk/plugins/proxmox_ve/special_agent/libbackups.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

filter/rest-api: add discriminator to component model
  cmk/gui/visuals/filter/api/_model.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update 2FA input to adhere to latest UX design
  cmk/gui/wato/pages/user_profile/two_factor.py
  packages/cmk-frontend-vue/demo/components/DemoTwoFactorAuthentication.vue
  packages/cmk-frontend-vue/demo/components/index.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/two-factor-auth/TwoFactorAuthApp.vue
  packages/cmk-frontend-vue/src/two-factor-auth/components/TwoFactorAuthBackupInput.vue
  packages/cmk-frontend-vue/src/two-factor-auth/components/TwoFactorAuthHeader.vue
  packages/cmk-frontend-vue/src/two-factor-auth/components/TwoFactorAuthLinks.vue
  packages/cmk-frontend-vue/src/two-factor-auth/components/TwoFactorAuthOtpInput.vue
  packages/cmk-frontend-vue/src/two-factor-auth/components/TwoFactorEnabledMethods.vue
  packages/cmk-frontend-vue/src/two-factor-auth/twoFactorAuth.ts
  packages/cmk-frontend-vue/src/two-factor-auth/twoFactorAuthService.ts
  packages/cmk-frontend-vue/src/two-factor-auth/webauthn.ts
  packages/cmk-frontend-vue/tests/two-factor-auth/TwoFactorAuthApp.test.ts
  packages/cmk-frontend/src/themes/facelift/scss/_login.scss
  packages/cmk-shared-typing/BUILD
  packages/cmk-shared-typing/source/two_factor_auth.json
  tests/gui_e2e/test_totp.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-agent-ctl: Support registration with one-time-token
  packages/cmk-agent-ctl/src/agent_receiver_api.rs
  packages/cmk-agent-ctl/src/cli.rs
  packages/cmk-agent-ctl/src/configuration/config.rs
  packages/cmk-agent-ctl/src/lib.rs
  packages/cmk-agent-ctl/src/modes/registration.rs
  packages/cmk-agent-ctl/src/types.rs
Due: none

FIX dashboard: export view to responsive dashboard
  cmk/gui/dashboard/visual_type.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reserved 20 Werk IDS
  .werks/first_free
Due: none

Rename 'inventory_liebert_chilled_water' -> 'discover_liebert_chilled_water'
  cmk/plugins/liebert/agent_based/liebert_chilled_water.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_liebert_maintenance' -> 'discover_liebert_maintenance'
  cmk/plugins/liebert/agent_based/liebert_maintenance.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_msexch_database' -> 'discover_msexch_database'
  cmk/plugins/msexch/agent_based/msexch_database.py
  tests/unit/cmk/plugins/msexch/agent_based/test_msexch_database.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_liebert_reheating' -> 'discover_liebert_reheating'
  cmk/plugins/liebert/agent_based/liebert_reheating.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_liebert_chiller_status' -> 'discover_liebert_chiller_status'
  cmk/plugins/liebert/agent_based/liebert_chiller_status.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bump bazel version
  .bazelversion
  MODULE.bazel.lock
Due: none

restore previous plugin discovery mechanism
  cmk/discover_plugins/_libexec.py
  cmk/discover_plugins/_python_plugins.py
  cmk/plugins/otel/server_side_calls/__init__.py
  tests/plugins_siteless/plugins_consistency/test_graphing_plugins.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "18543 FIX Fix path to the password store in fetcher command line"
  .werks/18543.md
Due: none

feat: download relay script static endpoint without auth
  cmk/gui/openapi/restful_objects/type_defs.py
  omd/packages/check_mk/skel/etc/check_mk/apache.conf
  tests/integration/omd/test_web_access.py
  tests/testlib/unit/rest_api_client.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: fix missingRuntimeFiltersAction error on shared dashboards
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardSharedApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/composables/useProvideMissingRuntimeFiltersAction.ts
Due: none

cisco_meraki: add test for device info host labels
  tests/unit/cmk/plugins/cisco_meraki/agent_based/test_cisco_meraki_org_device_info.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: extend device info plugin
  cmk/plugins/cisco_meraki/agent_based/cisco_meraki_org_device_info.py
  cmk/plugins/cisco_meraki/lib/agent.py
  cmk/plugins/cisco_meraki/lib/schema/_devices.py
  cmk/plugins/collection/inventory_ui/software.py
  tests/plugins_siteless/plugins_consistency/test_section_host_label_doc.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
  tests/unit/cmk/plugins/cisco_meraki/agent_based/test_cisco_meraki_org_device_info.py
  tests/unit/cmk/plugins/cisco_meraki/lib/test_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: return raw devices from client
  cmk/plugins/cisco_meraki/lib/agent.py
  cmk/plugins/cisco_meraki/lib/clients/__init__.py
  cmk/plugins/cisco_meraki/lib/clients/_organizations.py
  cmk/plugins/cisco_meraki/lib/config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixups for 18937.md
  .werks/18937.md
Due: none

Adapt uv cache key for gh actions
  .github/workflows/pr.yaml
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
