Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Rename 'inventory_audiocodes_modules' -> 'inventorize_audiocodes_modules'
  cmk/plugins/audiocodes/agent_based/modules.py
  tests/unit/cmk/plugins/audiocodes/agent_based/test_modules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_fritz' -> 'inventorize_fritz'
  cmk/plugins/fritzbox/agent_based/fritz.py
  tests/unit/cmk/plugins/fritzbox/agent_based/test_fritz.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_win_networkadapter' -> 'inventorize_win_networkadapter'
  cmk/plugins/windows/agent_based/inventory_win_networkadapter.py
  tests/unit/cmk/plugins/windows/agent_based/test_inventory_win_networkadapter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Trigger only enterprise with trigger-all-nightlies-fast job on weekdays
  buildscripts/scripts/trigger-all-nightlies-fast.groovy
Due: none

Update Python libraries
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

cisco_meraki: fix topic for special agent
  cmk/plugins/cisco_meraki/rulesets/agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: handle missing gateway attribute
  cmk/plugins/cisco_meraki/agent_based/cisco_meraki_org_device_uplinks_info.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: handle missing system name attribute
  cmk/plugins/cisco_meraki/agent_based/cisco_meraki_org_switch_port_statuses.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: add test for switch port status
  tests/unit/cmk/plugins/cisco_meraki/agent_based/test_cisco_meraki_org_switch_port_statuses.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: fix switch port status parsing
  cmk/plugins/cisco_meraki/agent_based/cisco_meraki_org_switch_port_statuses.py
  tests/unit/cmk/plugins/cisco_meraki/agent_based/test_cisco_meraki_org_switch_port_statuses.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_audiocodes_system_information' -> 'inventorize_audiocodes_system_information'
  cmk/plugins/audiocodes/agent_based/system_information.py
  tests/unit/cmk/plugins/audiocodes/agent_based/test_system_information.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_mssql_instance' -> 'inventorize_mssql_instance'
  cmk/plugins/mssql/agent_based/mssql_instance.py
  tests/unit/cmk/plugins/mssql/agent_based/test_mssql_instance.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_audiocodes_sip_interfaces' -> 'inventorize_audiocodes_sip_interfaces'
  cmk/plugins/audiocodes/agent_based/interfaces.py
  tests/unit/cmk/plugins/audiocodes/agent_based/test_inventory_interfaces.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_checkmk' -> 'inventorize_checkmk'
  cmk/plugins/checkmk/agent_based/check_mk.py
  cmk/plugins/checkmk/agent_based/checkmk_agent_plugins.py
  cmk/plugins/omd/agent_based/inventory_checkmk_server.py
  tests/unit/cmk/plugins/checkmk/agent_based/test_checkmk_agent_plugins.py
  tests/unit/cmk/plugins/omd/agent_based/test_inventory_checkmk_server.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_oracle_performance' -> 'inventorize_oracle_performance'
  cmk/plugins/oracle/agent_based/oracle_performance_inventory.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_performance.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_oracle_recovery_area' -> 'inventorize_oracle_recovery_area'
  cmk/plugins/oracle/agent_based/oracle_recovery_area.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_recovery_area.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_oracle_instance' -> 'inventorize_oracle_instance'
  cmk/plugins/oracle/agent_based/oracle_instance_inventory.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_instance.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_oracle_tablespaces' -> 'inventorize_oracle_tablespaces'
  cmk/plugins/oracle/agent_based/oracle_tablespaces.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_tablespaces.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_oracle_dataguard_stats' -> 'inventorize_oracle_dataguard_stats'
  cmk/plugins/oracle/agent_based/oracle_dataguard_stats.py
  tests/unit/cmk/plugins/oracle/agent_based/test_oracle_dataguard_stats.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(relay): Adding UTs for update_manager.sh script
  tests/unit-shell/relay/test_update_manager.sh
Due: none

refactor(product-telemetry): remove transmission feature flag
  cmk/product_telemetry/transmission.py
  tests/unit/cmk/product_telemetry/test_transmission.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard/rest-api: fix model names
  cmk/gui/dashboard/api/compute_widget_titles.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

shared-typing: update spec
  packages/cmk-shared-typing/source/openapi_spec_internal.yaml
Due: none

dashboard: remove generateTitleSpec
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/components/WidgetVisualization/useWidgetVisualization.ts
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/view/stage3/StageContents.vue
Due: none

18327 FIX Fix handling of levels with infinity values while rendering horizontal rules within graphs
  .werks/18327.md
  cmk/gui/graphing/_graph_templates.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18327 FIX Fix handling of levels with infinity values while rendering horizontal rules within graphs
  .werks/18327.md
  cmk/gui/graphing/_graph_specification.py
  tests/unit/cmk/gui/graphing/test_graph_specification.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

PEV/VQA: Bugfix spacing view wizard
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/view/stage1/StageContents.vue
Due: none

Bugfix user may edit foreign dashboards
  cmk/gui/dashboard/metadata.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

VQA Other widget
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/DashboardContentStaticText.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/OtherWizard.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/DataSelectionContainer.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/DataSettings.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/EmbeddedURL/EmbeddedURL.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/SidebarWidget/SidebarElementSelector.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/SidebarWidget/SidebarWidget.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/StaticText/StaticText.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/other/stage1/UserMessages/composables/useUserMessages.ts
Due: none

Loosen python dependency pins
  community-requirements.txt
  constraints.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

dashboard: fix widget title background not working in preview
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/DashboardContentContainer.vue
Due: none

test-update: Simplify injected dump
  tests/testlib/agent_dumps.py
  tests/update/conftest.py
  tests/update/dumps/agent-2.3.0-docker
  tests/update/dumps/agent-2.4.0b1-dummy
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18705 FIX Fix factor for orion system dc power
  .werks/18705.md
  cmk/base/legacy_checks/orion_system.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_if_name' -> 'inventorize_if_name'
  cmk/plugins/network/agent_based/ifname.py
  tests/unit/cmk/plugins/network/agent_based/test_ifname.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename 'inventory_solaris_prtdiag' -> 'inventorize_solaris_prtdiag'
  cmk/plugins/collection/agent_based/solaris_prtdiag.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
