Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

bakery(mk_sap): migrate rulespec to v1 API
  cmk/base/plugins/bakery/mk_sap.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_sap.py
  tests/unit/cmk/plugins/sap/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update perl dep XML-Parser from 2.46 to 2.47
  omd/packages/perl-modules/perl-modules_http.bzl
Due: none

plugin API doc: customize css
  packages/cmk-plugin-apis/doc/_static/checkmk_logo.svg
  packages/cmk-plugin-apis/doc/_static/custom.css
  packages/cmk-plugin-apis/doc/_static/fonts/inter-latin-italic.woff2
  packages/cmk-plugin-apis/doc/_static/fonts/inter-latin-normal.woff2
  packages/cmk-plugin-apis/doc/conf.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: extract annotations.py sub-module
  cmk/gui/availability/__init__.py
  cmk/gui/availability/annotations.py
  tests/unit/cmk/gui/test_availability_annotations.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

plugins_consistency: make sure conftest is included only once
  tests/plugins_consistency/BUILD
Due: none

Reapply "19742 Enforce TLS when setting basic authentication for OTel Collector"
  .werks/19742.md
Due: none

graphing: Migrate AjaxGraphValuesAtTime and AjaxGraphImagesForNotifications to AjaxPage
  cmk/gui/dashboard/page_graph_hover.py
  cmk/gui/graphing/_graph_images.py
  cmk/gui/graphing/_html_render.py
  packages/cmk-frontend/src/js/modules/graphs.ts
  packages/cmk-notification-plugins/cmk/notification_plugins/utils.py
  packages/cmk-notification-plugins/tests/test_notification_plugins_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-integration: Improve 'test_predictive_levels_rule' robustness.
  tests/integration/openapi/rules/helpers/rule_helpers.py
  tests/integration/openapi/rules/test_predictive_levels_rule.py
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19801 FIX Fix for vanishing disabled services
  .werks/19801.md
Due: none

test_werks: allow CSE (SaaS) edition werks
  tests/code_quality/test_werks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add Werk #19790: Explain with AI: AI-powered explanations for hosts and services
  .werks/19790.md
Due: none

Revert "Add Werk #19573: FIX Fix system executables failing due to Checkmk's OpenSSL being loaded via LD_LIBRARY_PATH"
  .werks/19573.md
  agents/plugins/mk_site_object_counts
  bazel/cmk/distro/BUILD.bazel
  bin/cmk-monitor-core
  omd/packages/omd/BUILD
  omd/packages/omd/omdlib/site_user.py
  omd/packages/omd/skel/.profile
  omd/packages/omd/use_system_openssl
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/build-python3-modules.bzl
  omd/packages/python3-modules/git_wrapper
  tests/integration/omd/test_openssl_using_cmds.py
Due: check-cmk-namespace, bandit, omd-python-modules, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

OTel: QuickSetup step 3 recommendation
  packages/cmk-frontend-vue/src/mode-otel/ModeCreateOTelConfApp.vue
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/ConfigureInstrumentation.vue
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/otelSnippets.ts
  packages/cmk-frontend-vue/tests/mode-otel/otelSnippets.test.ts
Due: none

availability: extract layout.py sub-module
  cmk/gui/availability/__init__.py
  cmk/gui/availability/layout.py
  tests/unit/cmk/gui/test_availability_table.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: extract view/ sub-package from cmk/gui/views/availability.py
  cmk/gui/BUILD
  cmk/gui/availability/view/__init__.py
  cmk/gui/availability/view/annotations.py
  cmk/gui/availability/view/csv.py
  cmk/gui/availability/view/rendering.py
  cmk/gui/views/availability.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: extract rawdata.py — move get_availability_rawdata dispatcher
  cmk/gui/availability/__init__.py
  cmk/gui/availability/rawdata.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: extract computation.py and bi.py sub-modules
  cmk/gui/availability/__init__.py
  cmk/gui/availability/bi.py
  cmk/gui/availability/computation.py
  tests/unit/cmk/gui/test_availability_annotations.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Split cmk/gui: Extract mkeventd, oauth2_connections, agent_bakery
  cmk/BUILD
  cmk/gui/BUILD
  cmk/gui/mkeventd/BUILD
  cmk/gui/mkeventd/_rulespecs.py
  cmk/gui/mkeventd/wato.py
  cmk/gui/oauth2_connections/BUILD
  cmk/gui/rule_specs/BUILD
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Split cmk/gui: Extract backup target
  cmk/BUILD
  cmk/gui/BUILD
  cmk/gui/backup/BUILD
  cmk/gui/wato/BUILD
  cmk/gui/wato/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Split cmk/gui: Fully extract quick_setup
  cmk/gui/BUILD
  cmk/gui/quick_setup/BUILD
Due: none

Split cmk/gui: Extract wato:base leaf target
  cmk/BUILD
  cmk/gui/BUILD
  cmk/gui/common_registration.py
  cmk/gui/quick_setup/_modes.py
  cmk/gui/quick_setup/registration.py
  cmk/gui/wato/BUILD
  cmk/gui/wato/_main_module_topics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Split cmk/gui: Extract ldap_integration target
  cmk/BUILD
  cmk/gui/BUILD
  cmk/gui/ldap_integration/BUILD
  cmk/gui/ldap_integration/ldap.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Legacy check migration: juniper_trpz_power II
  cmk/plugins/juniper/agent_based/juniper_trpz_power.py
  cmk/plugins/juniper/checkman/juniper_trpz_power
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Legacy check migration: juniper_trpz_power I
  cmk/legacy_checks/juniper_trpz_power.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib: Fix license ca cert backup logic
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(vscode): settings.json backports from master CMK-33729 CMK-33730
  .ide/vscode/config/settings.json
Due: none

bakery(mk_suseconnect): migrate rulespec to v1 API
  cmk/base/plugins/bakery/mk_suseconnect.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_suseconnect.py
  tests/unit/cmk/base/plugins/bakery/test_mk_suseconnect.py
  tests/unit/cmk/plugins/suseconnect/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery(mk_iptables): move rulespec to cmk/plugins/iptables/rulesets/bakery.py
  cmk/plugins/iptables/rulesets/bakery.py
  tests/unit/cmk/plugins/iptables/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery(mk_suseconnect): move rulespec to cmk/plugins/suseconnect/rulesets/bakery.py
  cmk/plugins/suseconnect/rulesets/bakery.py
  tests/unit/cmk/plugins/suseconnect/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery(mk_iptables): migrate rulespec to v1 API
  cmk/base/plugins/bakery/mk_iptables.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_iptables.py
  tests/unit/cmk/base/plugins/bakery/test_mk_iptables.py
  tests/unit/cmk/plugins/iptables/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in view/rendering.py
  cmk/gui/availability/view/rendering.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in options.py
  cmk/gui/availability/options.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in computation.py
  cmk/gui/availability/computation.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in layout.py
  cmk/gui/availability/layout.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in bi.py
  cmk/gui/availability/bi.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in type_defs.py
  cmk/gui/availability/type_defs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

availability: fix mypy errors in annotations.py and columns.py
  cmk/gui/availability/annotations.py
  cmk/gui/availability/columns.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move clustered service filtering into _get_services_from_cluster_nodes
  cmk/base/config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19196 rrd: skip creation by nagios invalid rrd
  .werks/19196.md
  omd/packages/nagios/patches/0011-prevent-creation-invalid-rrd-files.dif
  omd/packages/nagios/patches/README
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
