Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Revert "Reapply "18602 FIX Race when enabling multiple extension packages at once""
  .werks/18602.md
  cmk/gui/htmllib/html.py
  tests/gui_e2e/testlib/playwright/pom/setup/mkp_manager.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add Werk #20017: FIX Suppress site connection errors for sites not queried by a report
  .werks/20017.md
Due: none

Hotfix GUI e2e tests after 2a9d95e56efc6338226890aa9cb2372f6105e599
  cmk/gui/openapi/api_endpoints/site_management/create_site_connection.py
  cmk/gui/openapi/api_endpoints/site_management/edit_site_connection.py
  cmk/gui/wato/pages/sites.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix: EwA more informative rate limit reached message
  packages/cmk-frontend-vue/src/ai/components/conversation/content/RateLimitContent.vue
  packages/cmk-frontend-vue/tests/ai/components/conversation/content/RateLimitContent.test.ts
Due: none

Fixup wrong werk version after release
  .werks/18492.md
  .werks/19461.md
Due: none

Add regression test for the hotfix in 80ec6f5fac1
  tests/openapi/test_site_management.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Include 2.5.0p4 in base-versions list for update-test
  tests/update/base_versions_previous_branch.json
Due: none

Include 2.5.0p4 in base-versions list for update-test
  tests/update/base_versions_current_branch.json
Due: none

Reserved 20 Werk IDS
  .werks/first_free
Due: none

make security component own some files
  cmk/cmkpasswd/OWNERS
  cmk/gui/cmkcert/OWNERS
  cmk/utils/OWNERS
Due: none

Legacy check migration: graylog_sidecars II
  packages/cmk-plugins/cmk/plugins/graylog/agent_based/graylog_sidecars.py
  packages/cmk-plugins/tests/cmk/plugins/graylog/agent_based/test_graylog_sidecars.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Legacy check migration: graylog_sidecars I
  cmk/legacy_checks/graylog_sidecars.py
  tests/unit/cmk/legacy_checks/test_graylog_sidecars.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Legacy check migration: graylog_{messages,sources} II
  packages/cmk-plugins/cmk/plugins/graylog/agent_based/graylog_messages.py
  packages/cmk-plugins/cmk/plugins/graylog/agent_based/graylog_sources.py
  packages/cmk-plugins/tests/cmk/plugins/graylog/agent_based/test_graylog_messages.py
  packages/cmk-plugins/tests/cmk/plugins/graylog/agent_based/test_graylog_sources.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Legacy check migration: graylog_{messages,sources} I
  cmk/legacy_checks/graylog_messages.py
  cmk/legacy_checks/graylog_sources.py
  packages/cmk-plugins/cmk/plugins/graylog/lib.py
  tests/unit/cmk/legacy_checks/test_graylog_messages.py
  tests/unit/cmk/legacy_checks/test_graylog_sources.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

graylog: prepare for migration
  cmk/legacy_checks/graylog_messages.py
  cmk/legacy_checks/graylog_sources.py
  packages/cmk-plugins/cmk/plugins/graylog/lib.py
  tests/unit/cmk/legacy_checks/test_graylog_sources.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19708 FIX omd update: Don't offer to delete 'var/check_mk/persisted' during the update
  .werks/19708.md
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test: gui e2e tests for explain with ai
  component_owners/explain_with_ai/OWNERS_DEFINITION
  tests/gui_e2e/testlib/playwright/pom/ai_conversation.py
  tests/gui_e2e/testlib/playwright/pom/monitor/service.py
  tests/gui_e2e/testlib/playwright/timeouts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-sql: ignore test_validate_all_instances_remote
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

pending_changes: Migrate remaining sites.py call sites
  cmk/gui/wato/pages/sites.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

pending_changes: Migrate mkeventd helpers to new API
  cmk/gui/mkeventd/wato.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

pending_changes: Migrate remove_custom_attribute_from_all_users
  cmk/gui/wato/pages/custom_attributes.py
  cmk/gui/watolib/users.py
  tests/unit/cmk/gui/watolib/test_users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

pending_changes: Migrate host rename to new API
  cmk/gui/watolib/host_rename.py
  tests/unit/cmk/gui/watolib/test_host_rename.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

pending_changes: Migrate user profile sync to new API
  cmk/gui/watolib/user_profile.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

ci: fix version for mk-oracle non bazel
  buildscripts/scripts/build-mk-oracle-on-aix-and-solaris.groovy
  buildscripts/scripts/winagt-build.groovy
  packages/mk-oracle/build.rs
  packages/mk-oracle/src/version.rs
  packages/mk-oracle/ssh-run-ci
Due: none

19436 FIX Saving large rules: Spurious "selected element no longer available" error
  .werks/19436.md
  MODULE.bazel.lock
  cmk/requirements.txt
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

openssl: Remove the sandbox path from debug symbols
  omd/packages/openssl/BUILD.openssl.bazel
Due: none

feat(mon-pages): init cmk-monitoring-all-hosts component on monitor_all_hosts page
  cmk/gui/monitor/hosts/_pages/_monitor_all_hosts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(mon-pages): add leading slash to monitor/hosts open api path
  cmk/gui/monitor/hosts/_api/_list_hosts.py
  packages/cmk-frontend-vue/src/monitoring/all-hosts/api/hosts.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/api/hosts.test.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(mon-pages): add AllHostsApp
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/monitoring/all-hosts/AllHostsApp.vue
Due: none

refactor(mon-pages): create HostApi class and adopt HostService class
  packages/cmk-frontend-vue/src/monitoring/all-hosts/api/hosts.ts
  packages/cmk-frontend-vue/src/monitoring/all-hosts/services/HostService.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/api/hosts.test.ts
  packages/cmk-frontend-vue/tests/monitoring/all-hosts/services/HostService.test.ts
Due: none

fix(claude): fix commit-lint claude hook for joined packages
  .claude/hooks/commit-lint.sh
Due: none

dell_idrac_disks: cleanup list in generator
  packages/cmk-plugins/cmk/plugins/dell/agent_based/dell_idrac_disks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dell_idrac_disks, dell_idrac_virtdisks: basic tests
  packages/cmk-plugins/tests/cmk/plugins/dell/agent_based/test_dell_idrac_disks.py
  packages/cmk-plugins/tests/cmk/plugins/dell/agent_based/test_dell_idrac_virtdisks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Mention number of Cloud specific changes in Mail and Forum post message
  cmk/utils/werks/announce/templates/announce.md.jinja2
  cmk/utils/werks/announce/templates/announce.txt.jinja2
Due: none

Include 2.4.0p30 in base-versions list for update-test
  tests/update/base_versions_previous_branch.json
Due: none
