Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Adapt CmkCode dimensions to design
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkCode.vue
Due: none

17770 FIX aws_dynamodb_table: Fix parsing issue
  .werks/17770.md
  cmk/plugins/aws/lib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17770 Fix werk version
  .werks/17770.md
Due: none

Move inventory paths
  cmk/base/automations/check_mk.py
  cmk/base/modes/check_mk.py
  cmk/checkengine/inventory.py
  cmk/gui/inventory/_housekeeping.py
  cmk/gui/inventory/_icon.py
  cmk/gui/inventory/_tree.py
  cmk/inventory/paths.py
  cmk/inventory/transformation.py
  cmk/utils/structured_data.py
  tests/pylint/checker_cmk_module_layers.py
  tests/unit/cmk/gui/inventory/test_housekeeping.py
  tests/unit/cmk/inventory/test_paths.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Extend logging in rrdcached writer
  packages/livestatus/include/livestatus/RRDColumn.h
  packages/livestatus/src/RRDColumn.cc
Due: none

18426 Fix count of failed services in systemd service summary
  .werks/18462.md
  cmk/plugins/collection/agent_based/systemd_units.py
  tests/unit/cmk/plugins/collection/agent_based/test_systemd_units.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18426 Fix count of failed services in systemd service summary
  .werks/18462.md
  cmk/base/plugins/agent_based/systemd_units.py
  tests/unit/cmk/base/plugins/agent_based/test_systemd_units.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17103 FIX Could not log in with SAML2 if signing certificate was in trust store
  .werks/17103.md
Due: none

HW/SW Inventory housekeeping: Fix default of file age
  cmk/gui/watolib/sample_config/_impl.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

detach enforced services table
  cmk/base/automations/check_mk.py
  cmk/base/config.py
  cmk/base/core.py
  cmk/base/core_config.py
  cmk/base/core_nagios/_create_config.py
  cmk/base/core_nagios/_precompile_host_checks.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  cmk/plugins/checkmk/libinventory/check_cmk_inv.py
  tests/unit/cmk/base/empty_config.py
  tests/unit/cmk/base/sources/test_data_sources.py
  tests/unit/cmk/base/test_check_table.py
  tests/unit/cmk/base/test_config.py
  tests/unit/cmk/base/test_core_config.py
  tests/unit/cmk/base/test_core_nagios.py
  tests/unit/cmk/base/test_discovery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Gui-E2E tests: cleanup remote site on teardown to reuse it
  tests/gui_e2e/test_distributed_setup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adapt werk
  .werks/18049.md
Due: none

integration-tests: Fix bug in test-design.
  tests/integration/bin/test_mkbackup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

oracle: add reference output from XE
  packages/mk-oracle/references/output-xe-single.txt
Due: none

mk-oracle: refactoring code
  packages/mk-oracle/src/config/ora_sql.rs
  packages/mk-oracle/src/ora_sql/backend.rs
  packages/mk-oracle/src/ora_sql/instance.rs
  packages/mk-oracle/src/ora_sql/section.rs
  packages/mk-oracle/src/ora_sql/system.rs
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

search: add customize menu topics
  cmk/gui/search/engines/customize.py
  cmk/gui/search/pages.py
  cmk/gui/search/type_defs.py
  cmk/gui/search/unified.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(unified-search) enable customize search
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchFilters.vue
Due: none

test(unified-search) fix unified-search test linter errors
  packages/cmk-frontend-vue/tests/lib/unified-search/searchHistory.test.ts
Due: none

style(unified-search) adjust query highlighting in results
  packages/cmk-frontend-vue/src/unified-search/result/ResultItemTitle.vue
Due: none

feat(unified-search) remove AI banner and unused CSS
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchFooter.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
Due: none

fix(unified-search) fix default search tab sort
  cmk/gui/search_menu.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass config in watolib #18
  cmk/gui/watolib/activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix flakiness on quick setup configuration tests
  tests/gui_e2e/quick_setups/test_aws.py
  tests/gui_e2e/quick_setups/test_azure.py
  tests/gui_e2e/quick_setups/test_gcp.py
  tests/gui_e2e/test_add_notification_rule.py
  tests/gui_e2e/testlib/playwright/pom/setup/cloud_quick_setups.py
  tests/gui_e2e/testlib/playwright/pom/setup/notification_rules.py
  tests/gui_e2e/testlib/playwright/pom/setup/quick_setup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(unified-search) fix floating of key board navigation info
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
Due: none

fix(unified-search) switch from Ctrl+Enter to Enter for service search
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchHeader.vue
Due: none

fix(unified-search) switch sort dropdown to toggleButtonGroup
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchFooter.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
  packages/cmk-frontend-vue/src/unified-search/providers/search-utils.ts
Due: none

feat(unified-search) enable search main menu item
  cmk/gui/search_menu.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Allow parsing of inventory_ui colors
  cmk/gui/color.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make formatting for units generally available
  cmk/gui/dashboard/dashlet/dashlets/status_helpers.py
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_from_api.py
  cmk/gui/graphing/_metric_expression.py
  cmk/gui/graphing/_metrics.py
  cmk/gui/graphing/_unit.py
  cmk/gui/graphing/_valuespecs.py
  cmk/gui/unit_formatter.py
  tests/unit/cmk/gui/dashboard/dashlet/dashlets/test_status_helpers.py
  tests/unit/cmk/gui/graphing/test_artwork.py
  tests/unit/cmk/gui/graphing/test_evaluate.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
  tests/unit/cmk/gui/graphing/test_metric_expression.py
  tests/unit/cmk/gui/graphing/test_metrics.py
  tests/unit/cmk/gui/graphing/test_metrics_graph_template.py
  tests/unit/cmk/gui/graphing/test_perfometer.py
  tests/unit/cmk/gui/graphing/test_rrd_fetch.py
  tests/unit/cmk/gui/graphing/test_translated_metrics.py
  tests/unit/cmk/gui/graphing/test_unit.py
  tests/unit/cmk/gui/test_graphing_main.py
  tests/unit/cmk/gui/test_unit_formatter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make color generally available
  cmk/gui/color.py
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_from_api.py
  cmk/gui/graphing/_graph_pdf.py
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/graphing/_html_render.py
  cmk/gui/graphing/_metric_expression.py
  cmk/gui/graphing/_metrics.py
  cmk/gui/graphing/_perfometer.py
  cmk/gui/painter/v0/painters.py
  doc/treasures/migration_helpers/graphing_v0_v1.py
  tests/unit/cmk/gui/graphing/test_metrics.py
  tests/unit/cmk/gui/test_color.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inventory_ui: Enforce type of value to be non-optional when rendering
  cmk/gui/views/inventory/_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inventory_ui: enable paint functions
  cmk/gui/views/inventory/_display_hints.py
  tests/unit/cmk/gui/views/inventory/test_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18083 FIX HTML Email: Correct rendering of arrwos in bulk summary
  .werks/18083.md
  notifications/templates/mail/bulk.html
Due: none

chore: relay task request response models
  packages/cmk-relay-protocols/cmk/relay_protocols/tasks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Relocked omd/requirements_lock.txt
  omd/requirements_lock.txt
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
Due: requirements-locking

oracle: add reference config for output from XE
  packages/mk-oracle/references/output-xe-single.cfg
Due: none
