Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Migrate display hint 'software > applications > azure > load_balancers > outbound_rules'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > azure > load_balancers > outbound_rules > backend_pools > addresses'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > azure > load_balancers > inbound_nat_rules > private_ips'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure SQL DBs: Allow setting connection thresholds
  cmk/plugins/azure/agent_based/azure_databases.py
  cmk/plugins/azure/checkman/azure_databases_connections
  cmk/plugins/azure/rulesets/azure_databases_connections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "run: Re `--machine` flag"
  packages/cmk-agent-receiver/run
  packages/cmk-ccc/run
  packages/cmk-crypto/run
  packages/cmk-events/run
  packages/cmk-livestatus-client/run
  packages/cmk-messaging/run
  packages/cmk-mkp-tool/run
  packages/cmk-plugin-apis/run
  packages/cmk-relay-protocols/run
  packages/cmk-trace/run
  packages/cmk-werks/run
  packages/metric-backend/run
Due: none

Move observer to cmk.ccc
  cmk/BUILD
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/observer.py
  packages/cmk-ccc/tests/test_observer.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18135 Fix pre-validation crash on update to 2.5
  .werks/18135.md
  cmk/update_config/plugins/actions/write_sites_mk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-sql: add to config key excluded_databases
  packages/mk-sql/src/config/defines.rs
  packages/mk-sql/src/config/ms_sql.rs
  packages/mk-sql/src/ms_sql/instance.rs
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

Werk tool: Make 1st `werk new` less confusing
  packages/cmk-werks/cmk/werks/cli.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

SelectorSingleInfo: introduction of component
  packages/cmk-frontend-vue/src/dashboard-wip/components/selectors/SelectorSingleInfo.vue
  packages/cmk-frontend-vue/src/dashboard-wip/types/api.ts
Due: none

Move cmk.utils.timeout to cmk.ccc
  cmk/BUILD
  cmk/base/automations/__init__.py
  cmk/base/automations/check_mk.py
  cmk/base/modes/check_mk.py
  cmk/base/notify.py
  cmk/checkengine/submitters.py
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/exceptions.py
  packages/cmk-ccc/cmk/ccc/timeout.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Unpin boto3 and update Python libraries
  constraints.txt
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

18533 Add possibility to exclude system databases when monitoring Microsoft SQL Server
  .werks/18533.md
Due: none

Use polling to watch vite changes
  packages/cmk-frontend-vue/vite.config.demo.ts
  packages/cmk-frontend-vue/vite.config.ts
Due: none

Reduce dependencies of the fetcher crash reporting
  bin/check_mk
  bin/cmk-piggyback-hub
  cmk/base/diagnostics.py
  cmk/base/errorhandling/_crash.py
  cmk/ec/main.py
  cmk/gui/crash_handler.py
  cmk/gui/job_scheduler/main.py
  cmk/gui/wsgi/applications/rest_api.py
  cmk/rrd/rrd.py
  cmk/special_agents/v0_unstable/crash_reporting.py
  omd/packages/omd/omdlib/crash_reporting.py
  omd/packages/omd/omdlib/update.py
  packages/cmk-ccc/cmk/ccc/crash_reporting.py
  tests/testlib/unit/rest_api_client.py
  tests/unit/cmk/base/test_base_crash_reporting.py
  tests/unit/cmk/base/test_diagnostics.py
  tests/unit/cmk/base/test_error_handling.py
  tests/unit/cmk/ec/test_ec_crash_reporting.py
  tests/unit/cmk/gui/test_crash_handler.py
  tests/unit/cmk/utils/test_crash_reporting.py
  tests/unit/conftest.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Apply -Wno-error=incompatible-pointer-types to libgsf.
  bazel/thirdparty/modules/libgsf/1.14.44.cmk.1/overlay/BUILD.bazel
  bazel/thirdparty/modules/libgsf/1.14.44.cmk.1/source.json
Due: none

check_cert: Fixed help string for hostname
  .werks/18642.md
  packages/site/check-cert/src/main.rs
Due: none

build-cmk-packages: Make pulling images visible
  buildscripts/scripts/build-cmk-packages.groovy
Due: none

check_cert: Fixed help string for hostname
  .werks/18642.md
  packages/check-cert/src/main.rs
Due: none

Unpin azure-mgmt-compute, update Python libraries & typing fixes
  buildscripts/scripts/publish_cloud_images.py
  constraints.txt
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
  tests/code_quality/test_requirements.py
  tests/dev-requirements.in
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

gui-e2e: add sanity test-case for global searchbar.
  tests/gui_e2e/test_sidebar.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui-e2e: improve searchbar selection.
  tests/gui_e2e/testlib/playwright/pom/page.py
  tests/gui_e2e/testlib/playwright/pom/setup/ruleset.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation helper tests: move to integration tests
  tests/integration/cmk/base/automation_helper/test_automation_helper.py
  tests/unit/cmk/base/automation_helper/test_watcher.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

Reserved 5 Werk IDS
  .werks/first_free
Due: none

Apply -Wno-error=incompatible-pointer-types to all python3-modules.
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Migrate display hint 'software > applications > checkmk-agent > local_checks'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > check_mk > cluster > nodes'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

PRO TIP: Migrate display hint 'software > applications > check_mk > cluster'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > check_mk'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > checkmk-agent'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate display hint 'software > applications > check_mk > versions'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/software.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

graylog sidecars: minor fix
  cmk/base/legacy_checks/graylog_sidecars.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fetcher: Remove dependency on cmk.utils.paths
  bin/BUILD
  bin/cmk-general-version-infos
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/general_version_infos.py
  packages/cmk-ccc/cmk/ccc/version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
