Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

checkengine: Remove superfluous call to super()
  packages/cmk-check-engine/cmk/checkengine/sources/_builder.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Pass all arguments from make_sources to _Builder
  packages/cmk-check-engine/cmk/checkengine/sources/_builder.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Move parser factory
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/config.py
  cmk/base/modes/check_mk.py
  packages/cmk-check-engine/cmk/checkengine/parser/__init__.py
  packages/cmk-check-engine/cmk/checkengine/parser/_factory.py
  packages/cmk-check-engine/cmk/checkengine/sources/__init__.py
  tests/plugins_siteless/helpers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

checkengine: Inline make_sources function
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  packages/cmk-check-engine/cmk/checkengine/sources/__init__.py
  packages/cmk-check-engine/cmk/checkengine/sources/_builder.py
  tests/unit/cmk/base/sources/test_data_sources.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation_engine: Pass entire config object to app
  cmk/base/automation_helper/__init__.py
  cmk/base/automation_helper/_app.py
  tests/unit/cmk/base/automation_helper/test_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation_engine: Remove superfluous TTY formatter
  cmk/base/automation_helper/_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation_helper: Remove superfluous argument
  cmk/base/automation_helper/__init__.py
  cmk/base/automation_helper/_app.py
  tests/unit/cmk/base/automation_helper/test_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation_helper: Add motivation comment
  cmk/base/automation_helper/_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

automation_helper: Refactor reloader
  cmk/base/automation_helper/_app.py
  tests/unit/cmk/base/automation_helper/test_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/apc/rulesets/apc_ats_output.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat: EwA data quality indicator
  packages/cmk-frontend-vue/src/ai/components/conversation/AiConversationElement.vue
  packages/cmk-frontend-vue/src/ai/components/conversation/AiQualityBadge.vue
  packages/cmk-frontend-vue/src/ai/components/conversation/content/MarkdownContent.vue
  packages/cmk-frontend-vue/src/ai/lib/markdown.ts
  packages/cmk-frontend-vue/src/components/progress/CmkProgressCircle.vue
  packages/cmk-frontend-vue/src/components/progress/useProgressLabel.ts
  packages/cmk-frontend-vue/tests/ai/components/conversation/AiConversationElement.test.ts
  packages/cmk-frontend-vue/tests/ai/components/conversation/AiQualityBadge.test.ts
  packages/cmk-frontend-vue/tests/ai/lib/markdown.test.ts
Due: none

mk-oracle: parse SQLS_MAX_CACHE_AGE
  packages/mk-oracle/references/output-multiple.cfg
  packages/mk-oracle/references/output-multiple.ps1
  packages/mk-oracle/src/config/migration.rs
  packages/mk-oracle/tests/test_mk_oracle_bin.rs
Due: none

chore(i18n): apply Weblate source string fixes
  cmk/gui/plugins/legacy_bakery_rulesets/mk_oracle.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_eventlog.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_script_execution.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_script_runas.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_service.py
  cmk/plugins/citrix/graphing/citrix.py
  cmk/plugins/citrix/rulesets/bakery.py
  cmk/plugins/hyperv/rulesets/hyperv_vms_guestinfos.py
  cmk/plugins/hyperv_cluster/rulesets/hyperv_vm_general_wato.py
  cmk/plugins/oracle/graphing/iostat_ios.py
  cmk/plugins/oracle/graphing/iostat_total_ios.py
  cmk/plugins/oracle/graphing/physical_io.py
  cmk/plugins/oracle/graphing/sga_pga_total.py
  cmk/plugins/oracle/inventory_ui/software.py
  cmk/plugins/oracle/rulesets/mk_oracle_unified.py
  cmk/plugins/oracle/rulesets/oracle_performance.py
  cmk/plugins/windows/rulesets/ad_replication.py
  cmk/plugins/windows/rulesets/firewall.py
  cmk/plugins/windows/rulesets/w32time_peers.py
  cmk/plugins/windows/rulesets/w32time_status.py
  cmk/plugins/windows/rulesets/windows_updates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/acme/rulesets/acme_certificates.py
  cmk/plugins/allnet_ip_sensoric/rulesets/special_agent.py
  cmk/plugins/audiocodes/graphing/sip_calls_established_calls.py
  cmk/plugins/audiocodes/graphing/sip_calls_no_match_calls.py
  cmk/plugins/audiocodes/graphing/sip_calls_no_route_calls.py
  cmk/plugins/audiocodes/graphing/sip_calls_total_duration.py
  cmk/plugins/audiocodes/inventory_ui/networking.py
  cmk/plugins/audiocodes/rulesets/calls.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/checkpoint/rulesets/checkpoint_powersupply.py
  cmk/plugins/checkpoint/rulesets/checkpoint_vsx_connections.py
  cmk/plugins/checkpoint/rulesets/checkpoint_vsx_packets.py
  cmk/plugins/checkpoint/rulesets/checkpoint_vsx_traffic.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
Due: none

test(CMK-34040): add gui-e2e test for editing an OTel receiver via Quick Setup
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_receiver.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/otel_quick_setup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test(CMK-34039): add gui-e2e test for deleting an OTel receiver via Quick Setup
  tests/gui_e2e/testlib/playwright/pom/setup/otel/otel_quick_setup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Include 2.4.0p33 in base-versions list for update-test
  tests/update/base_versions_previous_branch.json
Due: none

Include 2.4.0p33 in base-versions list for update-test
  tests/update/base_versions_current_branch.json
Due: none

arch migration: drop suggestive titles
  doc/documentation/arch-migrations.rst
Due: sphinx

arch migration: highlight existing compromise
  doc/documentation/arch-migrations.rst
Due: sphinx

werks: Allow bypassing branch check for `werk ids`
  packages/cmk-werks/cmk/werks/cli.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

version correction werk 19250
  .werks/19250.md
Due: none

16918 FIX Business Intelligence API Pack permission not respected in API requests
  .werks/16918.md
  cmk/gui/bi/_openapi/__init__.py
  tests/openapi/test_openapi_bi.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

build(ruff): collapse the Gxxx codes into the G group
  pyproject.toml
Due: none

build(ruff): enable flake8-logging-format G010 (logging-warn)
  cmk/base/diagnostics.py
  pyproject.toml
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16918 FIX Business Intelligence API Pack permission not respected in API requests
  .werks/16918.md
  cmk/gui/bi/_openapi/__init__.py
  tests/unit/cmk/gui/openapi/test_openapi_bi.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Reapply "Reapply "cmk-flow: add ntopng-based network flow collector OMD package""
  MODULE.bazel
  omd/BUILD
  omd/distros/UBUNTU_24.04.mk
  tests/integration/omd/test_init_scripts.py
  tests/packaging/package_validator/system-dependencies.ubuntu.txt
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/diskstat/rulesets/diskstat.py
  cmk/plugins/hp_msa/rulesets/special_agent.py
  cmk/plugins/hpe_3par/lib/special_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/diskstat/rulesets/diskstat.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/gui/inventory/_rulespec.py
  cmk/gui/inventory/_valuespecs.py
  cmk/gui/inventory/filters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/gui/graphing/_metric_visitor.py
  cmk/gui/inventory/_rulespec.py
  cmk/gui/views/inventory/_painters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/base/diagnostics.py
  cmk/gui/agent_bakery.py
  cmk/gui/logwatch/_rulespecs.py
  cmk/gui/message.py
  cmk/gui/plugins/legacy_bakery_rulesets/logging.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_docker.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_ms_sql.py
  cmk/gui/plugins/legacy_bakery_rulesets/runas.py
  cmk/gui/plugins/legacy_bakery_rulesets/utils.py
  cmk/gui/plugins/legacy_bakery_rulesets/winperf.py
  cmk/gui/view_utils.py
  cmk/gui/werks.py
  packages/cmk-backup/cmk/backup/gui/handler.py
  tests/unit/cmk/base/test_diagnostics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/gui/crash_handler.py
  cmk/gui/key_mgmt.py
  cmk/gui/logwatch/_rulespecs.py
  cmk/gui/pdf.py
  cmk/gui/plugins/legacy_bakery_rulesets/custom_files.py
  cmk/gui/plugins/legacy_bakery_rulesets/exclude_sections.py
  cmk/gui/plugins/legacy_bakery_rulesets/exclude_sections_aix.py
  cmk/gui/plugins/legacy_bakery_rulesets/fileinfo.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_docker.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_logwatch.py
  cmk/gui/plugins/legacy_bakery_rulesets/mk_ms_sql.py
  cmk/gui/plugins/legacy_bakery_rulesets/runas.py
  cmk/gui/plugins/legacy_bakery_rulesets/super_server.py
  cmk/gui/plugins/legacy_bakery_rulesets/super_server_solaris.py
  cmk/gui/plugins/legacy_bakery_rulesets/winperf.py
  cmk/gui/query_filters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/gui/product_usage_analytics/global_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/gui/bi/_config.py
  cmk/gui/bi/_valuespecs.py
  cmk/plugins/cisco_meraki/rulesets/agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore(i18n): apply Weblate source string fixes
  cmk/plugins/mobileiron/rulesets/mobileiron.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
