Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Revert "17374 FIX Checkmk now depends on sendmail/git"
  .werks/17374.md
  omd/distros/ALMALINUX_8.mk
  omd/distros/ALMALINUX_9.mk
  omd/distros/DEBIAN_11.mk
  omd/distros/DEBIAN_12.mk
  omd/distros/SLES_15SP3.mk
  omd/distros/SLES_15SP4.mk
  omd/distros/SLES_15SP5.mk
  omd/distros/SLES_15SP6.mk
  omd/distros/UBUNTU_22.04.mk
  omd/distros/UBUNTU_24.04.mk
Due: none

Revert "17374 FIX Checkmk now depends on sendmail/git"
  .werks/17374.md
  omd/distros/ALMALINUX_8.mk
  omd/distros/ALMALINUX_9.mk
  omd/distros/DEBIAN_11.mk
  omd/distros/DEBIAN_12.mk
  omd/distros/SLES_15SP3.mk
  omd/distros/SLES_15SP4.mk
  omd/distros/SLES_15SP5.mk
  omd/distros/SLES_15SP6.mk
  omd/distros/UBUNTU_20.04.mk
  omd/distros/UBUNTU_22.04.mk
  omd/distros/UBUNTU_23.04.mk
  omd/distros/UBUNTU_24.04.mk
Due: none

Avoid mutation of a list while iterating over it. Some cleanups.
  cmk/gui/message.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17549 FIX Option Fail over partner is removed from Microsoft SQL Server GUI
  .werks/17549.md
Due: none

mk-sql:check that hostname is not changed on integrated
  packages/mk-sql/tests/common/tools.rs
  packages/mk-sql/tests/test_ms_sql.rs
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
Due: none

omd create: Make sure welcome message is shown
  .werks/18095.md
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd create: Fix typo in werk
  .werks/18095.md
Due: none

Use scoped locking for user message I/O
  cmk/gui/message.py
  cmk/gui/user_message.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

experimental config: separate from base config
  cmk/base/config.py
  cmk/base/default_config/base.py
  cmk/gui/config.py
  cmk/utils/experimental_config.py
  cmk/utils/host_storage.py
  cmk/utils/paths.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18280 fix(bi): revert multiprocessing compilation
  .werks/18280.md
  cmk/bi/compiler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

config: deglobalize 'monitoring_core'
  cmk/base/automations/check_mk.py
  cmk/base/config.py
  cmk/base/core_nagios/_host_check_template.py
  cmk/base/modes/check_mk.py
  cmk/base/notify.py
  tests/unit/cmk/base/emptyconfig.py
  tests/unit/cmk/base/test_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(changes) move sites status to CmkBadge
  packages/cmk-frontend-vue/src/components/CmkBadge.vue
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
Due: none

Monk has struck again: sort dockerignore file alphabetically
  .dockerignore
Due: none

Decrease docker build context from 2.266GB down to 560MB
  .dockerignore
Due: none

Added a factory function for user messages
  cmk/gui/deprecations.py
  cmk/gui/message.py
  cmk/gui/utils/user_security_message.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

17548 FIX DCD Connector GUI properly ignores obsolete parameters
  .werks/17548.md
Due: none

15368 FIX f5_bigip_vserver: discover vservers independent of their status
  .werks/15368.md
  cmk/base/legacy_checks/f5_bigip_vserver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

style(unifed-search) minor styling fixes, rewordings
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchFooter.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchHeader.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchStart.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
  packages/cmk-frontend-vue/src/unified-search/result/ResultItem.vue
Due: none

add test to document current behaviour
  tests/unit/cmk/utils/password_store/test_hack.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "17684 Deprecation of MSOnline Powershell module in mk_msoffice.ps1"
  .werks/17684.md
  agents/windows/plugins/mk_msoffice.ps1
Due: none

15367 FIX passwordstore special characters
  .werks/15367.md
  cmk/utils/password_store/hack.py
  tests/unit/cmk/base/test_server_side_calls.py
  tests/unit/cmk/utils/password_store/test_hack.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Improve read only config typic
  cmk/gui/plugins/config/base.py
  cmk/gui/type_defs.py
  cmk/gui/wato/pages/read_only.py
  cmk/gui/watolib/read_only.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass config in watolib #7
  cmk/gui/wato/page_handler.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/watolib/read_only.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Updated dependencies & associated fixes
  cmk/gui/openapi/restful_objects/params.py
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
  tests/testlib/emails.py
  tests/unit/cmk/utils/structured_data/test_structured_data.py
  tests/unit/cmk/utils/test_log.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Port cc_export.bzl to symbolic macros
  bazel/rules/cc_export.bzl
Due: none

style(unified-search) fix colors
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchHeader.vue
  packages/cmk-frontend-vue/src/unified-search/result/ResultItem.vue
Due: none

fix(unified-search) restrict recently searche to 5 items
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchStart.vue
Due: none

fix(unified-search) fix vClickOutsite on filter suggestions
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchHeader.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchTabResults.vue
Due: none

feat(vue) added CmkZebra component for even & odd rows
  packages/cmk-frontend-vue/src/components/CmkZebra.vue
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
Due: none

fix(changes) fix pendignchanges sort to time desc
  packages/cmk-frontend-vue/src/main-menu/ChangesApp.vue
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
