Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Clean up a few no-untyped-def
  cmk/gui/plugins/wato/check_parameters/juniper_mem.py
  cmk/gui/plugins/wato/check_parameters/memory_arbor.py
  cmk/gui/plugins/wato/check_parameters/memory_linux.py
  cmk/gui/type_defs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "introduce DynamicIcon component"
  cmk/gui/dynamic_icon.py
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/CmkDynamicIcon.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/CmkDynamicIconUserOrDefault.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/DynamicIconApp.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIcon.vue
  packages/cmk-frontend-vue/src/lib/web-component/defineCmkComponent.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-shared-typing/BUILD
  packages/cmk-shared-typing/source/icon.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "expose all icons in cmk-frontend-vue"
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIcon.vue
Due: none

Revert "replace icon variables"
  packages/cmk-frontend-vue/src/components/CmkDualList/CmkSearchableList.vue
  packages/cmk-frontend-vue/src/components/CmkWizard/CmkWizardStep.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/filter/FilterSelection/FilterSelection.vue
  packages/cmk-frontend-vue/src/form/private/forms/FormCommentTextArea.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/QuickSetupStage.vue
Due: none

Cleanup registry.py script after renaming
  buildscripts/scripts/lib/registry.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: fix cleanup
  omd/packages/omd/omdlib/main.py
  omd/packages/omd/omdlib/package_manager.py
  tests/unit/omdlib/test_omdlib_main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18624 FIX ntopng: fix displaying of ntopng username in user settings
  .werks/18624.md
  cmk/gui/utils/ntop.py
  cmk/gui/wato/pages/users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18965 FIX Plugin API: Allow overshadowing of shipped legacy plugins
  .werks/18965.md
  cmk/gui/utils/rule_specs/registering.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

backup/page: addition of status dialog
  cmk/gui/backup/handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Vue: Graph Time Range Component
  packages/cmk-frontend-vue/src/dashboard-wip/components/TimeRange/DateRangeFields.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/TimeRange/DurationFields.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/TimeRange/GraphTimeRange.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/TimeRange/useTimeRange.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/AlertOverview/composables/useAlertOverview.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/AlertTimeline/composables/useAlertTimeline.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/NotificationTimeline/composables/useNotificationTimeline.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/PercentageOfServiceProblems/composables/usePercentageOfServiceProblems.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/custom-graphs/stage1/composables/useCustomGraph.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/CombinedGraphWidget/composables/useCombinedGraph.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/GaugeWidget/composables/useGauge.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/GraphWidget/composables/useGraph.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/MetricWidget/composables/useMetric.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/PerformanceGraphWidget/composables/usePerformanceGraph.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/ScatterplotWidget/composables/useScatterplot.ts
Due: none

22725 implemented CheckmkTarArchive to securely handle tarfile extractions
  buildscripts/scripts/build-cmk-container.py
  cmk/BUILD
  cmk/gui/openapi/restful_objects/content_decoder.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/gui/watolib/activate_changes.py
  cmk/gui/watolib/backup_snapshots.py
  omd/packages/omd/omdlib/backup.py
  omd/packages/omd/omdlib/main.py
  omd/packages/omd/omdlib/tmpfs.py
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/archive.py
  packages/cmk-ccc/tests/test_archive.py
  tests/pylint/checker_cmk_module_layers.py
  tests/unit/cmk/gui/watolib/test_backup_snapshots.py
  tests/unit/omdlib/test_omdlib_backup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inventory_ui: Prefer API plugins over legacy display hints
  cmk/gui/views/inventory/_display_hints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

DashboardShareApp: introduction of component
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardSharedApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/types/page.ts
  packages/cmk-frontend-vue/src/main.ts
Due: none

dashboard/api: move dashboard constants to _utils
  cmk/gui/dashboard/api/_utils.py
  cmk/gui/dashboard/api/model/constants.py
  cmk/gui/dashboard/api/show_dashboard_constraints.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: introduction of shared dashboard page
  cmk/gui/dashboard/page_show_shared_dashboard.py
  cmk/gui/dashboard/registration.py
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

PEV: implement new breadcrumb for dashboards in Vue.js
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardBreadcrumb/DashboardBreadcrumb.vue
Due: none

Monk has struck again: Fixup some groovy code style indentation
  buildscripts/scripts/trigger-cmk-build-chain.groovy
Due: none

Pass raw catalog value
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

No need for an extra var
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Unify vue IDs
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename '_get_rule_value' -> '_get_rule_value_from_request_or_rule'
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move method
  cmk/gui/wato/pages/rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixup minimal image usage comment
  buildscripts/infrastructure/build-nodes/minimal/Dockerfile
Due: none

omd: move finalize_*
  omd/packages/omd/BUILD
  omd/packages/omd/omdlib/finalize.py
  omd/packages/omd/omdlib/main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: move call_scripts
  omd/packages/omd/BUILD
  omd/packages/omd/omdlib/main.py
  omd/packages/omd/omdlib/scripts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: assert shutil.rmtree.avoids_symlink_attacks
  omd/packages/omd/omdlib/restore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: shared approach between root and site
  omd/packages/omd/omdlib/restore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

omd: test_remove_site_home
  tests/unit/omdlib/test_restore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Do not use ci-artifacts in light chain
  buildscripts/scripts/trigger-post-submit-test-cascade-light.groovy
Due: none

dashboard: introduce update_action to handle views
  cmk/update_config/plugins/actions/dashboards.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inv_ifname: upload
  doc/treasures/inv_ifname/agent_based/inv_ifname.py
  doc/treasures/inv_ifname/views/inv_ifname.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inv_ip_addresses: upload
  doc/treasures/inv_ip_addresses/agent_based/inv_ip_addresses.py
  doc/treasures/inv_ip_addresses/views/inv_ip_addresses.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inv_lnx_if_ip: upload
  doc/treasures/inv_lnx_if_ip/agent_based/inv_lnx_ip_address.py
  doc/treasures/inv_lnx_if_ip/shadow/lnx_if.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-update: Hanlde missing base packages in test-update-from-backup
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inv_cdp_cache: upload
  doc/treasures/inv_cdp_cache/agent_based/inv_cdp_cache.py
  doc/treasures/inv_cdp_cache/rulesets/inv_cdp_cache.py
  doc/treasures/inv_cdp_cache/views/inv_cdp_cache.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

inv_win_if_ip: upload
  doc/treasures/inv_win_if_ip/agent_based/inv_win_ip_address.py
  doc/treasures/inv_win_if_ip/shadow/inventory_win_networkadapter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
