Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Update gcc warnings
  bazel/thirdparty/modules/msitools/0.94.cmk.1/overlay/BUILD.bazel
  bazel/thirdparty/modules/msitools/0.94.cmk.1/source.json
  omd/packages/net-snmp/BUILD.net-snmp.bazel
  omd/packages/rrdtool/BUILD.rrdtool-native.bazel
  omd/packages/xmlsec1/BUILD.xmlsec1.bazel
Due: none

Point local toolchain to gcc-14
  bazel/toolchains/cc/gcc/local/BUILD
Due: none

mkeventd: fix for service lookup for SLES
  bin/mkeventd_open514.cc
Due: none

predictive levels integration tests: Skip for SaaS edition
  tests/integration/openapi/rules/test_predictive_levels_rule.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: Added components
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/AddFilters/AddFilters.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/AddFilters/composables/useAddFilters.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/DisplayFilters/DisplayFilters.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/DisplayFilters/FilterItem.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/AddFilterMessage.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/GenericFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/HostFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/HostnameFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/MultiFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/ServiceFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/SingleMultiChoice.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/SpecificHostFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/SpecificServiceFilter.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/composables/useFiltersLogic.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/types.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/HostServiceSelector/utils.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/autocompleters/AutocompleteCombinedMetrics.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/autocompleters/AutocompleteHost.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/autocompleters/AutocompleteMonitoredMetrics.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/autocompleters/AutocompleteService.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/autocompleters/types.ts
Due: none

Revert "Point local toolchain to gcc-14"
  bazel/toolchains/cc/gcc/local/BUILD
Due: none

18642 FIX check_cert URL Parameter Renamed
  .werks/18642.md
  cmk/plugins/collection/server_side_calls/cert.py
  packages/check-cert/src/main.rs
  tests/unit/cmk/plugins/collection/server_side_calls/test_cert.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

performance test: Allow updating and purging DB jobs
  tests/performance/perftest_plot.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18525 bgp_peer: Add support for Fortinet FortiGate devices
  .werks/18525.md
  cmk/plugins/collection/agent_based/bgp_peer.py
  cmk/plugins/collection/checkman/bgp_peer
  tests/unit/cmk/plugins/collection/agent_based/test_bgp_peer.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-plugin-piggyback: Introduce logic to compare check responses
  tests/plugins_integration/test_plugin_piggyback.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

test-plugin: Small refactoring in helpers
  tests/plugins_integration/checks.py
  tests/plugins_integration/conftest.py
  tests/plugins_integration/test_plugin.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard/inventory: allow linking to other views/dashboards
  cmk/gui/dashboard/api/model/widget_content/_base.py
  cmk/gui/dashboard/api/model/widget_content/inventory.py
  cmk/gui/dashboard/type_defs.py
  cmk/gui/visual_link.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "18358 OTel: Enable OpenTelemetry collector configuration via UI"
  .werks/18358.md
  cmk/gui/wato/otel.py
  cmk/gui/wato/registration.py
  cmk/gui/watolib/config_variable_groups.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add hints on missing deps
  omd/packages/net-snmp/BUILD.net-snmp.bazel
Due: none

Replaced deprecated atomic operations
  packages/livestatus/BUILD
  packages/livestatus/include/livestatus/Logger.h
  packages/neb/BUILD
  packages/unixcat/BUILD
Due: none

18527 FIX check-http: Incorrect expected response time leading to long-running check
  .werks/18527.md
  cmk/plugins/collection/rulesets/httpv1.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Move cmk.utils.config_path to cmk.ccc
  cmk/BUILD
  cmk/base/core/interface/_base_core.py
  cmk/base/core/interface/_control.py
  cmk/base/core/nagios/_create_config.py
  cmk/base/core/nagios/_host_check_template.py
  cmk/base/modes/check_mk.py
  cmk/plugins/checkmk/libinventory/check_cmk_inv.py
  cmk/rrd/config.py
  cmk/utils/notify.py
  cmk/utils/password_store/_pwstore.py
  packages/cmk-ccc/BUILD
  packages/cmk-ccc/cmk/ccc/config_path.py
  packages/cmk-ccc/tests/test_config_path.py
  tests/pylint/checker_cmk_module_layers.py
  tests/unit/cmk/base/test_config.py
  tests/unit/cmk/base/test_core_nagios.py
  tests/unit/cmk/utils/test_notify.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

net-snmp: Reduce dependency from python3-modules to setuptools
  omd/packages/net-snmp/BUILD
  omd/packages/net-snmp/BUILD.net-snmp.bazel
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

python3-modules: Remove moduler specific directory layer
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
