Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

performance test: Update make targets
  tests/Makefile
Due: none

performance test: Skip flaky DCD piggyback scenario
  tests/performance/test_performance.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

performance test: Fix docstrings and help texts
  tests/performance/perftest_plot.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

performance test: Archive results
  buildscripts/scripts/test-performance.groovy
Due: none

performance test: Run all active scenarios
  tests/Makefile
Due: none

performance test: Enable database connection
  tests/performance/raise_alerts.sh
Due: none

18578 FIX Jira Notifications: Handle Cloud API removals
  .werks/18578.md
  MODULE.bazel.lock
  cmk/requirements.txt
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

lock python dependencies
  Pipfile.lock
Due: none

18588 FIX Remove obsolete parameter from 'ps' and 'services' monitoring
  .werks/18588.md
  cmk/base/automations/check_mk.py
  cmk/base/config.py
  cmk/base/core/nagios/_create_config.py
  cmk/base/core/shared.py
  cmk/gui/plugins/wato/check_parameters/ps.py
  cmk/gui/plugins/wato/check_parameters/services.py
  tests/unit/cmk/base/test_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Bakery: call v2 plugins
  cmk/discover_plugins/__init__.py
  cmk/discover_plugins/_wellknown.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18285 FIX activate_changes: load only the changes for the sites selected
  .werks/18285.md
  cmk/gui/watolib/activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix werk typo
  .werks/18285.md
Due: none

18578 FIX Jira Notifications: Handle Cloud API removals
  .werks/18578
  Pipfile
  Pipfile.lock
Due: none

18578 FIX Jira Notifications: Handle Cloud API removals
  .werks/18578.md
  Pipfile
  Pipfile.lock
Due: none

update werk text
  .werks/18578.md
Due: none

reduce accesses to config_cache
  cmk/base/automations/check_mk.py
  cmk/base/core/nagios/_host_check_template.py
  cmk/base/modes/check_mk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Adjust bakery password helper
  cmk/utils/password_store/_pwstore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18066 FIX Set proper alias for "no_permissions" user role
  .werks/18066.md
  cmk/gui/userdb/_roles.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Improve user role typing
  cmk/gui/nagvis/__init__.py
  cmk/gui/nagvis/_auth_php.py
  cmk/gui/openapi/api_endpoints/user_role/create_user_role.py
  cmk/gui/openapi/api_endpoints/user_role/edit_user_role.py
  cmk/gui/openapi/api_endpoints/user_role/list_user_roles.py
  cmk/gui/openapi/api_endpoints/user_role/models/request_models.py
  cmk/gui/openapi/api_endpoints/user_role/show_user_role.py
  cmk/gui/openapi/api_endpoints/user_role/utils.py
  cmk/gui/openapi/framework/_context.py
  cmk/gui/plugins/config/base.py
  cmk/gui/role_types.py
  cmk/gui/userdb/_roles.py
  cmk/gui/utils/roles.py
  cmk/gui/wato/pages/roles.py
  cmk/gui/watolib/userroles.py
  tests/unit/cmk/gui/test_logged_in.py
  tests/unit/cmk/gui/userdb/test_roles.py
  tests/unit/cmk/gui/views/test_views.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

changes ajax call: use the get_number_of_pending_changes methods
  cmk/gui/sidebar/main_menu.py
  cmk/gui/watolib/activate_changes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Save state of current wizard step on welcome page
  packages/cmk-frontend-vue/src/welcome/components/steps/AdjustServices.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/AssignResponsibilities.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/EnableNotifications.vue
Due: none

18177 FIX OTel: Merge resource metric datapoints across multiple datasets
  .werks/18177.md
Due: none

18178 OTel: Improve histogram value calculation
  .werks/18178.md
Due: none

ci: run relay/agent receiver tests on relay protocol changes
  buildscripts/scripts/stages.yml
Due: none

Include 2.4.0p10 in base-versions list for update-test
  tests/update/base_versions_previous_branch.json
Due: none

Include 2.4.0p10 in base-versions list for update-test
  tests/update/base_versions_current_branch.json
Due: none

implement logging in cmk-certs
  cmk/cmkcert.py
  cmk/utils/certs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure: Start of Redis cache monitoring
  cmk/plugins/azure/agent_based/azure_redis.py
  cmk/plugins/azure/checkman/azure_redis
  cmk/plugins/azure/rulesets/azure.py
  cmk/plugins/azure/special_agent/agent_azure.py
  tests/unit/cmk/plugins/azure/agent_based/test_azure_redis.py
  tests/unit/cmk/plugins/azure/special_agent/test_agent_azure_process.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore: align run of relay and agent receiver with component tests
  packages/cmk-agent-receiver/run
Due: none

Revert "18466 Fix temp thresholds of Aruba 6100+ switches"
  .werks/18466.md
  cmk/plugins/collection/agent_based/aruba_sw_temp.py
  cmk/plugins/collection/checkman/aruba_sw_temp
  cmk/plugins/lib/aruba.py
  tests/unit/cmk/plugins/collection/agent_based/test_aruba_sw_temp.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

prepare enable typescript checks for test folder (6/N)
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/package.json
  packages/cmk-frontend-vue/pnpm-lock.yaml
Due: none

prepare enable typescript checks for test folder (4/N)
  packages/cmk-frontend-vue/tests/lib/unified-search/searchHistory.test.ts
  packages/cmk-frontend-vue/tests/lib/unified-search/unifiedSearch.test.ts
Due: none

prepare enable typescript checks for test folder (5/N)
  packages/cmk-frontend-vue/tests/form/components/cmk-form-helper.ts
Due: none

prepare enable typescript checks for test folder (1/N)
  packages/cmk-frontend-vue/tests/components/user-input/CmkInput.test.ts
Due: none

prepare enable typescript checks for test folder (3/N)
  packages/cmk-frontend-vue/src/graph-designer/GraphDesignerApp.vue
  packages/cmk-frontend-vue/tests/graph-designer/GraphDesigner.test.ts
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
