Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: 'v0.4.4'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^non-free/cmk-update-agent/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: check-cmk-namespace
            name: Check cmk namespace package
            language: script
            entry: scripts/check-cmk-namespace
            types: [file, python]
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: bandit
            name: Run bandit
            # -l level low -ll = level medium -lll level high
            entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: sphinx
            name: Sphinx Documentation
            entry: scripts/run-pipenv run make -C doc/documentation html
            files: ^doc/documentation/.*(rst|puml)$
            pass_filenames: false
            language: script
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Rest API: add some info in 409 case
  cmk/gui/openapi/endpoints/service_discovery/__init__.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

flash messages: clean up typing
  cmk/gui/session.py
  cmk/gui/utils/flashed_messages.py
  cmk/gui/wato/page_handler.py
  tests/unit/cmk/gui/utils/test_flashed_messages.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

flash messages: exaustive type dispatch
  cmk/gui/htmllib/generator.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

ActiveCheckResult: kw_only
  cmk/base/checkers.py
  cmk/base/errorhandling/_handler.py
  cmk/checkengine/checking/_checking.py
  cmk/checkengine/checking/_timing.py
  cmk/checkengine/checkresults.py
  cmk/checkengine/discovery/_active_check.py
  cmk/checkengine/inventory.py
  cmk/checkengine/sectionparserutils.py
  cmk/checkengine/summarize.py
  tests/unit/cmk/base/test_discovery.py
  tests/unit/cmk/base/test_error_handling.py
  tests/unit/cmk/checkengine/test_checkresults.py
  tests/unit/cmk/checkengine/test_sectionparserutils.py
  tests/unit/cmk/checkengine/test_summarizers.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix result message on editing notification rules
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

diskstat discovery: simplify ruleset
  cmk/plugins/collection/rulesets/diskstat.py
  cmk/plugins/lib/diskstat.py
  tests/unit/cmk/plugins/lib/test_diskstat_utils.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Clarify import rules for cmk-passwd
  bin/cmk-passwd
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

fixed missing migrate in active check uniserv
  cmk/plugins/collection/rulesets/uniserv.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

my-sql: Pass CI_TEST_SQL_DB_ENDPOINT to tests
  packages/host/mk-sql/run
Due: none

check-cert: Clippy ignore deprecated warning.
  packages/site/check-cert/src/main.rs
Due: none

Rust: Update transitive deps to remove secuirty advisories
  packages/host/Cargo.lock
  packages/host/Cargo.lock.bazel
  packages/site/Cargo.lock
  packages/site/Cargo.lock.bazel
Due: none

vue: removed experimental switch for rules
  cmk/gui/plugins/config/base.py
  cmk/gui/wato/_check_mk_configuration.py
  cmk/gui/wato/pages/rulesets.py
  tests/unit/cmk/gui/test_gui_config.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

piggyback-hub tests: activate changes after creating rule
  tests/composition/cmk/piggyback/piggyback_test_helper.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

http: migrate method
  cmk/update_config/http/main.py
  tests/unit/cmk/update_config/http/test_main.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

http: migrate post_data
  cmk/update_config/http/main.py
  tests/unit/cmk/update_config/http/test_main.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

http: migrate no_body
  cmk/update_config/http/main.py
  tests/unit/cmk/update_config/http/test_main.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Purge outdated distro files
  buildscripts/infrastructure/build-nodes/ubuntu-20.04/Dockerfile
  omd/distros/UBUNTU_20.04.mk
  omd/distros/UBUNTU_23.04.mk
Due: none

Purge ununsed pem file
  omd/packages/python3-modules/github-com.pem
Due: omd-python-modules

Add make to minimal image
  buildscripts/scripts/Dockerfile
Due: none

notifications: improve host and service status validators for step 1: Triggering events
  cmk/gui/wato/pages/notifications/migrate.py
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: remove 'Any' option from status_change 'to' dropdown
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: change 'status' to 'state' in the code
  cmk/gui/wato/pages/notifications/migrate.py
  cmk/gui/wato/pages/notifications/quick_setup.py
  cmk/gui/wato/pages/notifications/quick_setup_types.py
  cmk/utils/notify_types.py
  tests/unit/cmk/gui/quick_setup/test_notification_params.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

New update-test from site-copy
  tests/testlib/site.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

use page name instead of board name for page.get_ context()
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extend dict indent line & move closer to checkbox
  packages/cmk-frontend-vue/src/components/CmkCheckbox.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary.vue
  packages/cmk-frontend-vue/src/form/private/FormIndent.vue
Due: none

Fix inputs inheriting margin from legacy CSS
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/form/components/forms/FormFloat.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormInteger.vue
Due: none

Remove unnecessary margin around dict group title
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary.vue
Due: none

Align dropdowns with baseline text
  packages/cmk-frontend-vue/src/components/CmkDropdown.vue
Due: none

Remove line and fix padding in notif. QS read mode
  packages/cmk-frontend-vue/src/form/components/FormReadonly.vue
Due: none

Move scrollbar to the right and remove duplicate
  packages/cmk-frontend-vue/src/components/SlideIn.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoiceEditableEditAsync.vue
Due: none

Move TimeSpecific help next to button
  packages/cmk-frontend-vue/src/form/components/forms/FormTimeSpecific.vue
Due: none

Fix label text alignment bugs in TimeSpan & Tuple
  packages/cmk-frontend-vue/src/form/components/forms/FormTimeSpan.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormTuple.vue
Due: none

Fix spacing issue in autocompleter-related FS
  packages/cmk-frontend-vue/src/form/components/forms/FormMetric.vue
  packages/cmk-frontend-vue/src/form/private/FormAutocompleter.vue
Due: none
