Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/*
    - repo: local
      hooks:
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

Removed no_preselect_value kwarg dropdown ValueSpecs.
  cmk/gui/valuespec.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Removed no_preselect_error kwarg dropdown ValueSpecs.
  cmk/gui/valuespec.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Unify no_preselection call sites.
  cmk/gui/dashboard.py
  cmk/gui/views/__init__.py
  cmk/gui/wato/pages/icons.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

cmk-agent-ctl: Add debug env vars for certain hardcoded values
  agents/cmk-agent-ctl/src/config.rs
  agents/cmk-agent-ctl/src/constants.rs
  agents/cmk-agent-ctl/src/monitoring_data.rs
  agents/cmk-agent-ctl/src/setup.rs
Due: none

cmk-agent-ctl: Basic integration test
  agents/cmk-agent-ctl/Cargo.lock
  agents/cmk-agent-ctl/Cargo.toml
  agents/cmk-agent-ctl/tests/test.rs
  agents/cmk-agent-ctl/tests/test_cli.rs
Due: none

cmk-agent-ctl: Refactor setup to seperate module
  agents/cmk-agent-ctl/src/constants.rs
  agents/cmk-agent-ctl/src/main.rs
  agents/cmk-agent-ctl/src/monitoring_data.rs
  agents/cmk-agent-ctl/src/setup.rs
Due: none

Reserved 10 Werk IDS
  .werks/first_free
Due: none

minor fix up
  cmk/base/plugins/agent_based/checkmk_agent_update.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixed type of Dropdown._get_invalid_choice_text().
  cmk/gui/valuespec.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixed html.dropdown()-related typing confusion.
  cmk/gui/htmllib/__init__.py
  cmk/gui/valuespec.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Removed no_preselect kwarg from dropdown ValueSpecs.
  cmk/gui/dashboard.py
  cmk/gui/plugins/wato/utils/__init__.py
  cmk/gui/valuespec.py
  cmk/gui/views/__init__.py
  cmk/gui/wato/pages/icons.py
  cmk/gui/watolib/timeperiods.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Decouple htmllib from valuespec.
  cmk/gui/htmllib/__init__.py
  cmk/gui/plugins/views/availability.py
  cmk/gui/wato/pages/audit_log.py
  cmk/gui/werks.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

use check_levels
  checks/ruckus_spot_ap
  tests/unit/cmk/base/plugins/agent_based/test_ruckus_spot_ap.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Fix deb packages stripping python .so files"
  omd/debian/rules
Due: none

Python3 modules: Reduce shared library size
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Exclude numpy test files from packaging
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

SCSS Cleanup: Remove all remaining rgb and hex color codes (CMK-9784)
  web/htdocs/themes/facelift/scss/_bi.scss
  web/htdocs/themes/facelift/scss/_cmk_figures.scss
  web/htdocs/themes/facelift/scss/_dashboard.scss
  web/htdocs/themes/facelift/scss/_node_visualization.scss
  web/htdocs/themes/facelift/scss/_page_menu.scss
  web/htdocs/themes/facelift/scss/_sidebar.scss
  web/htdocs/themes/facelift/scss/_variables.scss
  web/htdocs/themes/facelift/scss/_variables_common.scss
  web/htdocs/themes/modern-dark/scss/_variables.scss
Due: none

SCSS Cleanup: Remove unused styles (CMK-9784)
  web/htdocs/themes/facelift/scss/_dashboard.scss
  web/htdocs/themes/facelift/scss/_mega_menu.scss
Due: none

Migrate lnx_thermal
  cmk/base/plugins/agent_based/lnx_thermal.py
  tests/unit/checks/generictests/datasets/lnx_thermal.py
  tests/unit/checks/generictests/datasets/lnx_thermal_5c1a522d621a4_regression.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/checks/test_lnx_thermal.py
  tests/unit/cmk/base/plugins/agent_based/test_lnx_thermal.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13740 FIX Veeam: Make veeam_cdp_jobs section optional
  .werks/13740
  agents/windows/plugins/veeam_backup_status.ps1
Due: none

kube: fix minor typing issue
  cmk/base/plugins/agent_based/kube_pod_info.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13410 FIX KUBE: adapt kubernetes labels to cmk
  .werks/13410
  cmk/base/plugins/agent_based/kube_node_info.py
  cmk/base/plugins/agent_based/kube_pod_info.py
  cmk/base/plugins/agent_based/utils/kube.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_kube.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Disable using of controller on Windows older than 8.1
  agents/wnx/src/engine/agent_controller.cpp
Due: none

13769 kubernetes: addition of cluster name label to all k8s objects
  .werks/13769
  cmk/base/plugins/agent_based/kube_deployment_info.py
  cmk/base/plugins/agent_based/kube_node_info.py
  cmk/base/plugins/agent_based/kube_pod_info.py
  cmk/base/plugins/agent_based/utils/k8s.py
  cmk/special_agents/agent_kube.py
  cmk/special_agents/utils_kubernetes/schemata/section.py
  tests/unit/cmk/base/plugins/agent_based/kube_node_info.py
  tests/unit/cmk/base/plugins/agent_based/test_inventory_kube_deployment.py
  tests/unit/cmk/base/plugins/agent_based/test_inventory_kube_node.py
  tests/unit/cmk/base/plugins/agent_based/test_inventory_kube_pod.py
  tests/unit/cmk/base/plugins/agent_based/test_kube_deployment_info.py
  tests/unit/cmk/base/plugins/agent_based/test_kube_pod_info.py
  tests/unit/cmk/base/plugins/agent_based/test_section_host_label_doc.py
  tests/unit/cmk/special_agents/agent_kube/test_deployment.py
  tests/unit/cmk/special_agents/agent_kube/test_node.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

oracle check legacy include: update comments
  cmk/base/check_legacy_includes/oracle.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

oracle_processes: migrate unit test
  tests/unit/checks/generictests/datasets/oracle_processes_regression.py
  tests/unit/checks/test_oracle_processes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

oracle utils: helper function for summary text
  cmk/base/plugins/agent_based/utils/oracle.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

oracle utils: add license header
  cmk/base/plugins/agent_based/utils/oracle.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add cloud run monitoring
  checkman/gcp_run_cpu
  checkman/gcp_run_memory
  checkman/gcp_run_network
  checkman/gcp_run_requests
  cmk/base/plugins/agent_based/gcp_run.py
  cmk/gui/plugins/metrics/gcp.py
  cmk/gui/plugins/wato/check_parameters/gcp_gcs.py
  cmk/special_agents/agent_gcp.py
  tests/unit/cmk/base/plugins/agent_based/test_gcp_run.py
  tests/unit/test_pipfile.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Use nightly build of 2.1.0 instead of master
  buildscripts/scripts/lib/integration.groovy
  buildscripts/scripts/lib/versioning.groovy
Due: none
