Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

igloo: fetch past the drawn window and snap it to the data grid
  packages/cmk-frontend-vue/src/graphing/components/GraphBrush/GraphBrush.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphFigure/GraphFigure.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphGroup.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphPanel.vue
  packages/cmk-frontend-vue/src/graphing/components/constants.ts
  packages/cmk-frontend-vue/src/graphing/composables/useGraphData.ts
  packages/cmk-frontend-vue/src/graphing/designer/components/DesignerBody.vue
  packages/cmk-frontend-vue/src/graphing/designer/composables/useCustomGraphData.ts
  packages/cmk-frontend-vue/src/graphing/types.ts
  packages/cmk-frontend-vue/src/graphing/utils/timeRange.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphBrush/GraphBrush.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphFigure/GraphFigure.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphGroup.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphPanel.test.ts
  packages/cmk-frontend-vue/tests/graphing/composables/useGraphData.test.ts
  packages/cmk-frontend-vue/tests/graphing/designer/composables/useCustomGraphData.test.ts
  packages/cmk-frontend-vue/tests/graphing/utils/timeRange.test.ts
Due: none

igloo: draw the view window out of a wider data window
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/NetworkFlow/DashboardContentNetworkFlowTrendChart.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphFigure/GraphFigure.vue
  packages/cmk-frontend-vue/src/graphing/components/GraphPanel.vue
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/TimeSeriesGraph.vue
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/decimation/decimate.ts
  packages/cmk-frontend-vue/src/graphing/components/TimeSeriesGraph/types.ts
  packages/cmk-frontend-vue/tests/graphing/components/GraphPanel.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/TimeSeriesGraph.test.ts
  packages/cmk-frontend-vue/tests/graphing/components/TimeSeriesGraph/decimation/decimate.test.ts
Due: none

Add credits to SecWerk
  .werks/22115.md
Due: none

network flow: carry timestamped, nullable samples through the KPI sparkline
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/KpiSparkLine.vue
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/index.ts
  packages/cmk-frontend-vue/src/dashboard/components/CmkKpiStatCard/types.ts
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/DashboardContentSingleMetric.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/NetworkFlow/DashboardContentNetworkFlowKpiStatCard.vue
  packages/cmk-frontend-vue/tests/dashboard/components/CmkKpiStatCard.test.ts
  packages/cmk-frontend-vue/tests/dashboard/components/KpiSparkLine.test.ts
  packages/cmk-frontend-vue/ui-component-library/dashboard/CmkKpiStatCard/UclCmkKpiStatCard.vue
  packages/cmk-frontend-vue/ui-component-library/dashboard/CmkKpiStatCard/UclCmkKpiStatCardCodeExample.vue
Due: none

network-flow(donut): highlight a slice across ring, legend and center
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/CmkDonutChart.vue
  packages/cmk-frontend-vue/src/network-flow/variables.css
  packages/cmk-frontend-vue/tests/network-flow/CmkDonutChart.test.ts
Due: none

network-flow(donut): put the total in the center, not the top slice
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/NetworkFlow/DashboardContentNetworkFlowDonut.vue
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/CmkDonutChart.vue
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/types.ts
  packages/cmk-frontend-vue/tests/network-flow/CmkDonutChart.test.ts
  packages/cmk-frontend-vue/ui-component-library/network-flow/CmkDonutChart/UclCmkDonutChart.vue
  packages/cmk-frontend-vue/ui-component-library/network-flow/CmkDonutChart/UclCmkDonutChartCodeExample.vue
Due: none

network-flow(donut): shade the slices along the ring
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/CmkDonutChart.vue
  packages/cmk-frontend-vue/src/network-flow/variables.css
  packages/cmk-frontend-vue/tests/network-flow/CmkDonutChart.test.ts
Due: none

Fixup werks versions to 2.5.0p13
  .werks/18241.md
Due: none

Keep site auth permissive in user_sync migration
  cmk/update_config/plugins/actions/migrate_user_sync_to_auth_connections.py
  tests/unit/cmk/update_config/plugins/actions/test_migrate_user_sync_to_auth_connections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22208 Add werk for distributed saml
  .werks/22208.md
Due: none

FIX Checkers: handle missing levels in predictive otel metrics configuration
  cmk/base/checkers.py
  tests/unit/cmk/base/test_checkers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move confirm_links to cmk.web.utils
  cmk/gui/availability/view/annotations.py
  cmk/gui/background_job/wato/_job_ui.py
  cmk/gui/bi/_config.py
  cmk/gui/custom_icons/BUILD
  cmk/gui/custom_icons/_modes.py
  cmk/gui/key_mgmt.py
  cmk/gui/logwatch/_page.py
  cmk/gui/mkeventd/wato.py
  cmk/gui/notifications.py
  cmk/gui/oauth/wato/_registered_clients_mode.py
  cmk/gui/page_menu.py
  cmk/gui/pagetypes/_core.py
  cmk/gui/plugins/wato/utils/__init__.py
  cmk/gui/quick_setup/_modes.py
  cmk/gui/user_message/user_message.py
  cmk/gui/utils/BUILD
  cmk/gui/visuals/_page_list.py
  cmk/gui/wato/pages/_simple_modes.py
  cmk/gui/wato/pages/audit_log.py
  cmk/gui/wato/pages/custom_attributes.py
  cmk/gui/wato/pages/folders.py
  cmk/gui/wato/pages/groups.py
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/notifications/modes.py
  cmk/gui/wato/pages/roles.py
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/wato/pages/tags.py
  cmk/gui/wato/pages/timeperiods.py
  cmk/gui/wato/pages/user_profile/two_factor.py
  cmk/gui/wato/pages/userdb_common.py
  cmk/gui/wato/pages/users.py
  cmk/gui/werks.py
  packages/cmk-backup/cmk/backup/gui/handler.py
  packages/cmk-profiling/cmk/profiling/gui/pages.py
  packages/cmk-web/cmk/web/utils/confirm_links.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make cmk.gui.utils.confirm_links independent of i18n
  cmk/gui/availability/view/annotations.py
  cmk/gui/background_job/wato/_job_ui.py
  cmk/gui/bi/_config.py
  cmk/gui/custom_icons/_modes.py
  cmk/gui/key_mgmt.py
  cmk/gui/logwatch/_page.py
  cmk/gui/mkeventd/wato.py
  cmk/gui/notifications.py
  cmk/gui/oauth/wato/_registered_clients_mode.py
  cmk/gui/pagetypes/_core.py
  cmk/gui/quick_setup/_modes.py
  cmk/gui/user_message/user_message.py
  cmk/gui/utils/confirm_links.py
  cmk/gui/visuals/_page_list.py
  cmk/gui/wato/pages/_simple_modes.py
  cmk/gui/wato/pages/audit_log.py
  cmk/gui/wato/pages/custom_attributes.py
  cmk/gui/wato/pages/folders.py
  cmk/gui/wato/pages/groups.py
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/notifications/modes.py
  cmk/gui/wato/pages/roles.py
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/wato/pages/tags.py
  cmk/gui/wato/pages/timeperiods.py
  cmk/gui/wato/pages/user_profile/two_factor.py
  cmk/gui/wato/pages/userdb_common.py
  cmk/gui/wato/pages/users.py
  cmk/gui/werks.py
  packages/cmk-backup/cmk/backup/gui/handler.py
  packages/cmk-profiling/cmk/profiling/gui/pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(flags): declare exp_trial_mode_selection release flag
  packages/cmk-flags/cmk/flags/_config.py
  tests/testlib/unit/gui/config_variable_form_data_test_helper.py
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(shared-typing): add trial_mode_selection schema
  packages/cmk-shared-typing/BUILD
  packages/cmk-shared-typing/source/trial_mode_selection.json
Due: none

feat(trial-mode): gate admins into the trial/customer selection page
  module_layers.toml
Due: none

feat(gui): add pluggable post-auth gate mechanism to page dispatch
  cmk/gui/BUILD
  cmk/gui/post_auth_gates.py
  packages/cmk-wsgi/cmk/gui/wsgi/applications/utils.py
  tests/unit/cmk/gui/test_post_auth_gates.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(frontend): trial mode selection page app
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/src/trial-mode-selection/OWNERS
  packages/cmk-frontend-vue/src/trial-mode-selection/TrialModeSelectionApp.vue
  packages/cmk-frontend-vue/tests/trial-mode-selection/TrialModeSelectionApp.test.ts
  packages/cmk-frontend/src/themes/facelift/scss/_login.scss
Due: none

Reduce Python 3.13 version number occurrences
  packages/cmk-dev-deploy/tests/test_wheel_deployer.py
  packages/cmk-plugin-apis/cmk/bakery/v2_unstable/__init__.py
  packages/cmk-plugin-apis/cmk/discover_plugins/_libexec.py
  packages/cmk-plugin-apis/doc/index.rst
  tests/packaging/package_validator/src/args.rs
  tests/packaging/package_validator/src/inputs/ignored_files.rs
  tests/packaging/test_files.py
  tests/plugins_consistency/common_tests/test_man_pages.py
  tests/system/singlesite/omd/test_linked_libraries.py
  tests/system/singlesite/omd/test_packages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16469 FIX MTR agent bakery rule: allow IPv6 addresses as destination
  .werks/16469.md
Due: none

gui: change MB/GB to MiB/GiB
  cmk/gui/plugins/wato/check_parameters/filesystem_utils.py
  cmk/gui/plugins/wato/check_parameters/filesystem_utils_form_spec.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-oracle: migrate validate permissions in GUI
  cmk/update_config/plugins/lib/mk_oracle_migration.py
  tests/unit/cmk/update_config/plugins/lib/test_mk_oracle_migration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16930 FIX OVS bonding: bonds not discovered on recent Open vSwitch versions
  .werks/16930.md
  cmk/base/plugins/agent_based/ovs_bonding.py
  tests/unit/cmk/base/plugins/agent_based/test_ovs_bonding.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

16930 FIX OVS bonding: bonds not discovered on recent Open vSwitch versions
  .werks/16930.md
  cmk/plugins/collection/agent_based/ovs_bonding.py
  tests/unit/cmk/plugins/collection/agent_based/test_ovs_bonding.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

CSP: let Python own the Content-Security-Policy for its pages
  cmk/gui/http.py
  omd/packages/apache-omd/skel/etc/apache/conf.d/security.conf
  packages/cmk-wsgi/cmk/gui/wsgi/applications/checkmk.py
  tests/system/singlesite/omd/test_web_access.py
  tests/unit/cmk/gui/test_http.py
  tests/unit/cmk/gui/wsgi/test_checkmk_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

CSP: add Content-Security-Policy mechanism
  cmk/gui/http.py
  tests/unit/cmk/gui/test_http.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui(bi): add timeout to restapi calls
  .werks/22091.md
  cmk/bi/compiler.py
  cmk/gui/bi/_openapi/__init__.py
  cmk/plugins/checkmk/special_agents/agent_bi.py
  tests/unit/cmk/bi/test_compiler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui(bi): add timeout to restapi calls
  .werks/22091.md
  cmk/bi/compiler.py
  cmk/gui/bi/_openapi/__init__.py
  cmk/special_agents/agent_bi.py
  tests/unit/cmk/bi/test_compiler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

be more specific about the secret
  packages/cmk-werks/cmk/werks/tool/cli/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

network-flow(donut): stop the ring from starving the category names
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/CmkDonutChart.vue
  packages/cmk-frontend-vue/ui-component-library/network-flow/CmkDonutChart/UclCmkDonutChart.vue
Due: none

network-flow(donut): let categories be hidden, and ease the ring into shape
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/CmkDonutChart.vue
  packages/cmk-frontend-vue/src/network-flow/CmkDonutChart/useDonutTween.ts
  packages/cmk-frontend-vue/tests/network-flow/CmkDonutChart.test.ts
Due: none

16930 FIX OVS bonding: bonds not discovered on recent Open vSwitch versions
  .werks/16930.md
  cmk/plugins/network/agent_based/ovs_bonding.py
  tests/unit/cmk/plugins/network/agent_based/test_ovs_bonding.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(ui-library): add CmkChipAutocomplete
  packages/cmk-frontend-vue/tests/ui-component-library/component-pages.test.ts
  packages/cmk-frontend-vue/ui-component-library/components/form-elements/CmkChipAutocomplete/UclCmkChipAutocomplete.vue
  packages/cmk-frontend-vue/ui-component-library/components/form-elements/CmkChipAutocomplete/UclCmkChipAutocompleteCodeExample.vue
  packages/cmk-frontend-vue/ui-component-library/components/index.ts
  packages/cmk-ui-library/components/CmkChipAutocomplete.vue
  packages/cmk-ui-library/tests/components/CmkChipAutocomplete.test.ts
Due: none

16469 FIX MTR agent bakery rule: allow IPv6 addresses as destination
  .werks/16469.md
  cmk/plugins/mtr/rulesets/mtr.py
  tests/unit/cmk/plugins/mtr/rulesets/test_bakery.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22196 Record user interface errors as crashes
  .werks/22196.md
  packages/cmk-frontend-vue/ui-component-library/components/system-feedback/CmkErrorBoundary/UclCmkErrorBoundary.vue
  packages/cmk-ui-library/components/CmkErrorBoundary/CmkErrorAlert.vue
  packages/cmk-ui-library/components/CmkErrorBoundary/CmkErrorBoundary.vue
  packages/cmk-ui-library/components/CmkErrorBoundary/JavascriptCrashReportApi.ts
  packages/cmk-ui-library/components/CmkErrorBoundary/index.ts
  packages/cmk-ui-library/components/CmkErrorBoundary/useCmkErrorBoundary.ts
  packages/cmk-ui-library/tests/components/CmkErrorBoundary/JavascriptCrashReportApi.test.ts
  packages/cmk-ui-library/tests/components/ErrorBoundary.test.ts
Due: none

Use httpx2 in cmk-mcp
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking
