Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

modernize windows agent
  agents/wnx/src/engine/providers/plugins.cpp
Due: none

refactor performance counters
  agents/wnx/src/engine/providers/p_perf_counters.cpp
Due: none

Separate wato registration from __init__
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/wato/__init__.py
  cmk/gui/wato/registration.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "prediction: just return the prediction"
  cmk/utils/prediction/_plugin_interface.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "prediction: force consistent num_points property"
  cmk/utils/prediction/_prediction.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "add dedicated response type"
  cmk/utils/prediction/_prediction.py
  tests/integration/cmk/base/test_services_prediction.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Re-mypy cache
  tests/Makefile
Due: none

cpu_load: prepare notice only
  cmk/base/plugins/agent_based/utils/cpu_load.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

cpu_load: refactor
  cmk/base/plugins/agent_based/utils/cpu_load.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "add dedicated response type""
  cmk/utils/prediction/_prediction.py
  tests/integration/cmk/base/test_services_prediction.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add localization for future metrics API
  cmk_metrics/v1/_localize.py
  tests/Makefile
  tests/unit/cmk_metrics/v1/test_localization.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "prediction: force consistent num_points property""
  cmk/utils/prediction/_prediction.py
  tests/integration/cmk/base/test-files/America/New_York/everyday
  tests/integration/cmk/base/test-files/Europe/Berlin/26
  tests/integration/cmk/base/test-files/Europe/Berlin/everyday
  tests/integration/cmk/base/test-files/Europe/Berlin/thursday
  tests/integration/cmk/base/test-files/UTC/sunday
  tests/integration/cmk/base/test_services_prediction.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "prediction: just return the prediction""
  cmk/utils/prediction/_plugin_interface.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

legac check API: nuke item_state
  cmk/base/api/agent_based/register/check_plugins_legacy.py
  cmk/base/check_api.py
  cmk/base/item_state.py
  cmk/base/modes/check_mk.py
  tests/unit/checks/test_graylog_sources.py
  tests/unit/cmk/base/check_legacy_includes/test_df.py
  tests/unit/cmk/base/plugins/agent_based/test_aws_ebs.py
  tests/unit/cmk/base/test_item_state.py
  tests/unit/cmk/base/test_item_state_rate_and_average.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Separate events base mode
  cmk/gui/plugins/wato/utils/__init__.py
  cmk/gui/wato/__init__.py
  cmk/gui/wato/pages/events.py
  cmk/gui/wato/pages/notifications.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Decouple mode registration from import #2
  cmk/gui/wato/__init__.py
  cmk/gui/wato/pages/__init__.py
  cmk/gui/wato/pages/analyze_configuration.py
  cmk/gui/wato/pages/audit_log.py
  cmk/gui/wato/pages/bulk_discovery.py
  cmk/gui/wato/pages/bulk_edit.py
  cmk/gui/wato/pages/bulk_import.py
  cmk/gui/wato/pages/check_catalog.py
  cmk/gui/wato/pages/custom_attributes.py
  cmk/gui/wato/pages/download_agents.py
  cmk/gui/wato/pages/global_settings.py
  cmk/gui/wato/pages/groups.py
  cmk/gui/wato/pages/host_rename.py
  cmk/gui/wato/pages/hosts.py
  cmk/gui/wato/pages/icons.py
  cmk/gui/wato/pages/ldap.py
  cmk/gui/wato/pages/not_implemented.py
  cmk/gui/wato/pages/notifications.py
  cmk/gui/wato/pages/object_parameters.py
  cmk/gui/wato/pages/parentscan.py
  cmk/gui/wato/pages/password_store.py
  cmk/gui/wato/pages/pattern_editor.py
  cmk/gui/wato/pages/predefined_conditions.py
  cmk/gui/wato/pages/random_hosts.py
  cmk/gui/wato/pages/read_only.py
  cmk/gui/wato/pages/roles.py
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/wato/pages/search.py
  cmk/gui/wato/pages/tags.py
  cmk/gui/wato/pages/timeperiods.py
  cmk/gui/wato/pages/user_migrate.py
  cmk/gui/wato/pages/user_profile/__init__.py
  cmk/gui/wato/pages/users.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Decouple mode registration from import #1
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/wato/pages/__init__.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/wato/pages/backup.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/gui/wato/pages/folders.py
  cmk/gui/wato/pages/host_diagnose.py
  cmk/gui/wato/pages/services.py
  cmk/gui/wato/pages/sites.py
  cmk/gui/wato/registration.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Decouple mode registration from import #3
  cmk/gui/plugins/wato/background_job.py
  cmk/gui/plugins/wato/bi_config.py
  cmk/gui/wato/registration.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Reserved 5 Werk IDS
  .werks/first_free
Due: none

disable build of STL modules
  agents/wnx/src/check_mk_service.vcxproj
  agents/wnx/src/engine/engine.vcxproj
  agents/wnx/watest/watest.vcxproj
Due: none

Updated docutils and relocked Pipfile
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/docutils-0.15.2.tar.gz
  omd/packages/python3-modules/src/docutils-0.20.1.tar.gz
Due: omd-python-modules

Move graph specifications to cmk.gui.graphing
  cmk/gui/dashboard/dashlet/dashlets/graph.py
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/metrics.py
  cmk/gui/plugins/metrics/explicit_graphs.py
  cmk/gui/plugins/metrics/graph_images.py
  cmk/gui/plugins/metrics/graph_recipe_builder.py
  cmk/gui/plugins/metrics/graph_templates.py
  cmk/gui/plugins/metrics/html_render.py
  cmk/gui/plugins/metrics/utils.py
  cmk/gui/plugins/openapi/endpoints/metric/__init__.py
  cmk/gui/views/graph.py
  tests/unit/cmk/gui/plugins/metrics/test_rrd_fetch.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move some types from cmk.gui.type_defs to cmk.gui.graphing
  cmk/gui/graphing/_graph_specification.py
  cmk/gui/metrics.py
  cmk/gui/plugins/metrics/artwork.py
  cmk/gui/plugins/metrics/graph_templates.py
  cmk/gui/plugins/metrics/rrd_fetch.py
  cmk/gui/plugins/metrics/timeseries.py
  cmk/gui/plugins/metrics/utils.py
  cmk/gui/type_defs.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_graph_template.py
  tests/unit/cmk/gui/plugins/metrics/test_metrics_utils.py
  tests/unit/cmk/gui/plugins/metrics/test_rrd_fetch.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move migration code for legacy graph identifiers to update_config
  cmk/gui/utils/graph_specification.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

New component: cmk.gui.graphing
  cmk/gui/graphing/__init__.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove remaining occurences of legacy graph identifiers
  cmk/gui/plugins/metrics/graph_templates.py
  cmk/gui/type_defs.py
  cmk/gui/utils/graph_specification.py
  tests/unit/cmk/gui/plugins/metrics/test_graph_templates.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix an import cycle by removing a trivial dependency
  cmk/gui/key_mgmt.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

EC: Centralize registry of 'Service level' painters
  cmk/gui/mkeventd/registration.py
  cmk/gui/mkeventd/views.py
  cmk/gui/painter/v0/painters.py
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/views/sorter/sorters.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move some types from cmk.gui.type_defs to cmk.gui.graphing
  cmk/gui/graphing/_utils.py
  cmk/gui/type_defs.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14612 FIX CheckMK Server discovers wrong items as service
  .werks/14612
  cmk/base/plugins/agent_based/heartbeat_crm.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16015 FIX ldap: resolve error when saving LDAP connection config with global customer
  .werks/16015
  cmk/gui/wato/pages/userdb_common.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

host_config: effective_attributes field set to nullable
  cmk/gui/plugins/openapi/endpoints/host_config/response_schemas.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Pushed IContact::handle() down to NebContact.
  packages/livestatus/include/livestatus/Interface.h
  packages/neb/include/neb/NebContact.h
  packages/neb/include/neb/NebContactGroup.h
  packages/neb/include/neb/NebHost.h
  packages/neb/include/neb/NebService.h
Due: none

rename function as a preparation
  agents/wnx/src/common/wtools.h
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
