Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

rework special agents: move commandline_arguments to command_config.py
  cmk/base/command_config.py
  cmk/base/config.py
  tests/unit/checks/test_agent_3par.py
  tests/unit/checks/test_agent_acme_sbc.py
  tests/unit/checks/test_agent_allnet_ip_sensoric.py
  tests/unit/checks/test_agent_cisco_prime.py
  tests/unit/checks/test_agent_fritzbox.py
  tests/unit/checks/test_agent_ibmsvc.py
  tests/unit/checks/test_agent_innovaphone.py
  tests/unit/checks/test_agent_kube.py
  tests/unit/checks/test_agent_random.py
  tests/unit/checks/test_agent_salesforce.py
  tests/unit/checks/test_agent_siemens_plc.py
  tests/unit/cmk/base/test_command_config.py
  tests/unit/cmk/base/test_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

rework special agents: simplify SpecialAgent methods, get rid of KeyError
  cmk/base/command_config.py
  cmk/base/sources/_builder.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Stacked+dual perfometers are not possible anymore
  cmk/gui/graphing/_perfometer.py
  cmk/gui/plugins/metrics/perfometers.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove multiline imports mention
  CONTRIBUTING.md
Due: none

Move making GraphTemplate to class
  cmk/gui/graphing/_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Simplify parsing raw metric
  cmk/gui/graphing/_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Replace Password in cli args II
  packages/check-http/Cargo.lock
  packages/check-http/Cargo.toml
  packages/check-http/src/main.rs
  packages/check-http/src/pwstore.rs
Due: none

FIX users: readd missing roles
  cmk/gui/wato/pages/users.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

command api: fix active check config creation for nagios core
  cmk/base/core_nagios.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

command api: list both new and old active checks in list-checks mode
  cmk/base/modes/check_mk.py
  cmk/base/plugins/commands/utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15098 FIX setup form page rendering stuck when page has lots of select boxes
  .werks/15098
  web/htdocs/js/modules/forms.ts
Due: none

Refactor to Assignment Expressions
  cmk/special_agents/agent_proxmox_ve.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Comment fix only
  .github/workflows/pr.yaml
Due: none

Prevent exception in cleanup in case _add_extension fails
  tests/extension_compatibility/test_extension_compatibility.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

unify API for Connection too
  packages/check-sql/src/config/ms_sql.rs
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

16057 New global option to configure maximal long output size
  .werks/16057
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add warning message for truncated long output
  cmk/gui/painter/v0/painters.py
  cmk/gui/sites.py
  cmk/utils/livestatus_helpers/testing.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add full config support
  packages/check-sql/src/config/ms_sql.rs
  packages/check-sql/src/config/yaml.rs
  packages/check-sql/tests/files/test-config.yml
Due: none

move all test data strings in test::data
  packages/check-sql/src/config/ms_sql.rs
Due: none

remove werk knowledge stuff
  .werks/config
  packages/werks/werks/cli/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

move werk tool to own package
  Makefile
  Pipfile
  Pipfile.lock
  buildscripts/scripts/stages.yml
  buildscripts/scripts/test-werks-package.goovy
  packages/werks/.gitignore
  packages/werks/Pipfile
  packages/werks/Pipfile.lock
  packages/werks/README.md
  packages/werks/pyproject.toml
  packages/werks/run
  packages/werks/setup.cfg
  packages/werks/test/__init__.py
  packages/werks/test/test_smth.py
  packages/werks/werks/__init__.py
  packages/werks/werks/cli/__init__.py
  packages/werks/werks/py.typed
  tests/Makefile
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove global werks variable
  packages/werks/werks/cli/__init__.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

deobfuscate stderr in traceback
  tests/testlib/site.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "command api: migrate icmp to the command api""
  cmk/base/legacy_checks/check_icmp.py
  cmk/base/plugins/commands/active_checks/icmp.py
  tests/testlib/__init__.py
  tests/unit/checks/test_check_icmp.py
  tests/unit/cmk/base/plugins/commands/active_checks/test_icmp.py
  tests/unit/cmk/utils/test_man_pages.py
  tests/unit/conftest.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "command api: migrate bi_aggr to the command api""
  cmk/base/legacy_checks/check_bi_aggr.py
  cmk/base/plugins/commands/active_checks/bi_aggr.py
  tests/unit/checks/test_check_bi_aggr.py
  tests/unit/cmk/base/plugins/commands/active_checks/test_bi_aggr.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Dissolve var name
  cmk/gui/graphing/_artwork.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

FIX update-action: resolve error during update action of ldap_connections_ids
  cmk/update_config/plugins/actions/ldap_connection_ids.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

hosts setup: Add natural sort for hosts and folders in wato page
  cmk/gui/utils/sort.py
  cmk/gui/wato/pages/folders.py
  tests/unit/cmk/gui/test_sort.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add regression test
  tests/unit/cmk/base/plugins/agent_based/test_lnx_if.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15572 FIX linux interface shown as DOWN instead of UP
  .werks/15572
  cmk/base/plugins/agent_based/lnx_if.py
  tests/unit/cmk/base/plugins/agent_based/test_lnx_if.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Use context manager
  cmk/gui/graphing/_expression.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mssql.vbs: Fix werk 15917 in 2.2 and align with 2.1 and master
  agents/windows/plugins/mssql.vbs
Due: none

15918 FIX mssql_backup: Fix for werk 15917
  .werks/15918
Due: none

Makefile: format-js now formats TS files as well
  Makefile
Due: none

Build new werks module in bazel
  omd/packages/python3-modules/BUILD
  omd/packages/python3-modules/create_python_requirements.bzl
  packages/BUILD
Due: omd-python-modules

Add warning message for truncated long output
  cmk/gui/sites.py
  cmk/gui/views/painter/v0/painters.py
  cmk/utils/livestatus_helpers/testing.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
