Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, futurize, mypy, shebang, licence, absolute-imports

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-docstring-first
          - id: check-yaml
          - id: end-of-file-fixer
#    - repo: https://github.com/pre-commit/mirrors-scss-lint
#      rev: v0.59.0
#      hooks:
#          - id: scss-lint
#            files: \.scss$
    - repo: local
      hooks:
          - id: yapf
            name: Check yapf
            entry: scripts/check-yapf -i
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: futurize
            name: Check futurize
            entry: scripts/check-futurize
            language: script
            types: [file, python]
          - id: mypy
            name: Check types with mypy
            entry: scripts/check-mypy
            language: script
            types: [file, python]
          - id: shebang
            name: Check shebang lines
            entry: scripts/check-shebang
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports
            language: script
            types: [file, python]

PY3: Fix site sorting
  cmk/gui/plugins/wato/utils/__init__.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Notify on all failed builds
  buildscripts/scripts/build-build-containers.jenkins
  buildscripts/scripts/build-cmk-version.jenkins
  buildscripts/scripts/cleanup-nexus.jenkins
  buildscripts/scripts/test-composition.jenkins
  buildscripts/scripts/test-gui-crawl.jenkins
  buildscripts/scripts/test-integration-single.jenkins
  buildscripts/scripts/test-integration.jenkins
  buildscripts/scripts/test-pylint-3.jenkins
  buildscripts/scripts/test-python3-bandit.jenkins
  buildscripts/scripts/test-python3-pipenv-deps.jenkins
  buildscripts/scripts/test-python3-unit.jenkins
  buildscripts/scripts/windows-agent-build.jenkins
  buildscripts/scripts/windows-agent-integration-test.jenkins
Due: none

PY3: Fix background job startup
  cmk/gui/background_job.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Python 3 fixes for cmk.gui, part 11.
  cmk/gui/plugins/views/inventory.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Work around commandline length limits for mypy invocation.
  scripts/run-mypy
  tests-py3/Makefile
Due: none

Work around commandline length limits for bandit.ini generation.
  tests-py3/Makefile
Due: none

Dynamic columns painters query already on scaled metrics
  cmk/gui/plugins/metrics/translation.py
  cmk/gui/plugins/metrics/utils.py
  tests/unit/cmk/gui/plugins/test_metrics_utils.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

PY3: Start enabling cmk.gui unit tests #2
  cmk/utils/profile.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Add responses to to Python 3 Pipfile
  omd/packages/python3-modules/python3-modules.make
  virtual-envs/3.7/Pipfile
  virtual-envs/3.7/Pipfile.lock
Due: omd-python-modules

PY3: Start enabling cmk.gui unit tests
  tests-py3/unit/cmk/gui/conftest.py
  tests-py3/unit/cmk/notifications/test_mail.py
  tests-py3/unit/conftest.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

PY3: Start enabling cmk.gui unit tests #3
  tests-py3/unit/cmk/gui/utils
  tests-py3/unit/cmk/gui/wato
  tests-py3/unit/cmk/gui/watolib
  tests/unit/cmk/gui/utils/test_html.py
  tests/unit/cmk/gui/utils/test_output_funnel.py
  tests/unit/cmk/gui/utils/test_transaction_manager.py
  tests/unit/cmk/gui/watolib/test_config_sync.py
  tests/unit/cmk/gui/watolib/test_hosts_and_folders.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
  tests/unit/cmk/gui/watolib/test_tags.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Ensure the unit tests always use the same umask
  cmk/utils/misc.py
  tests/unit/conftest.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Update test
  tests/unit/cmk/gui/watolib/test_activate_changes.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

PY3: Use new fixture
  tests-py3/unit/conftest.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: fix: consider None in auto-migration
  cmk/base/api/agent_based/register/check_plugins_legacy.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: prepare for new-style checking
  cmk/base/checking.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: deal with passed Parameters type
  cmk/base/api/agent_based/register/check_plugins_legacy.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: Use check functions from 1.7-style check plugins
  cmk/base/checking.py
  tests-py3/unit/cmk/base/test_checking.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: rename legacy function
  checks/fileinfo
  cmk/base/automations/check_mk.py
  cmk/base/check_table.py
  cmk/base/checking.py
  cmk/base/discovery.py
  cmk/base/dump_host.py
  tests-py3/unit/cmk/base/test_checking.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: allow to pass None to Metric levels and boundaries
  cmk/base/api/agent_based/checking_types.py
  tests-py3/unit/cmk/base/api/agent_based/test_checking_types.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

CheckAPI: introduce extra package layer
  cmk/base/plugins/agent_based/agent_based_api/__init__.py
  cmk/base/plugins/agent_based/agent_based_api/v0/__init__.py
  cmk/base/plugins/agent_based/agent_based_api/v0/register.py
  cmk/base/plugins/agent_based/agent_based_api/v0/render.py
  cmk/base/plugins/agent_based/agent_based_api/v0/state.py
  cmk/base/plugins/agent_based/checkpoint_connections.py
  cmk/base/plugins/agent_based/esx_vsphere_systeminfo.py
  cmk/base/plugins/agent_based/hr_mem.py
  cmk/base/plugins/agent_based/labels.py
  cmk/base/plugins/agent_based/omd_apache.py
  cmk/base/plugins/agent_based/ucd_mem.py
  cmk/base/plugins/agent_based/utils/checkpoint.py
  cmk/base/plugins/agent_based/utils/printer.py
  cmk/base/plugins/agent_based/utils/ucd_hr_detection.py
  tests-py3/unit/cmk/base/api/agent_based/test_checking_types.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Enable Custom & Forecast Graphs to access old metrics
  cmk/gui/plugins/metrics/timeseries.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

test_wsgi_router: addition of test for show_host endpoint
  tests/unit/cmk/gui/wsgi/test_wsgi_router.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Reserved 10 Werk IDS
  .werks/first_free
Due: none

CheckAPI: introduce new check_levels
  cmk/base/api/agent_based/utils.py
  tests-py3/unit/cmk/base/api/agent_based/test_utils_check_levels.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Various mechanical fixes for Python 3.
  tests/unit/cmk/gui/test_backup_unit.py
  tests/unit/cmk/gui/test_http.py
  tests/unit/cmk/gui/test_i18n.py
  tests/unit/cmk/gui/test_userdb_htpasswd_connector.py
  tests/unit/cmk/gui/test_userdb_ldap_connector.py
  tests/unit/cmk/gui/test_webapi_unit.py
  tests/unit/cmk/gui/tools.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix mk_sap_hana's hostname detection
  agents/plugins/mk_sap_hana
  tests/unit/agents/plugins/test_mk_sap_hana.sh
Due: none

Some Python 3 workarounds for a broken class hierarchy. :-/
  cmk/gui/valuespec.py
  tests/testlib/utils.py
  tests/unit/cmk/gui/test_valuespec.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix broken ca-certificates creation
  cmk/gui/watolib/config_domains.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

A passphrase is not a string, it consists of bytes.
  cmk/gui/key_mgmt.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Update NagVis to 1.9.20
  .werks/11058
  omd/packages/nagvis/nagvis-1.9.19.tar.gz
  omd/packages/nagvis/nagvis-1.9.20.tar.gz
  omd/packages/nagvis/nagvis.make
Due: none

Update NagVis to 1.9.20
  .werks/11058
  omd/packages/nagvis/nagvis-1.9.19.tar.gz
  omd/packages/nagvis/nagvis-1.9.20.tar.gz
Due: none

11123 FIX No more CRIT when minutes_left is 0 but invalid
  .werks/11123
  checks/ups_capacity.include
  tests-py3/unit/checks/generictests/datasets/ups_capacity_invalid_time_left.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Proxmox: improve comments / refactoring
  checks/proxmox.include
  cmk/special_agents/agent_proxmox.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11122 Proxmox: add VM info
  .werks/11122
  checkman/proxmox_vm_info
  checks/proxmox_vm_info
  cmk/gui/plugins/wato/check_parameters/proxmox_vm_info_params.py
  cmk/special_agents/agent_proxmox.py
  tests-py3/unit/checks/generictests/datasets/proxmox_vm_info.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11119 Proxmox: add disk usage
  .werks/11119
  checkman/proxmox_disk_usage
  checks/proxmox_disk_usage
  cmk/gui/plugins/wato/check_parameters/proxmox_disk_usage_params.py
  cmk/special_agents/agent_proxmox.py
  tests-py3/unit/checks/generictests/datasets/proxmox_disk_usage.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Proxmox: delete checks/tests which move to different files
  checkman/proxmox_node_subscription
  checkman/proxmox_version
  checks/proxmox_node_subscription
  checks/proxmox_version
  tests-py3/unit/checks/generictests/datasets/proxmox_node_subscription.py
  tests-py3/unit/checks/generictests/datasets/proxmox_version.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11120 Proxmox: add mem usage
  .werks/11120
  checkman/proxmox_mem_usage
  checks/proxmox_mem_usage
  cmk/special_agents/agent_proxmox.py
  tests-py3/unit/checks/generictests/datasets/proxmox_mem_usage.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11121 Proxmox: add node info
  .werks/11121
  checkman/proxmox_node_info
  checks/proxmox_node_info
  cmk/gui/plugins/wato/check_parameters/proxmox_node_info_params.py
  cmk/special_agents/agent_proxmox.py
  tests-py3/unit/checks/generictests/datasets/proxmox_node_info.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

11098 Proxmox: add VM backup status
  .werks/11098
  checkman/proxmox_vm_backup_status
  checks/proxmox_vm_backup_status
  cmk/gui/plugins/wato/check_parameters/proxmox_vm_backup_status_params.py
  cmk/special_agents/agent_proxmox.py
  tests-py3/unit/checks/generictests/datasets/proxmox_vm_backup_status.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports
