Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

19228 mk-sql: avoid inaccessible databases login
  .werks/19228.md
  packages/host/mk-sql/src/ms_sql/instance.rs
  packages/host/mk-sql/src/ms_sql/sqls.rs
Due: none

20116 apc_symmetra: Make the states of battery pack cartridge flags configurable
  .werks/20116.md
  cmk/plugins/apc_symmetra/agent_based/apc_symmetra.py
  cmk/plugins/apc_symmetra/checkman/apc_symmetra
  cmk/plugins/apc_symmetra/rulesets/apc_symmetra.py
  tests/unit/cmk/plugins/apc_symmetra/agent_based/test_apc_symmetra.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add xfail test for crash group 4828
  tests/unit/cmk/plugins/collection/agent_based/test_win_cpuinfo.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22539 FIX win_cpuinfo: ignore foreign lines
  .werks/22539.md
  cmk/plugins/collection/agent_based/win_cpuinfo.py
  tests/unit/cmk/plugins/collection/agent_based/test_win_cpuinfo.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add xfail test for crash group 4828
  tests/unit/cmk/plugins/windows/agent_based/test_win_cpuinfo.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22539 FIX win_cpuinfo: ignore foreign lines
  .werks/22539.md
  cmk/plugins/windows/agent_based/win_cpuinfo.py
  tests/unit/cmk/plugins/windows/agent_based/test_win_cpuinfo.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22545 FIX cisco_redundancy: no crash on empty table
  .werks/22545.md
  cmk/base/legacy_checks/cisco_redundancy.py
  tests/unit/cmk/base/legacy_checks/test_cisco_redundancy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add xfail test for crash group 4114
  tests/unit/cmk/base/legacy_checks/test_cisco_redundancy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

22545 FIX cisco_redundancy: no crash on empty table
  .werks/22545.md
  cmk/plugins/collection/agent_based/cisco_redundancy.py
  tests/unit/cmk/plugins/collection/agent_based/test_cisco_redundancy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add xfail test for crash group 4114
  tests/unit/cmk/plugins/collection/agent_based/test_cisco_redundancy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

customers: check LDAP, link objects blocking delete
  .werks/22140.md
Due: none

Werk 22539: Fix version
  .werks/22539.md
Due: none

Increase vue unit-test timeout from 300s to 900s
  packages/cmk-frontend-vue/BUILD
Due: none

Temporary deactivate build_test for python3-modules
  omd/packages/python3-modules/BUILD
Due: omd-python-modules

tinkerforge: drop dead device identifier lookup
  agents/plugins/mk_tinkerforge.py
  cmk/plugins/tinkerforge/special_agent/agent_tinkerforge.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

libwmi: drop dead None checks on the table
  cmk/plugins/windows/agent_based/libwmi.py
  cmk/plugins/windows/agent_based/libwmi_legacy.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest_api: reject group creation without customer
  cmk/gui/fields/definitions.py
  tests/unit/cmk/gui/openapi/test_openapi_group_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add AI assistant chat history view
  packages/cmk-frontend-vue/src/assets/variables.css
Due: none

Use the Figma icons in the AI assistant header
  packages/cmk-frontend-vue/src/assets/icons/icon-chat-history.svg
  packages/cmk-frontend-vue/src/assets/icons/icon-chat-new.svg
  packages/cmk-frontend-vue/src/assets/icons/icon-docking.svg
  packages/cmk-frontend-vue/src/components/CmkIcon/icons.constants.ts
Due: none

move replication path snapshots to tests/unit/editions
  tests/unit/cmk/gui/watolib/test_replication_components.py
  tests/unit/editions/community/OWNERS
  tests/unit/editions/community/test_available_replication_paths.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

tolerate unknonwn filetypes in tarinfo
  omd/packages/omd/omdlib/backup.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19887 SEC "Disabled services" ruleset ignored the "Service discovery: Disabled services" permission
  .werks/19887.md
  cmk/gui/watolib/rulesets.py
  tests/unit/cmk/gui/test_logged_in.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(search): keep host folder above the divider
  packages/cmk-frontend-vue/src/unified-search/components/header/UnifiedSearchOperatorSelect.vue
  packages/cmk-frontend-vue/tests/unified-search/components/header/UnifiedSearchOperatorSelect.test.ts
Due: none

feat(agent-slideout): check for a baked agent
  cmk/gui/agent_commands.py
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/AgentConnectionTest.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOutContent.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/steps/InstallAgentStep.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/lib/agentAvailability.ts
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/lib/flavours.ts
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/lib/types.ts
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
  packages/cmk-frontend-vue/tests/mode-host/agent-connection-test/AgentSlideOutContent.test.ts
  packages/cmk-frontend-vue/tests/mode-host/agent-connection-test/flavours.test.ts
  packages/cmk-shared-typing/source/agent_slideout.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

openapi tests: use test-only plug-ins
  tests/openapi/BUILD
  tests/openapi/plugins/cmk/plugins/openapi_test/BUILD
  tests/openapi/plugins/cmk/plugins/openapi_test/__init__.py
  tests/openapi/plugins/cmk/plugins/openapi_test/graphing/__init__.py
  tests/openapi/plugins/cmk/plugins/openapi_test/graphing/sample.py
  tests/openapi/plugins/cmk/plugins/openapi_test/rulesets/__init__.py
  tests/openapi/plugins/cmk/plugins/openapi_test/rulesets/sample.py
  tests/openapi/test_openapi_folder_config.py
  tests/openapi/test_openapi_host_tag_group.py
  tests/openapi/test_openapi_metrics.py
  tests/openapi/test_openapi_rules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

custom services: hide name step when editing
  packages/cmk-frontend-vue/src/mode-custom-services/CustomServicesWizardApp.vue
  packages/cmk-frontend-vue/src/mode-custom-services/steps/ConfigureNameStep.vue
  packages/cmk-frontend-vue/tests/mode-custom-services/ConfigureNameStep.test.ts
  packages/cmk-frontend-vue/tests/mode-custom-services/CustomServicesWizardApp.test.ts
Due: none

relay: document engine concurrency model
  doc/documentation/arch-comp-relay-engine-concurrency-at-a-glance.svg
  doc/documentation/arch-comp-relay-engine-concurrency-scheduled-fetch.svg
  doc/documentation/arch-comp-relay-engine-concurrency-worker-lifecycle.svg
  doc/documentation/arch-comp-relay-engine-concurrency.rst
  doc/documentation/arch-comp-relay-engine.rst
  doc/documentation/arch-index.rst
  doc/documentation/spelling_wordlist.txt
Due: sphinx

telemetry: store a host's attribute filter as sent
  cmk/config_anonymizer/plugins/hosts.py
  cmk/gui/openapi/api_endpoints/models/attributes.py
  cmk/gui/watolib/host_attributes.py
  tests/unit/cmk/config_anonymizer/test_hosts.py
  tests/unit/cmk/gui/openapi/endpoints/test_host_attribute_models.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19887 SEC "Disabled services" ruleset ignored the "Service discovery: Disabled services" permission
  .werks/19887.md
  cmk/gui/watolib/utils.py
  tests/unit/cmk/gui/test_logged_in.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix trusted-CA fallback when a global save omits the setting
  .werks/22620.md
  cmk/gui/watolib/config_domains.py
  tests/unit/cmk/gui/watolib/test_config_domains.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cmk-crash: redact PEM private keys in crash reports by their value
  packages/cmk-ccc/cmk/ccc/crash_reporting.py
  packages/cmk-ccc/tests/test_crash_reporting.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

form_submit: type the parsed forms
  packages/cmk-plugins/cmk/plugins/form_submit/active_check/check_form_submit.py
  packages/cmk-plugins/tests/cmk/plugins/form_submit/active_check/test_ac_check_form_submit.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

form_submit: type new_state as NoReturn
  packages/cmk-plugins/cmk/plugins/form_submit/active_check/check_form_submit.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

form_submit: fix check of the single form's name
  packages/cmk-plugins/cmk/plugins/form_submit/active_check/check_form_submit.py
  packages/cmk-plugins/tests/cmk/plugins/form_submit/active_check/test_ac_check_form_submit.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
