Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

style(welcome): fix Add your first host text
  packages/cmk-frontend-vue/src/welcome/components/steps/AddHost.vue
Due: none

Update Python libraries
  community-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Reserved 30 Werk IDS
  .werks/first_free
Due: none

19046 FIX Fixed Nagios monitoring history
  .werks/19046.md
Due: none

Revert "LDAP: groups_to_roles custom roles missing"
  cmk/gui/ldap_integration/_openapi/request_schemas.py
  tests/unit/cmk/gui/ldap/test_ldap_connection.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19180 gui(command): fix schedule downtime in BI
  .werks/19180.md
  cmk/gui/views/command/commands.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18550 Improve diagnostic for mk-oracle plugins
  .werks/18550.md
  cmk/plugins/oracle/agents/oracle_unified_async
  cmk/plugins/oracle/agents/oracle_unified_async.ps1
  cmk/plugins/oracle/agents/oracle_unified_sync
  cmk/plugins/oracle/agents/oracle_unified_sync.ps1
Due: none

mk-sql: add flag force local host to config
  packages/mk-sql/src/config/defines.rs
  packages/mk-sql/src/config/ms_sql.rs
Due: none

Implement retries when connecting to or querying metric backend
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

refactor: use relay with upper case in the add relay view
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

refactor: use relay installation script
  packages/cmk-frontend-vue/src/mode-relay/ModeCreateRelayApp.vue
  packages/cmk-frontend-vue/src/mode-relay/add-relay-configuration-steps/ExecuteInstallationScript.vue
  packages/cmk-frontend-vue/src/mode-relay/add-relay-configuration-steps/InstallRelay.vue
Due: none

refactor: use api_user for cloud and logged in user in other case
  packages/cmk-frontend-vue/src/mode-relay/ModeCreateRelayApp.vue
  packages/cmk-frontend-vue/src/mode-relay/add-relay-configuration-steps/ExecuteInstallationScript.vue
  packages/cmk-shared-typing/source/create_relay.json
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

werks: 2.3.0 Edition and format change from V3/V1
  cmk/utils/werks/__init__.py
  cmk/utils/werks/__main__.py
  cmk/utils/werks/announce/__init__.py
  cmk/utils/werks/mail/__init__.py
  cmk/utils/werks/werk.py
  packages/cmk-werks/cmk/werks/__init__.py
  packages/cmk-werks/cmk/werks/cli.py
  packages/cmk-werks/cmk/werks/format.py
  packages/cmk-werks/cmk/werks/load.py
  packages/cmk-werks/cmk/werks/models.py
  packages/cmk-werks/cmk/werks/parse.py
  packages/cmk-werks/tests/test_format.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

werks: 2.4.0 Edition and format change from V3/V2
  packages/cmk-werks/cmk/werks/__init__.py
  packages/cmk-werks/cmk/werks/cli.py
  packages/cmk-werks/cmk/werks/format.py
  packages/cmk-werks/cmk/werks/load.py
  packages/cmk-werks/cmk/werks/models.py
  packages/cmk-werks/cmk/werks/parse.py
  packages/cmk-werks/cmk/werks/utils/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

werks: big bang to new edition names
  .werks/config
  buildscripts/scripts/compile-all-werks.groovy
  cmk/gui/werks.py
  cmk/update_config/plugins/actions/werks.py
  cmk/utils/werks/__init__.py
  cmk/utils/werks/acknowledgement.py
  cmk/utils/werks/announce/__init__.py
  cmk/utils/werks/announce/templates/announce.md.jinja2
  cmk/utils/werks/announce/templates/announce.txt.jinja2
  cmk/utils/werks/mail/__init__.py
  omd/packages/changelog/BUILD
  packages/cmk-werks/cmk/werks/__init__.py
  packages/cmk-werks/cmk/werks/cli.py
  packages/cmk-werks/cmk/werks/collect.py
  packages/cmk-werks/cmk/werks/constants.py
  packages/cmk-werks/cmk/werks/convert.py
  packages/cmk-werks/cmk/werks/format.py
  packages/cmk-werks/cmk/werks/load.py
  packages/cmk-werks/cmk/werks/models.py
  packages/cmk-werks/cmk/werks/parse.py
  packages/cmk-werks/cmk/werks/schemas/werk.py
  packages/cmk-werks/cmk/werks/utils/__init__.py
  packages/cmk-werks/cmk/werks/utils/__main__.py
  packages/cmk-werks/tests/test_cli.py
  packages/cmk-werks/tests/test_cli_e2e.py
  packages/cmk-werks/tests/test_format.py
  packages/cmk-werks/tests/test_load.py
  tests/code_quality/test_werks.py
  tests/unit/cmk/update_config/plugins/actions/test_werks.py
  tests/unit/cmk/utils/werks/test_acknowledgement.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

silence errors when tracing is not enabled
  bin/check_mk
  cmk/base/automation_helper/_tracer.py
  cmk/gui/job_scheduler/main.py
  cmk/gui/wsgi/applications/index.wsgi
  packages/cmk-trace/cmk/trace/export.py
  packages/cmk-trace/tests/test_trace.py
  tests/astrein/config/module_layers_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

silence errors when tracing is not enabled
  bin/check_mk
  cmk/base/automation_helper/_tracer.py
  cmk/gui/job_scheduler/main.py
  cmk/gui/wsgi/applications/index.wsgi
  packages/cmk-astrein/cmk/astrein/module_layers_config.py
  packages/cmk-trace/cmk/trace/export.py
  packages/cmk-trace/tests/test_trace.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

config activation: snapshot the trusted CAs file
  cmk/base/core/interface/_control.py
  cmk/base/core/interface/_snapshot_trusted_cas.py
  packages/cmk-relay-protocols/cmk/relay_protocols/configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix groovy script indentations of generic-package-job
  buildscripts/scripts/generic-package-job.groovy
Due: none

Use params.x to clearly differentiate between vars and parameters
  buildscripts/scripts/generic-package-job.groovy
Due: none

Reapply "LDAP: groups_to_roles custom roles missing"
  cmk/gui/ldap_integration/_openapi/request_schemas.py
  tests/unit/cmk/gui/ldap/test_ldap_connection.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "config activation: snapshot the trusted CAs file"
  cmk/base/core/interface/_control.py
  cmk/base/core/interface/_snapshot_trusted_cas.py
  packages/cmk-relay-protocols/cmk/relay_protocols/configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

CmkErrorBoundary: separate error box component
  packages/cmk-frontend-vue/src/components/CmkErrorBoundary/CmkErrorAlert.vue
  packages/cmk-frontend-vue/src/components/CmkErrorBoundary/CmkErrorBoundary.vue
Due: none

dashboard: add y_offset for widget in commercial editions
  cmk/gui/dashboard/visual_type.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

DashboardApp: disable edit mode when initial dashboard is built-in
  packages/cmk-frontend-vue/src/dashboard/DashboardApp.vue
Due: none
