Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

diag special agent: restrict passwords access
  cmk/base/automations/check_mk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

utils.password_store: rename paths
  cmk/base/automations/check_mk.py
  cmk/base/core/interface/_control.py
  cmk/base/core/nagios/_create_config.py
  cmk/base/core/nagios/_host_check_template.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  cmk/plugins/checkmk/libinventory/check_cmk_inv.py
  cmk/utils/password_store/__init__.py
  cmk/utils/password_store/_pwstore.py
  cmk/utils/password_store/cli.py
  tests/unit/cmk/test_cmkpasswordstore.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

trigger: move writing of ad hoc passwords
  cmk/base/automations/check_mk.py
  packages/cmk-check-engine/BUILD
  packages/cmk-check-engine/cmk/fetchers/__init__.py
  packages/cmk-check-engine/cmk/fetchers/_ad_hoc_secrets.py
  packages/cmk-check-engine/cmk/fetchers/_trigger.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[OTel-QA] Add gui-e2e test for collector (receiver) creation
  tests/gui_e2e/test_otel.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/__init__.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_receiver.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/open_telemetry_collector_receiver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[OTel-QA] Add gui-e2e test for collector (Prometheus scraping) creation
  tests/gui_e2e/test_otel.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_prometheus_scraping.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/open_telemetry_collector_prometheus_scraping.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

LDAP: ldap_user_spec should include the DN when fetching a user
  cmk/gui/ldap_integration/ldap_connector.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add Werk 18920
  .werks/18920.md
Due: none

remove duplicate omdlib functions
  omd/packages/omd/omdlib/main.py
  tests/unit/cmk/gui/watolib/test_config_domains.py
  tests/unit/omdlib/test_omdlib_main.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #135
  cmk/gui/wato/pages/host_rename.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #127
  cmk/gui/dashboard/dashlet/dashlets/status_helpers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #121
  cmk/gui/data_source/livestatus.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18966 FIX Ruleset API: Fix validation for different FormSpecs
  .werks/18966.md
  cmk/gui/form_specs/visitors/recomposers/proxy.py
  cmk/gui/userdb/_user_selection.py
  cmk/gui/utils/rule_specs/legacy_converter.py
  cmk/gui/valuespec/definitions.py
  cmk/gui/watolib/password_store.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "azure_v2: add subscription autocompleter and query filter"
  cmk/gui/autocompleters.py
  cmk/gui/query_filters.py
  cmk/gui/utils/autocompleter_config.py
  cmk/gui/visuals/_filters.py
  cmk/gui/visuals/filter/_ajax_dropdown.py
  tests/unit/cmk/gui/test_autocompleters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "azure_v2: add resource group autocompleter and query filter"
  cmk/gui/utils/autocompleter_config.py
  cmk/gui/visuals/_filters.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

make certificate signing on registration optional for now
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/handlers/register_relay.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

FIX update_config/dashboards: handle not required background key
  cmk/gui/dashboard/type_defs.py
  cmk/update_config/plugins/actions/dashboards.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib.mock_server: Refactoring and typing improvements
  tests/testlib/mock_server.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add iproute2 package to SLES 15 SP7 build image
  buildscripts/infrastructure/build-nodes/sles-15sp7/Dockerfile
Due: none

Clean up no-untyped-def #139
  cmk/gui/wato/pages/sites.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #123
  cmk/gui/wato/_group_selection.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #137
  cmk/gui/wato/pages/host_diagnose.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #140
  cmk/gui/wato/pages/predefined_conditions.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #124
  cmk/gui/wato/pages/global_settings.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #136
  cmk/gui/wato/pages/bulk_import.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gerrit: use shared latest version schema
  cmk/plugins/gerrit/agent_based/gerrit_version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gerrit: replace cache mechanism with decorator
  cmk/plugins/gerrit/lib/agent.py
  cmk/plugins/gerrit/lib/cache.py
  cmk/plugins/gerrit/lib/storage/__init__.py
  cmk/plugins/gerrit/lib/storage/version.py
  tests/pylint/checker_cmk_module_layers.py
  tests/unit/cmk/plugins/gerrit/lib/test_agent.py
  tests/unit/cmk/plugins/gerrit/lib/test_cache.py
  tests/unit/cmk/plugins/gerrit/lib/test_storage_version.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #142
  cmk/gui/wato/pages/groups.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up no-untyped-def #145
  cmk/gui/plugins/wato/check_parameters/bluecat_ntp.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix-up new stage for relay
  buildscripts/scripts/stages.yml
Due: none

Bump checkmk-dev-tools to 1.2.1
  MODULE.bazel.lock
  buildscripts/scripts/Dockerfile
  omd/requirements.txt
  omd/requirements_lock.txt
  requirements_all_lock.txt
  requirements_dev.txt
Due: requirements-locking

Reapply "Extend generic package job"
  buildscripts/scripts/generic-package-job.groovy
  buildscripts/scripts/trigger-packages.groovy
Due: none

Reapply "Include mk-oracle built on RHEL8 in all packages"
  buildscripts/scripts/build-cmk-distro-package.groovy
  buildscripts/scripts/build-cmk-source_tgz.groovy
  buildscripts/scripts/trigger-cmk-distro-package.groovy
  buildscripts/scripts/utils/package_helper.groovy
  omd/packages/mk-oracle/BUILD
Due: none

Reapply "Deploy mk-oracle.{solaris,aix,exe} via bazel"
  artifacts.make
  buildscripts/scripts/utils/package_helper.groovy
  omd/packages/check_mk/check_mk.make
  omd/packages/mk-oracle/BUILD
Due: none

18965 FIX Plugin API: Allow overshadowing of shipped legacy plugins
  .werks/18965.md
  cmk/gui/rulespec.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: add no cache option to configuration
  cmk/plugins/cisco_meraki/lib/agent.py
  cmk/plugins/cisco_meraki/lib/clients/__init__.py
  cmk/plugins/cisco_meraki/lib/config.py
  cmk/plugins/cisco_meraki/rulesets/agent_cisco_meraki.py
  cmk/plugins/cisco_meraki/server_side_calls/agent_cisco_meraki.py
  tests/unit/cmk/plugins/cisco_meraki/lib/test_agent.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: inline caching logic
  cmk/plugins/cisco_meraki/lib/clients/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: add cache ttl config
  cmk/plugins/cisco_meraki/lib/agent.py
  cmk/plugins/cisco_meraki/lib/clients/__init__.py
  cmk/plugins/cisco_meraki/lib/config.py
  cmk/plugins/cisco_meraki/rulesets/agent_cisco_meraki.py
  cmk/plugins/cisco_meraki/server_side_calls/agent_cisco_meraki.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: add region support
  cmk/plugins/cisco_meraki/lib/agent.py
  cmk/plugins/cisco_meraki/lib/config.py
  cmk/plugins/cisco_meraki/rulesets/agent_cisco_meraki.py
  cmk/plugins/cisco_meraki/server_side_calls/agent_cisco_meraki.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: drop unpack syntax from protocol
  cmk/plugins/cisco_meraki/lib/clients/__init__.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add code ownership for azure
  cmk/plugins/azure_deprecated/OWNERS
  cmk/plugins/azure_status/OWNERS
  cmk/plugins/azure_v2/OWNERS
  component_owners/azure/OWNERS_DEFINITION
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
