Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Support useI18n outside vue components
  packages/cmk-frontend-vue/demo/components/typography/DemoI18n.vue
  packages/cmk-frontend-vue/demo/components/typography/_ts_file_using_i18n.ts
  packages/cmk-frontend-vue/src/lib/i18n.ts
Due: none

Strongly type CmkCollapsibleTitle ui strings
  packages/cmk-frontend-vue/src/components/CmkCollapsibleTitle.vue
  packages/cmk-frontend-vue/src/components/private/ErrorBoundary.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/widgets/widget_types.ts
Due: none

Treat strings as translated in demo
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/eslint.config.js
  packages/cmk-frontend-vue/tsconfig.app.json
  packages/cmk-frontend-vue/tsconfig.demo.json
  packages/cmk-frontend-vue/tsconfig.json
Due: none

Strongly type some more vue component i18n
  packages/cmk-frontend-vue/src/components/CmkAccordionStepPanel/CmkAccordionStepPanelItem.vue
  packages/cmk-frontend-vue/src/components/CmkChip.vue
  packages/cmk-frontend-vue/src/components/CmkCode.vue
  packages/cmk-frontend-vue/src/components/CmkLinkCard.vue
  packages/cmk-frontend-vue/src/components/CmkWizard/CmkWizardButton.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOutContent.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
  packages/cmk-frontend-vue/src/unified-search/components/header/FilterOptionEntry.vue
Due: none

Strongly type CmkDialog ui strings
  packages/cmk-frontend-vue/src/components/CmkDialog.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoiceEditableEditAsync.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
  packages/cmk-frontend-vue/src/notification/components/NotificationFallbackWarning.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/widgets/widget_types.ts
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
Due: none

Strongly type CmkSuggestions ui strings
  packages/cmk-frontend-vue/src/components/CmkSuggestions.vue
  packages/cmk-frontend-vue/src/components/suggestions.ts
  packages/cmk-frontend-vue/src/form/components/forms/FormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormConditionChoices/ConditionChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormConditionChoices/FormConditionChoices.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDataSize.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormPassword.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoiceEditable.vue
  packages/cmk-frontend-vue/src/form/components/utils/autocompleters/ajax.ts
  packages/cmk-frontend-vue/src/form/components/utils/autocompleters/rest.ts
Due: none

Support strong typing of translated strings
  packages/cmk-frontend-vue/BUILD
  packages/cmk-frontend-vue/src/lib/i18n.ts
  packages/cmk-frontend-vue/src/lib/i18nString.ts
  packages/cmk-frontend-vue/tests/setup-tests.ts
  packages/cmk-frontend-vue/tsconfig.test.json
  packages/cmk-frontend-vue/weaki18nString.d.ts
Due: none

Strongly type help, checkbox and widget ui strings
  packages/cmk-frontend-vue/src/components/HelpText.vue
  packages/cmk-frontend-vue/src/components/user-input/CmkCheckbox.vue
  packages/cmk-frontend-vue/src/form/FormApp.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormBooleanChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormCascadingSingleChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormCheckboxListChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary/FormDictionary.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary/FormTwoColumnDictionary.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormOptionalChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormTimeSpecific.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormTuple.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/widgets/FormSpecWidget.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/widgets/widget_types.ts
Due: none

Rule:from_ruleset_defaults -> Rule:from_ruleset
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/watolib/rulesets.py
  tests/unit/cmk/gui/watolib/test_gui_rulesets.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets.py
  tests/unit/cmk/update_config/plugins/actions/test_rulesets_add_ps_discovery.py
  tests/unit/cmk/update_config/plugins/lib/test_azure_storage.py
  tests/unit/cmk/update_config/plugins/lib/test_rulesets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

changed overflow attribute for floatfilter
  packages/cmk-frontend/src/themes/facelift/scss/_page_menu.scss
Due: none

CmkDualList feature extraction from formspec DualListChoice
  packages/cmk-frontend-vue/demo/components/DemoCmkDualList.vue
  packages/cmk-frontend-vue/demo/components/index.ts
  packages/cmk-frontend-vue/demo/form/components/forms/DemoFormDualListChoice.vue
  packages/cmk-frontend-vue/demo/form/components/forms/index.ts
  packages/cmk-frontend-vue/src/components/CmkDualList/CmkDualList.vue
  packages/cmk-frontend-vue/src/components/CmkDualList/CmkSearchableList.vue
  packages/cmk-frontend-vue/src/components/CmkDualList/index.ts
  packages/cmk-frontend-vue/src/form/components/FormReadonly.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDualListChoice.vue
  packages/cmk-frontend-vue/tests/form/components/forms/FormDualListChoice.test.ts
Due: none

Adjustments to agent download slideout
  cmk/gui/wato/pages/hosts.py
  packages/cmk-frontend-vue/src/mode-host/ModeHostApp.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/AgentConnectionTest.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOut.vue
  packages/cmk-frontend-vue/src/mode-host/agent-connection-test/components/AgentSlideOutContent.vue
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
  packages/cmk-shared-typing/source/agent_slideout.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

performance test: Create benchmark folder in make target
  tests/Makefile
Due: none

added utils for cascading and alternativ choice
  cmk/gui/form_specs/generators/alternative_utils.py
  cmk/gui/form_specs/generators/cascading_choice_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fixed typo in regular_expression. removed part of help text
  cmk/gui/form_specs/vue/visitors/recomposers/regular_expression.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure/Redis: Connections check plugin
  cmk/plugins/azure/agent_based/azure_redis.py
  cmk/plugins/azure/checkman/azure_redis_connections
  cmk/plugins/azure/graphing/azure_redis_clients_connected.py
  cmk/plugins/azure/graphing/azure_redis_created_connection_rate.py
  cmk/plugins/azure/rulesets/azure_redis_connections.py
  cmk/plugins/azure/special_agent/agent_azure.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update pypdf
  MODULE.bazel.lock
  cmk/requirements.txt
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

Azure/Redis: CPU Utilization check plugin
  cmk/plugins/azure/agent_based/azure_redis.py
  cmk/plugins/azure/checkman/azure_redis_cpu_utilization
  cmk/plugins/azure/rulesets/azure_redis_cpu_utilization.py
  cmk/plugins/azure/special_agent/agent_azure.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

move broker certificates functionality to cmkcert
  bin/BUILD
  bin/message-broker-certs
  cmk/cmkcert.py
  cmk/gui/watolib/broker_certificates.py
  cmk/utils/certs.py
  omd/packages/check_mk/post-create/03_message-broker-certs
  omd/packages/rabbitmq/skel/etc/init.d/rabbitmq
  tests/unit/cmk/test_cmkcert.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Refactored more doctests to unit tests
  cmk/gui/livestatus_utils/commands/force_schedule.py
  tests/unit/cmk/gui/livestatus_utils/commands/test_downtimes.py
  tests/unit/cmk/gui/livestatus_utils/commands/test_force_schedule.py
  tests/unit/cmk/gui/test_login_unit.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up GUI config loading
  cmk/gui/config.py
  cmk/gui/wato/pages/custom_attributes.py
  cmk/gui/watolib/custom_attributes.py
  cmk/gui/watolib/sites.py
  cmk/gui/watolib/tags.py
  tests/unit/cmk/gui/common_fixtures.py
  tests/unit/cmk/gui/conftest.py
  tests/unit/cmk/gui/test_gui_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Refactor doctests to proper unit tests
  cmk/gui/livestatus_utils/commands/downtimes.py
  tests/unit/cmk/gui/livestatus_utils/test_downtime_commands.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Azure Redis: Tests for connections check
  tests/unit/cmk/plugins/azure/agent_based/test_azure_redis.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Removed all ruff suppressions from cmk-crypto
  packages/cmk-crypto/cmk/crypto/certificate.py
  packages/cmk-crypto/cmk/crypto/keys.py
  packages/cmk-crypto/cmk/crypto/totp.py
  packages/cmk-crypto/tests/test_certificate.py
  packages/cmk-crypto/tests/test_totp.py
  tests/unit/cmk/utils/test_certs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix update script
  scripts/update_python_libs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

lock python dependencies
  Pipfile.lock
  packages/cmk-agent-based/Pipfile.lock
  packages/cmk-agent-receiver/Pipfile.lock
  packages/cmk-graphing/Pipfile.lock
  packages/cmk-livestatus-client/Pipfile.lock
  packages/cmk-mkp-tool/Pipfile.lock
  packages/cmk-rulesets/Pipfile.lock
  packages/cmk-server-side-calls/Pipfile.lock
  packages/cmk-werks/Pipfile.lock
Due: none

chore: use a RelayProxy to simplify component tests
  packages/cmk-agent-receiver/tests/component/conftest.py
  packages/cmk-agent-receiver/tests/component/test_a_relay_can_be_registered.py
  packages/cmk-agent-receiver/tests/component/test_a_relay_can_be_unregistered.py
  packages/cmk-agent-receiver/tests/component/test_lib/relay_proxy.py
  packages/cmk-agent-receiver/tests/component/test_lib/relays.py
  packages/cmk-agent-receiver/tests/component/test_lib/tasks.py
  packages/cmk-agent-receiver/tests/component/test_run_agent_receiver.py
  packages/cmk-agent-receiver/tests/component/test_store_fetching_tasks.py
  packages/cmk-agent-receiver/tests/component/test_two_relays_cannot_have_same_id.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

chore: extend test_lib for agent receiver compotent tests
  packages/cmk-agent-receiver/tests/component/test_a_relay_can_be_registered.py
  packages/cmk-agent-receiver/tests/component/test_a_relay_can_be_unregistered.py
  packages/cmk-agent-receiver/tests/component/test_lib/relay_proxy.py
  packages/cmk-agent-receiver/tests/component/test_lib/tasks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat: agent-receiver able to receive tasks for the relay
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/create_task.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/tasks_repository.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/serializers.py
  packages/cmk-agent-receiver/tests/component/test_lib/tasks.py
  packages/cmk-agent-receiver/tests/component/test_store_fetching_tasks.py
  packages/cmk-agent-receiver/tests/unit/relay/test_create_task_handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrated backup/handler.py to form spec
  cmk/gui/backup/handler.py
  cmk/gui/form_specs/generators/alternative_utils.py
  cmk/gui/form_specs/vue/_type_defs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrated cmk/gui/message.py to formspec
  cmk/gui/form_specs/generators/alternative_utils.py
  cmk/gui/form_specs/generators/cascading_choice_utils.py
  cmk/gui/message.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

migrated read_only to form spec
  cmk/gui/wato/pages/read_only.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Pass the acting user to user changing functions
  cmk/gui/openapi/endpoints/user_config/__init__.py
  cmk/gui/wato/pages/users.py
  cmk/gui/watolib/users.py
  tests/unit/cmk/gui/ldap/openapi/test_user.py
  tests/unit/cmk/gui/openapi/test_openapi_user.py
  tests/unit/cmk/gui/users.py
  tests/unit/cmk/gui/watolib/test_users.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent_azure: refactor existent section tests
  tests/unit/cmk/plugins/azure/special_agent/conftest.py
  tests/unit/cmk/plugins/azure/special_agent/lib.py
  tests/unit/cmk/plugins/azure/special_agent/test_agent_azure_config.py
  tests/unit/cmk/plugins/azure/special_agent/test_agent_azure_process.py
  tests/unit/cmk/plugins/azure/special_agent/test_agent_azure_sections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor: we are the relay engine now
  tests/code_quality/test_requirements.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Improve user connection config typing
  cmk/gui/ldap/_openapi/__init__.py
  cmk/gui/ldap/_openapi/internal_to_restapi_interface.py
  cmk/gui/ldap/ldap.py
  cmk/gui/ldap/ldap_connector.py
  cmk/gui/plugins/config/base.py
  cmk/gui/user_connection_config_types.py
  cmk/gui/userdb/__init__.py
  cmk/gui/userdb/_connections.py
  cmk/gui/userdb/_connector/__init__.py
  cmk/gui/userdb/_connector/_base.py
  cmk/gui/userdb/htpasswd.py
  cmk/gui/utils/login.py
  cmk/gui/wato/pages/user_migrate.py
  cmk/gui/wato/pages/userdb_common.py
  tests/unit/cmk/gui/ldap/openapi/test_user.py
  tests/unit/cmk/gui/ldap/test_ldap_golden.py
  tests/unit/cmk/gui/userdb/test_userdb.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clean up casts
  cmk/gui/userdb/_connections.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  raw-requirements.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

test: complete TC4 for agent receiver
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/__init__.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/handlers/create_task.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/tasks_repository.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/serializers.py
  packages/cmk-agent-receiver/tests/component/test_a_relay_can_be_unregistered.py
  packages/cmk-agent-receiver/tests/component/test_lib/tasks.py
  packages/cmk-agent-receiver/tests/component/test_store_fetching_tasks.py
  packages/cmk-agent-receiver/tests/unit/relay/test_create_task_handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make the ICore reference passed to Query actually const.
  packages/livestatus/include/livestatus/ICore.h
  packages/livestatus/include/livestatus/Query.h
  packages/livestatus/include/livestatus/Triggers.h
  packages/livestatus/src/Query.cc
  packages/livestatus/src/Triggers.cc
  packages/livestatus/test/DummyMonitoringCore.h
  packages/neb/include/neb/NebCore.h
  packages/neb/src/NebCore.cc
Due: none
