Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # v0.0.241 has problems suppressing SyntaxErrors due to its
      # missing implementation of match expression. Skip that one.
      rev: 'v0.0.240'
      hooks:
        - id: ruff
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/.*
          - id: fix-encoding-pragma
            args: ["--remove"]
            exclude: |
                (?x)^(
                    ^agents/plugins/|
                    ^enterprise/agents/plugins/|
                    ^tests/agent-plugin-unit/
                )
    - repo: local
      hooks:
          - id: remove-stale-imports
            name: Remove stale imports
            language: script
            entry: scripts/run-autoflake
            types: [file, python]
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

16043 check_mail and check_mail_loop: Enable EWS and OAuth2
  .werks/16043
Due: none

Mailbox utils: Fix IMAP protocol string
  cmk/utils/mailbox.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_mail: Refactoring and help text fixes
  active_checks/check_mail
  active_checks/check_mail_loop
  checks/check_mailboxes
  cmk/base/check_legacy_includes/check_mail.py
  cmk/utils/mailbox.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_mail*: Rename inbox_protocol -> protocol
  active_checks/check_mail
  active_checks/check_mail_loop
  cmk/utils/mailbox.py
  tests/unit/active_checks/test_ac_check_mail.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Reland "Handle almalinux in CMK package installation script"
  buildscripts/infrastructure/build-nodes/scripts/install-cmk-dependencies.sh
Due: none

Simplify OTP Registration
  cmk/gui/wato/pages/user_profile/two_factor.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move hosts container to hostaddress
  cmk/base/config.py
  cmk/base/core_nagios.py
  cmk/utils/hostaddress.py
  tests/unit/cmk/base/test_config.py
  tests/unit/cmk/utils/test_hostaddress.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move config variable group registration
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/watolib/config_variable_groups.py
  cmk/gui/watolib/registration.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Cleanup a few more page registrations
  cmk/gui/sidebar/_snapin/__init__.py
  cmk/gui/sidebar/_snapin/_search.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Cleanup a few page registrations
  cmk/gui/sidebar/__init__.py
  cmk/gui/sidebar/_snapin/__init__.py
  cmk/gui/sidebar/_snapin/_views.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

16155 FIX rule_notifications: allow 3rd party plugins via the REST-API
  .werks/16155
  cmk/gui/plugins/openapi/endpoints/notification_rules/__init__.py
  cmk/gui/plugins/openapi/endpoints/notification_rules/common_schemas.py
  cmk/gui/plugins/openapi/endpoints/notification_rules/request_example.py
  cmk/gui/plugins/openapi/endpoints/notification_rules/response_schemas.py
  cmk/gui/wato/pages/notifications.py
  cmk/gui/watolib/notifications.py
  cmk/gui/watolib/user_scripts.py
  cmk/gui/watolib/users.py
  cmk/utils/type_defs/__init__.py
  cmk/utils/type_defs/notification_plugin_api_types.py
  cmk/utils/type_defs/notify.py
  cmk/utils/type_defs/rest_api_types/notifications_rule_types.py
  cmk/utils/type_defs/rest_api_types/notifications_types.py
  tests/unit/cmk/gui/plugins/openapi/test_notification_rules.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

FIX: fix version on werk
  .werks/15099
Due: none

Workaround for a clang-tidy-17 bug when C++20 is enabled.
  packages/livestatus/.clang-tidy
  packages/neb/.clang-tidy
Due: none

Move CME config extension out of plugins
  cmk/gui/config.py
  cmk/gui/main_modules.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move CME view extensions out of plugins
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/views/__init__.py
  cmk/gui/views/registration.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

update automation user secret generation
  cmk/gui/userdb/store.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Generate Sphinx documentation for Config Generation API
  cmk/config_generation/v1/_active_checks.py
  doc/plugin-api/source/cmk.config_generation/index.rst
  doc/plugin-api/source/cmk.config_generation/v1.rst
  doc/plugin-api/source/index.rst
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Simplify OTP Registration"
  cmk/gui/wato/pages/user_profile/two_factor.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Unpin schemathesis
  Pipfile
  Pipfile.lock
Due: none

Update Pipfile.lock
  Pipfile.lock
Due: none

add common plugin loading
  cmk/base/plugins/config_generation/active_checks/__init__.py
  cmk/base/plugins/config_generation/register.py
  cmk/discover_plugins.py
  cmk/plugins/collection/config_generation/bi_aggr.py
  cmk/plugins/collection/config_generation/icmp.py
  tests/testlib/pylint_checker_cmk_module_layers.py
  tests/unit/cmk/base/plugins/commands/active_checks/test_bi_aggr.py
  tests/unit/cmk/base/plugins/commands/active_checks/test_icmp.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Generate Sphinx documentation for Graphing API
  doc/plugin-api/source/cmk.graphing/index.rst
  doc/plugin-api/source/cmk.graphing/v1.rst
  doc/plugin-api/source/conf.py
  doc/plugin-api/source/index.rst
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move Hosts out of ConfigCache #1
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/core.py
  cmk/base/core_config.py
  cmk/base/modes/check_mk.py
  tests/unit/cmk/base/test_core_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Remove unnecessary for-loop
  packages/check-http/src/main.rs
Due: none

improve df manpage
  checkman/df
Due: none

add openssl build flags for openssl-sys rust crate
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

check_http: Separate lib and application
  packages/check-http/src/cli.rs
  packages/check-http/src/lib.rs
  packages/check-http/src/main.rs
Due: none

Add new automation user
  cmk/gui/userdb/store.py
  cmk/gui/watolib/registration.py
  cmk/gui/watolib/sample_config.py
  tests/unit/cmk/gui/plugins/wato/utils/test_sample_config.py
  tests/unit/cmk/gui/watolib/test_sample_config.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

15930 FIX check_mailboxes: Fix warning state "password input may be echoed"
  .werks/15930
  active_checks/check_mailboxes
Due: none

Bump Clang version 16 => 17.
  defines.make
  packages/livestatus/run
  packages/neb/run
  packages/unixcat/run
Due: none

Bump rusttls version to 0.21.7
  packages/cmk-agent-ctl/Cargo.lock
  packages/cmk-agent-ctl/Cargo.toml
  packages/cmk-agent-ctl/src/certs.rs
  packages/cmk-agent-ctl/tests/test_pull.rs
Due: none

postgres: Add documentation
  agents/plugins/mk_postgres.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert changes: beautify new page
  cmk/gui/page_menu.py
  cmk/gui/wato/pages/activate_changes.py
  cmk/gui/watolib/hosts_and_folders.py
  web/htdocs/themes/facelift/images/icon_info_circle.svg
  web/htdocs/themes/facelift/scss/_main.scss
  web/htdocs/themes/facelift/scss/_page_menu.scss
  web/htdocs/themes/facelift/scss/_wato.scss
  web/htdocs/themes/modern-dark/images/icon_info_circle.svg
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Workaround for missing IWYU branch.
  buildscripts/infrastructure/build-nodes/scripts/install-iwyu.sh
Due: none

Remove migrate users option for CSE
  cmk/gui/wato/pages/users.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove distributed monitoring option from CSE
  cmk/gui/wato/_main_modules.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Pipfile test: Ignore all packages
  tests/code_quality/test_pipfile.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
