Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

reland "introduce DynamicIcon component"
  cmk/gui/dynamic_icon.py
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/CmkDynamicIcon.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/CmkDynamicIconUserOrDefault.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkDynamicIcon/DynamicIconApp.vue
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIcon.vue
  packages/cmk-frontend-vue/src/lib/web-component/defineCmkComponent.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-shared-typing/BUILD
  packages/cmk-shared-typing/source/icon.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

reland "expose all icons in cmk-frontend-vue"
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkIcon/CmkIcon.vue
Due: none

reland "replace icon variables"
  packages/cmk-frontend-vue/src/components/CmkDualList/CmkSearchableList.vue
  packages/cmk-frontend-vue/src/components/CmkWizard/CmkWizardStep.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/filter/FilterSelection/FilterSelection.vue
  packages/cmk-frontend-vue/src/form/private/forms/FormCommentTextArea.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/QuickSetupStage.vue
Due: none

Add cluster label support for Proxmox VMs
  cmk/plugins/proxmox_ve/agent_based/proxmox_ve_vm_info.py
  cmk/plugins/proxmox_ve/lib/vm_info.py
  cmk/plugins/proxmox_ve/special_agent/agent_proxmox_ve.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

add OWNERS for cmk-crypto
  component_owners/cmk-crypto/OWNERS_DEFINITION
  packages/cmk-crypto/OWNERS
Due: none

Migrate display hint 'networking > interfaces'
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/plugins/collection/inventory_ui/networking.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate some legacy inventory filters
  cmk/gui/inventory/filters.py
  cmk/gui/views/inventory/_display_hints.py
  cmk/update_config/plugins/actions/visuals.py
  tests/unit/cmk/gui/visuals/filter/test_filters.py
  tests/unit/cmk/update_config/plugins/actions/test_visuals.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(ai-button) : add legal notices
  packages/cmk-frontend-vue/src/ai/components/conversation/AiConversation.vue
  packages/cmk-frontend-vue/src/ai/components/conversation/AiConversationConsent.vue
  packages/cmk-frontend-vue/src/ai/components/conversation/AiConversationFooter.vue
  packages/cmk-frontend-vue/src/ai/lib/ai-api-client.ts
  packages/cmk-frontend-vue/src/ai/lib/service/ai-template.ts
Due: none

Remove README for ccc
  packages/cmk-ccc/README
Due: none

17458 FIX Fix postgres plugin crash if no data is available
  .werks/17458.md
  cmk/plugins/lib/postgres.py
  tests/unit/cmk/plugins/lib/test_postgres.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update OTel GUI tests after CMK-27458 is fixed
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_prometheus_scraping.py
  tests/gui_e2e/testlib/playwright/pom/setup/otel/add_open_telemetry_collector_receiver.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

hyper-v: create new Agent Bakery ruleset for new plug-in
  cmk/plugins/hyperv_cluster/agents/README.md
  cmk/plugins/hyperv_cluster/agents/hyperv_host.ps1
  cmk/plugins/hyperv_cluster/bakery/hyperv_collection.py
  cmk/plugins/hyperv_cluster/rulesets/hyperv_collection.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fixup werk version after release
  .werks/17458.md
Due: none

19012 FIX Reuse comment and downtime IDs
  .werks/19012.md
Due: none

remove unregister
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/handlers/__init__.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/handlers/unregister_relay.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/lib/relays_repository.py
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/agent_receiver.py
  packages/cmk-agent-receiver/tests/component/relay/test_registration.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/conftest.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_unregister_relay_handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

add xdist to all unit tests
  packages/cmk-agent-receiver/BUILD
Due: none

speed up agent receiver unit tests
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/certs.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/agent_receiver/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/conftest.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_register_relay_handler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

improve unit tests speed for mock_socket
  packages/cmk-agent-receiver/cmk/testlib/agent_receiver/mock_socket.py
  packages/cmk-agent-receiver/tests/component/testlib/test_mock_socket.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

faster component tests in agent receiver
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/relays/handlers/forward_monitoring_data.py
  packages/cmk-agent-receiver/tests/component/relay/conftest.py
  packages/cmk-agent-receiver/tests/component/relay/test_forward_monitoring_data.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

page_show_dashboard: removed unused legacy dashboard page
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: switch to new dashboard page
  cmk/gui/dashboard/registration.py
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

user_profile: migrate dashboard to new format
  cmk/gui/watolib/user_profile.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix dashboard landing checks in the gui-e2e test suite
  tests/gui_e2e/test_asvs.py
  tests/gui_e2e/test_dashboard.py
  tests/gui_e2e/test_login.py
  tests/gui_e2e/test_totp.py
  tests/gui_e2e/testlib/playwright/pom/monitor/dashboard.py
  tests/gui_e2e/testlib/playwright/pom/monitor/hosts_dashboard.py
  tests/gui_e2e/testlib/playwright/pom/page.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

vue: adapt unrwap function to handle 204 and 205 status
  packages/cmk-frontend-vue/src/lib/rest-api-client/client.ts
Due: none

testlib.mock_server: Allow request validation
  tests/testlib/mock_server.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

testlib..license_management: Add strict mode to is_test_site_licensed()
  tests/testlib/utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix resize icon on graph
  cmk/gui/graphing/_html_render.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

also include .css and .js.map and images for jquery folder
  packages/cmk-frontend/BUILD
Due: none

dashboard: fix clone
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/DashboardMenuHeader.vue
Due: none

Remove nested stage from download_version_dir function
  buildscripts/scripts/utils/upload_artifacts.groovy
Due: none

update owner definition agent receiver tests
  packages/cmk-agent-receiver/tests/component/OWNERS
Due: none

packaging: don't create pyc files for check_mk/agents/plugins
  omd/debian/postinst.in
  omd/omd.spec.in
  tests/integration/omd/test_python.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

un-pin pytest-asyncio
  community-requirements.txt
  constraints.txt
  requirements.txt
Due: requirements-locking

Monk has struck again: Streamline CONFIGURATION print message
  buildscripts/scripts/build-build-images.groovy
  buildscripts/scripts/build-cmk-image.groovy
  buildscripts/scripts/build-cmk-packages.groovy
  buildscripts/scripts/test-composition.groovy
  buildscripts/scripts/test-integration-packages.groovy
  buildscripts/scripts/trigger-post-submit-test-cascade-light.groovy
Due: none

Use smart_build with "use_upstream_build" option to not start new builds
  buildscripts/scripts/build-cmk-packages.groovy
  buildscripts/scripts/trigger-all-nightlies-fast.groovy
  buildscripts/scripts/trigger-cmk-build-chain.groovy
Due: none

move more tests to the plugins consistency tests
  tests/integration/cmk/plugins_consistency/test_builtin_dashboards_integrity.py
  tests/integration/cmk/plugins_consistency/test_graphing_plugins.py
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
Due: none

Revert "Fix dashboard landing checks in the gui-e2e test suite"
  tests/gui_e2e/test_asvs.py
  tests/gui_e2e/test_dashboard.py
  tests/gui_e2e/test_login.py
  tests/gui_e2e/test_totp.py
  tests/gui_e2e/testlib/playwright/pom/monitor/dashboard.py
  tests/gui_e2e/testlib/playwright/pom/monitor/hosts_dashboard.py
  tests/gui_e2e/testlib/playwright/pom/page.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "page_show_dashboard: removed unused legacy dashboard page"
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
