Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

bandit:
  name: Run bandit
  entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

sphinx:
  name: Sphinx Documentation
  entry: scripts/run-pipenv run make -C doc/documentation html
  pass_filenames: false
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

Add issue revealing test
  tests/unit/cmk/plugins/lib/test_size_trend.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Register inventory row post processor in inventory feature registration
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/views/inventory/_row_post_processor.py
  cmk/gui/views/inventory/registration.py
  cmk/gui/views/registration.py
  tests/unit/cmk/gui/views/inventory/test_row_post_processor.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Register service join row post processor in view feature registration
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/views/_join_service_rows.py
  cmk/gui/views/registration.py
  tests/unit/cmk/gui/views/test_join_service_rows.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move inventory registration to dedicated module
  cmk/gui/views/__init__.py
  cmk/gui/views/inventory/__init__.py
  cmk/gui/views/inventory/_builtin_display_hints.py
  cmk/gui/views/inventory/_paint_functions.py
  cmk/gui/views/inventory/_views.py
  cmk/gui/views/inventory/registration.py
  cmk/gui/views/registration.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Refactor row post processing to registry of callables
  cmk/gui/plugins/main_modules/registration.py
  cmk/gui/views/row_post_processing.py
  tests/unit/cmk/gui/views/test_row_post_processing.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mk-sql: switch linux build to bazel
  packages/mk-sql/run
Due: none

17362 FIX Stop showing longer time ranges in size_trend
  .werks/17362.md
  cmk/plugins/lib/size_trend.py
  tests/unit/cmk/base/plugins/agent_based/test_threepar_capacity.py
  tests/unit/cmk/base/plugins/agent_based/test_threepar_volumes.py
  tests/unit/cmk/plugins/lib/test_netapp_api.py
  tests/unit/cmk/plugins/lib/test_size_trend.py
  tests/unit/cmk/plugins/netapp/test_netapp_ontap_volumes.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "mk-sql: switch linux build to bazel"
  packages/mk-sql/run
Due: none

Fix rebuild of python3-modules
  WORKSPACE
  omd/packages/python3-modules/create_python_requirements.bzl
Due: omd-python-modules

include timeout in error message
  tests/testlib/openapi_session.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Graceful termination of piggyback-hub
  cmk/piggyback_hub/payload.py
  cmk/piggyback_hub/utils.py
  packages/cmk-messaging/cmk/messaging/_connection.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Move all in_nagios_initial_states handling to the same function
  packages/livestatus/src/TableStateHistory.cc
Due: none

Extracted set_unknown_to_unmonitored() function
  packages/livestatus/src/TableStateHistory.cc
Due: none

Graph designer: Add test for basic rendering
  packages/cmk-frontend-vue/tests/graph-designer/GraphDesigner.test.ts
Due: none

Move some code before the switch into each branch
  packages/livestatus/src/TableStateHistory.cc
Due: none

Simplified various conditions
  packages/livestatus/src/TableStateHistory.cc
Due: none

Simplify and unify state machine transitions
  packages/livestatus/src/TableStateHistory.cc
Due: none

Removed yet another dispatch on LogEntry::kind()
  packages/livestatus/src/TableStateHistory.cc
Due: none

Extracted condition into callee
  packages/livestatus/src/TableStateHistory.cc
Due: none

dcd: relocate untagging functionality
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

testlib.licensing: Move all licensing logic to cee subfolder
  tests/Makefile
  tests/gui_e2e/test_license.py
  tests/testlib/licensing/__init__.py
  tests/update/base_versions.json
  tests/update/conftest.py
  tests/update/dumps/agent-2.3.0-docker
  tests/update/lost_services_demo.json
  tests/update/rules/bulkwalk_hosts.json
  tests/update/rules/check_interval.json
  tests/update/rules/cmc_host_rrd_config.json
  tests/update/rules/cmc_service_rrd_config.json
  tests/update/rules/cmk_inv.json
  tests/update/rules/fileinfo_groups.json
  tests/update/rules/host_check_commands.json
  tests/update/rules/host_contactgroups.json
  tests/update/rules/ignore.txt
  tests/update/rules/inventory_df_rules.json
  tests/update/rules/management_bulkwalk_hosts.json
  tests/update/rules/notification_options.json
  tests/update/rules/only_hosts.json
  tests/update/rules/periodic_discovery.json
  tests/update/rules/ping_levels.json
  tests/update/rules/snmpv3_contexts.json
  tests/update/test_update.py
  tests/update/test_update_from_backup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Reserved 10 Werk IDS
  .werks/first_free
Due: none

Decommission agent_based_api.v1: prepare sphinx
  doc/plugin-api/source/cmk.agent_based/index.rst
  doc/plugin-api/source/cmk.agent_based/v1.clusterize.rst
  doc/plugin-api/source/cmk.agent_based/v1.register.rst
  doc/plugin-api/source/cmk.agent_based/v1.render.rst
  doc/plugin-api/source/cmk.agent_based/v1.rst
  doc/plugin-api/source/cmk.agent_based/v1.type_defs.rst
  doc/plugin-api/source/conf.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Remove eslint-disable
  packages/cmk-frontend-vue/src/graph-designer/components/type_defs.ts
Due: none

Migrate agent_vnx_quotas to SSC and ruleset APIs
  cmk/base/legacy_checks/agent_vnx_quotas.py
  cmk/gui/plugins/wato/special_agents/vnx_quotas.py
  cmk/plugins/vnx_quotas/rulesets/special_agent.py
  cmk/plugins/vnx_quotas/server_side_calls/special_agent.py
  cmk/utils/password_store/hack.py
  tests/unit/checks/test_agent_vnx_quotas.py
  tests/unit/cmk/plugins/vnx_quotas/server_side_calls/test_special_agent.py
  tests/unit/cmk/plugins_consistency/test_special_agent_args.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Graph designer: Add (empty) graph line table content
  packages/cmk-frontend-vue/src/graph-designer/GraphDesignerApp.vue
  packages/cmk-frontend-vue/src/graph-designer/components/FormColorPicker.vue
  packages/cmk-frontend-vue/src/graph-designer/components/FormLineType.vue
  packages/cmk-frontend-vue/src/graph-designer/components/FormSwitch.vue
  packages/cmk-frontend-vue/src/graph-designer/components/FormTitle.vue
  packages/cmk-frontend-vue/src/graph-designer/components/type_defs.ts
  packages/cmk-frontend-vue/src/graph-designer/type_defs.ts
  packages/cmk-frontend-vue/src/main.ts
  packages/cmk-frontend-vue/tests/graph-designer/GraphDesigner.test.ts
  packages/cmk-shared-typing/source/graph_designer.json
Due: none

Graph designer: Add (empty) graph operations content
  packages/cmk-frontend-vue/src/graph-designer/GraphDesignerApp.vue
  packages/cmk-frontend-vue/src/graph-designer/type_defs.ts
  packages/cmk-frontend-vue/tests/graph-designer/GraphDesigner.test.ts
  packages/cmk-shared-typing/source/graph_designer.json
Due: none

Graph designer: Add (empty) graph lines content
  packages/cmk-frontend-vue/src/graph-designer/GraphDesignerApp.vue
  packages/cmk-frontend-vue/src/graph-designer/type_defs.ts
  packages/cmk-frontend-vue/tests/graph-designer/GraphDesigner.test.ts
  packages/cmk-shared-typing/source/graph_designer.json
Due: none

Vue css: shorten variable names background->bg
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/ToggleButtonGroup.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoApp.vue
  packages/cmk-frontend-vue/src/components/slidein/SlideIn.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormDualListChoice.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormFolder.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormString.vue
Due: none

vue: FormSpec Folder
  cmk/gui/form_specs/private/__init__.py
  cmk/gui/form_specs/private/folder.py
  cmk/gui/form_specs/vue/form_spec_visitor.py
  cmk/gui/form_specs/vue/shared_type_defs.py
  cmk/gui/form_specs/vue/visitors/__init__.py
  cmk/gui/form_specs/vue/visitors/folder.py
  cmk/gui/quick_setup/v0_unstable/predefined/_widgets.py
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/form/components/FormEdit.vue
  packages/cmk-frontend-vue/src/form/components/FormReadonly.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormFolder.vue
  packages/cmk-frontend-vue/src/form/components/vue_formspec_components.ts
  packages/cmk-frontend-vue/tests/form/components/forms/FormFolder.test.ts
  packages/cmk-shared-typing/source/vue_formspec/components.json
  packages/cmk-shared-typing/source/vue_formspec/validators.json
  tests/unit/cmk/gui/form_specs/vue/visitors/test_folder.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add warning when moving rule before quick setup rule
  cmk/gui/wato/pages/rulesets.py
  cmk/gui/watolib/rulesets.py
  packages/cmk-frontend/src/themes/facelift/scss/_main.scss
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add issue revealing test
  tests/unit/cmk/base/plugins/agent_based/utils/test_size_trend.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17362 FIX Stop showing longer time ranges in size_trend
  .werks/17362
  cmk/base/plugins/agent_based/utils/size_trend.py
  tests/unit/cmk/base/plugins/agent_based/test_threepar_capacity.py
  tests/unit/cmk/base/plugins/agent_based/test_threepar_volumes.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_netapp_api.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_size_trend.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

quick_setup: add tooltips
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

mk-sql: switch linux build to bazel
  agents/Makefile
  packages/mk-sql/run
Due: none

gui_e2e tests: Move dumps to cee subfolder
  tests/gui_e2e/dumps/agent-2.3.0-docker
Due: none

tests/Make: Fix test-update-cross-edition targets
  tests/Makefile
Due: none

Bump rules_python to 0.37.0
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
