Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, futurize, mypy, shebang, licence, absolute-imports

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-docstring-first
          - id: check-yaml
          - id: end-of-file-fixer
#    - repo: https://github.com/pre-commit/mirrors-scss-lint
#      rev: v0.59.0
#      hooks:
#          - id: scss-lint
#            files: \.scss$
    - repo: local
      hooks:
          - id: yapf
            name: Check yapf
            entry: scripts/check-yapf -i
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: futurize
            name: Check futurize
            entry: scripts/check-futurize
            language: script
            types: [file, python]
          - id: mypy
            name: Check types with mypy
            entry: scripts/check-mypy
            language: script
            types: [file, python]
          - id: shebang
            name: Check shebang lines
            entry: scripts/check-shebang
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports
            language: script
            types: [file, python]

CMK-3510 Add vim and joe to build container
  buildscripts/infrastructure/build-nodes/centos-6/Dockerfile
  buildscripts/infrastructure/build-nodes/centos-7/Dockerfile
  buildscripts/infrastructure/build-nodes/centos-8/Dockerfile
  buildscripts/infrastructure/build-nodes/common/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-10/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-8/Dockerfile
  buildscripts/infrastructure/build-nodes/debian-9/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp1/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp2/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp3/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp4/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15/Dockerfile
  buildscripts/infrastructure/build-nodes/testing/entrypoint.sh
  buildscripts/infrastructure/build-nodes/ubuntu-14.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-16.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-18.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-18.10/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-19.04/Dockerfile
  buildscripts/infrastructure/build-nodes/ubuntu-19.10/Dockerfile
Due: none

Enable centos-8 tool repo
  buildscripts/infrastructure/build-nodes/centos-8/Dockerfile
Due: none

update sles repos
  buildscripts/infrastructure/build-nodes/sles-12sp1/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp2/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp3/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-12sp4/Dockerfile
  buildscripts/infrastructure/build-nodes/sles-15/Dockerfile
Due: none

CMK-3510 Add vim and joe to os container
  buildscripts/infrastructure/os-nodes/centos-6/Dockerfile
  buildscripts/infrastructure/os-nodes/centos-7/Dockerfile
  buildscripts/infrastructure/os-nodes/centos-8/Dockerfile
  buildscripts/infrastructure/os-nodes/debian-10/Dockerfile
  buildscripts/infrastructure/os-nodes/debian-8/Dockerfile
  buildscripts/infrastructure/os-nodes/debian-9/Dockerfile
  buildscripts/infrastructure/os-nodes/sles-12sp1/Dockerfile
  buildscripts/infrastructure/os-nodes/sles-12sp2/Dockerfile
  buildscripts/infrastructure/os-nodes/sles-12sp3/Dockerfile
  buildscripts/infrastructure/os-nodes/sles-12sp4/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-14.04/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-16.04/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-18.04/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-18.10/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-19.04/Dockerfile
  buildscripts/infrastructure/os-nodes/ubuntu-19.10/Dockerfile
Due: none

Revert "Follow symlinks, we already filter out the real files."
  scripts/find-python-files
Due: none

Add type hints
  cmk/base/inventory_plugins.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fixed mode types.
  cmk/base/modes/check_mk.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

locale: dein -> den
  locale/de/LC_MESSAGES/multisite.po
Due: none

Unbreak msitool makefile.
  omd/packages/msitools/msitools.make
Due: none

Fix wrong argument for calculating IP address family fallback
  cmk_base/core_config.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

10767 Implement Forecast Graph prediction engine
  .werks/10767
Due: none

Various typing/Python 3 fixes.
  cmk/base/automations/check_mk.py
  cmk/base/check_api.py
  cmk/base/check_table.py
  cmk/base/config.py
  cmk/base/core_config.py
  cmk/base/core_nagios.py
  cmk/base/data_sources/abstract.py
  cmk/base/discovered_labels.py
  cmk/base/discovery.py
  cmk/base/dump_host.py
  cmk/base/events.py
  cmk/base/inventory.py
  cmk/base/ip_lookup.py
  cmk/base/item_state.py
  cmk/base/notify.py
  cmk/notification_plugins/utils.py
  cmk/special_agents/agent_aws.py
  cmk/special_agents/agent_elasticsearch.py
  cmk/special_agents/agent_graylog.py
  cmk/special_agents/agent_kubernetes.py
  cmk/special_agents/agent_splunk.py
  cmk/special_agents/agent_vsphere.py
  cmk/utils/rulesets/ruleset_matcher.py
  cmk/utils/structured_data.py
  tests/testlib/pylint_checker_localization.py
  tests/unit/cmk/utils/test_cmk_subprocess.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Prepare deployment for agent_jira special agent
  cmk/.f12
  omd/packages/check_mk/check_mk.make
Due: none

Add type hints
  cmk/base/config.py
  cmk/base/data_sources/abstract.py
  cmk/base/inventory.py
  cmk/base/utils.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix new test in raw edition environment
  tests/unit/cmk/gui/plugins/visuals/test_filters.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fixed broken link.
  tests-py3/unit/cmk/utils/test_piggyback.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix wrong type
  cmk/base/inventory.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Fix wrong include
  tests/unit/cmk/gui/plugins/visuals/test_filters.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

jira: Add Python 3 dependencies
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/PyJWT-1.7.1.tar.gz
  omd/packages/python3-modules/src/defusedxml-0.6.0.tar.gz
  omd/packages/python3-modules/src/jira-2.0.0.tar.gz
  omd/packages/python3-modules/src/oauthlib-3.1.0.tar.gz
  omd/packages/python3-modules/src/pbr-5.4.4.tar.gz
  omd/packages/python3-modules/src/requests-oauthlib-1.3.0.tar.gz
  omd/packages/python3-modules/src/requests-toolbelt-0.9.1.tar.gz
  virtual-envs/3.7/Pipfile
  virtual-envs/3.7/Pipfile.lock
Due: omd-python-modules

Regenerated Pipfile.lock, fixing identify package version.
  virtual-envs/3.7/Pipfile.lock
Due: none

Hack to unbreak raw edition.
  tests/unit/cmk/gui/plugins/visuals/test_filters.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Various Python 3 fixes for cmk.base, part 1.
  cmk/base/agent_simulator.py
  cmk/base/console.py
  cmk/base/data_sources/snmp.py
  cmk/base/snmp.py
  cmk/base/snmp_utils.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Removed debugging stuff.
  cmk/base/snmp.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Update Pipfile.lock
  virtual-envs/3.7/Pipfile.lock
Due: none

Add external dependency for base pyghmi
  omd/packages/python3-modules/python3-modules.make
  omd/packages/python3-modules/src/pyghmi-1.5.3.tar.gz
  omd/packages/python3-modules/src/python-dateutil-2.8.0.tar.gz
  omd/packages/python3-modules/src/python-dateutil-2.8.1.tar.gz
  virtual-envs/3.7/Pipfile
  virtual-envs/3.7/Pipfile.lock
Due: omd-python-modules

Livestatus .f12 do not suppress stderr of re2/rrdtool compilation
  livestatus/src/.f12
Due: none

10589 FIX ADVA Fiber Service Platform F7: Duplicate service description
  .werks/10589
  checks/adva_fsp_if
  checks/if
Due: none

Revert "10619 FIX Improve error-handling in poller"
  .werks/10619
  livestatus/src/InputBuffer.cc
  livestatus/src/OutputBuffer.cc
  livestatus/src/Poller.h
  livestatus/src/module.cc
  livestatus/src/unixcat.cc
Due: none

10588 FIX ps: Handling of non-ASCII characters during process discovery
  .werks/10588
  cmk/gui/plugins/wato/check_parameters/ps.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Rewrite TableContacts without pointer arithmetic
  livestatus/src/AttributeListLambdaColumn.h
  livestatus/src/AttributesLambdaColumn.cc
  livestatus/src/AttributesLambdaColumn.h
  livestatus/src/BoolLambdaColumn.h
  livestatus/src/CustomVarsDictColumn.h
  livestatus/src/IntLambdaColumn.h
  livestatus/src/ListLambdaColumn.h
  livestatus/src/Table.h
  livestatus/src/TableCommands.cc
  livestatus/src/TableCommands.h
  livestatus/src/TableContacts.cc
  livestatus/src/TableLog.cc
Due: none

tidy refactoring
  agents/wnx/cpp-all.ruleset
  agents/wnx/ct.cmd
  agents/wnx/include/tools/_process.h
  agents/wnx/msb.ps1
  agents/wnx/settings.json
  agents/wnx/src/common/stop_watch.h
  agents/wnx/src/common/wtools.h
  agents/wnx/src/engine/.clang-tidy
  agents/wnx/src/engine/cap.cpp
  agents/wnx/src/engine/cap.h
  agents/wnx/src/engine/cma_core.cpp
  agents/wnx/src/engine/cma_core.h
  agents/wnx/src/engine/engine.vcxproj
  agents/wnx/src/engine/logger.h
Due: none

Revert "Rewrite TableContacts without pointer arithmetic"
  livestatus/src/AttributeListLambdaColumn.h
  livestatus/src/AttributesLambdaColumn.cc
  livestatus/src/AttributesLambdaColumn.h
  livestatus/src/BoolLambdaColumn.h
  livestatus/src/CustomVarsDictColumn.h
  livestatus/src/IntLambdaColumn.h
  livestatus/src/ListLambdaColumn.h
  livestatus/src/Table.h
  livestatus/src/TableCommands.cc
  livestatus/src/TableCommands.h
  livestatus/src/TableContacts.cc
  livestatus/src/TableContacts.h
  livestatus/src/TableLog.cc
Due: none

10761 redis_info.clients: New check to monitor Redis info clients section
  .werks/10761
  checkman/redis_info.clients
  checks/redis_info
  cmk/gui/plugins/wato/check_parameters/redis_info_clients.py
  tests/unit/checks/generictests/datasets/redis_info.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

10681 Bakery can configure Checkmk Windows agent service
  .werks/10681
Due: none

Typing core.py
  cmk/base/core.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Typing core_nagios
  cmk/base/core_config.py
  cmk/base/core_nagios.py
  cmk/utils/type_defs.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports

Typing real_time_checks.py
  cmk/base/crash_reporting.py
Due: yapf, pylint, futurize, mypy, shebang, licence, absolute-imports
