Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

Improved typing of DropdownChoice. Unified naming.
  cmk/gui/plugins/dashboard/graph.py
  cmk/gui/plugins/metrics/utils.py
  cmk/gui/userdb.py
  cmk/gui/valuespec.py
  cmk/gui/wato/pages/rulesets.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add shutdown to win-controller to prevent any other actions
  agents/cmk-agent-ctl/src/monitoring_data.rs
Due: none

More DropdownChoice typing tweaks.
  cmk/gui/bi.py
  cmk/gui/mkeventd.py
  cmk/gui/plugins/dashboard/graph.py
  cmk/gui/plugins/metrics/utils.py
  cmk/gui/plugins/views/painters.py
  cmk/gui/plugins/visuals/filters.py
  cmk/gui/type_defs.py
  cmk/gui/valuespec.py
  cmk/gui/views/__init__.py
  cmk/gui/watolib/rulesets.py
  cmk/gui/watolib/rulespecs.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

make SHELL_FILES_REL a recursive variable
  tests/Makefile
Due: none

Introduced range filter for network topology
  cmk/gui/plugins/views/node_visualization.py
  cmk/gui/plugins/visuals/node_vis.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

NodeVis: Split node generation and rendering
  web/htdocs/js/modules/node_visualization/node_visualization_viewport_layers.js
Due: none

NetworkTopology: Moved depth/max_nodes sliders to filter
  cmk/gui/node_visualization.py
  cmk/gui/plugins/visuals/node_vis.py
  tests/unit/cmk/gui/test_node_visualization.py
  web/htdocs/js/modules/node_visualization/node_visualization.js
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

NodeVisualization: Skip update ticks if rendering takes too long
  web/htdocs/js/modules/node_visualization/node_visualization_layout_styles.js
Due: none

Text upper/lowercase fixes
  cmk/gui/plugins/visuals/node_vis.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Python3 modules: Reduce shared library size
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Exclude numpy test files from packaging
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

cmk-agent-ctl: Refactor setup to seperate module
  agents/cmk-agent-ctl/src/constants.rs
  agents/cmk-agent-ctl/src/main.rs
  agents/cmk-agent-ctl/src/monitoring_data.rs
  agents/cmk-agent-ctl/src/setup.rs
Due: none

Remove GPG subkeys from public signing key
  docker/Check_MK-pubkey.gpg
Due: none

Set version to 1.6.0p29
  agents/check_mk_agent.aix
  agents/check_mk_agent.freebsd
  agents/check_mk_agent.hpux
  agents/check_mk_agent.linux
  agents/check_mk_agent.macosx
  agents/check_mk_agent.netbsd
  agents/check_mk_agent.openbsd
  agents/check_mk_agent.openvms
  agents/check_mk_agent.openwrt
  agents/check_mk_agent.solaris
  agents/windows/configure.ac
  agents/wnx/src/common/wnx_version.h
  bin/livedump
  bin/mkbench
  cmk/__init__.py
  configure.ac
  defines.make
  docker/Dockerfile
  scripts/setup.sh
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13563 FIX kube_replicas: alert when replicas are not ready/not updated
  .werks/13563
  cmk/base/plugins/agent_based/kube_replicas.py
  tests/unit/cmk/base/plugins/agent_based/test_kube_replicas.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

kube_pod_status: add missing container statuses II
  cmk/base/plugins/agent_based/kube_pod_status.py
  cmk/gui/plugins/wato/check_parameters/kube_pod_status.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Improved the support diagnostics based on CMK-9564:
  cmk/base/diagnostics.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/utils/diagnostics.py
  tests/unit/cmk/base/test_diagnostics.py
  tests/unit/cmk/utils/test_diagnostics_utils.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

refactor / cleanup
  checks/check_mk
  tests/unit/cmk/base/plugins/agent_based/test_checkmk_agent_updater.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

migrate agent update service
  checks/check_mk
  cmk/base/plugins/agent_based/checkmk_agent_update.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/plugins/agent_based/test_checkmk_agent_updater.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Improved the support diagnostics based on CMK-9564:"
  cmk/base/diagnostics.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/utils/diagnostics.py
  tests/unit/cmk/base/test_diagnostics.py
  tests/unit/cmk/utils/test_diagnostics_utils.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Added a few more type annotations related to user attributes.
  cmk/gui/plugins/userdb/ldap_connector.py
  cmk/gui/wato/pages/users.py
  cmk/gui/watolib/users.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixed typing confusion in some user attributes.
  cmk/gui/plugins/userdb/user_attributes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

win_dhcp_pools: add unit test
  tests/unit/checks/test_win_dhcp_pools.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13562 FIX win_dhcp_pools: Free or used leases statistics are average values not absolute
  .werks/13562
  checks/win_dhcp_pools
  tests/unit/checks/test_win_dhcp_pools.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

agent_kube: clean up test_parse_namespace_patterns
  tests/unit/checks/test_agent_kube.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

SCSS Cleanup: Remove deprecated styles from _views.scss (CMK-8194)
  web/htdocs/themes/facelift/scss/_views.scss
Due: none

SCSS Cleanup: Remove all rgb color codes from _status.scss (CMK-8194)
  web/htdocs/themes/facelift/scss/_status.scss
  web/htdocs/themes/facelift/scss/_variables_common.scss
Due: none

Availability: Fix HTML escaping in query limit warning
  cmk/gui/plugins/views/availability.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Availability: Add "Chaotic" to the availability legend
  cmk/gui/plugins/views/availability.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

13390 FIX Export rule representation for API: New page, styling and navigation
  .werks/13390
  cmk/gui/wato/pages/rulesets.py
  web/htdocs/js/modules/utils.js
  web/htdocs/themes/facelift/images/icon_export_rule.svg
  web/htdocs/themes/facelift/scss/_wato.scss
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

SCSS Cleanup: Remove all rgb color codes from _views.scss
  web/htdocs/themes/facelift/scss/_variables.scss
  web/htdocs/themes/facelift/scss/_variables_common.scss
  web/htdocs/themes/facelift/scss/_views.scss
  web/htdocs/themes/modern-dark/scss/_variables.scss
Due: none

13576 FIX Quoting of mk_redis commandline arguments
  .werks/13576
  agents/plugins/mk_redis
  tests/agent-plugin-unit/test_mk_redis.sh
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
