Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Lower levels: serialization/deserialization layer
  cmk/checkengine/checkresults.py
  cmk/checkengine/submitters.py
  cmk/gui/graphing/_translated_metrics.py
  cmk/gui/type_defs.py
  tests/unit/cmk/checkengine/test_submitters.py
  tests/unit/cmk/gui/graphing/test_translated_metrics.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Trigger werk_mail_fixup for broken headers
  buildscripts/scripts/test-gerrit-single.groovy
  packages/cmk-werks/cmk/werks/parse.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

openssl: Remove the sandbox path from debug symbols
  MODULE.bazel
  bazel/thirdparty/modules/openssl/3.5.6.cmk.3/MODULE.bazel
  bazel/thirdparty/modules/openssl/3.5.6.cmk.3/overlay/BUILD.bazel
  bazel/thirdparty/modules/openssl/3.5.6.cmk.3/overlay/MODULE.bazel
  bazel/thirdparty/modules/openssl/3.5.6.cmk.3/source.json
  bazel/thirdparty/modules/openssl/metadata.json
Due: none

Fix werks versions
  .werks/19584.md
  .werks/19822.md
  .werks/19862.md
Due: none

stunnel: remove bazel build paths from binaries
  omd/packages/stunnel/BUILD.stunnel.bazel
Due: none

19765: Add HOSTCHILDREN macro for host notifications
  .werks/19765.md
  cmk/base/core/nagios/_create_config.py
  cmk/base/events.py
  cmk/gui/wato/_notification_parameter/_mail.py
  cmk/utils/notify.py
  packages/cmk-events/cmk/events/event_context.py
  packages/cmk-notification-plugins/cmk/notification_plugins/mail.py
  packages/cmk-notification-plugins/templates/mail/additional.html.jinja
  tests/unit/cmk/base/test_events.py
  tests/unit/cmk/utils/test_notify.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Hotfix check_parameters packaging
  cmk/BUILD
Due: none

nagios: remove bazel build paths from binaries
  omd/packages/nagios/BUILD.nagios.bazel
Due: none

feat(jira-create-ticket): add --bug-detection CLI flag
  .github/skills/jira-create-ticket/create_ticket.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(jira-create-ticket): add --list-options CLI flag
  .github/skills/jira-create-ticket/create_ticket.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

refactor(jira-create-ticket): consolidate Jira connection
  .github/skills/jira-create-ticket/create_ticket.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

feat(jira-create-ticket): resolve --bug-detection against allowed values
  .github/skills/jira-create-ticket/create_ticket.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "cmk/utils: extract single-3rd-party-lib siblings, drop 7 reqs from :utils closure"
  bin/BUILD
  cmk/BUILD
  cmk/automations/BUILD
  cmk/base/automation_helper/BUILD
  cmk/bi/BUILD
  cmk/config_anonymizer/BUILD
  cmk/gui/BUILD
  cmk/gui/custom_icons/BUILD
  cmk/gui/search/BUILD
  cmk/gui/valuespec/BUILD
  cmk/gui/wato/BUILD
  cmk/gui/watolib/BUILD
  cmk/update_config/BUILD
  cmk/utils/BUILD
  tests/BUILD
  tests/code_quality/werks/BUILD
  tests/unit/cmk/gui/watolib/BUILD
  tests/unit/cmk/update_config/BUILD
  tests/unit/cmk/utils/BUILD
Due: none

Add descriptions for the plugins_network and plugins_corosync components
  component_owners/plugins_corosync/component_info.toml
  component_owners/plugins_network/component_info.toml
Due: none

19705 FIX stunnel: Livestatus queries over TLS may return truncated responses
  .werks/19705.md
  MODULE.bazel
  omd/packages/stunnel/0001-fix-hup-race-data-loss.patch
  tests/integration/omd/test_packages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add dependency-info for stunnel
  omd/packages/stunnel/BUILD.stunnel.bazel
Due: none

Amend Werk 19705
  MODULE.bazel
  omd/packages/stunnel/0002-fix-hup-buffer-full-livelock.patch
Due: none

Improve OTel-specific password validation massage
  packages/cmk-frontend-vue/src/mode-otel/otel-configuration-steps/CollectorAuthConfig.vue
  packages/cmk-frontend-vue/tests/mode-otel/ConfigureCollector.test.ts
Due: none

test_dashboard: New test to access dashboard from a different user
  tests/gui_e2e/test_dashboard.py
  tests/gui_e2e/testlib/playwright/pom/customize/edit_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "light chain: remove test-python3-code-quality"
  buildscripts/scripts/test-python3-code-quality.groovy
  buildscripts/scripts/trigger-post-submit-test-cascade-light.groovy
Due: none

Speed up git tags fetching
  buildscripts/scripts/test-gerrit-single.groovy
  buildscripts/scripts/test-python3-code-quality.groovy
Due: none

kube: Make version tests dynamic
  packages/cmk-plugins/tests/cmk/plugins/kube/utils_kubernetes/test_api_server.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

kube: Un-hardcode version from agent docstring
  packages/cmk-plugins/cmk/plugins/kube/special_agents/agent_kube.py
  packages/cmk-plugins/tests/cmk/plugins/kube/agent_kube/test_agent_kube_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

kube: Support version 1.34 (#19448)
  .werks/19448.md
  packages/cmk-plugins/cmk/plugins/kube/api_server.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "test: gui e2e tests for explain with ai"
  tests/gui_e2e/testlib/playwright/pom/ai_conversation.py
  tests/gui_e2e/testlib/playwright/pom/monitor/service.py
  tests/gui_e2e/testlib/playwright/timeouts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19803 FIX systemd_units: Fix false 'activating/reloading for X' alerts
  .werks/19803.md
  cmk/plugins/systemd/agent_based/systemd_units.py
  tests/unit/cmk/plugins/systemd/agent_based/test_systemd_units.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: move win_clean_uninstall rulespec to cmk/plugins/windows/rulesets
  cmk/plugins/windows/rulesets/win_clean_uninstall.py
  tests/unit/cmk/plugins/windows/rulesets/test_win_clean_uninstall.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: move firewall rulespec to cmk/plugins/windows/rulesets
  cmk/plugins/windows/rulesets/firewall.py
  tests/unit/cmk/plugins/windows/rulesets/test_firewall.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: migrate firewall rulespec to v1 API
  cmk/base/plugins/bakery/firewall.py
  cmk/gui/plugins/legacy_bakery_rulesets/firewall.py
  tests/unit/cmk/base/plugins/bakery/test_firewall.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: move win_set_wmi_timeout rulespec to cmk/plugins/windows/rulesets
  cmk/plugins/windows/rulesets/win_set_wmi_timeout.py
  tests/unit/cmk/plugins/windows/rulesets/test_win_set_wmi_timeout.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: migrate win_clean_uninstall rulespec to v1 API
  cmk/base/plugins/bakery/win_clean_uninstall.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_clean_uninstall.py
  tests/unit/cmk/base/plugins/bakery/test_win_clean_uninstall.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

bakery: migrate win_set_wmi_timeout rulespec to v1 API
  cmk/base/plugins/bakery/win_set_wmi_timeout.py
  cmk/gui/plugins/legacy_bakery_rulesets/win_set_wmi_timeout.py
  tests/unit/cmk/base/plugins/bakery/test_win_set_wmi_timeout.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

AutochecksStore: pass path as an argument
  cmk/checkengine/discovery/_autochecks.py
  cmk/checkengine/discovery/_autodiscovery.py
  cmk/checkengine/discovery/_entrypoints/active_check.py
  cmk/checkengine/discovery/_entrypoints/commandline.py
  cmk/checkengine/discovery/_entrypoints/preview.py
  cmk/config_anonymizer/plugins/autochecks.py
  cmk/config_anonymizer/plugins/rules.py
  cmk/update_config/plugins/lib/autochecks.py
  tests/plugins_siteless/helpers.py
  tests/unit/cmk/base/test_discovery.py
  tests/unit/cmk/checkengine/test_autochecks.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  community-requirements.txt
  constraints.txt
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

Provide edition for BOM creation in src package
  Makefile
Due: none
