Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

feat(unified-search): add result grouping option in frontend
  packages/cmk-frontend-vue/src/components/CmkCollapsible/CmkCollapsibleTitle.vue
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultList.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchTabResults.vue
  packages/cmk-frontend-vue/src/unified-search/providers/search-utils.ts
Due: none

fix(unified-search): revert inline button due to a11y issues
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItem.vue
Due: none

18736 OTel: Improve monitoring of collector memory usage
  .werks/18736.md
  requirements.txt
  runtime-requirements.txt
Due: requirements-locking

update tracing-subscriber
  requirements/rust/site/Cargo.lock
  requirements/rust/site/Cargo.lock.bazel
Due: none

dashboard/rest-api: return cloned dashboard
  cmk/gui/dashboard/api/clone_relative_dashboard.py
  packages/cmk-shared-typing/source/openapi_spec_internal.yaml
  tests/unit/cmk/gui/dashboard/test_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: update breadcrumbs with watcher
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
Due: none

dashboard/rest-api: return 201 for clone endpoints
  cmk/gui/dashboard/api/clone_relative_dashboard.py
  tests/unit/cmk/gui/dashboard/test_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui-e2e: xfail tests due to broken Werk18887.
  tests/gui_e2e/test_rules.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

wa: open firewall before controller starts
  agents/wnx/src/engine/service_processor.cpp
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

18928 Introduce Global Search
  .werks/18928.md
Due: none

feat: HTTP proxies for License verification requests
  .werks/19070.md
Due: none

remove AgentBasedPlugins from tests III
  cmk/base/legacy_checks/fireeye_active_vms.py
  cmk/base/legacy_checks/fireeye_quarantine.py
  cmk/base/legacy_checks/sap_hana_connect.py
  tests/unit/cmk/plugins/collection/agent_based/test_fireeye_active_vms.py
  tests/unit/cmk/plugins/collection/agent_based/test_fireeye_quarantine.py
  tests/unit/cmk/plugins/collection/agent_based/test_sap_hana_connect.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate fortinet_controller_aps check plugin to new API (in-place)
  cmk/base/legacy_checks/fortinet_controller_aps.py
  cmk/checkengine/plugin_backend/_discover.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move fortinet_controller_aps plugin to final location
  cmk/checkengine/plugin_backend/_discover.py
  cmk/legacy_checks_list.bzl
  cmk/plugins/fortinet/agent_based/fortinet_controller_aps.py
  cmk/plugins/fortinet/checkman/fortinet_controller_aps
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move fast_lta_headunit plugins to final location
  cmk/checkengine/plugin_backend/_discover.py
  cmk/legacy_checks_list.bzl
  cmk/plugins/fast_lta/agent_based/fast_lta_headunit.py
  cmk/plugins/fast_lta/checkman/fast_lta_headunit_replication
  cmk/plugins/fast_lta/checkman/fast_lta_headunit_status
  tests/unit/cmk/plugins/fast_lta/agent_based/test_fast_lta_headunit_replication.py
  tests/unit/cmk/plugins/fast_lta/agent_based/test_fast_lta_headunit_status.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate fireeye_bypass check plugin to new API (in-place)
  cmk/base/legacy_checks/fireeye_bypass.py
  cmk/checkengine/plugin_backend/_discover.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rewrite plugin discovery hack
  cmk/checkengine/plugin_backend/_discover.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Migrate fast_lta_headunit check plugins to new API (in-place)
  cmk/base/legacy_checks/fast_lta_headunit.py
  cmk/checkengine/plugin_backend/_discover.py
  tests/unit/cmk/plugins/collection/agent_based/test_fast_lta_headunit_replication.py
  tests/unit/cmk/plugins/collection/agent_based/test_fast_lta_headunit_status.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Move fireeye_bypass plugin to final location
  cmk/checkengine/plugin_backend/_discover.py
  cmk/legacy_checks_list.bzl
  cmk/plugins/fireeye/agent_based/fireeye_bypass.py
  cmk/plugins/fireeye/checkman/fireeye_bypass
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

OpenWrt agent: get interface speed from sysfs if ethtool is missing
  agents/check_mk_agent.openwrt
Due: none

fix(unified-search): hide not available providers in dropdown
  cmk/gui/search_menu.py
  cmk/gui/sidebar/main_menu.py
  packages/cmk-frontend-vue/src/unified-search/components/header/UnifiedSearchProviderSelect.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

another fix for agent_jira
  cmk/plugins/jira/special_agent/agent_jira.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Removed upper case to stay consistent
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/DashboardSelector.vue
Due: none

remove icon that does not exist
  cmk/gui/wato/pages/user_profile/main_menu.py
  packages/cmk-shared-typing/source/icon.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

add two fake icons
  packages/cmk-frontend-vue/src/components/CmkIcon/icons.constants.ts
Due: none

fix several missing icon
  packages/cmk-frontend-vue/src/components/CmkIcon/icons.constants.ts
  packages/cmk-shared-typing/source/icon.json
Due: none

Ignore broken CV test
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

Skip test_table_spaces_*
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

dashboard: apply clickable visualization types
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/AlertNotificationWizard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/HostsSiteWizard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/stage2/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/MetricsWizard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/metrics/stage2/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/ServicesOverviewWizard.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/stage2/StageContents.vue
Due: none

dashboard: prepare clickable visualization types
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/WidgetSelection/AvailableWidget.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/WidgetSelection/AvailableWidgets.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/components/WidgetSelection/SelectableWidget.vue
Due: none

dashboard: rename workflow widget types
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/composables/useSelectGraphTypes.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/alert-notification/stage2/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/components/AvailableGraphs.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/composables/useSelectGraphTypes.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/stage2/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/hosts-site/types.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/components/AvailableGraphs.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/composables/useSelectGraphTypes.ts
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/Wizard/wizards/services/stage2/StageContents.vue
Due: none

dashboard/rest-api: fix list_dashboard_metadata
  cmk/gui/dashboard/api/list_dashboard_metadata.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: add owner support to dashboard app & manager
  cmk/gui/dashboard/page_show_dashboard.py
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/composables/useDashboardsManager.ts
  packages/cmk-frontend-vue/src/dashboard-wip/types/dashboard.ts
  packages/cmk-frontend-vue/src/dashboard-wip/types/page.ts
  packages/cmk-frontend-vue/src/dashboard-wip/utils.ts
  packages/cmk-frontend-vue/tests/dashboard/utils.test.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: add owner support to dashboard breadcrumb
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardBreadcrumb/DashboardBreadcrumb.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/types.ts
Due: none

dashboard: add owner support to shared dashboard
  cmk/gui/dashboard/page_show_shared_dashboard.py
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardSharedApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/types/page.ts
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: add owner support to dashboard selector
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/DashboardSelector.vue
Due: none

dashboard: fix start url not including owner
  cmk/gui/wato/pages/user_profile/main_menu.py
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardMenuHeader/DashboardMenuHeader.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
