Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

veritas_vcs: fix typing error
  cmk/base/plugins/agent_based/veritas_vcs.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Move mknotifyd connection classes to own module
  cmk/utils/type_defs/_misc.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

msitools: Use omd package cache
  omd/packages/msitools/msitools.make
Due: none

nrpe: Use omd package cache
  omd/packages/nrpe/nrpe.make
Due: none

heirloom-pkgtools: Use omd package cache
  omd/packages/heirloom-pkgtools/heirloom-pkgtools.make
Due: none

openssl: Use omd package cache
  omd/packages/Python/Python.make
  omd/packages/openssl/openssl.make
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

freetds: Use omd package cache
  omd/packages/freetds/freetds.make
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Cleanup of pylint warnings and errors for tests directory, part4
  tests/agent-plugin-unit/test_mk_filestats.py
  tests/integration/bin/test_mkbackup.py
  tests/integration/cmk/base/test_automations.py
  tests/integration/omd/test_python.py
  tests/packaging/test_files.py
  tests/unit/cmk/base/agent_based/discovery/test_discovery_utils.py
  tests/unit/cmk/base/plugins/agent_based/test_k8s_memory.py
  tests/unit/cmk/gui/plugins/views/test_availability.py
  tests/unit/cmk/gui/plugins/views/test_painters.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_msx_queues_parameters.py
  tests/unit/cmk/gui/test_forms.py
  tests/unit/cmk/gui/watolib/test_rulespecs.py
  tests/unit/inventory/test_generic_legacy_conversion_inv.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix bug in serialization of analyse-service automation
  cmk/base/agent_based/discovery/__init__.py
  cmk/base/autochecks/__init__.py
  cmk/base/automations/check_mk.py
  cmk/base/config.py
  cmk/utils/parameters.py
  cmk/utils/type_defs/_misc.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fix CentOS 8 build
  omd/Makefile
  omd/packages/openssl/openssl.make
Due: none

Fix CentOS 8 build #2
  omd/packages/openssl/openssl.make
Due: none

Label the Checkmk test image containters
  tests/testlib/containers.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Moved rendering logic to cmk.utils.render
  cmk/gui/plugins/metrics/unit.py
  cmk/gui/plugins/views/commands.py
  cmk/gui/plugins/views/perfometers/check_mk.py
  cmk/gui/valuespec.py
  cmk/utils/render.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

k8s: with 1.20 selfLink is no longer propagated
  cmk/special_agents/utils_kubernetes/api_server.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

13320 omd update: Add version compatibility barrier
  .werks/13320
  cmk/gui/watolib/automations.py
  cmk/utils/version.py
  omd/packages/omd/omdlib/main.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Fixed typo in Pipfile.
  Pipfile
  Pipfile.lock
Due: none

Cleanup of pylint warnings and errors for tests directory, part6
  tests/agent-plugin-unit/utils.py
  tests/integration/cmk/base/test_automations.py
  tests/integration/cmk/base/test_discovery_parameters.py
  tests/integration/cmk/lib/snmplib/test_snmp_modes.py
  tests/integration/cmk/lib/snmplib/test_snmp_table.py
  tests/unit/cmk/core_helpers/test_config_paths.py
  tests/unit/cmk/gui/plugins/sidebar/test_wato.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: addition of tests to performance parse logic
  cmk/special_agents/agent_kube.py
  tests/unit/cmk/special_agents/agent_kubernetes/test_agent_kube_performance_sections.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: readjust performance section writer and modify cpu usage section
  cmk/special_agents/agent_kube.py
  cmk/special_agents/utils_kubernetes/schemata/section.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: adjusting deployment performance memory section
  cmk/base/plugins/agent_based/k8s_memory.py
  cmk/base/plugins/agent_based/utils/k8s.py
  cmk/special_agents/agent_kube.py
  cmk/special_agents/utils_kubernetes/schemata/section.py
  tests/unit/cmk/base/plugins/agent_based/test_k8s_memory.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: modification of performance parse logic to accomodate for new agent data format
  cmk/special_agents/agent_kube.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: addition of api & performance sections for node
  cmk/special_agents/agent_kube.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: addition of api & performance memory sections for cluster
  cmk/special_agents/agent_kube.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: addition of pod memory api & performance section
  cmk/special_agents/agent_kube.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Catch error from lspci when there is no VGA card.
  agents/plugins/mk_inventory.linux
Due: none

Packaging: Do not compile test core and livestatus test files
  configure.ac
  livestatus/src/Makefile.am
  omd/packages/mk-livestatus/mk-livestatus.make
Due: none

Packaging: Parallel compilation of mk-livestatus
  omd/packages/mk-livestatus/mk-livestatus.make
Due: none

13275 FIX API: fix update host tag group endpoint to return correct status code
  .werks/13275
  cmk/gui/plugins/openapi/endpoints/host_tag.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11825 FIX cisco_ucs_hdd discovery crashed
  .werks/11825
  checks/cisco_ucs_hdd
  tests/unit/checks/test_cisco_ucs_hdd.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Separate GUI frontend .f12 from backend
  cmk/gui/.f12
Due: none

Refactor cap processing in Windows agent
  agents/wnx/src/engine/cap.cpp
  agents/wnx/src/engine/cap.h
Due: none

update IMAGE_TESTING docker image alias
  buildscripts/docker_image_aliases/IMAGE_TESTING/Dockerfile
  buildscripts/docker_image_aliases/IMAGE_TESTING/meta.yml
Due: none

Use a global (per-user) package cache.
  omd/omd.make
Due: none

k8s/transform/parse_frac_prefix: Handle `k` for kilo
  cmk/special_agents/utils_kubernetes/transform.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

agent_kube: change pod start_time to optional
  cmk/special_agents/agent_kube.py
  cmk/special_agents/utils_kubernetes/schemata/api.py
  cmk/special_agents/utils_kubernetes/transform.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Remove debug code and improve error message
  omd/packages/omd/omdlib/main.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Consolidate naming of library build targets
  omd/packages/openssl/openssl.make
Due: none

Cleanup of pylint warnings and errors for tests directory, part5
  tests/agent-plugin-unit/test_mk_filestats.py
  tests/pylint/test_pylint.py
  tests/scripts/misc/fetcher_ram_usage_test
  tests/testlib/__init__.py
  tests/unit/active_checks/test_ac_check_form_submit.py
  tests/unit/cmk/base/agent_based/test_data_provider_collect_host_sections.py
  tests/unit/cmk/base/api/agent_based/register/test_inventory_plugins_register.py
  tests/unit/cmk/base/api/agent_based/test_inventory_classes.py
  tests/unit/cmk/base/api/agent_based/test_render_api.py
  tests/unit/cmk/base/check_legacy_includes/test_wmi.py
  tests/unit/cmk/base/test_ip_lookup.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
