Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

18672 FIX Alignment of y-axis labels in case graph range does not start/end at zero
  .werks/18672.md
  cmk/gui/graphing/_artwork.py
  cmk/gui/unit_formatter.py
  tests/unit/cmk/gui/graphing/test_artwork.py
  tests/unit/cmk/gui/test_unit_formatter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Make abstract class `NotationFormatter` inherit from `abc.ABC`
  cmk/gui/unit_formatter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18672 FIX Alignment of y-axis labels in case graph range does not start/end at zero
  .werks/18672.md
  cmk/gui/graphing/_artwork.py
  cmk/gui/graphing/_formatter.py
  tests/unit/cmk/gui/graphing/test_artwork.py
  tests/unit/cmk/gui/graphing/test_formatter.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18673 FIX Improve Perf-O-Meters showing network interface throughputs
  .werks/18673.md
  cmk/plugins/collection/graphing/interfaces_bandwidth.py
  cmk/plugins/collection/graphing/interfaces_octets.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard/rest-api: include datasource in embedded view content
  cmk/gui/dashboard/api/model/dashboard.py
  cmk/gui/dashboard/api/model/widget.py
  cmk/gui/dashboard/api/model/widget_content/_base.py
  cmk/gui/dashboard/api/model/widget_content/view.py
  cmk/gui/dashboard/dashlet/dashlets/view.py
  tests/unit/cmk/gui/dashboard/test_api.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mk-oracle: add possibility to choose correct runtime
  packages/mk-oracle/BUILD
  packages/mk-oracle/cargo_run.bat
  packages/mk-oracle/run
  packages/mk-oracle/src/args.rs
  packages/mk-oracle/src/config/options.rs
  packages/mk-oracle/src/config/ora_sql.rs
  packages/mk-oracle/src/main.rs
  packages/mk-oracle/src/setup.rs
  packages/mk-oracle/src/types.rs
  packages/mk-oracle/tests/files/test-mini-host-always.yml
  packages/mk-oracle/tests/files/test-mini-host-auto.yml
  packages/mk-oracle/tests/files/test-mini-host-never.yml
  packages/mk-oracle/tests/files/test-mini-host-wrong-path.yml
  packages/mk-oracle/tests/test_ora_sql.rs
Due: none

dashboard: introduce metadata module
  cmk/gui/dashboard/api/_utils.py
  cmk/gui/dashboard/api/list_dashboard_metadata.py
  cmk/gui/dashboard/api/show_relative_grid_dashboard.py
  cmk/gui/dashboard/metadata.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: introduce new entry page for dashboard app
  cmk/gui/dashboard/page_show_dashboard.py
  cmk/gui/dashboard/registration.py
  tests/unit/cmk/gui/test_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

DashboardApp: adjust props to new input
  packages/cmk-frontend-vue/src/dashboard-wip/DashboardApp.vue
  packages/cmk-frontend-vue/src/dashboard-wip/types/page.ts
Due: none

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

drop obsolete dependency
  tests/pylint/checker_cmk_module_layers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: add default layout ID constant
  cmk/gui/dashboard/type_defs.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard/useDashboardWidgets: add cloneWidget
  packages/cmk-frontend-vue/src/dashboard-wip/composables/useDashboardWidgets.ts
  packages/cmk-frontend-vue/src/dashboard-wip/types/widget.ts
Due: none

dashboard: fix metadata not JSON serializable
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: use name from url
  cmk/gui/dashboard/page_show_dashboard.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

dashboard: fix view url and parameters
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardContent/DashboardContentEmbeddedView.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardContent/DashboardContentLinkedView.vue
  packages/cmk-frontend-vue/src/dashboard-wip/types/widget.ts
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

no need for MKGeneralException
  cmk/snmplib/_table.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

agent-receiver: using Config to control application configuration
  packages/cmk-agent-receiver/BUILD
  packages/cmk-agent-receiver/cmk/agent_receiver/certs.py
  packages/cmk-agent-receiver/cmk/agent_receiver/checkmk_rest_api.py
  packages/cmk-agent-receiver/cmk/agent_receiver/config.py
  packages/cmk-agent-receiver/cmk/agent_receiver/endpoints.py
  packages/cmk-agent-receiver/cmk/agent_receiver/main.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/dependencies.py
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/lib/relay_config.py
  packages/cmk-agent-receiver/cmk/agent_receiver/site_context.py
  packages/cmk-agent-receiver/cmk/agent_receiver/utils.py
  packages/cmk-agent-receiver/relay_config.json
  packages/cmk-agent-receiver/tests/component/test_lib/config.py
  packages/cmk-agent-receiver/tests/component/test_logging_integration.py
  packages/cmk-agent-receiver/tests/component/test_max_number_of_tasks_per_relay.py
  packages/cmk-agent-receiver/tests/component/test_task_expires_in_agent_receiver.py
  packages/cmk-agent-receiver/tests/unit/conftest.py
  packages/cmk-agent-receiver/tests/unit/test_endpoints.py
  packages/cmk-agent-receiver/tests/unit/test_receiver_utils.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Add test to reject 3rd-party build deps
  tests/code_quality/test_requirements.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

DashboardFilterSettings: introduce building components
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/FilterCollection.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/FilterCollectionInputItem.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/runtime-filter/FilterSelectionCollection.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/runtime-filter/RequiredFilterConfiguration.vue
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/runtime-filter/RuntimeFilterConfiguration.vue
Due: none

DashboardFilterSettings: introduce component
  packages/cmk-frontend-vue/src/dashboard-wip/components/DashboardFilterSettings/DashboardFilterSettings.vue
Due: none
