Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

.pre-commit-config.yaml:

#
# This is the configuration file for the pre-commit framework.
# To use this you need to install it seperately and activate it for your repository.
# To do so issue the following commands:
#
#     pip3 install pre-commit
#
# and in your repository
#
#     pre-commit install
#
# That's it. You're done.
#
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
            types: [file]
          - id: check-yaml
          - id: end-of-file-fixer
            exclude: .werks/*
    - repo: local
      hooks:
          - id: isort
            name: Run isort
            entry: scripts/run-isort
            language: script
            types: [file, python]
          - id: black
            name: Run black
            entry: scripts/run-black
            language: script
            types: [file, python]
          - id: omd-python-modules
            name: Check Python modules in OMD
            entry: scripts/check-omd-python-modules
            language: script
            files: omd/packages/python3?-modules
            types: [file]
          - id: pylint
            name: Check pylint
            entry: scripts/check-pylint
            language: script
            types: [file, python]
          - id: doctest
            name: Doctests
            entry: scripts/run-doctests
            language: script
            types: [file, python]
            verbose: true
          - id: mypy
            name: Check types with mypy
            entry: scripts/run-mypy
            language: script
            types: [file, python]
          - id: licence
            name: Check licence headers
            entry: scripts/check-licence
            language: script
            types: [file, python]
          - id: absolute-imports
            name: Check absolute imports
            entry: scripts/check-absolute-imports.py
            language: script
            types: [file, python]
          - id: flake8
            name: Check flake8
            entry: scripts/check-flake8
            language: script
            types: [file, python]
            verbose: true
          - id: unittest
            name: unittests
            entry: scripts/run-unittests
            language: script
            types: [file, python]
            verbose: true

update patch version in werk
  .werks/14661
Due: none

Rename some functions, save some vars
  cmk/gui/views/inventory.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Clarify vars
  cmk/gui/views/inventory.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14604 mssql_availability_groups: New service to monitor MSSQL availability groups
  .werks/14604
  agents/windows/plugins/mssql.vbs
  checkman/mssql_availability_groups
  cmk/base/plugins/agent_based/mssql_availability_groups.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

FEA 14414 add more lexmark printers
  .werks/14414
  cmk/base/plugins/agent_based/utils/printer.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix crashes of storcli_physical_disks plugin
  cmk/base/plugins/agent_based/storcli_physical_disks.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extract list and edit page code from pagetype classes
  cmk/gui/pagetypes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extract graph element show pages from pagetype class
  cmk/gui/pagetypes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14547 FIX <tt>systemd_units</tt>: Fix error when parsing incomplete data
  .werks/14547
  cmk/base/plugins/agent_based/systemd_units.py
  tests/unit/cmk/base/plugins/agent_based/test_systemd_units.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove some AWS special agent settings from non-plus edition
  cmk/gui/plugins/wato/special_agents/aws.py
  tests/unit/cmk/gui/plugins/wato/special_agents/aws.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Break an import cycle between Site and Channel.
  tests/Makefile
Due: none

Add possibility to use different channel types
  agents/cmk-agent-ctl/src/cli.rs
  agents/cmk-agent-ctl/src/monitoring_data/windows.rs
  agents/cmk-agent-ctl/src/setup.rs
  agents/wnx/src/engine/agent_controller.cpp
  agents/wnx/src/engine/agent_controller.h
  agents/wnx/watest/test-agent_controller.cpp
  agents/wnx/watest/test-commander.cpp
Due: none

agent-ctl: add drop for MailSlotBackend
  agents/cmk-agent-ctl/src/mailslot_transport.rs
Due: none

agent-ctl: Replace sync channel with async
  agents/cmk-agent-ctl/src/mailslot_transport.rs
Due: none

prepare etherbox for migration
  checks/etherbox
Due: none

add etherbox tests
  tests/unit/cmk/base/plugins/agent_based/test_etherbox.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

etherbox section parser
  checks/etherbox
  tests/unit/cmk/base/plugins/agent_based/test_etherbox.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

migate switch_contact ruleset to dict
  checks/etherbox
  checks/ra32e_switch
  cmk/gui/plugins/wato/check_parameters/switch_contact.py
  tests/unit/checks/test_ra32e_switch_check.py
  tests/unit/cmk/gui/plugins/wato/check_parameters/test_switch_contact.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Adding mypy ignore no-untype-def statements, p26
  cmk/gui/plugins/metrics/graph_pdf.py
  cmk/gui/plugins/metrics/valuespecs.py
  cmk/gui/plugins/views/utils.py
  cmk/gui/wato/pages/check_catalog.py
  cmk/gui/wato/pages/diagnostics.py
  cmk/gui/wato/pages/ldap.py
  cmk/gui/wato/pages/tags.py
  cmk/gui/wato/pages/user_profile/mega_menu.py
  cmk/gui/watolib/hosts_and_folders.py
  cmk/gui/watolib/rulesets.py
  cmk/gui/watolib/users.py
  tests/pylint/test_pylint.py
  tests/testlib/users.py
  tests/unit/checks/test_check_temperature.py
  tests/unit/checks/test_diskstat_include.py
  tests/unit/checks/test_jolokia_generic.py
  tests/unit/checks/test_mbg_lantime_ng_refclock.py
  tests/unit/checks/test_msoffice_serviceplans.py
  tests/unit/checks/test_nullmailer_mailq.py
  tests/unit/checks/test_ra32e_power_check.py
  tests/unit/checks/test_ra32e_sensors_check.py
  tests/unit/checks/test_ra32e_switch_check.py
  tests/unit/checks/test_statgrab_cpu_check.py
  tests/unit/checks/test_win_license.py
  tests/unit/checks/test_wmi_check.py
  tests/unit/cmk/base/agent_based/discovery/test_discovery.py
  tests/unit/cmk/base/agent_based/discovery/test_discovery_autodiscovery.py
  tests/unit/cmk/base/agent_based/discovery/test_discovery_filters.py
  tests/unit/cmk/base/check_legacy_includes/test_wmi.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_cache_helper.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_diskstat_utils.py
  tests/unit/cmk/base/plugins/agent_based/utils/test_logwatch_utils.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Updated node dependencies
  package-lock.json
Due: none

agent-ctl: add full async support of mailslot channel
  agents/cmk-agent-ctl/src/mailslot_transport.rs
  agents/cmk-agent-ctl/src/monitoring_data/windows.rs
Due: none

Revert "Attempt to fix pillow builds #1"
  buildscripts/infrastructure/build-nodes/ubuntu-20.04/Dockerfile
Due: none

Cleanup sections (API and internal functions)
  cmk/gui/views/inventory.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Better name for table view name
  cmk/gui/views/inventory.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Revert "Revert "Updated node dependencies""
  package-lock.json
Due: none

win-agent: refactor fileinfo
  agents/wnx/src/engine/providers/fileinfo.cpp
Due: none

Attempt to fix pillow builds #2
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

a few renamings
  checks/esx_vsphere_datastore_io
Due: none

migrate esx_vsphere_datastore_io
  checkman/esx_vsphere_counters
  checkman/esx_vsphere_datastore_io
  cmk/base/plugins/agent_based/esx_vsphere_datastore_io.py
  tests/unit/checks/test_generic_legacy_conversion.py
  tests/unit/cmk/base/plugins/agent_based/test_esx_vsphere_datastore_io.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

do not go stale upon missing data
  checks/esx_vsphere_datastore_io
Due: none

drop unused code
  cmk/base/check_legacy_includes/diskstat.py
  cmk/base/check_legacy_includes/hp_msa.py
  tests/unit/checks/test_diskstat_include.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14643 FIX emc_vplex_{volumes,director_stats}: Fix defunct plugins
  .werks/14643
  checks/emc_vplex_director_stats
  checks/emc_vplex_volumes
Due: none

Attempt to fix pillow builds #3
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

Give names to ec threads
  cmk/ec/main.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

14490 Limit number of checkers to number of available CPUs
  .werks/14490
Due: none

14147 FIX Disappearing sections in "Edit role" view
  .werks/14147
  cmk/gui/pagetypes.py
  cmk/gui/plugins/sidebar/bookmarks.py
  tests/unit/cmk/gui/test_gui_config.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Remove Overridable specific methods from Base
  cmk/gui/pagetypes.py
Due: isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest
