Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

Performance test plot: Fix "Developer Team" assignment
  tests/performance/perftest_plot.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

gui crawler tests: Update ignored content-types
  tests/gui_crawl/crawler.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Welcome page: Update sidebar after completing a step
  packages/cmk-frontend-vue/src/welcome/WelcomeApp.vue
Due: none

Build all distros at least once at the weekend
  editions.yml
Due: none

Test all inventory tree test files
  tests/unit/cmk/inventory/structured_data/test_structured_data.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

CMKOpenApiSession: Include site-edition as input variable
  tests/integration/notifications/test_simple_rbn.py
  tests/testlib/docker.py
  tests/testlib/emails.py
  tests/testlib/openapi_session.py
  tests/testlib/site.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update dependencies
  Pipfile
  Pipfile.lock
Due: none

Bump checkmk-dev-tools to 2.0.1
  Pipfile
  Pipfile.lock
  buildscripts/scripts/Dockerfile
Due: none

Bump checkmk-dev-tools to 2.0.1
  MODULE.bazel.lock
  buildscripts/scripts/Dockerfile
  omd/requirements.txt
  requirements_all_lock.txt
  requirements_dev.txt
Due: requirements-locking

Bump checkmk-dev-tools to 2.0.1
  buildscripts/scripts/Dockerfile
  omd/requirements.txt
Due: none

Create new component: vue_dashboard
  component_owners/vue_dashboard/OWNERS_DEFINITION
  packages/cmk-frontend-vue/src/dashboard/OWNERS
  packages/cmk-frontend-vue/tests/dashboard/OWNERS
Due: none

PEV VQA: Dashboard update widgets to center their content
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/DashboardContentContainer.vue
Due: none

Remove windows build artifact before building
  buildscripts/scripts/utils/windows.groovy
Due: none

Fix groovy linter issue
  buildscripts/scripts/utils/windows.groovy
Due: none

dashboard: add missing single infos msg
  packages/cmk-frontend-vue/src/dashboard/components/DashboardFilterSettings/MissingFiltersMsg.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardPreviewContent.vue
  packages/cmk-frontend-vue/src/dashboard/components/RelativeGrid/RelativeWidgetFrame.vue
  packages/cmk-frontend-vue/src/dashboard/components/ResponsiveGrid/ResponsiveGridWidget.vue
Due: none

dashboard: move MissingRuntimeFiltersMsg to more general component
  packages/cmk-frontend-vue/src/dashboard/components/DashboardFilterSettings/MissingFiltersMsg.vue
  packages/cmk-frontend-vue/src/dashboard/components/DashboardPreviewContent.vue
  packages/cmk-frontend-vue/src/dashboard/components/RelativeGrid/RelativeWidgetFrame.vue
  packages/cmk-frontend-vue/src/dashboard/components/ResponsiveGrid/ResponsiveGridWidget.vue
Due: none

dashboard: fix graph widget edition
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/metrics/stage2/PerformanceGraphWidget/composables/usePerformanceGraph.ts
Due: none

FormMetricBackendAttributes: support identation and orientation
  packages/cmk-frontend-vue/src/form/private/forms/FormDCDMetricBackendFilter.vue
  packages/cmk-frontend-vue/src/metric-backend/FormMetricBackendAttributes.vue
Due: none

ci: switch windows bazel to older version
  packages/mk-oracle/run.ps1
Due: none

Remove file instead of directory during windows builds
  buildscripts/scripts/utils/windows.groovy
Due: none

18542 FIX Improve password store management
  .werks/18542.md
  cmk/base/core_config.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Remove unused var
  packages/cmk-plugins/cmk/plugins/netapp/agent_based/lib.py
  packages/cmk-plugins/cmk/plugins/netapp/agent_based/netapp_ontap_if.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

only allow valid CSRs in models
  packages/cmk-relay-protocols/BUILD
  packages/cmk-relay-protocols/cmk/relay_protocols/relays.py
  packages/cmk-relay-protocols/requirements.in
  packages/cmk-relay-protocols/tests/unit/cmk/relay_protocols/test_relays.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Fix stale state styling not applying in table views
  packages/cmk-frontend/src/themes/facelift/scss/_status.scss
Due: none

Revert "dashboard/graph: avoid unnecessary graph updates"
  packages/cmk-frontend-vue/src/dashboard/components/DashboardContent/DashboardContentGraph.vue
Due: none

Only block the "win_sign_key" lockable resource if signing is done
  buildscripts/scripts/utils/windows.groovy
  buildscripts/scripts/winagt-build.groovy
Due: none

Mark stage "Download artifacts" of windows as skipped if skipped
  buildscripts/scripts/utils/windows.groovy
Due: none

Fixup for a67252f753853423082201e93c6ef0321c6cc0fd
  buildscripts/scripts/utils/windows.groovy
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
