Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, remove-stale-imports, isort, black, bandit, omd-python-modules, sphinx, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

bandit:
  name: Run bandit
  entry: scripts/run-pipenv run bandit --config bandit.yaml -ll
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

sphinx:
  name: Sphinx Documentation
  entry: scripts/run-pipenv run make -C doc/documentation html
  pass_filenames: false
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

agent_ucs_bladecenter: Fix TLS certificate validation issue
  cmk/plugins/ucs_bladecenter/server_side_calls/special_agent.py
  cmk/special_agents/agent_ucs_bladecenter.py
  tests/unit/cmk/plugins/ucs_bladecenter/server_side_calls/test_special_agent.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

OMD <site> Event Console: return result in 2nd run
  cmk/base/legacy_checks/mkeventd_status.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

disable agent sections for broker monitoring
  agents/check_mk_agent.linux
Due: none

notifications: increase width of checkbox label
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary.vue
Due: none

notifications: indent label after linebreak
  packages/cmk-frontend-vue/src/form/components/forms/FormDictionary.vue
Due: none

fix mypy 1.12.1 problem
  cmk/gui/form_specs/vue/visitors/password.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

try to fix future mypy findings
  cmk/base/check_legacy_includes/df.py
  cmk/base/legacy_checks/hp_blade_blades.py
  cmk/plugins/mysql/agent_based/mysql_replica_slave.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Support rc version CMKVersion of testlib
  tests/testlib/version.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

xmlsec1: increase version to 1.3
  omd/packages/xmlsec1/xmlsec1.make
  omd/packages/xmlsec1/xmlsec1_http.bzl
Due: none

rmq init: add newlines
  omd/packages/rabbitmq/skel/etc/init.d/rabbitmq
Due: none

16899 oracle_locks: allow checking w/o setting a state
  .werks/16899
  checks/oracle_locks
Due: none

ensure the remote site is running after composition test setup
  tests/composition/conftest.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Drop outdated articles
  doc/documentation/arch-build-chain.rst
  doc/documentation/index.rst
  doc/documentation/processes-index.rst
Due: sphinx

Fix Quick setup: quickSetupHook was initialized too early
  packages/cmk-frontend-vue/src/quick-setup/QuickSetupAsync.vue
Due: none

Update session management wording in 2.3.0
  cmk/gui/wato/_check_mk_configuration.py
  cmk/gui/watolib/users.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Update session management wording in master
  cmk/gui/wato/_check_mk_configuration.py
  cmk/gui/watolib/users.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

17380 FIX mknotifyd: Wrong service descriptions
  .werks/17380.md
  cmk/plugins/collection/agent_based/mknotifyd.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix Quick setup: fix loading of overview stages
  packages/cmk-frontend-vue/src/quick-setup/QuickSetupAsync.vue
Due: none

Fix typos
  cmk/base/core_nagios/_host_check_template.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: Apply horizontal layout
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

vue: Silence debug output when not running dev server
  cmk/gui/form_specs/vue/form_spec_visitor.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

FormReadonly: move error color to variables
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/form/components/FormReadonly.vue
Due: none

demo page: improve theming
  packages/cmk-frontend-vue/src/components/_demo/DemoApp.vue
  packages/cmk-frontend-vue/src/components/_demo/index.html
  packages/cmk-frontend-vue/src/components/_demo/index.ts
Due: none

Button: add transparent type
  packages/cmk-frontend-vue/src/components/CmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
Due: none

replace button variants with components
  packages/cmk-frontend-vue/src/components/CmkButton.vue
  packages/cmk-frontend-vue/src/components/CmkButtonCancel.vue
  packages/cmk-frontend-vue/src/components/CmkButtonSubmit.vue
  packages/cmk-frontend-vue/src/components/FormEditAsync.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoSlideIn.vue
Due: none

resolve TODO
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
Due: none

remove IconButton component, replace with CmkButton
  packages/cmk-frontend-vue/src/components/CmkButton.vue
  packages/cmk-frontend-vue/src/components/IconButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoIconButton.vue
  packages/cmk-frontend-vue/src/components/_demo/router.ts
  packages/cmk-frontend-vue/src/notification/components/FallbackWarning.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/QuickSetupStageContent.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/quick_setup_types.ts
Due: none

rename CmkButton type to variant
  packages/cmk-frontend-vue/src/components/CmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoSlideIn.vue
  packages/cmk-frontend-vue/src/form/components/forms/FormSingleChoiceEditable.vue
  packages/cmk-frontend-vue/src/quick-setup/components/quick-setup/QuickSetupStageContent.vue
Due: none

notifications: fallback warning: fix theming
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/notification/components/FallbackWarning.vue
Due: none

adapt class names to current naming schema
  packages/cmk-frontend-vue/src/components/CmkButton.vue
Due: none

notifications: fallback warning: buttons: fix
  packages/cmk-frontend-vue/src/assets/variables.css
  packages/cmk-frontend-vue/src/components/CmkButton.vue
  packages/cmk-frontend-vue/src/components/_demo/DemoCmkButton.vue
  packages/cmk-frontend-vue/src/notification/components/FallbackWarning.vue
Due: none

Add broker queues check plugin
  cmk/plugins/omd/agent_based/omd_broker_queue.py
  cmk/plugins/omd/checkman/omd_broker_queues
  tests/unit/cmk/plugins/omd/agent_based/test_omd_broker_queue.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: add quick setup types for notification method
  cmk/gui/wato/pages/notifications/quick_setup.py
  cmk/gui/wato/pages/notifications/quick_setup_types.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: add migrate code for quick setup notification method
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: add migrate code for quick setup triggering events
  cmk/gui/wato/pages/notifications/quick_setup.py
  cmk/gui/wato/pages/notifications/quick_setup_types.py
  cmk/utils/notify_types.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: add migrate code for quick setup general settings
  cmk/gui/wato/pages/notifications/quick_setup.py
  cmk/gui/wato/pages/notifications/quick_setup_types.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: fix title for bulk_outside_timeperiod
  cmk/gui/wato/pages/notifications/quick_setup.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

notifications: add migrate code for quick setup host and service filters
  cmk/gui/wato/pages/notifications/quick_setup.py
  cmk/gui/wato/pages/notifications/quick_setup_types.py
Due: check-cmk-namespace, remove-stale-imports, isort, black, bandit, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  check-cmk-namespace: any of: \.py$
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
