Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-stale-imports, isort, black, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

remove-stale-imports:
  name: Remove stale imports
  language: script
  entry: scripts/run-autoflake

isort:
  name: Run isort
  entry: scripts/run-isort
  language: script

black:
  name: Run black
  entry: scripts/run-black
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  verbose: true

adal -> msal: replace deprecated authentication library for Azure
  Pipfile
  Pipfile.lock
  cmk/special_agents/agent_azure.py
  omd/Licenses.csv
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

core nagios: skip migrated main checks
  cmk/base/core_nagios.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Add builtin validator for number of regex groups
  packages/cmk-rulesets/cmk/rulesets/v1/validators.py
  packages/cmk-rulesets/tests/test_validators.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

wa: improve protection of safe temp dir
  agents/wnx/include/common/wtools.h
  agents/wnx/src/common/wtools.cpp
  agents/wnx/src/engine/service_processor.cpp
  agents/wnx/watest/test-wtools.cpp
Due: none

use protected folder to keep script
  agents/wnx/src/common/wtools.cpp
  agents/wnx/src/common/wtools.h
  agents/wnx/src/engine/service_processor.cpp
Due: none

Add OSType variable to MacOS agent
  agents/check_mk_agent.macosx
Due: none

Fix missing translation of predictive metrics
  cmk/gui/graphing/_utils.py
  cmk/gui/type_defs.py
  cmk/gui/views/perfometer/legacy_perfometers/active_checks.py
  cmk/gui/views/perfometer/legacy_perfometers/check_mk.py
  tests/unit/cmk/gui/graphing/test_expression.py
  tests/unit/cmk/gui/graphing/test_graph_templates.py
  tests/unit/cmk/gui/graphing/test_utils.py
  tests/unit/cmk/gui/views/perfometer/legacy_perfometers/test_perfometer_fileinfo.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

check_http: Merge standard and individual settings of endpoints
  cmk/plugins/collection/server_side_calls/httpv2.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

perfometers: Move parsing out of init
  cmk/gui/graphing/_perfometer.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix typo
  cmk/gui/graphing/_perfometer.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fix event console forwarding checkbox
  cmk/gui/mkeventd/_rulespecs.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Fixup typo in werk 16149
  .werks/16149.md
Due: none

Fix SHA256 of net-snmp-5.9.1 archive
  package_versions.bzl
Due: none

wa: get rid of bool as a status
  agents/wnx/include/common/wtools.h
  agents/wnx/src/common/wtools.cpp
  agents/wnx/src/engine/service_processor.cpp
  agents/wnx/watest/test-ohm.cpp
  agents/wnx/watest/test-wtools.cpp
  packages/mk-sql/tests/files/test-mini-piggyback.yml
Due: none

rework prefill values
  cmk/gui/utils/rule_specs/legacy_converter.py
  cmk/gui/validation/visitors/vue_formspec_visitor.py
  cmk/plugins/cisco/rulesets/prime_wlan_controller.py
  cmk/plugins/collection/rulesets/alertmanager.py
  cmk/plugins/collection/rulesets/cert.py
  cmk/plugins/collection/rulesets/httpv2.py
  cmk/plugins/collection/rulesets/rmon.py
  cmk/plugins/collection/rulesets/sql.py
  cmk/plugins/collection/rulesets/zypper.py
  cmk/plugins/esx_vsphere/rulesets/objects_count.py
  cmk/plugins/mssql/rulesets/instance.py
  cmk/plugins/mssql/rulesets/utils.py
  cmk/plugins/prism/rulesets/protection_domains.py
  cmk/plugins/prism/rulesets/vm_tools.py
  cmk/plugins/pure_storage_fa/rulesets/pure_storage_fa.py
  cmk/plugins/rabbitmq/rulesets/nodes_gc.py
  cmk/plugins/rabbitmq/rulesets/nodes_proc.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/__init__.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/_base.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/basic.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/composed.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/levels.py
  packages/cmk-rulesets/tests/test_form_spec.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

rework prefill values
  cmk/gui/utils/rule_specs/legacy_converter.py
  cmk/gui/validation/visitors/vue_formspec_visitor.py
  cmk/plugins/cisco/rulesets/prime_wlan_controller.py
  cmk/plugins/collection/rulesets/alertmanager.py
  cmk/plugins/collection/rulesets/cert.py
  cmk/plugins/collection/rulesets/httpv2.py
  cmk/plugins/collection/rulesets/rmon.py
  cmk/plugins/collection/rulesets/sql.py
  cmk/plugins/collection/rulesets/zypper.py
  cmk/plugins/esx_vsphere/rulesets/objects_count.py
  cmk/plugins/mssql/rulesets/instance.py
  cmk/plugins/mssql/rulesets/utils.py
  cmk/plugins/prism/rulesets/protection_domains.py
  cmk/plugins/prism/rulesets/vm_tools.py
  cmk/plugins/pure_storage_fa/rulesets/pure_storage_fa.py
  cmk/plugins/rabbitmq/rulesets/nodes_gc.py
  cmk/plugins/rabbitmq/rulesets/nodes_proc.py
  cmk/plugins/sap/rulesets/values.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/__init__.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/_base.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/basic.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/composed.py
  packages/cmk-rulesets/cmk/rulesets/v1/form_specs/levels.py
  packages/cmk-rulesets/tests/test_form_spec.py
  tests/unit/cmk/gui/utils/rulespecs/test_legacy_converter.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Migrate Linux agent os-based labels to new mechanism
  agents/check_mk_agent.linux
  tests/unit-shell/agents/test_section_checkmk_linux.sh
  tests/unit-shell/agents/test_section_labels_linux.sh
Due: none

Revert "set mibdirs during build"
  omd/packages/net-snmp/BUILD.net-snmp.bazel
  omd/packages/net-snmp/net-snmp.make
Due: none

15326 FIX oracle_instance: Fix ValidationError
  .werks/15326.md
  cmk/plugins/lib/oracle_instance.py
  tests/unit/cmk/base/plugins/agent_based/test_oracle_instance.py
  tests/unit/cmk/plugins/lib/test_oracle_instance.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

netapp_ontap_fcp: fix average metric names
  cmk/plugins/netapp/agent_based/netapp_ontap_fcp.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

netapp_ontap_qtree_quota: add agent section and plugin
  checkman/netapp_ontap_qtree_quota
  cmk/base/plugins/agent_based/netapp_api_qtree_quota.py
  cmk/base/plugins/agent_based/netapp_ontap_qtree_quota.py
  cmk/base/plugins/agent_based/utils/netapp_api.py
  cmk/base/plugins/agent_based/utils/netapp_ontap_models.py
  cmk/gui/plugins/metrics/translation.py
  cmk/special_agents/agent_netapp_ontap.py
  tests/unit/cmk/base/plugins/agent_based/test_netapp_api_qtree_quota.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Extend exception output to understand a flake better
  tests/testlib/agent.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Reland "python3-modules: Write pip install output to a log"
  omd/packages/python3-modules/build-python3-modules.bzl
Due: omd-python-modules

fixes another rule migration which mistakenly expects an optional 'ssl' element
  cmk/gui/plugins/wato/active_checks_mailbox.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

server side calls: adjust helper functions docs
  packages/cmk-server-side-calls/cmk/server_side_calls/v1/_utils.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

add test to demonstrate problem
  tests/unit/cmk/base/plugins/agent_based/test_local.py
Due: remove-stale-imports, isort, black, pylint, doctest, mypy, licence, absolute-imports, flake8, unittest

Path conditions:
  remove-stale-imports: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
  unittest: any of: \.py$
