Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, omd-python-modules, pylint, doctest, mypy, licence, absolute-imports, flake8

yapf:
  name: Check yapf
  entry: scripts/check-yapf -i
  language: script

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script

pylint:
  name: Check pylint
  entry: scripts/check-pylint
  language: script

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports
  language: script

flake8:
  name: Check flake8
  entry: scripts/check-flake8
  language: script
  verbose: true

11893 FIX mk_errpt.aix: avoid escaping issues when '/' is in errpts output
  .werks/11893
  agents/plugins/mk_errpt.aix
Due: none

11891 FIX Inform remote site when a DCD Connection is moved somewhere else
  .werks/11891
  cmk/gui/plugins/wato/utils/simple_modes.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

simple_modes: refactor for upcoming fix
  cmk/gui/plugins/wato/utils/simple_modes.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11894 FIX "Disabled and enabled sections (SNMP)" not effective
  .werks/11894
  cmk/base/checkers/snmp.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Add a simple watch mode for webpack
  package.json
  scripts/run-webpack-watch
Due: none

fileinfo: simplified row parsing of current section
  checks/fileinfo
Due: none

Gracefully handle missing persist values
  cmk/core_helpers/agent.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11746 FIX mssql_counters.file_sizes: return performance data for warn/crit values in bytes
  .werks/11746
  checks/mssql_counters
  tests/unit/checks/generictests/datasets/mssql_counters_file_sizes_regression.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11745 FIX mssql_counters.file_sizes: convert all performance data to bytes
  .werks/11745
  checks/mssql_counters
  tests/unit/checks/generictests/datasets/mssql_counters_file_sizes_regression.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

11738 mk_filestats: parse grouping config sections
  agents/plugins/mk_filestats.py
  tests/agent-plugin-unit/test_mk_filestats.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

fileinfo: extracted row parsing to helper function
  checks/fileinfo
Due: none

Adding lupa to fakeredis
  Pipfile
  Pipfile.lock
  omd/packages/python3-modules/python3-modules.make
Due: omd-python-modules

fileinfo: extracted FileInfoItem construction to helper function
  checks/fileinfo
Due: none

11894 FIX "Disabled and enabled sections (SNMP)" not effective
  .werks/11894
  cmk/base/sources/snmp.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Avoid background updates of the search index during unit tests
  tests/unit/cmk/gui/conftest.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Add section cmk_site_statistics to linux agent
  agents/check_mk_agent.linux
Due: none

11834 cmk_site_statistics: new check plugin to monitor site statistics
  .werks/11834
  checkman/cmk_site_statistics
  cmk/base/plugins/agent_based/cmk_site_statistics.py
  cmk/gui/plugins/metrics/checkmk.py
  tests/unit/cmk/base/plugins/agent_based/test_cmk_site_statistics.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Explicitly disable any persistance in Redis
  omd/packages/redis/skel/etc/redis/redis.conf
Due: none

Remove unnecessary related entry on agent rules page
  cmk/gui/wato/pages/rulesets.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Downgrade libglib in sles 15 sp2
  buildscripts/infrastructure/build-nodes/sles-15sp2/Dockerfile
Due: none

fileinfo: assimilate legacy parsing to parsing of current structure
  checks/fileinfo
Due: none

fileinfo: initial refactoring of legacy row parsing
  checks/fileinfo
Due: none

fileinfo: use dict structure for legacy row
  checks/fileinfo
Due: none

[CMK-6957] - use external script to install msi
  agents/wnx/install/Product.wxs
  agents/wnx/install/resources/execute_update.cmd
  agents/wnx/src/engine/cfg.cpp
  agents/wnx/src/engine/cfg.h
  agents/wnx/src/engine/groups.cpp
  agents/wnx/src/engine/install_api.cpp
  agents/wnx/src/engine/install_api.h
  agents/wnx/src/engine/on_start.cpp
  agents/wnx/src/main/check_mk_service.cpp
  agents/wnx/watest/test-install-auto.cpp
Due: none

[CMK-6766] - fix wmi.cpp according to tidy
  agents/wnx/src/engine/providers/internal.h
  agents/wnx/src/engine/providers/wmi.cpp
  agents/wnx/src/engine/providers/wmi.h
  agents/wnx/watest/test-section_wmi.cpp
  agents/wnx/watest/test-spool.cpp
  agents/wnx/watest/test_tools.cpp
  agents/wnx/watest/test_tools.h
Due: none

[CMK-6766] - fix system_time.cpp according to tidy
  agents/wnx/src/engine/providers/system_time.cpp
  agents/wnx/src/engine/providers/system_time.h
  agents/wnx/watest/test-section_providers.cpp
Due: none

[CMK-6954] - added Visual Studio 2015 runtime to Windows python build
  agents/modules/windows/BUILD_NUM
  agents/modules/windows/clean_environment.cmd
  agents/modules/windows/patch_environment.cmd
  agents/modules/windows/readme.md
  agents/modules/windows/runtime/api-ms-win-crt-conio-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-convert-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-environment-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-filesystem-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-heap-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-locale-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-math-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-multibyte-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-private-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-process-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-runtime-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-stdio-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-string-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-time-l1-1-0.dll
  agents/modules/windows/runtime/api-ms-win-crt-utility-l1-1-0.dll
  agents/modules/windows/runtime/ucrtbase.dll
Due: none

fileinfo: make parse row function signatures identical
  checks/fileinfo
Due: none

fileinfo: consolidated legacy and current parsing
  checks/fileinfo
Due: none

[CMK-6772] - rename firewall rule and group according to ticket
  agents/wnx/src/engine/firewall.h
  agents/wnx/src/engine/windows_service_api.h
Due: none

caching: Remove dead code
  cmk/utils/caching.py
  tests/unit/cmk/utils/test_caching.py
Due: yapf, pylint, doctest, mypy, licence, absolute-imports, flake8

Path conditions:
  yapf: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  pylint: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  flake8: any of: \.py$
