Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

check-cmk-namespace:
  name: Check cmk namespace package
  language: script
  entry: scripts/check-cmk-namespace
  require_serial: true

bandit:
  name: Run bandit
  entry: scripts/run-uvenv bandit --config bandit.yaml -ll
  language: script
  require_serial: true

omd-python-modules:
  name: Check Python modules in OMD
  entry: scripts/check-omd-python-modules
  language: script
  require_serial: true

sphinx:
  name: Sphinx Documentation
  entry: make -C doc/documentation html
  pass_filenames: false
  language: script
  require_serial: true

doctest:
  name: Doctests
  entry: scripts/run-doctests
  language: script
  verbose: true
  require_serial: true

ruff-lint:
  name: Lint code with ruff
  entry: scripts/run-uvenv ruff check --fix
  language: script
  require_serial: true

ruff-format:
  name: Format code with ruff
  entry: scripts/run-uvenv ruff format
  language: script
  require_serial: true

mypy:
  name: Check types with mypy
  entry: scripts/run-mypy
  language: script
  require_serial: true

licence:
  name: Check licence headers
  entry: scripts/check-licence
  language: script
  require_serial: true

absolute-imports:
  name: Check absolute imports
  entry: scripts/check-absolute-imports.py
  language: script
  require_serial: true

unittest:
  name: unittests
  entry: scripts/run-unittests
  language: script
  require_serial: true
  verbose: true

requirements-locking:
  name: requirements locking
  entry: bazel test //:requirements_test
  pass_filenames: false
  language: system
  verbose: true
  require_serial: true

agent_hp_msa: apply linter findings and modernize
  cmk/special_agents/agent_hp_msa.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(vue-nav): keyShortcuts propagation in iFrames
  packages/cmk-frontend-vue/src/lib/keyShortcuts.ts
  packages/cmk-frontend-vue/src/main-menu/MainMenuApp.vue
  packages/cmk-frontend/src/js/index.ts
  packages/cmk-frontend/src/js/modules/keyShortcuts.ts
  packages/cmk-frontend/src/js/modules/main_menu_shortcut_handler.ts
  packages/cmk-frontend/src/js/side_index.ts
Due: none

feat(Relay): handle unapplied relay configuration as expected scenario
  packages/cmk-agent-receiver/cmk/agent_receiver/relay/api/routers/tasks/libs/config_task_factory.py
  packages/cmk-agent-receiver/tests/component/relay/test_activate_config.py
  packages/cmk-agent-receiver/tests/unit/agent_receiver/relay/test_config_task_factory.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

19181 mem_win: use consistent language
  .werks/19181.md
  cmk/plugins/memory/checkman/mem_win
  cmk/plugins/memory/graphing/pagefile_absolute.py
  cmk/plugins/memory/graphing/pagefile_absolute_avg.py
  cmk/plugins/memory/graphing/pagefile_percent.py
  cmk/plugins/memory/rulesets/mem_win.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(unified-search): load searchHistory onMounted
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchStart.vue
Due: none

refac(vue): rename CmkChip to CmkTag
  packages/cmk-frontend-vue/demo/components/DemoCmkChip.vue
  packages/cmk-frontend-vue/demo/components/DemoCmkTag.vue
  packages/cmk-frontend-vue/demo/components/index.ts
  packages/cmk-frontend-vue/src/components/CmkAccordionStepPanel/CmkAccordionStepPanelItem.vue
  packages/cmk-frontend-vue/src/components/CmkTag.vue
  packages/cmk-frontend-vue/src/main-menu/components/popup/NavItemTopicEntryLink.vue
  packages/cmk-frontend-vue/src/unified-search/components/header/FilterOptionEntry.vue
Due: none

Fix dashboard sharing state not updating after persist
  packages/cmk-frontend-vue/src/dashboard/composables/useDashboardsManager.ts
Due: none

fix(unifed-search): make search provider icon optional
  packages/cmk-frontend-vue/src/unified-search/components/header/filter/FilterButton.vue
  packages/cmk-frontend-vue/src/unified-search/components/header/filter/SearchProvider.vue
Due: none

rest-api/examples: fix empty if/else branches
  cmk/gui/openapi/spec/spec_generator/_code_examples.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

rest-api/examples: fix empty lines in examples
  cmk/gui/openapi/spec/spec_generator/_code_examples.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(unified-search): reduce popup width
  packages/cmk-frontend-vue/src/unified-search/UnifiedSearchApp.vue
Due: none

fix(unified-search): grouped results style
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItem.vue
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultList.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchRecentlyViewed.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchStart.vue
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchTabResults.vue
Due: none

fix(unified-search): result item width, wrapping
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItem.vue
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItemTitle.vue
Due: none

fix(unified-search): results wrapping
  packages/cmk-frontend-vue/src/unified-search/components/result/ResultItemTitle.vue
Due: none

fix(unified-search): only show grouped results
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchTabResults.vue
  packages/cmk-frontend-vue/src/unified-search/providers/search-utils.ts
Due: none

Fix test_ping_host e2e test
  tests/gui_e2e/test_hosts.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

cisco_meraki: switch port status fixes
  cmk/plugins/cisco_meraki/agent_based/cisco_meraki_org_switch_port_statuses.py
  cmk/plugins/cisco_meraki/rulesets/switch_port_statuses.py
  tests/unit/cmk/plugins/cisco_meraki/agent_based/test_cisco_meraki_org_switch_port_statuses.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

[Weblate] Updated translation files
  locale/de/LC_MESSAGES/multisite.po
  locale/es/LC_MESSAGES/multisite.po
  locale/fr/LC_MESSAGES/multisite.po
  locale/it/LC_MESSAGES/multisite.po
  locale/ja/LC_MESSAGES/multisite.po
  locale/nl/LC_MESSAGES/multisite.po
  locale/pt_PT/LC_MESSAGES/multisite.po
  locale/ro/LC_MESSAGES/multisite.po
Due: none

Change system tests to no longer modify /etc/sudoers
  tests/testlib/script_helpers/dockerized_execution.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Set RUNPATH for libstdc++, libgcc_s
  MODULE.bazel
  MODULE.bazel.lock
  bazel/module/gcc.MODULE.bazel
  bazel/rules/patchelf.bzl
  bazel/toolchains/cc/gcc/bootlin/BUILD.bootlin.bazel
  bazel/toolchains/cc/gcc/bootlin/symlink_mappings.bzl
  bazel/toolchains/cc/gcc/local/BUILD
  omd/packages/cpp-libs/BUILD
  omd/packages/cpp-libs/cpp-libs.repository.bzl
  omd/packages/cpp-libs/cpp-libs.tpl.BUILD.bazel
  omd/packages/cpp-libs/cpp-libs.tpl.symlink_mappings.bzl
  omd/packages/cpp-libs/create_symlink_targets.bzl
Due: none

Fix edition title of man page distribution
  cmk/utils/man_pages.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(oauth2): improve error messages and use Checkmk components
  cmk/gui/oauth2_connections/wato/_pages.py
  packages/cmk-frontend-vue/src/mode-oauth2-connection/lib/service/oauth2-connection-api.ts
  packages/cmk-frontend-vue/src/mode-oauth2-connection/steps/SaveConnection.vue
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

User attributes: add option to disable changes slideout to the user_config rest-api endpoints
  cmk/gui/openapi/endpoints/user_config/__init__.py
  cmk/gui/openapi/endpoints/user_config/request_schemas.py
  cmk/gui/openapi/endpoints/user_config/response_schemas.py
  tests/unit/cmk/gui/openapi/test_openapi_user.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

User attributes: add option to disable changes slideout
  cmk/gui/type_defs.py
  cmk/gui/userdb/user_attributes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

activate changes: only show the 'navbar changes action' if the user has permission
  cmk/gui/userdb/user_attributes.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

activate changes: check for 'All sites' when determining if a user can activate
  packages/cmk-frontend-vue/src/main-menu/changes/ChangesApp.vue
Due: none

fix(unified-search): host results not collapsed
  cmk/gui/search/collapsing.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Copy&paste local MIBs dir in order to reduce high system load when using Nagios core
  cmk/base/modes/check_mk.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(unified-search): reset ref for recentlyViewed
  packages/cmk-frontend-vue/src/unified-search/components/view/UnifiedSearchStart.vue
Due: none

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
  requirements_runtime_lock.txt
Due: requirements-locking

feat(vue): add CmkChip component
  packages/cmk-frontend-vue/demo/components/DemoCmkChip.vue
  packages/cmk-frontend-vue/demo/components/index.ts
  packages/cmk-frontend-vue/src/components/CmkChip.vue
Due: none

Dashboard: Display license warning and banner messages
  cmk/gui/dashboard/page_show_dashboard.py
  packages/cmk-frontend/src/themes/facelift/scss/_cse_banner.scss
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

fix(welcome): use DocReference links for doc links
  cmk/gui/utils/urls.py
  cmk/gui/welcome/pages.py
  packages/cmk-frontend-vue/src/welcome/components/steps/AssignResponsibilities.vue
  packages/cmk-frontend-vue/src/welcome/components/steps/EnableNotifications.vue
  packages/cmk-shared-typing/source/welcome.json
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

(Bulk) Discovery: Fix mismatching message format
  cmk/gui/watolib/automation_background_job.py
  tests/unit/cmk/gui/watolib/test_automation_background_job.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Revert "fix(vue-nav): keyShortcuts propagation in iFrames"
  packages/cmk-frontend-vue/src/main-menu/MainMenuApp.vue
  packages/cmk-frontend/src/js/index.ts
  packages/cmk-frontend/src/js/modules/keyShortcuts.ts
  packages/cmk-frontend/src/js/modules/main_menu_shortcut_handler.ts
  packages/cmk-frontend/src/js/side_index.ts
Due: none

Dashboard: add log filter for alert and notification widget config
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/components/AddFilters/AddFilters.vue
  packages/cmk-frontend-vue/src/dashboard/components/Wizard/wizards/alert-notification/stage1/StageContents.vue
  packages/cmk-frontend-vue/src/dashboard/components/filter/FilterSelection/utils.ts
Due: none

19027 Fix werk description
  .werks/19027.md
Due: none

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$
