Repository Checkmk/checkmk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cmk-namespace, bandit, omd-python-modules, sphinx, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest, requirements-locking

Path conditions:
  check-cmk-namespace: any of: \.py$
  bandit: any of: \.py$
  omd-python-modules: any of: omd/packages/python3?-modules
  sphinx: any of: ^doc/documentation/.*(rst|puml)$
  doctest: any of: \.py$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  licence: any of: \.py$
  absolute-imports: any of: \.py$
  unittest: any of: \.py$
  requirements-locking: any of: ^requirements.*\.txt$

Update checkmk-dev-tools package in minimal image to 0.14.0
  buildscripts/scripts/Dockerfile
Due: none

18697 Rename monitoring rules for assigning contact groups
  .werks/18697.md
  cmk/gui/wato/_check_mk_configuration.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18698 Hide "edit host" action if not permitted for the user
  .werks/18698.md
  cmk/gui/wato/pages/folders.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

reword error msg of missing permissions for editing a host
  cmk/gui/watolib/hosts_and_folders.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18592 FIX TSM - IBM Tivoli Storage Manager (Linux, Unix): Fix broken password format
  .werks/18592.md
Due: none

useVisualInfoCollection: use proper defined type
  packages/cmk-frontend-vue/src/dashboard-wip/composables/api/useVisualInfoCollection.ts
  packages/cmk-frontend-vue/src/dashboard-wip/types/api.ts
Due: none

background jobs: no need to couple to MKTimeout
  cmk/gui/background_job/__init__.py
  cmk/gui/background_job/_process.py
  cmk/gui/wato/pages/fetch_agent_output.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Clarify var name
  cmk/gui/graphing/_artwork.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Remove unused arg
  cmk/gui/graphing/_rrd_fetch.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Rename function
  cmk/gui/graphing/_rrd_fetch.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Update Python libraries
  MODULE.bazel.lock
  requirements_all_lock.txt
Due: requirements-locking

18522 FIX gcp_run: Avoid crash when Cloud Run Jobs can be queried
  .werks/18522.md
  cmk/plugins/gcp/special_agents/agent_gcp.py
  tests/unit/cmk/plugins/gcp/special_agent/test_agent_gcp.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

18522 FIX gcp_run: Avoid crash when Cloud Run Jobs can be queried
  .werks/18522.md
  cmk/plugins/gcp/special_agents/agent_gcp.py
  tests/unit/cmk/special_agents/test_agent_gcp.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

OTel: Fix self-monitoring on site host
  .werks/18526.md
  agents/check_mk_agent.linux
  bin/BUILD
  bin/cmk-monitor-otel-collector
Due: none

Introduce lib/ajax.ts::cmkAjax
  packages/cmk-frontend-vue/src/graph-designer/fetch_metric_color.ts
  packages/cmk-frontend-vue/src/graph-designer/graph.ts
  packages/cmk-frontend-vue/src/lib/ajax.ts
Due: none

update comment
  cmk/checkengine/parser/_markers.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

mkp: Fix error message when file to package could not be found
  packages/cmk-mkp-tool/cmk/mkp_tool/_unsorted.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

HW/SW Inventory UI API: Remove 'group'
  cmk/gui/views/inventory/_display_hints.py
  packages/cmk-plugin-apis/cmk/inventory_ui/v1_alpha/_node.py
  packages/cmk-plugin-apis/tests/cmk/inventory_ui/test_node.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Create separate repo for prettier
  .npmrc
  BUILD
  bazel/module/js.MODULE.bazel
  bazel/tools/BUILD
  bazel/tools/package.json
  bazel/tools/pnpm-lock.yaml
Due: none

Add prettier as a js+ts+vue+json formatter
  .prettierignore
  BUILD
  bazel/tools/.prettierrc.json
  bazel/tools/BUILD
  bazel/tools/package.json
  bazel/tools/pnpm-lock.yaml
Due: none

Select fast ftp.gnu.org mirror
  buildscripts/infrastructure/build-nodes/scripts/install-gnu-toolchain.sh
  omd/packages/patch/patch_http.bzl
Due: none

automation helper: improve handling of invalid configs
  cmk/base/automation_helper/_app.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

make SNMP fetcher paths relative
  cmk/base/automations/check_mk.py
  cmk/base/checkers.py
  cmk/base/config.py
  cmk/base/dump_host.py
  cmk/base/modes/check_mk.py
  cmk/base/sources/_builder.py
  cmk/base/sources/_sources.py
  cmk/plugins/checkmk/libinventory/check_cmk_inv.py
  cmk/utils/paths.py
  packages/cmk-check-engine/cmk/fetchers/_snmp.py
  packages/cmk-check-engine/cmk/fetchers/config.py
  packages/cmk-check-engine/cmk/fetchers/filecache/_cache.py
  tests/plugins_siteless/helpers.py
  tests/unit/cmk/base/sources/test_data_sources.py
  tests/unit/cmk/base/test_discovery.py
  tests/unit/cmk/fetchers/test_fetchers.py
  tests/unit/cmk/utils/test_paths.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

Skip flaky tests in the change validation
  packages/mk-oracle/BUILD
Due: none

Select fast ftp.gnu.org mirror
  MODULE.bazel
  buildscripts/infrastructure/build-nodes/scripts/install-gdb.sh
  buildscripts/infrastructure/build-nodes/scripts/install-gnu-toolchain.sh
Due: none

wa: set MK_LIBDIR to agent data dir
  agents/wnx/src/engine/cfg.cpp
Due: none

mk-oracle: add scripts to call mk-oracle plugin
  agents/plugins/oracle_unified_async
  agents/plugins/oracle_unified_sync
  agents/windows/plugins/oracle_unified_async.ps1
  agents/windows/plugins/oracle_unified_sync.ps1
Due: none

mk-oracle: change MK_LIBDIR processing
  packages/mk-oracle/cargo_run
  packages/mk-oracle/run
  packages/mk-oracle/run.ps1
  packages/mk-oracle/src/setup.rs
  packages/mk-oracle/tests/common/tools.rs
Due: none

style(agent-download-dialog) fix hidden overflow
  packages/cmk-frontend-vue/src/setup/AgentDownloadDialog.vue
Due: none

hpe_3par: Refactor plugin for HPE 3Par
  cmk/plugins/hpe_3par/__init__.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_capacity.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_cpgs.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_hosts.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_ports.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_remotecopy.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_system.py
  cmk/plugins/hpe_3par/agent_based/hpe_3par_volumes.py
  cmk/plugins/hpe_3par/checkman/3par_capacity
  cmk/plugins/hpe_3par/checkman/3par_cpgs
  cmk/plugins/hpe_3par/checkman/3par_cpgs_usage
  cmk/plugins/hpe_3par/checkman/3par_hosts
  cmk/plugins/hpe_3par/checkman/3par_ports
  cmk/plugins/hpe_3par/checkman/3par_remotecopy
  cmk/plugins/hpe_3par/checkman/3par_system
  cmk/plugins/hpe_3par/checkman/3par_volumes
  cmk/plugins/hpe_3par/lib/__init__.py
  cmk/plugins/hpe_3par/lib/agent_based.py
  cmk/plugins/hpe_3par/lib/special_agent.py
  cmk/plugins/hpe_3par/libexec/agent_three_par
  cmk/plugins/hpe_3par/rulesets/__init__.py
  cmk/plugins/hpe_3par/rulesets/hpe_3par.py
  cmk/plugins/hpe_3par/server_side_calls/__init__.py
  cmk/plugins/hpe_3par/server_side_calls/hpe_3par.py
  cmk/plugins/three_par/libexec/agent_three_par
  tests/unit/cmk/plugins/hpe_3par/__init__.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_capacity.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_cpgs.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_hosts.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_ports.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_remotecopy.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_system.py
  tests/unit/cmk/plugins/hpe_3par/agent_based/test_hpe_3par_volumes.py
  tests/unit/cmk/plugins/hpe_3par/server_side_calls/__init__.py
  tests/unit/cmk/plugins/hpe_3par/server_side_calls/test_hpe_3par.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest

quickfix: disable prettier on repo
  bazel/tools/BUILD
Due: none

Enable prettier on repo
  .prettierignore
  bazel/tools/BUILD
Due: none

18358 OTel: Enable OpenTelemetry collector configuration via UI
  .werks/18358.md
  tests/unit/cmk/gui/watolib/test_watolib.py
Due: check-cmk-namespace, bandit, doctest, ruff-lint, ruff-format, mypy, licence, absolute-imports, unittest
